<template>
    <div :class="getBackClass" @click="openChatroom" v-if="user">
        <img :src="getAvatar" alt="image" />
        <div class="user-item-content">
            <!--<p class="user-item-date">{{ chatroom.updated_at | moment }}</p>-->
            <div class="user-item-name mb-8">
                <span :class="getOnlineStatus"></span>
                <p class="name"><span>{{user.profile.nickname}}</span><span>{{user.profile.age}}歳</span></p>
                <!--<p class="city">{{user.profile.city.name}}</p>-->
            </div>
            <p class="user-item-text mb-8" v-if="isBlockedBy() == false && user.is_deleted == 0">{{message}}</p>
            <p class="user-item-date" v-if="isBlockedBy() == false && user.is_deleted == 0">{{ chatroom.order_at | moment }}</p>
            <p class="user-item-block-label center" v-else>会員情報が見つかりません</p>
            <img src="/assets/top_pin.png" class="top-pin" v-if="needShowTopPin" />
            <img src="/assets/dots.svg" class="chatroom-menu" @click="e => this.openMenu(e)" v-if="isBlockedBy() == false && user.is_deleted == 0" alt="image" />
        </div>
    </div>
</template>

<script>
import helper from '../../../services/helper'

export default {
    props: ['chatroom', 'blockByUsers'],
    data() {
        return {
            user: undefined,
            message: ''
        }
    },
    mounted() {
        this.refreshPage();
    },
    created() {
    },
    watch: {
        chatroom: function(nValue, oValue) {
            this.refreshPage();
        }
    },
    methods: {
        openChatroom() {
            this.$emit('openChatroom', this.chatroom)
        },
        openMenu(e) {
            e.preventDefault();
            e.stopPropagation();
            this.$emit('openMenu', this.chatroom);
        },
        refreshPage() {
            if (this.chatroom.from.id == this.$store.state.auth.user.id) {
                this.user = this.chatroom.to;
            } else {
                this.user = this.chatroom.from;
            }
            this.message = this.chatroom.last_message.includes("thumbnail_") ? "【画像】送信しました" : this.chatroom.last_message;
        },
        isBlockedBy() {
            let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.user.id)
            return blocks && blocks.length > 0;
        }
    },
    filters: {
        moment(date) {
            return helper.formatDateTime(date);
        }
    },
    computed: {
        getOnlineStatus() {
            let blocks = this.blockByUsers.filter(item => item.user_id == this.user.id)
            if (blocks && blocks.length > 0) return 'online-status mr-4';

            // show online off
            if (this.user.profile.show_online == 1) return "online-status mr-4";
            if (this.user.is_deleted >= 1) return "online-status mr-4";

            let date = this.user.last_login_at ? this.user.last_login_at : this.user.created_at;

            let loginAt = moment(date);
            let now = moment();
            let diff = moment.duration(now.diff(loginAt));
            if (diff.asDays() > 14) {
                return 'online-status mr-4'; // offline
            }

            if (this.user.is_logged_in == 1) {
                if (diff.asMinutes() > 10) return 'online-status mr-4 timeout'; // off for 10 mins

                return 'online-status mr-4 on'; // online
            } else {
                return 'online-status mr-4 timeout'; // idle
            }
        },
        getAvatar() {
            if (this.isBlockedBy() || this.user.is_deleted >= 1) return (this.user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');

            return helper.getAvatar(this.user);
        },
        getBackClass() {
            if (this.chatroom.is_matching_message) return 'chatroom-item user-item pink-back has-cursor';
            // if (!(this.chatroom.read_ids.includes(',' + this.$store.state.auth.user.id + ','))) return 'chatroom-item user-item has-cursor blue-back';
            if (this.chatroom.sender_id && this.chatroom.sender_id != this.$store.state.auth.user.id) return 'chatroom-item user-item has-cursor blue-back';

            return 'chatroom-item user-item has-cursor';
        },
        needShowTopPin() {
            if (this.chatroom.from_user_id == this.$store.state.auth.user.id) {
                return this.chatroom.is_top === 1 || this.chatroom.is_top === 3;
            }
            
            return this.chatroom.is_top === 2 || this.chatroom.is_top === 3;
        }
    }
}
</script>