<template>
    <div class="message-item">
        <p class="date mt-20" v-if="needShowDate()">{{message.created_at | moment }}</p>
        <div class="my-message mt-16" v-if="isMine">
            <div class="time">
                <p>{{getReadStatus()}}<br/>{{message.created_at | time}}</p>
            </div>
            <pre class="message" v-html="formatMessage(message.message)" v-if="message.is_image != 1"></pre>
            <img class="message image" v-else :src="message.message" @click="openImage" />
        </div>
        <div class="other-message mt-16" v-else>
            <pre class="message" v-html="formatMessage(message.message)" v-if="message.is_image != 1"></pre>
            <img class="message image" v-else :src="message.message" @click="openImage" />
            <div class="time">
                <p>{{message.created_at | time}}</p>
            </div>
        </div>
        <div class="other-message" v-if="isButtonConfirmRecruitment">
            <button class="btn btn-secondary" @click="showModalConfirmRecruitment" >承認する</button>
       </div>
    </div>
</template>

<script>
import helper from '../../../services/helper'

export default {
    props: ['message', 'prevMessage', 'isMine', 'isButtonConfirmRecruitment'],
    mounted() {

    },
    created() {
        if(this.$store.state.auth.user.profile.gender == 1 && this.message.recruitment_status == 11) {
            this.message.message = "【キャンセル申請】\nお約束がキャンセルされました。\n★男性の負担はありません";
        }
    },
    methods: {
        needShowDate() {
            if (this.prevMessage == '') return true;

            return (helper.formatShortDate(this.message.created_at) != helper.formatShortDate(this.prevMessage.created_at));
        },
        getReadStatus() {
            if ((this.$store.state.auth.user.profile.gender == 1 && this.$store.state.auth.user.profile.membership.type == 'platium') || this.$store.state.auth.user.profile.gender == 2) {
                return this.message.is_read == 1 ? '既読' : '';    
            }

            return '';
        },
        openImage() {
            this.$emit('openImage', "<img src='" + this.message.message.replace('thumbnail_', '') + "' alt='image'/>")
        },
        showModalConfirmRecruitment() {
            this.$emit('showModalConfirmRecruitment', this.message)
        },
        validURL(url) {
            let regex = /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/

            return regex.test(url);
        },
        formatMessage(message) {
            return helper.changeText(message)
        }
    },
    filters: {
        moment(date) {
            return helper.formatShortDate(date);
        },
        time(date) {
            return helper.formatTime(date);
        }
    },
    computed: {
    }
}
</script>