<template>
    <div class="my-timeline-item-edit has-cursor" @click="openTimeline">
        <div class="user-item-content">
            <div class="d-flex">
                <p :class="`timeline-tag tag-${timeline.purpose.id}`">{{timeline.purpose.name}}</p>
                <p class="user-item-date">{{ timeline.created_at | moment }}</p>
            </div>
            <p class="user-item-text">{{timeline.content}}</p>
        </div>
    </div>
</template>

<script>
import helper from '../../../services/helper'

export default {
    props: ['timeline'],
    mounted() {

    },
    created() {
    },
    methods: {
        openTimeline() {
            this.$emit('open', this.timeline)
        }
    },
    filters: {
        moment(date) {
            return helper.formatDateTime(date);
        }
    },
    computed: {
    }
}
</script>