<template>
    <div class="new-pagination">
        <button type="button" :class="firstClass" @click="first"><img src="/assets/page_first.svg" class="item" alt="image"/></button>
        <button type="button" :class="prevClass" @click="prev"><img src="/assets/page_prev.svg" class="item" alt="image"/></button>
        <button v-for="(page, index) in pages" :key="index" type="button" @click="open(page)">
            <span :class="pageClass(page)">{{page}}</span>
        </button>
        <button type="button" :class="nextClass" @click="next"><img src="/assets/page_next.svg" class="item" alt="image"/></button>
        <button type="button" :class="lastClass" @click="last"><img src="/assets/page_last.svg" class="item" alt="image"/></button>
    </div>
</template>

<script>
import helper from '../../../services/helper'

export default {
    props: ['item'],
    data() {
        return {
            user: undefined,
            message: '',
            pages: []
        }
    },
    mounted() {
        this.refreshPages();
    },
    watch: {
        item: function(newValue, oldValue) {
            this.refreshPages();
        }
    },
    created() {
        
    },
    methods: {
        refreshPages() {
            this.pages = [];
            let lastpage = this.item.last_page;
            let startpage = 1;
            if (this.item.last_page > 3) {
                if (this.item.current_page == 1) {
                    lastpage = 3;
                } else if (this.item.current_page == lastpage) {
                    startpage = lastpage - 2;
                } else {
                    startpage = this.item.current_page - 1;
                    lastpage = this.item.current_page + 1;
                }
            }

            for (let i = startpage; i <= lastpage; i++) {
                this.pages.push(i);
            }
        },
        last() {
            if (this.item.current_page == this.item.last_page) return;
            this.$emit('open', this.item.last_page);
        },
        first() {
            if (this.item.current_page == 1) return;
            this.$emit('open', 1);
        },
        next() {
            if (this.item.current_page == this.item.last_page) return;
            this.$emit('open', this.item.current_page + 1);
        },
        prev() {
            if (this.item.current_page == 1) return;
            this.$emit('open', this.item.current_page - 1);
        },
        open(page) {
            if (this.item.current_page == page) return;
            this.$emit('open', page);
        },
        pageClass(page) {
            return (this.item.current_page == page) ? 'item label active' : 'item label';
        }
    },
    filters: {
        moment(date) {
            return helper.formatShortDate(date);
        }
    },
    computed: {
        firstClass() {
            return this.item.current_page == 1 ? 'first disabled' : 'first';
        },
        prevClass() {
            return this.item.current_page > 1 ? 'prev' : 'prev disabled';
        },
        nextClass() {
            return this.item.current_page < this.item.last_page ? 'next' : 'next disabled';
        },
        lastClass() {
            return this.item.current_page == this.item.last_page ? 'last disabled' : 'last';
        }
    }
}
</script>