<template>
    <div class="user-item-history-detail mb-10" v-if="pointusage.point_usage_details && pointusage.point_usage_details.length > 0">
        <img :src="getAvatar" class="has-cursor"  v-if="!(this.isBlockedBy() || this.pointusage.user.is_deleted >= 1)" alt="image" @click="openUser" />
        <div class="user-item-content">
            <div class="user-item-name">
                <span :class="getOnlineStatus"></span>
                <p class="name"><span>{{pointusage.point_usage_details[0].user.profile.nickname}}</span><span>{{pointusage.point_usage_details[0].user.profile.age}}歳</span></p>
                <img @click="openPointusage" src="/assets/arrow.svg" class="arrow2-history has-cursor" alt="image" />
            </div>
            <p class="user-item-text">{{ pointusage.point_usage_details[0].recruitment_start_date | formatFullDateTime }}</p>
            <p class="user-item-text">{{ pointusage | formatPoint }}</p>
        </div>
    </div>
    <div class="notifications-item" v-else>
        <p class="user-item-text"><span class="label label-success">{{ pointusage.type | getPointsLabel }}</span></p>
        <div class="user-item-content">
            <div class="user-item-name">
                <p class="user-item-text">{{ pointusage.created_at | formatFullDateTime }}</p>
                <p class="user-item-text">{{ pointusage | formatPoint }}</p>
            </div>    
        </div>   
        <img src="/assets/arrow.svg" class="arrow2 pull-right has-cursor" alt="image" @click="openReceipt" v-if="pointusage.type == 'point_purchase'" />
    </div>
</template>

<script>
import helper from '../../../services/helper'

export default {
    props: ['pointusage'],
    mounted() {

    },
    created() {
    },
    methods: {
        openPointusage() {
            this.$emit('openPointusage', this.pointusage)
        },
        isBlockedBy() {
            let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.pointusage.user.id)
            return blocks && blocks.length > 0;
        },
        openUser() {
            this.$router.push('/user/' + this.pointusage.user.provider_unique_id);
        },
        openReceipt() {
            this.$emit('openReceipt', this.pointusage)
        }
    }, 
    filters: {
        moment(date) {
            return helper.formatDateTime(date);
        },
        formatFullDateTime(date) {
            return helper.formatFullDateTime(date);
        },
        formatPoint(pointUsage) {
            if(pointUsage.type != 'point_exchange' && pointUsage.type != 'point_purchase' && pointUsage.type != 'first_register') {
                return "-"+pointUsage.points+"P";
            } 

            return pointUsage.points+"P";
        },
        getPointsLabel(type) {
            return helper.getPointsLabel(type);
        }
    },
    computed: {
        getOnlineStatus() {
            let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.pointusage.user.id)
            if (blocks && blocks.length > 0) return 'online-status mr-4';

            // show online off
            if (this.pointusage.user.profile.show_online == 1) return "online-status mr-4";
            if (this.pointusage.user.is_deleted >= 1) return "online-status mr-4";

            let date = this.pointusage.user.last_login_at ? this.pointusage.user.last_login_at : this.pointusage.user.created_at;

            let loginAt = moment(date);
            let now = moment();
            let diff = moment.duration(now.diff(loginAt));
            if (diff.asDays() > 14) {
                return 'online-status mr-4'; // offline
            }

            if (this.pointusage.user.is_logged_in == 1) {
                if (diff.asMinutes() > 10) return 'online-status mr-4 timeout'; // off for 10 mins

                return 'online-status mr-4 on'; // online
            } else {
                return 'online-status mr-4 timeout'; // idle
            }
        },
        getAvatar() {
            if (this.isBlockedBy() || this.pointusage.user.is_deleted >= 1) return (this.pointusage.user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            return helper.getAvatar(this.pointusage.user);
        },
      
    }
}
</script>