<template>
    <div class="search-user-item mb-5" @click="clickEvent">
        <div class="user-avatar">
            <img class="avatar" :src="getAvatar" alt="image" />
            <img class="overlay" src="/assets/gradient_overlay.png" alt="image" />
            <div class="content">
                <!--<p><span class="job">{{user.profile.gender == 1 ? user.profile.salary.name : user.profile.job.name}}</span></p>-->
                <p>
                    <span class="job">{{user.profile.gender == 1 ? user.profile.job.name : user.profile.job.name}}</span>
                    <span class="pull-right text-white">{{ user.profile.gender == 2 ? user.profile.cost+'P / 30分' : '' }}</span>
                </p>
                <p>{{user.profile.work}}</p>
            </div>
            <img class="vip-badge male" src="/assets/detail_vip.svg" alt="image" v-if="showBadge" />
            <img class="vip-badge" src="/assets/vip_badge.svg" alt="image" v-if="user.profile.is_vip == 1" />
        </div>
        <div class="user-desc">
            <p>
                <span :class="getOnlineStatus"></span>
                <span class="age">{{user.profile.age}}歳</span>
            </p>
            <p>
                <!--<img src="/assets/location_black.svg" alt="image" />-->
                <span>{{user.profile.city.name}}</span>
            </p>
        </div>
    </div>
</template>

<script>
import helper from '../../../services/helper'

export default {
    props: ['user'],
    data() {
        return {
            showBadge: false
        }
    },
    mounted() {
    },
    created() {
    },
    methods: {
        clickEvent() {
            this.$emit('click', this.user);
        },
        isBlockedBy() {
            let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.user.id)
            return blocks && blocks.length > 0;
        }
    },
    filters: {
        moment(date) {
            return helper.formatShortDate(date);
        }
    },
    computed: {
        getOnlineStatus() {
            let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.user.id)
            if (blocks && blocks.length > 0) return 'online-status';

            // show online off
            if (this.user.profile.show_online == 1) return "online-status";
            if (this.user.is_deleted >= 1) return "online-status mr-4";

            let date = this.user.last_login_at ? this.user.last_login_at : this.user.created_at;

            let loginAt = moment(date);
            let now = moment();
            let diff = moment.duration(now.diff(loginAt));
            if (diff.asDays() > 14) {
                return 'online-status'; // offline
            }

            if (this.user.is_logged_in == 1) {
                if (diff.asMinutes() > 10) return 'online-status mr-4 timeout'; // off for 10 mins

                return 'online-status on'; // online
            } else {
                return 'online-status timeout'; // idle
            }
        },
        getAvatar() {
            if (this.isBlockedBy() || this.user.is_deleted >= 1) return (this.user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');

            this.showBadge = false;

            if (this.user.profile.gender == 1 && this.user.profile.membership.type == 'vip') {
                this.showBadge = true;
                if (this.user.profile.vip_image) {
                    this.showBadge = false;
                } else {
                    if (this.user.profile.avatar == undefined || this.user.profile.avatar == null || this.user.profile.avatar == '') {
                        this.showBadge = false;
                    }
                }
            }
            
            return helper.getAvatar(this.user);
        }
    }
}
</script>