<template>
    <div class="user-item has-cursor mb-10" @click="openTimeline">
        <img :src="getAvatar" v-if="!(this.isBlockedBy() || this.timeline.user.is_deleted >= 1)" alt="image" />
        <div class="user-item-content">
            <div class="user-item-name mb-12">
                <span :class="getOnlineStatus"></span>
                <p class="name"><span>{{timeline.user.profile.nickname}}</span><span>{{timeline.user.profile.age}}歳</span></p>
                <p class="city">{{timeline.user.profile.city.name}}</p>
            </div>
            <p class="user-item-text mb-5">{{timeline.recruitment_date | formatFullDateTime }}</p>
            <p class="user-item-text mb-5">{{timeline.content}}</p>
            <p class="user-item-text mb-5">{{timeline.place}}</p>
        </div>
    </div>
</template>

<script>
import helper from '../../../services/helper'

export default {
    props: ['timeline'],
    mounted() {

    },
    created() {
    },
    methods: {
        openTimeline() {
            this.$emit('openTimeline', this.timeline)
        },
        isBlockedBy() {
            let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.timeline.user.id)
            return blocks && blocks.length > 0;
        }
    }, 
    filters: {
        moment(date) {
            return helper.formatDateTime(date);
        },
        formatFullDateTime(date) {
            return helper.formatFullDateTime(date);
        }
    },
    computed: {
        getOnlineStatus() {
            let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.timeline.user.id)
            if (blocks && blocks.length > 0) return 'online-status mr-4';

            // show online off
            if (this.timeline.user.profile.show_online == 1) return "online-status mr-4";
            if (this.timeline.user.is_deleted >= 1) return "online-status mr-4";

            let date = this.timeline.user.last_login_at ? this.timeline.user.last_login_at : this.timeline.user.created_at;

            let loginAt = moment(date);
            let now = moment();
            let diff = moment.duration(now.diff(loginAt));
            if (diff.asDays() > 14) {
                return 'online-status mr-4'; // offline
            }

            if (this.timeline.user.is_logged_in == 1) {
                if (diff.asMinutes() > 10) return 'online-status mr-4 timeout'; // off for 10 mins

                return 'online-status mr-4 on'; // online
            } else {
                return 'online-status mr-4 timeout'; // idle
            }
        },
        getAvatar() {
            if (this.isBlockedBy() || this.timeline.user.is_deleted >= 1) return (this.timeline.user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            
            return helper.getAvatar(this.timeline.user);
        }
    }
}
</script>