<template>
    <div class="user-item mb-10" @click="openUser">
        <img :src="getAvatar" v-if="type == 'my-like' || type == 'block' || type == 'favorite' || !(this.isBlockedBy() || this.user.is_deleted >= 1)" alt="image" />
        <div class="user-item-content">
            <div class="user-item-name mb-12">
                <span :class="getOnlineStatus"></span>
                <p class="name"><span>{{user.profile.nickname}}</span><span>{{user.profile.age}}歳</span></p>
                <p class="city">{{user.profile.city.name}}</p>
            </div>
            <p class="user-item-text center gray mb-5" v-if="isDeleted() || isBlockedBy()">会員情報が見つかりません</p>
            <p class="user-item-text mb-5" v-else>{{user.profile.work}}</p>
            <button class="btn-gray-sm" v-if="type == 'block' && !(this.isBlockedBy() || this.user.is_deleted >= 1)" @click="unblockUser" type="button">ブロック解除</button>

            <button class="btn-gray-sm" v-if="type == 'favorite' && !(this.isBlockedBy() || this.user.is_deleted >= 1)" @click="unFavoriteUser" type="button">お気に入りから削除</button>

            <button class="btn-gray-sm" v-if="type == 'my-like' && hasBlocked() && !(this.isBlockedBy() || this.user.is_deleted >= 1)" @click="unblockUser" type="button">ブロック解除</button>
            <div class="d-flex" v-if="isDeleted() == false && hasBlocked() == false && isBlockedBy() == false && checkButtonStatus() == 'likeback'">
                <button class="btn-like sm flex-1" @click="likeBackUser" type="button">
                    <p>
                        <span class="icon"></span>
                        <span class="title">{{ timeline_id? '募集いいね ありがとう！' : 'いいね ありがとう！'}}</span>
                    </p>
                </button>
                <p class="cancel-like" @click="skipLike">✕</p>
            </div>
            <button class="btn-like like-again sm" v-if="isDeleted() == false && hasBlocked() == false && isBlockedBy() == false && checkButtonStatus() == 'likeagain' && (liked == undefined || liked == false)" @click="likeUser" type="button">
                <p>
                    <span class="icon"></span>
                    <span class="title">再いいね</span>
                </p>
            </button>
            <button class="btn-like like-again-liked sm" v-if="isDeleted() == false && hasBlocked() == false && isBlockedBy() == false && checkButtonStatus() == 'likeagain' && liked == true" type="button">
                <p>
                    <span class="icon"></span>
                    <span class="title">いいね 完了</span>
                </p>
            </button>
            <button class="btn-like sm" v-if="isDeleted() == false && hasBlocked() == false && isBlockedBy() == false && checkButtonStatus() == 'like'" @click="likeUser" type="button">
                <p>
                    <span class="icon"></span>
                    <span class="title">いいね</span>
                </p>
            </button>
            <button class="btn-message sm" v-if="isDeleted() == false && hasBlocked() == false && isBlockedBy() == false && checkButtonStatus() == 'chatroom'" @click="openChat" type="button">
                <p>
                    <span class="icon"></span>
                    <span class="title">メッセージ</span>
                </p>
            </button>
			
            <p class="user-item-date" v-if="type == 'block'">{{ user.last_login_at | moment }}</p>
            <p class="user-item-date" v-if="type == 'favorite'">{{ user.last_login_at | moment }}</p>
            <p class="user-item-date" v-if="type == 'like' || type == 'history' || type == 'my-like'">{{ likedate | moment }}</p>			
			
			
        </div>
    </div>
</template>

<script>
import helper from '../../../services/helper'

export default {
    props: ['user', 'type', 'likedate', 'liked', 'timeline_id'],
    mounted() {
    },
    created() {
    },
    data() {
        return {
        }
    },
    methods: {
        unblockUser(e) {
            e.preventDefault();
            e.stopPropagation();
            this.$emit('unblockUser', this.user.id);
        },
        unFavoriteUser(e) {
            e.preventDefault();
            e.stopPropagation();
            this.$emit('unFavoriteUser', this.user.id);
        },
        likeUser(e) {
            e.preventDefault();
            e.stopPropagation();
            this.$emit('likeUser', this.user);
        },
        likeBackUser(e) {
            e.preventDefault();
            e.stopPropagation();
            this.$emit('likeBackUser', this.user);
        },
        skipLike(e) {
            e.preventDefault();
            e.stopPropagation();
            this.$emit('skipLike', this.user);
        },
        openUser(e) {
            e.preventDefault();
            e.stopPropagation();
            this.$emit('openUser', this.user);
        },
        openChat(e) {
            e.preventDefault();
            e.stopPropagation();
            this.$emit('openChat', this.user);
        },
        checkButtonStatus() {
            if (this.type == 'block' || this.type == 'favorite') return '';

            // has chatrooms
            let chatrooms = this.$store.state.auth.user.chatrooms.filter(item => {
                return item.from_user_id == this.user.id || item.to_user_id == this.user.id;
            });
            if (chatrooms && chatrooms.length > 0) return 'chatroom';

            // liked
            let users = this.$store.state.auth.user.from_likes.filter(item => {
                return item.to_user_id == this.user.id
            })

            if (users && users.length > 0) return 'likeagain';

            // received likes
            users = this.$store.state.auth.user.to_likes.filter(item => {
                return item.from_user_id == this.user.id
            })
            if (users && users.length > 0) return 'likeback';

            return 'like'
        },
        hasBlocked() {
            let blocks = this.$store.state.auth.user.blocks.filter(item => item.block_user_id == this.user.id)
            return blocks && blocks.length > 0;
        },
        isBlockedBy() {
            let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.user.id)
            return blocks && blocks.length > 0;
        },
        isDeleted() {
            return this.user.is_deleted >= 1;
        }
    },
    filters: {
        moment(date) {
            return helper.formatShortDate(date);
        }
    },
    computed: {
        getOnlineStatus() {
            let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.user.id)
            if (blocks && blocks.length > 0) return 'online-status mr-4';

            // show online off
            if (this.user.profile.show_online == 1) return "online-status mr-4";
            if (this.user.is_deleted >= 1) return "online-status mr-4";

            let date = this.user.last_login_at ? this.user.last_login_at : this.user.created_at;

            let loginAt = moment(date);
            let now = moment();
            let diff = moment.duration(now.diff(loginAt));
            if (diff.asDays() > 14) {
                return 'online-status mr-4'; // offline
            }

            if (this.user.is_logged_in == 1) {
                if (diff.asMinutes() > 10) return 'online-status mr-4 timeout'; // off for 10 mins

                return 'online-status mr-4 on'; // online
            } else {
                return 'online-status mr-4 timeout'; // idle
            }
        },
        getAvatar() {
            if (this.isBlockedBy() || this.user.is_deleted >= 1) return (this.user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');

            return helper.getAvatar(this.user);
        },
        hasNoChatroom() {
            if (this.type == 'history') {
                let chatrooms = this.$store.state.auth.user.chatrooms.filter(item => {
                    return item.from_user_id == this.user.id || item.to_user_id == this.user.id;
                });
                return !(chatrooms && chatrooms.length > 0);
            }
             
            return false;
        },
        hasLikes() {

        },
        hasChatroom() {
            if (this.type == 'history') {
                let chatrooms = this.$store.state.auth.user.chatrooms.filter(item => {
                    return item.from_user_id == this.user.id || item.to_user_id == this.user.id;
                });
                return (chatrooms && chatrooms.length > 0);
            }
             
            return false;
        }
    }
}
</script>