<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <div class="mt-48 mb-36">
                    <p class="title">{{timeline.purpose.name}}</p>
                    <div class="info">
                        <img :src="getAvatar(timeline.user)" alt="image" />
                        <span>{{timeline.user.profile.nickname}}</span>
                    </div>
                    <pre class="message mt-16 mb-36" v-html="timeline.content"></pre>
                    <span class="btn-main-dialog mb-36" @click="remove">削除する</span>
                </div>
                <img src="/assets/gray_close.svg" class="modal-close-icon" @click="cancel" alt="image"/>
            </div>
        </div>
    </div>
    <TheConfirm
        title="投稿の削除"
        message="投稿を削除しますか？"
        confirmTitle="削除する"
        v-if="needConfirm"
        @confirm="removeConfirm"
        @cancel="removeCancel" />
  </div>
</template>

<script>
  import TheConfirm from "../../../modals/TheConfirm"
  export default {
    props: ['timeline'],
    components: { TheConfirm },
    data() {
        return {
            needConfirm: false
        }
    },
    methods: {
        cancel () {
            this.$emit('cancel')
        },
        getAvatar(user) {
            if (user.profile.vip_image) return user.profile.vip_image.url;

            return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
        },
        remove() {
            this.needConfirm = true
        },
        removeConfirm() {
            this.needConfirm = false
            this.$emit('remove')
        },
        removeCancel() {
            this.needConfirm = false
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
.info {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: inline-block;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 20px 0px;
    }

    span {
        display: inline-block;
        margin-left: 20px;
    }
}  
</style>
