<template>
    <div id="wrapper" :class="`header-container gray-back ${lastUserIndex >= 0 ? 'white' : ''}`">
        <TheRegisterHeader label="ブロックリスト" borderClass="" backPageName="settings" icon="back" />
        <div class="container">
            <div class="container-margin" v-if="blocks.length > 0">
                <TheUserItem
                    v-for="(block, index) in blocks"
                    v-if="index >= (pageItem.current_page - 1) * pageLength && index < pageItem.current_page * pageLength"
                    :key="index"
                    :user="block.block_user"
                    type="block"
                    ref="userItems"
                    @openUser="openUser"
                    @unblockUser="unblockUser" />
            </div>
            <div class="empty-list-box ch-50" v-if="isEmpty">
                <div>
                    <p class="mb-10">ブロックしたお相手は<br/>まだいません</p>
                    <img src="/assets/empty_block.svg" alt="image"/>
                </div>
            </div>
            <Pagination v-if="hasPagination()" ref="pagination" :item="pageItem" @open="openPage" />
        </div>
        <TheConfirm
            title="ブロック"
            message="この会員をブロック解除しますか"
            confirmTitle="解除する"
            @confirm="confirm"
            @cancel="cancel"
            v-if="showConfirmDialog" />
        <TheLoading 
            v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheUserItem from "../../components/user_item"
    import TheConfirm from "../../../modals/TheConfirm"
    import TheLoading from "../../../modals/TheLoading"
    import Pagination from "../../components/pagination"

    export default {
        data(){
            return {
                _mounted: false,
                blocks: this.$store.state.auth.user.blocks ? this.$store.state.auth.user.blocks : [],
                showConfirmDialog: false,
                isLoading: false,
                block_user_id: -1,
                isEmpty: false,
                lastUserIndex: -1,
                pageLength: 20,
                pageItem: {
                    current_page: 1,
                    last_page: 1
                }
            }
        },
        components: {
            TheRegisterHeader, TheUserItem, TheConfirm, TheLoading, Pagination
        },
        created() {
            this.pageItem.current_page = window.localStorage.getItem('block_last_view_page') ? parseInt(window.localStorage.getItem('block_last_view_page')) : 1
            this.pageItem.last_page = Math.ceil(this.blocks.length / this.pageLength)

            if (this.pageItem.current_page > this.pageItem.last_page) this.pageItem.current_page = this.pageItem.last_page
        },
        mounted() {
            this._mounted = true;

            helper.authUser().then(response => {
                this.$store.dispatch('setAuthUserDetail',{
                    profile: response.profile,
                    user: response.user
                });

                let searchUsers = this.$store.state.searchUsers;
                searchUsers.hasMore = true;
                this.$store.dispatch('setSearchUsers', searchUsers);

                if (this._mounted) {
                    this.blocks = response.user.blocks
                    this.isEmpty = response.user.blocks.length == 0
                    
                    this.$forceUpdate();
                }

                window.localStorage.setItem('detail_from', 'block')
                window.localStorage.removeItem('detail_view_index');

                if (window.localStorage.getItem('last_user_index')) {
                    this.lastUserIndex = parseInt(window.localStorage.getItem('last_user_index'));
                    window.localStorage.removeItem('last_user_index');

                    let self = this;
                    this.$nextTick(function () {
                        self.pageItem.current_page = Math.ceil((self.lastUserIndex + 1) / self.pageLength)
                        
                        if (self.$refs.userItems && self.$refs.userItems.length > self.lastUserIndex - (self.pageItem.current_page - 1) * self.pageLength) {
                            $('html, body').animate({ scrollTop: self.$refs.userItems[self.lastUserIndex - (self.pageItem.current_page - 1) * self.pageLength].$el.offsetTop - self.$refs.userItems[0].$el.offsetTop }, 0);
                        }

                        self.lastUserIndex = -1;                        
                    })
                }
            });
        },
        beforeDestroy() {
            this._mounted = false
            window.localStorage.setItem('block_last_view_page', this.pageItem.current_page);
        },
        updated() {
            // if (this.lastUserIndex >= 0 && this.$refs.userItems && this.$refs.userItems.length > this.lastUserIndex) {
            //     $('html, body').animate({ scrollTop: this.$refs.userItems[this.lastUserIndex].$el.offsetTop - this.$refs.userItems[0].$el.offsetTop }, 0);
            //     this.lastUserIndex = -1;
            // }
        },
        methods: {
            unblockUser(userID) {
                this.block_user_id = userID
                this.showConfirmDialog = true
            },
            openUser(user) {
                this.$router.push("/user/" + user.provider_unique_id);
            },
            confirm() {
                this.showConfirmDialog = false
                this.isLoading = true
                let data = new FormData();
                data.append('block_user_id', this.block_user_id)
                axios.post('/api/user/unblock', data)
                .then(response => {
                    response = response.data;

                    this.$store.dispatch('setAuthUserDetail', {
                        profile: response.data.profile,
                        user: response.data
                    });
                    
                    this.blocks = response.data.blocks
                    this.isEmpty = response.data.blocks.length == 0
                    this.isLoading = false
                }).catch(error => {
                    this.isLoading = false
                })
            },
            cancel() {
                this.showConfirmDialog = false
            },
            openPage(value) {
                this.pageItem.current_page = value
                this.$refs.pagination.refreshPages()
                window.scrollTo(0, 0);
            },
            hasPagination() {
                return Math.ceil(this.blocks.length / this.pageLength) > 1;
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
