<template>
    <div id="wrapper" class="header-container">
        <div class="container">
            <!-- SuccessOK! -->
            <div>Success</div>
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                isLoading: false,
                backPageName: 'settings',
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading
        },
        mounted() {
            console.log(this.$route.query);
            axios.post('/api/card/response', this.$route.query);
        },
        methods: {
            sendForm() {

            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
