<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="クレジットカード情報" borderClass="" :backPageName="backPageName" icon="back" />
        <div class="inner-container">
            <div class="empty-list-box ch-110">
                <div>
                    <p class="mb-10">クレジットカード情報を登録しました。</p>
                    <router-link :to="{ name: 'home' }" class="btn-main small mt-20">トープへ</router-link>                 
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                isLoading: false,
                backPageName: 'settings'
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading
        },
        mounted() {
            helper.authUser().then(response => {
                this.$store.dispatch('setAuthUserDetail',{
                    first_name: response.profile.first_name,
                    last_name: response.profile.last_name,
                    email: response.user.email,
                    avatar:response.profile.avatar,
                    status: response.user.status,
                    is_admin: response.user.is_admin,
                    profile: response.profile,
                    user: response.user
                });
            });
        },
        methods: {
            
        },
        computed: {
        },
    }
</script>
<style>
</style>
