<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="クレジットカード情報" borderClass="" :backPageName="backPageName" icon="back" />
        <div class="container">
            <form action= "https://secure.telecomcredit.co.jp/inetcredit/adult/order.pl"
            method="POST">
                <input type = "hidden" name = "clientip" v-model="clientIP">
                <input type = "hidden" name = "sendid" v-model="sendid">
                <input type = "hidden" name = "usrmail" v-model="usrmail">
                <input type = "hidden" name = "usrtel" v-model="usrtel">
                <input type = "hidden" name = "sendpass" value="Daddy">
                <input type = "hidden" name = "redirect_url" v-model="url">
                <!-- <input type = "hidden" name = "redirect_back_url" VALUE = "">
                <input type = "hidden" name = "option" VALUE = "">
                <input type = "hidden" name = "send_pass_bool" VALUE = "">
                <input type = "hidden" name = "non_duplication_id" VALUE = "">
                <input type = "hidden" name = "rebill_param_id" VALUE = ""> -->
                
                <p class="label-title-sm mt-36 mb-12">会員番号</p>
                <input type="text" v-model="sendid" class="form-control" placeholder="会員番号" disabled />
                <p class="label-title-sm mt-20 mb-12">メールアドレス</p>
                <input type="text" v-model="usrmail" class="form-control" placeholder="メールアドレス" />
                <p class="label-title-sm mt-20 mb-12">電話番号</p>
                <input type="text" v-model="usrtel" class="form-control" placeholder="09012345678" />
                <input type="submit" class="btn-next mt-48" value="認証画面へ" />
            </form>
            <!-- <div v-if="hasCard">
                <p class="mt-120">
                    決済情報の変更はこちら
                </p>
                <a href="https://secure.telecomcredit.co.jp/inetcredit/secure/change_member_info-order.pl?clientip=87313" target="_blank" class="wb">https://secure.telecomcredit.co.jp/inetcredit/secure/change_member_info-order.pl?clientip=87313</a>
            </div> -->
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                card: '',
                expire: '',
                secret: '',
                cardName: '',
                isLoading: false,
                errorMessage: '',
                backPageName: 'settings',
                clientIP: this.$store.state.clientIP,
                sendid: '',
                usrtel: '',
                usrmail: '',
                url: '',
                hasCard: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading
        },
        mounted() {
            if (this.$store.state.auth.user.card && this.$store.state.auth.user.card.sendid != '') {
                this.sendid = this.$store.state.auth.user.card.sendid
                this.usrtel = this.$store.state.auth.user.card.telno
                this.usrmail = this.$store.state.auth.user.card.email
                this.hasCard = true
            } else {
                this.sendid = ("000000" + this.$store.state.auth.user.id).slice(-6);
                this.usrtel = ''
                this.usrmail = this.$store.state.auth.user.email
            }

            this.url = "https://drosy.jp/user-card/complete";

            if (window.localStorage.getItem('page_from')) {
                this.backPageName = window.localStorage.getItem('page_from');
                window.localStorage.removeItem('page_from');

                if (this.backPageName == 'point_purchase') {
                    this.url = "https://drosy.jp/mypage/purchase"
                } else if (this.backPageName == 'membership_paid') {
                    this.url = "https://drosy.jp/mypage/membership/paid"
                }
            }
        },
        methods: {
            getButtonClass() {
                if (this.card == '' || this.expire == '' || this.secret == '' || this.cardName == '') {
                    return "btn-next mt-48 disabled";
                }

                return "btn-next mt-48";
            },
            sendForm() {
                this.isLoading = true;
                this.errorMessage = '';

                axios.post('/api/user/card/update', {
                    card_number: this.card,
                    name: this.cardName,
                    expire: this.expire,
                    secret: this.secret
                })
                .then(response => {
                    response = response.data;

                    this.$store.dispatch('setAuthUserDetail', {
                        profile: response.profile,
                        user: response.user
                    });
                    
                    if (this.backPageName == 'membership_paid') {
                        axios.post('/api/membership/upgrade', {
                            membership_id: window.localStorage.getItem('membership_id')
                        }).then(response => {
                            this.$store.dispatch('setAuthUserDetail',{
                                user: response.data.data,
                                profile: response.data.data.profile
                            });
                            this.isLoading = false
                            this.$router.push({ name: 'mypage' });
                        }).catch(error => {
                            this.isLoading = false
                            toastr['error'](error.response.data.message);
                        })
                    } else if (this.backPageName == 'point_purchase') {
                        axios.post('/api/point/purchase', {
                            package_id: window.localStorage.getItem('point_id')
                        }).then(response => {
                            this.$store.dispatch('setAuthUserDetail',{
                                user: response.data.data,
                                profile: response.data.data.profile
                            });

                            this.profile = response.data.data.profile
                            this.isLoading = false;
                            window.localStorage.setItem('point_purchased', 1);
                            this.$router.push({ name: 'mypage' });
                        }).catch(error => {
                            this.isLoading = false;
                            toastr['error'](error.response.data.message);
                        })
                    } else {
                        this.isLoading = false
                        this.$router.push({ name: this.backPageName });
                    }
                    
                }).catch(error => {
                    this.isLoading = false
                    this.errorMessage = error.response.data.message
                })
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
