<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="メールアドレス変更" borderClass="" backPageName="settings" icon="back" />
        <div class="container">
            <p class="setting-text-center text-left mt-20">現在のメールアドレス</p>
            <input type="email" readonly="true" v-model="currentEmail" class="form-control mt-10" placeholder="登録しているメールアドレス" />

            <p class="setting-text-center text-left mt-20">新しいメールアドレス</p>
            <input type="email" v-model="email" class="form-control mt-10" placeholder="新しいメールアドレス" />
            <p class="label-error-message mt-10" v-if="errorMessage != ''">{{errorMessage}}</p>
            <p class="red-alert mt-10" v-if="invalidEmail">入力されたメールアドレスは登録できない形式です</p>
			<div class="setting-text-center mt-20 mb-20">
				確認メールを送信いたします
			</div>					
            <button :class="getButtonClass()" @click="sendForm" type="button" :disabled="this.getButtonClass().includes('disabled')">送信</button>
            <!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
            -->
        </div>
        <TheLoading v-if="isLoading" />
        <TheMessageDialog
            v-if="showMessageDialog"
            icon="gold_mail_box"
            title="確認メール送信完了"
            message="メール本文のURLよりお進みください。"
            confirmTitle=""
            @confirm="confirm"
            @cancel="confirm" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import TheMessageDialog from "../../../modals/TheMessageDialog"

    export default {
        data(){
            return {
                email: '',
                isLoading: false,
                currentEmail: this.$store.state.auth.email,
                showMessageDialog: false,
                errorMessage: '',
                invalidEmail: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            TheMessageDialog
        },
        mounted() {
        },
        methods: {
            getButtonClass() {
                if (this.email == '' || ! this.validateEmail(this.email) || this.email == this.currentEmail) {
                    if (this.email !== '') this.invalidEmail = true;

                    return "btn-main small disabled";
                }

                this.invalidEmail = false;
                
                return "btn-main small";
            },
            validateEmail(email) {
                var re = /^[a-zA-Z]+(([^<>()\[\]\\!@#$%^&*+-.,;:\s@"]+(\.[^<>()\[\]\\!@#$%^&*+-.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

                return re.test(String(email).toLowerCase());
            },
            sendForm() {
                this.isLoading = true;
                this.errorMessage = '';

                axios.post('/api/user/email/change', {
                    email: this.email
                })
                .then(response => {
                    this.isLoading = false
                    this.showMessageDialog = true
                }).catch(error => {
                    this.isLoading = false
                    this.errorMessage = error.response.data.message
                })
            },
            confirm() {
                this.showMessageDialog = false
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
