<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="設定" borderClass="" backPageName="mypage" icon="back" />
        <div class="container">
            <p class="label-title mt-36 mb-12">アカウント設定</p>
            <router-link :to="{ name: 'email_change' }" class="page-nav-link">メールアドレス変更</router-link>
            <router-link :to="{ name: 'password_change' }" class="page-nav-link">パスワード変更</router-link>
            <router-link :to="{ name: 'notification_settings' }" class="page-nav-link">メール通知設定</router-link>
            <p class="label-title mt-28 mb-12">利用管理</p>
            <router-link :to="{ name: 'block_users' }" class="page-nav-link">ブロックリスト</router-link>
            <router-link :to="{ name: 'form_banking' }" class="page-nav-link" v-if="gender == 2" >お振込み口座</router-link>
            <p class="label-title mt-28 mb-12" v-if="gender == 1">支払い情報</p>
            <!-- <router-link :to="{ name: 'credit_card' }" class="page-nav-link" v-if="gender == 1">クレジットカード情報</router-link> -->
            <router-link :to="{ name: 'membership_settings' }" class="page-nav-link" v-if="gender == 1">有料サービス設定</router-link>
            <p class="label-title mt-28 mb-12">その他</p>
            <router-link :to="{ name: 'quit_member' }" class="page-nav-link">退会する</router-link>
            <p @click="logout" class="page-nav-link gold">ログアウト</p>
            <!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
            -->
        </div>
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    export default {
        data(){
            return {
                gender: this.$store.state.auth.profile.gender
            }
        },
        components: {
            TheRegisterHeader
        },
        mounted() {
            this.$nextTick(function () {
                window.scrollTo(0, 0);
            })
        },
        methods: {
            logout(){
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.replace('/login');
                })
            },
        },
        computed: {
        },
    }
</script>
<style>
</style>
