<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="有料サービス設定" borderClass="" backPageName="settings" icon="back" />
        <div class="container">
            <div class="membership-setting-item mt-20 mb-20">
                <p class="title">有料プラン</p>
                <div class="content">
                    <div class="content-item mb-10">
                        <p>利用状況</p>
                        <p>{{(paidPlan && paidPlan.is_enabled == 1) ? '利用中' : '-'}}</p>
                    </div>
                    <div class="content-item mb-10">
                        <p>購入プラン</p>
                        <p>{{(paidPlan && paidPlan.is_enabled == 1) ? paidPlan.membership.period + 'ヶ月プラン' : '-'}}</p>
                    </div>
                    <div class="content-item">
                        <p>有効期限</p>
                        <p>{{ (paidPlan && paidPlan.is_enabled == 1) ? formatDate(paidPlan.expire_at) : '-' }}</p>
                    </div>
                </div>
                <div class="auto-update">
                    <span>自動更新</span>
                    <img :src="`/assets/${paidPlan.auto_update ? 'on' : 'off'}.svg`" v-if="(paidPlan && paidPlan.is_enabled == 1)" @click="togglePaidPlan" alt="image"/>
                    <img src="/assets/off.svg" alt="image" v-else />
                </div>
            </div>
            <div class="membership-setting-item mb-20">
                <p class="title">プラチナプラン</p>
                <div class="content">
                    <div class="content-item mb-10">
                        <p>利用状況</p>
                        <p>{{platiumPlan && platiumPlan.is_enabled ? '利用中' : '-'}}</p>
                    </div>
                    <div class="content-item mb-10">
                        <p>購入プラン</p>
                        <p>{{platiumPlan && platiumPlan.is_enabled ? '１ヶ月プラン' : '-'}}</p>
                    </div>
                    <div class="content-item">
                        <p>有効期限</p>
                        <p>{{ platiumPlan && platiumPlan.is_enabled ? formatDate(platiumPlan.expire_at) : '-' }}</p>
                    </div>
                </div>
                <div class="auto-update">
                    <span>自動更新</span>
                    <img :src="`/assets/${platiumPlan.auto_update ? 'on' : 'off'}.svg`" v-if="platiumPlan && platiumPlan.is_enabled" @click="togglePlatiumPlan" alt="image" />
                    <img src="/assets/off.svg" alt="image" v-else />
                </div>
            </div>
            <!-- <div class="membership-setting-item mb-20">
                <p class="title">VIPプラン</p>
                <div class="content">
                    <div class="content-item mb-12">
                        <p>利用状況</p>
                        <p>{{vipPlan && vipPlan.is_enabled ? '利用中' : '-'}}</p>
                    </div>
                    <div class="content-item mb-12">
                        <p>購入プラン</p>
                        <p>{{vipPlan && vipPlan.is_enabled ? '１ヶ月プラン' : '-'}}</p>
                    </div>
                    <div class="content-item">
                        <p>有効期間</p>
                        <p>{{ vipPlan && vipPlan.is_enabled ? formatDate(vipPlan.expire_at) : '-' }}</p>
                    </div>
                </div>
                <div class="auto-update">
                    <span>自動更新</span>
                    <img :src="`/assets/${vipPlan.auto_update ? 'on' : 'off'}.svg`" v-if="vipPlan && vipPlan.is_enabled" @click="toggleVipPlan" alt="image" />
                    <img src="/assets/off.svg" alt="image" v-else />
                </div>
            </div> -->
            <!--<p class="label-title md mt-36 mb-20">注意事項</p>-->
            <div class="point-card-subtext mt-20 mb-30">
                <!--<p class="mt-5">・有料プランは、ご購入月によるサービス提供日数のずれを防ぐため、いずれのプランも1ヶ月を30日としてサービスをご提供しております</p>-->
                <p class="mt-5">・自動更新の停止は、更新期限日0時の2週間前に自動更新をオフにしてください</p>
                <p class="mt-5">・お申し込み日を１日目とし、いずれのプランも1ヶ月間を30日として期限日にしております</p>
                <!--<p class="mt-5">・お申し込み日を１日目とし、180日目（6ヶ月プラン）/ 90日目（3ヶ月プラン）/ 30日目（1ヶ月プラン）を有料プラン期限日としております</p>
                <p class="mt-5">・自動更新が有効な場合、期限が切れる24時間以内に自動で請求が行われます</p>
                <p class="mt-5">・決済方法に問わず月額料金の月割り・日割りでのご返金は行っておりません</p>-->
            </div>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
        </div>
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    export default {
        data(){
            return {
                notification_settings: this.$store.state.auth.profile.notification_settings,
                paidPlan: undefined,
                platiumPlan: undefined,
                vipPlan: undefined
            }
        },
        components: {
            TheRegisterHeader
        },
        created() {
            let paidPlans = this.$store.state.auth.user.memberships.filter(item => {
                return item.membership.type == 'paid';
            })
            if (paidPlans && paidPlans.length > 0) {
                this.paidPlan = paidPlans[0];
            }

            let platiumPlans = this.$store.state.auth.user.memberships.filter(item => {
                return item.membership.type == 'platium';
            })
            if (platiumPlans && platiumPlans.length > 0) {
                this.platiumPlan = platiumPlans[0];
            }

            let vipPlans = this.$store.state.auth.user.memberships.filter(item => {
                return item.membership.type == 'vip';
            })
            if (vipPlans && vipPlans.length > 0) {
                this.vipPlan = vipPlans[0];
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.scrollTo(0, 0);
            })
        },
        methods: {
            togglePaidPlan() {
                this.paidPlan.auto_update = !this.paidPlan.auto_update
                this.$forceUpdate();

                this.updatePlan(this.paidPlan);
            },
            togglePlatiumPlan() {
                this.platiumPlan.auto_update = !this.platiumPlan.auto_update
                this.$forceUpdate();

                this.updatePlan(this.platiumPlan);
            },
            toggleVipPlan() {
                this.vipPlan.auto_update = !this.vipPlan.auto_update
                this.$forceUpdate();

                this.updatePlan(this.vipPlan);
            },
            updatePlan(plan) {
                axios.post('/api/membership/update', {
                    membership_id: plan.id,
                    auto_update: plan.auto_update
                }).then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                })
            },
            formatDate(value) {
                return helper.formatDate(value);
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
