<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="メール通知設定" borderClass="" backPageName="settings" icon="back" />
        <div class="container">
            <!--<p class="label-title mt-20 mb-15">メール通知設定</p>-->
            <div class="notification-setting-item mt-20">
                <p>いいね！をもらった時</p>
                <img :src="getClass(2)" @click="toggleSetting(2)" alt="image" />
            </div>
            <div class="notification-setting-item">
                <p>マッチングした時</p>
                <img :src="getClass(4)" @click="toggleSetting(4)" alt="image" />
            </div>
            <div class="notification-setting-item">
                <p>メッセージをもらった時</p>
                <img :src="getClass(8)" @click="toggleSetting(8)" alt="image" />
            </div>
            <!-- <div class="notification-setting-item">
                <p>足あとがついた時</p>
                <img :src="getClass(16)" @click="toggleSetting(16)" alt="image" />
            </div> -->
            <div class="notification-setting-item">
                <p>その他のお知らせ</p>
                <img :src="getClass(32)" @click="toggleSetting(32)" alt="image" />
            </div>
            <!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
            -->
        </div>
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    export default {
        data(){
            return {
                notification_settings: this.$store.state.auth.profile.notification_settings
            }
        },
        components: {
            TheRegisterHeader
        },
        mounted() {
        },
        methods: {
            toggleSetting(value) {
                if ("" + (this.notification_settings & value) == "" + value) {
                    this.notification_settings -= value;
                } else {
                    this.notification_settings += value;
                }

                let data = new FormData();
                let params = {
                    notification_settings: this.notification_settings
                }
                data.append('data', JSON.stringify(params))
                axios.post('/api/user/update/profile', data)
                .then(response => {
                    let user = response.data.data;

                    this.$store.dispatch('setAuthUserDetail',{
                        email: user.email,
                        avatar: user.profile.avatar,
                        status: user.status,
                        is_admin: user.is_admin,
                        profile: user.profile,
                        user: user
                    });
                }).catch(error => {
                    
                })
                this.$forceUpdate();
            },
            getClass(value) {
                if ("" + (this.notification_settings & value) == "" + value) {
                    return '/assets/notification_on.svg';
                } else {
                    return '/assets/notification_off.svg';
                }
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
