<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="パスワード変更" borderClass="" backPageName="settings" icon="back" />
        <div class="container">
            <input type="password" v-model="oldPassword" class="form-control mt-20" placeholder="現在のパスワードを入力" />
            <input type="password" v-model="newPassword" class="form-control mt-10" placeholder="新しいパスワードを入力（英数8文字以上）" />
            <input type="password" v-model="confirmPassword" class="form-control mt-10" placeholder="新しいパスワードを再入力" />
            <p class="label-error-message" v-if="errorMessage != ''">{{errorMessage}}</p>
            <button :class="getButtonClass()" @click="sendForm" type="button" :disabled="this.getButtonClass().includes('disabled')">保存する</button>
            <!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
            -->
        </div>
        <TheLoading v-if="isLoading" />
        <TheMessageDialog
            v-if="showMessageDialog"
            icon="gold_mail_box"
            title="パスワード変更"
            message="パスワードを変更しました"
            confirmTitle=""
            @confirm="confirm"
            @cancel="confirm" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import TheMessageDialog from "../../../modals/TheMessageDialog"

    export default {
        data(){
            return {
                email: '',
                currentEmail: this.$store.state.auth.email,
                isLoading: false,
                showMessageDialog: false,
                errorMessage: '',
                oldPassword: '',
                newPassword: '',
                confirmPassword: ''
            }
        },
        components: {
            TheRegisterHeader, TheLoading, TheMessageDialog
        },
        mounted() {
        },
        methods: {
            getButtonClass() {
                if (this.oldPassword === '' || this.newPassword === '' || this.newPassword.length < 8 || this.newPassword !== this.confirmPassword) {
                    return "btn-main small mt-20 disabled";
                }

                return "btn-main small mt-20";
            },
            sendForm() {
                this.isLoading = true;

                axios.post('/api/login/user/password/change', {
                    oldPassword: this.oldPassword,
                    newPassword: this.newPassword
                })
                .then(response => {
                    this.isLoading = false
                    if (response.data.data === 'success') {
                        this.showMessageDialog = true
                    } else {
                        this.errorMessage = "古いパスワードが同じではありません。"
                    }
                }).catch(error => {
                    this.isLoading = false
                    this.errorMessage = 'エラーが発生しました。'
                })
            },
            confirm() {
                this.showMessageDialog = false
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
