<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="退会する" borderClass="" backPageName="quit_member" icon="close" />
        <div class="container">
            <p class="quit-title mt-20 mb-10">以下の情報を全て削除し退会します。アカウントの復旧はできません。</p>
            <p>
                ・作成したプロフィール情報<br/>
                ・お相手からもらったいいね<br/>
                ・メッセージ履歴<br/>
                ・お手持ちのポイント
            </p>
            <button type="button" class="btn-main small mt-20 mb-48" @click="sendForm">退会する</button>
            <!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
            -->
        </div>
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'

    export default {
        data(){
            return {
            }
        },
        components: {
            TheRegisterHeader
        },
        mounted() {
        },
        methods: {
            sendForm() {
                window.localStorage.setItem('current_email', this.$store.state.auth.email);
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.push({ name: 'quit_complete' });
                })
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
