<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="退会する" borderClass="" backPageName="settings" icon="back" />
        <div class="container">
            <!--<p class="label-title mt-20">以下をお読みいただきお手続きください</p>-->
            <p class="quit-title mt-20 mb-5">１.退会したアカウントでの再開はできません</p>
            <p>退会後に再度ご利用される場合は、新規アカウントの作成が必要です。</p>
            <p class="quit-title mt-20 mb-5">２.お手持ちのポイントを始め、全ての情報が消滅します</p>
            <p>退会後に登録データの復旧はできません。</p>
            <p class="label-title md mt-20 mb-5">注意事項</p>
            <p>・各種有料会員プランの登録期間内に退会する場合も、月割り、日割りでの返金はありません。<br/>・各種有料会員をご利用の場合、退会前に必ず定期課金中の購入をキャンセルしてください。</p>
            <router-link :to="{ name: 'quit_member_confirm' }" class="btn-main small mt-20 mb-48" >退会手続き</router-link>
            <!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
            -->
        </div>
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'

    export default {
        data(){
            return {
            }
        },
        components: {
            TheRegisterHeader,
        },
        mounted() {
        },
        methods: {
        },
        computed: {
        },
    }
</script>
<style>
</style>
