<template>
	<section id="wrapper" class="header-container">
        <TheHeader label="特定商取引法に基づく表示"/>
        <div class="terms container mb-48">
            <!--<h1>特定商取引法に基づく表示</h1>-->
            <p class="title">
                事業者名
            </p>
            <p class="text">
                ジュリアンクルー株式会社
            </p>
            <p class="title">
                代表責任者
            </p>
            <p class="text">
                近藤智弘
            </p>
            <p class="title">
                所在地
            </p>
            <p class="text">
                東京都千代田区外神田4-4-9-5F
            </p>
            <p class="title">
                連絡先
            </p>
            <p class="text">
                TEL: 03-5462-0938<br/>
                MAIL: support@drosy.jp<br/>
                ※サービスに関するお問い合わせはメールにて承ります
            </p>
            <p class="title">
                料金
            </p>
            <p class="text">
                基本利用：無料<br/>
                有料会員（男性会員のみ）：１ヶ月プラン￥7,980円/月、３ヶ月プラン￥6,980円/月、６ヶ月プラン￥5,980円/月<br/>
                プラチナ会員（男性会員のみ）：￥9,800円/月
            </p>
            <p class="title">
                商品等のお届け
            </p>
            <p class="text">
                代金決済時
            </p>
            <p class="title">
                送料などの商品代金以外の付帯費用
            </p>
            <p class="text">
                なし
            </p>
            <p class="title">
                代金の支払方法
            </p>
            <p class="text">
                クレジットカード
            </p>
            <p class="title">
                商品等の引き渡し時期
            </p>
            <p class="text">
                契約成立日当日
            </p>
            <p class="title">
                返品の可否と条件
            </p>
            <p class="text mb-20">
                サービスの性質上、返品はお受けしておりません
            </p>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://drosy.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
        </div>
    </section>
</template>

<script>
    import TheHeader from "../../layouts/the-header.vue";

    export default {
        components: {
            TheHeader
        },
        mounted() {
            window.scrollTo(0, 0);
        }
    }
</script>