<template>
	<section id="wrapper" class="header-container profile-step">
        <TheHeader label="写真選びのポイント"/>
        <div class="photo-about active">
            <div class="about-container">
                <p class="about-title mt-20 mb-15">写真を掲載するメリット</p>
                <p class="about-item mb-16" v-if="gender == 1">女性会員からの閲覧数が増えます</p>
                <p class="about-item mb-16" v-else>男性が他の会員から受けた通報回数が見られます</p>
                <p class="about-item mb-16" v-if="gender == 1">女性に安心してもらうことで返信率が上がります</p>
                <p class="about-item mb-16" v-else>男性会員からの閲覧数が増えます</p>
                <p class="about-item mb-16" v-if="gender == 1">より多くの女性とマッチングできます</p>
                <p class="about-item mb-16" v-else>より多くの男性からアプローチしてもらえます</p>
                <p class="about-title mt-20 mb-16">OK写真</p>
                <div class="ok-photos mb-16">
                    <div><img src="/assets/photo_ok1.svg" alt="image"/></div>
                    <div><img src="/assets/photo_ok2.svg" alt="image"/></div>
                </div>
                <p class="about-item mb-16">顔のわかりやすい写真</p>
                <p class="about-item mb-16">雰囲気の伝わりやすい写真</p>
                <p class="about-item mb-16">自然な笑顔</p>
                <p class="about-title mt-20 mb-16">NG写真</p>
                <div class="ng-photos mb-16">
                    <div class="item">
                        <div class="item-img mb-4"><img src="/assets/photo_invalid1.svg" alt="image" /></div>
                        <label>写真が暗い<br/>画質が悪い</label>
                    </div>
                    <div class="item">
                        <div class="item-img mb-4"><img src="/assets/photo_invalid2.svg" alt="image" /></div>
                        <label>顔が一部しか<br/>写っていない</label>
                    </div>
                    <div class="item">
                        <div class="item-img mb-4"><img src="/assets/photo_invalid3.svg" alt="image" /></div>
                        <label class="one-line">過度な加工</label>
                    </div>
                </div>
                <div class="ng-photos">
                    <div class="item">
                        <div class="item-img mb-4"><img src="/assets/photo_invalid4.svg" alt="image" /></div>
                        <label>複数名で<br/>写っている</label>
                    </div>
                    <div class="item">
                        <div class="item-img mb-4"><img src="/assets/photo_invalid5.svg" alt="image" /></div>
                        <label class="one-line">自分以外の人物</label>
                    </div>
                    <div class="item">
                        <div class="item-img mb-4"><img src="/assets/photo_invalid6.svg" alt="image" /></div>
                        <label>個人情報が<br/>わかる写真</label>
                    </div>
                </div>
                <p class="about-subtitle mt-48 mb-16">その他、下記の内容に当てはまる画像のアップロードは禁止されております。</p>
                <p class="about-desc mb-48">
                    ・公序良俗に反する可能性のあるもの<br/>
                    ・第三者が閲覧して不快に感じる可能性のあるもの<br/>
                    ・運営事務局が不適切であると判断したもの
                </p>

                <!-- <button class="btn-main mt-36 mb-36" @click="upload" type="button">写真をアップロード</button> -->
            </div>
        </div>
    </section>
</template>

<script>
    import TheHeader from "../../layouts/the-header.vue";

    export default {
        data() {
            return {
                gender: this.$store.state.auth.profile.gender
            }
        },
        components: {
            TheHeader
        },
        mounted() {
            window.scrollTo(0, 0);
        }
    }
</script>