<template>
	<section id="wrapper" class="header-container">
        <TheHeader label="プライバシーポリシー"/>
        <div class="terms container mb-48">
            <!--<h1>プライバシーポリシー</h1>-->
            <p class="text">
                ジュリアンクルー株式会社(以下、「弊社」という)は、弊社サービス（以下、「本サービス」という）を利用する個人および法人（以下、「ユーザ」という）の個人情報を保護することが弊社の重要な責務であると認識し、弊社が定めるプライバシーポリシーに則り、個人情報の収集や取り扱いには細心の注意を払います。
            </p>
            <p class="title">
                １．個人情報とは
            </p>
            <p class="text">
                本サービスにおいて「個人情報」とは、氏名、住所、電話番号、メールアドレス、銀行口座番号などユーザ個人を識別できる情報をいいます。また、他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものをも含みます。本サービスでは、ユーザが個人情報を送信することを了承した場合にのみ、それらの情報が収集されます。
            </p>
            <p class="title">
                ２．個人情報の収集目的
            </p>
            <p class="text">
                本サービスでは、ユーザにご利用いただくにあたって、個人情報を登録していただく場合があります。ご登録いただいたユーザの個人情報は、以下に掲げる目的のために限定して使用し、弊社はその情報を厳重に管理します。<br/>
                <br/>
                ・本サービスを提供・管理・運営するため<br/>
                ・ユーザが本サービスを利用するために、弊社と必要な連絡をするため<br/>
                ・本サービスを運営するために、個人情報が個人の特定されない統計データを収集し、アンケートを作成･送付するため<br/>
                ・安全かつ安心な取引を実現するために、エスクローサービスを提供するため<br/>
                ・安全かつ安心な取引を実現するために、本人確認サービスを提供するため<br/>
                ・信頼性を向上するために、電話確認サービスを提供するため<br/>
                ・信頼性を向上するために、ユーザーランクサービスを提供するため<br/>
                ・ユーザからのお問い合わせに返答するため<br/>
                ・その他、ユーザの同意を得た目的のため<br/>
                <br/>
                上記以外に個人情報の利用の必要がある場含は、ユーザの皆様方に、事前にその旨を連絡させて頂きます。
            </p>
            <p class="title">
                ３．個人情報の利用
            </p>
            <p class="text">
                本サービスがユーザの個人情報を利用または第三者に開示するのは、下記の場合に限ります。<br/>
                <br/>
                ・ユーザが同意した場合<br/>
                ・ユーザと本サービスが当事者として契約を締結した場合で、その契約の準備または履行のために必要な場合<br/>
                ・本サービスが遵守すべき法的義務のために必要な場合<br/>
                ・ユーザの生命・健康・財産等の重大な利益を保護するために必要な場合<br/>
                ・公共の利益の保護または本サービスもしくは個人情報を開示する対象となる第三者の法令に基づく権限行使のために必要な場合<br/>
                ・本サービスが、ユーザの属性の集計、分析を行い、個人が識別・特定できないように加工したもの(以下、「統計資料」という)を作成し、新規サービスの開発等の業務遂行のために利用、処理する場合。また、本サービスが、統計資料を業務提携先等に提供する場合<br/>
                ・ユーザの利益を侵害しない範囲内において、本サービス及び個人情報の開示の対象となる第三者その他当事者の利益のため必要な場合<br/>
                ・個人情報の開示が裁判所、検察庁もしくは行政機関の命令に基づく場含、または、警察等の行政機関から捜査権限を定める法令に基づき正式な照会を受けた場合、または、弁護士法23条の2等の法令に基づき開示を求める場合<br/>
                ・その他
            </p>
            <p class="title">
                ４．クッキーの利用
            </p>
            <p class="text">
                弊社は、本サービスのコンテンツの提供を管理・維持したり、新しいサービスを検討したり、ログイン情報管理や広告配信のために端末情報をクッキーにて利用しております。ユーザがクッキーの受入を拒否する場合、本サービスの一部が利用できないことがあります。
            </p>
            <p class="title">
                ５．プライバシー・ポリシーの変更・改訂について
            </p>
            <p class="text">
                弊社は、ユーザに対して事前に通知することなく、プライバシーポリシーの全部または一部を変更し、改訂することがあります。重要な変更があるときには、本サイトでお知らせいたします。
            </p>
            <p class="title">
                ６．免責
            </p>
            <p class="text mb-20">
                弊社は、個人情報を保護するために善管注意義務をつくします。しかし、悪意の第三者による個人情報の盗用などについては、この責任に任じないものとします。
            </p>
            <p class="text text-right mb-20">
                2019年12月10日制定・施行<br/>
                ジュリアンクルー株式会社
            </p>

<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
        </div>
    </section>
</template>

<script>
    import TheHeader from "../../layouts/the-header.vue";

    export default {
        components: {
            TheHeader
        },
        mounted() {
            window.scrollTo(0, 0);
        }
    }
</script>
<style>
.terms .title {
    color: #D5A237;
}
</style>