<template>
	<section id="wrapper" class="header-container">
        <TheHeader label="安心・安全の取り組み"/>
        <div class="terms container mb-48">
            <!--<h1>安心・安全の取り組み</h1>-->
            <p class="text">
                Drosyではお客様に安心してご利用していただくために、年齢確認・監視・セキュリティを徹底して行っております。また、Drosyを運営するジュリアンクルー株式会社では法令遵守を第一とした上で法令に基づき「インターネット異性紹介事業」の届出を東京都公安委員会に行っており、受理されております。
            </p>
            <p class="title">
                年齢確認
            </p>
            <p class="text">
                お相手とメッセージのやりとりを行う前に、公的証明書による年齢確認が必須となっております。
            </p>
            <p class="title">
                24時間365日の常時監視体制
            </p>
            <p class="text">
                ユーザー様のすべての投稿（画像、自己紹介文等）について、投稿時に事前審査を行い、不適切な書き込みがないことを24時間365日の監視体制で確認し、トラブルになることを未然に防ぎます。<br/>
                <br/>
                万が一不適切な投稿や、風俗・スカウトを行う悪質な会員がいた場合、直ちに強制退会の厳しい対応を行っております。
            </p>
            <p class="title">
                厳重なセキュリティ
            </p>
            <p class="text">
                24時間365日の脆弱性診断など、セキュリティの強化を日々努め、安全性の向上を行っております。また、本人確認書類等の個人情報は、個人情報保護法に基づき、厳格な管理、適正な取扱いを行います。
            </p>
            <p class="title">
                インターネット異性紹介事業届出及び受理済
            </p>
            <p class="text mb-20">
                Drosyを運営するジュリアンクルー株式会社は、法令遵守を第一とした上で法令に基づき「インターネット異性紹介事業」の届出を東京都公安委員会に行い受理されております（受理番号：30190079000）
            </p>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
        </div>
    </section>
</template>

<script>
    import TheHeader from "../../layouts/the-header.vue";

    export default {
        components: {
            TheHeader
        },
        mounted() {
            window.scrollTo(0, 0);
        }
    }
</script>
<style>
.terms .title {
    color: #D5A237;
}
</style>