<template>
	<section id="wrapper" class="header-container">
        <TheHeader label="利用規約"/>
        <div class="terms container mb-48">
            <!--<h1>利用規約</h1>-->
            <p class="text">
                この規約（以下「本規約」といいます）は、ジュリアンクルー株式会社（以下「当社」といいます）が提供するDrosy（ドロシー）に関する全てのサービス（以下「本サービス」といいます）の利用に関する条件を、本サービスを利用するお客様（以下「利用者」といいます）と当社との間で定めるものです。
            </p>
            <p class="title">
                第1条（規約への同意）
            </p>
            <p class="text">
                １．本サービスをご利用になる前に、本規約をお読みください。<br/>
                ２．利用者は、本規約の定めに従って本サービスを利用しなければなりません。<br/>
                ３．利用者は、会員登録をしないかぎり本サービスを利用できません。<br/>
                ４．利用者は会員登録をするにあたり、本規約に同意して頂くことが必要であり、会員登録が完了した時点で、本規約を内容とする本サービス利用契約（以下「本契約」といいます）が当社との間で締結されます。
            </p>
            <p class="title">
                第2条（規約の適用）
            </p>
            <p class="text">
                本規約の規定が利用者との本規約に基づく契約に適用される関連法令に反するとされる場合、当該規定は、その限りにおいて、当該利用者との契約には適用されないものとします。但し、この場合でも、本規約の他の規定の効力には影響しないものとします。
            </p>
            <p class="title">
                第3条（本サービスの内容）
            </p>
            <p class="text">
                本サービスは、日本在住の男女を対象とした、18歳以上（高校生は除く）の方のパートナー探しをサポートするサービスです。本サービスは、一部のサービスおよび機能を、無料でご利用いただけます。パートナー探しのため、他の会員と十分なコミュニケーションをとるためには、有料の機能をお使いいただくことをお勧めしています。なお、本サービスは交際相手を見つけることを保証するものではありません。
            </p>
            <p class="title">
                第4条（定義）
            </p>
            <p class="text">
                本サービス利用規約において、次の用語はそれぞれ以下のように定義します。<br/>
                ・「コンテンツ」本サービスを通じて利用者が入力した、プロフィール、メッセージなどの一切の情報。<br/>
                ・「利用者」当社が定めた本サービスの登録手続きに従い、本規約に対し同意の上、本サービスの会員登録を完了し、本サービスを利用する資格を持つ個人をいいます。<br/>
                ・「有料サービス」本サービス上で利用者が任意で申し込むことができる有料の会員機能の総称（有料会員・プラチナ会員）
            </p>
            <p class="title">
                第5条（本サービスの提供、無保証）
            </p>
            <p class="text">
                １．当社は、本サービスの提供を受けることができる利用者を、会員登録の有無、年齢、その他、当社が必要と判断する条件を満たしたお客様に限定することができるものとします。<br/>
                ２．当社は、当社が必要と判断する場合、あらかじめ利用者に通知することなく、いつでも、本サービスの全部または一部の内容を変更し、また、その提供を中止することができるものとします。<br/>
                ３．当社は、本規定に基づき当社が行った措置によって利用者に生じた損害について一切の責任を負いません。<br/>
                ４．当社は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みますが、これらに限りません）がないことを保証しておりません。<br/>
                ５．当社は、本サービスが、全てのパソコン、スマートフォン、タブレット端末等およびOSに対応することを保証しておりません。また、当社は、利用者の環境により本サービスを利用できなかったことに基づき利用者に生じた損害について、一切の責任を負いません。
            </p>
            <p class="title">
                第6条（利用資格）
            </p>
            <p class="text">
                １．18歳以上（高校生は除く）のみが利用可能なサービスです。年齢の判断は、当社が会員登録時に登録された生年月日、本人の自己申告等を元に合理的な範囲で行うものであり、全ての本サービスの会員が常時18歳以上であることを当社が保証するものではありません。登録後に違反が発見された場合、当社判断で会員登録を無効とさせていただきます。当社は、無効とする措置により利用者に発生した損害について一切の責任を負わないものとします。<br/>
                ２．利用者は、本サービスをご利用になることによって、本契約に参加し本契約の規約と条件の全てに従う権利、権限、義務および能力を有すると表明し、保証するとみなされます。<br/>
                ３．本サービスは、現在会員の犯罪経歴調査は行っておらず、会員の経歴も問い合わせず、会員の申告も確認は行っていないため、他の利用者について、この点を当社が保証するものではない点をご理解してください。<br/>
                ４．当社は、利用者について、いずれかの犯罪経歴調査や他の審査（例：性的犯罪者登録検索）を、いつでも、利用可能な公的記録を使用して、行うことができるものとしますが、これを行う義務を負うものではありません。<br/>
                ５．本サービスは、現在または今後の会員の行為や整合性に関して、保証しておりません。<br/>
                ６．当社は、利用者が下記の事由に相当する場合は、会員登録の拒否を行うことが出来るものとします。<br/>
                ・本規約に違反するおそれがあると当社が判断した場合<br/>
                ・当社に提供された登録情報の全部又は一部につき虚偽、誤記又は記載漏れがあった場合<br/>
                ・過去に本サービスの利用の登録を取り消された者である場合<br/>
                ・成年被後見人、被保佐人、又は被補助人のいずれかであり、法定代理人、後見人、保佐人又は補助人の同意等を得ていなかった場合<br/>
                ・反社会的勢力等（暴力団、暴力団体、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合<br/>
                ・その他、当社が登録を適当でないと判断した場合
            </p>
            <p class="title">
                第7条（利用者の責任および注意義務）
            </p>
            <p class="text">
                １．利用者は、自己の責任に基づき本サービスを利用するものとし、利用者が公開するコンテンツについて、全て自己で責任を負うものとします。<br/>
                ２．利用者は当社に対し、他人の著作物を使用したことなどが原因で紛争、損害賠償の請求などが起こった場合の損害、責任について一切を免責するものとし、自らの責任をもって紛争に対処するものとします。<br/>
                ３．利用者は、自己の責任において、ユーザIDおよびパスワードを管理及び保管するものとし、これを第三者に利用させたり、貸与、譲渡、名義変更、売買等をしてはならないものとします。<br/>
                ４．利用者は、当社に対し、ユーザIDおよびパスワードを第三者に盗用されるなどにより、利用者のコンテンツの改変や改竄、個人情報等の無断閲覧などにより発生するあらゆる紛争、損害賠償の請求などについて一切を免責するものとします。<br/>
                ５．利用者は、本条で定める行為において当社に損害を与えた場合は、当社が当該利用者に対して損害賠償を請求する権利を有することを認めます。<br/>
                ６．当社は、以下のいずれかに該当する場合には、利用者に事前に通知することなく、本サービスの利用の全部又は一部を停止又は中断することができるものとします。<br/>
                ・本サービスに係るコンピューター・システムの点検又は保守作業を定期的又は緊急に行う場合<br/>
                ・コンピューター、通信回線等が事故により停止した場合<br/>
                ・火災、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合<br/>
                ・その他、当社が停止又は中断を必要と判断した場合<br/>
                ・当社は、本条に基づき当社が行った措置に基づき利用者に生じた損害について一切の責任を負いません。
            </p>
            <p class="title">
                第8条（禁止事項）
            </p>
            <p class="text">
                利用者は、以下の行為を行ってはならないものとします。利用者がこれらの禁止行為を行った、又は行うおそれがあると当社が判断した場合、利用者に通知することなく、当社は該当する内容のデータの削除、当該利用者に対して注意を促す表示を行う、または利用制限もしくは強制退会させることができるものとします。ただし、当社は、当該データ等を掲載停止または削除する義務を負うものではなく、データの削除および利用制限等の処分につきまして当社は説明の義務を負わないものとします。なお、当社は、本条に基づき当社が行った措置に基づき利用者に生じた損害について一切の責任を負いません。<br/><br/>
                ・会員のアイコン画像、サブ写真を含む、本サービス上の画像を当社の承諾なくキャプチャーその他の方法により複製、利用又は公開する行為<br/>
                ・会員に対して性行為の強要、詐欺、脅迫・恫喝する行為（本サービスを通して知り得た会員の場合、本サービス外でのやりとりも対象とする）<br/>
                ・本規約に反する行為<br/>
                ・日本国またはご利用の際に利用者が所在する国・地域の法令に違反する行為<br/>
                ・社会規範・公序良俗に反するものや、他人の権利を侵害し、または他人の迷惑となるようなものを、投稿、掲載、開示、提供または送信（以下これらを総称して「投稿など」といいます）したりする行為<br/>
                ・利用者以外の自然人・法人・団体・組織等の第三者（以下、「第三者」といいます）に自己のユーザIDおよびパスワードを譲渡して、本サービスを利用させる行為<br/>
                ・第三者に自己のユーザIDおよびパスワードを閲覧可能な状態にしておく行為<br/>
                ・本サービスに関連して、反社会的勢力に直接・間接に利益を提供する行為<br/>
                ・本サービスを、提供の趣旨に照らして本来のサービス提供の目的とは異なる目的で利用する行為<br/>
                ・第三者の個人情報を公開する行為<br/>
                ・第三者（会員を含む）に迷惑を掛ける行為<br/>
                ・8歳未満（高校生を含む）の会員登録およびコンテンツの利用<br/>
                ・児童を騙る行為<br/>
                ・性描写、残酷な表現、犯罪を誘発する表現、差別表現など、公序良俗に反する行為やコンテンツ閲覧者<br/>
                ・第三者に成りすます行為<br/>
                ・虚偽の情報をコンテンツに掲載し、コンテンツ閲覧者を欺く行為<br/>
                ・第三者の名誉や社会的信用を毀損したり、不快感や精神的な損害を与える行為<br/>
                ・選挙運動、またはこれらに類似する行為および公職選挙法に抵触する行為<br/>
                ・コンテンツ閲覧者を含む利用者以外の自然人・法人・団体・組織等の第三者の個人情報の収集を行う行為<br/>
                ・第三者の所有する知的所有権を侵害する行為や、著作権、肖像権の侵害を誘発する行為<br/>
                ・当社が許可した場合を除く、本サービス上の文字、画像、会員のニックネーム、アイコン画像、サブ写真、プロフィール情報、自己紹介文、その他の会員の情報を無断で使用する行為（モザイク処理をしても、当社が許可をしていない場合は無断使用と見なします）<br/>
                ・当社が許可した場合を除く、本サービス上において他会員に自己の連絡先や他サービスのID等を連絡・共有する行為<br/>
                ・本サービスの運営を妨げる行為<br/>
                ・当社が、本サービスの運営を妨げるおそれがあると判断する量のデータ転送、サーバーに負担をかける行為（不正な連続アクセスなど）<br/>
                ・商用目的の宣伝・広告行為、求人行為、引き抜き行為（例：アダルト関連サービスへの誘導を目的として特定または不特定多数の利用者にメッセージ機能などの方法で送信したりする行為）<br/>
                ・有害なコンピュータウィルス、コード、ファイル、プログラム等を開示する行為、もしくは開示されている場所について示唆する行為<br/>
                ・無限連鎖講およびマルチ商法、またはそれに類するもの、その恐れのあるもの、あるいは当社が無限連鎖講およびマルチ商法、またはそれに類するもの、その恐れのあるものと判断する内容を掲載する行為<br/>
                ・児童ポルノ、またはそれに類する内容、あるいは当社が児童ポルノに類すると判断する内容を掲載する行為<br/>
                ・性器露出画像、動画、あるいは性器を描写したデータ等、当社が性器を描写した内容であると判断した内容のサイトへのリンクを掲載する行為
            </p>
            <p class="title">
                第10条（契約期間および契約の終了）
            </p>
            <p class="text">
                １．利用者が本サービスの会員である限り、本契約は有効です。<br/>
                ２．会員になって本サービスに参加することを利用者が選ばれた場合は、本サービスを即座に開始することを利用者が選ばれたことになり、クーリングオフは認められません。<br/>
                ３．利用者は本サービスの退会申請フォームから契約終了の通知を当社にお送りいただくことで、いつでもいかなる理由でも、利用者は会員資格を終了させることができます。退会申請フォームからご連絡ください。<br/>
                ４．利用者が本契約の一つ以上の条項に違反した場合、また、そのおそれがあると当社が判断した場合、当社はいつでも利用者の会員資格を即座に終了させ、禁止するコンテンツを削除し、本サービスの利用を終了させることができます。<br/>
                ５．利用者が本サービスの全部または一部にアクセスすることを、恒久的または一時的に当社は禁止することができます。<br/>
                ６．有料サービスについて利用者が購入された利用期間が終了していなくても、一切、返金は致しかねます。<br/>
                ７．規約違反に基づき利用者が有料サービスを終了となった場合、本サービスへの登録も終了となり、終了以前に利用者が購入された利用期限が残っていても、本サービスの一切がご利用できなくなります。日割りでの返金も致しかねます。<br/>
                ８．利用者が有料会員でない場合、（本サービスに最後に接続した日から数えて）6ヵ月以上本サービスを利用しなかった会員のアカウントを、本サービスは無効にすることができます｡
            </p>
            <p class="title">
                第11条（再利用の禁止）
            </p>
            <p class="text">
                利用者が、当社のサービスやそれらを構成するデータを、本サービスの提供目的を超えて利用した場合、当社は、それらの行為を差し止める権利ならびにそれらの行為によって利用者が得た利益相当額を請求する権利を有します。
            </p>
            <p class="title">
                第12条（有料会員、および利用料金）
            </p>
            <p class="text">
                １．本サービスは、一部のサービスおよび機能を除き、無料でご利用いただけます。<br/>
                ２．他の会員とのメッセージのやり取りといったサービスおよび追加機能を利用するには、本サービスの有料会員になる必要があります。<br/>
                ３．最新の有料会員プランと利用料金に関する詳細は、説明ページを参照ください。<br/>
                ４．本サービスに加入する際に開示される加入方針は、本規約の一部であることをご注意ください。<br/>
                ５．他の会員と連絡をとるなどの追加の機能やサービスを利用するためには、本サービスの有料会員になる必要があります。なお、お申し込み後の変更・キャンセルはお受けできませんのでご了承ください。<br/>
                ６．お客様が申し込まれた有料サービスを利用期間の途中で利用休止またはご解約（解約は退会フォームからお願いいたします）された場合も、返金や未利用期間の日割り計算による精算は一切行っておりませんのでご注意ください。<br/>
                ７．各会員プランは、有料会員＞プラチナ会員が段階積み上げ式となります。無料会員がプラチナ会員になることはできません。同様に支払いについても積み上げ式となり、プラチナ会員は、有料会員料金とは別にプラチナ会員費用が必要です。<br/>
                8． 継続決済については以下の通りとします。<br/>
                ・クレジット決済での申し込みとなり、申し込み時に選択した支払サイクルで自動的に課金されます。<br/>
                ・解約を希望する場合は、本サービス内マイページ＞設定＞有料サービス設定より変更ください。<br/>
                ・解約を希望する場合、次回継続決済の課金日前日までにご対応ください。<br/>
                <br/>
                9． 購入されたポイントの有効期限は、購入日を含め180日間です。以降、ポイントは自動消滅します。
            </p>
            <p class="title">
                第13条（投稿の削除、サービスの利用停止）
            </p>
            <p class="text">
                利用者が本サービスに投稿などしたコンテンツと、本サービスを通してお客様が他の会員に転送したコンテンツについて、お客様は単独で責任を負います。<br/>
                <br/>
                利用者が投稿した場合はいつでも、そのコンテンツが（a）正確かつ（b）本契約に違反せず、かつ（c）あらゆる点で誰にも害が及ばないことを、お客様は表明し保証したことになります｡<br/>
                <br/>
                当社は、提供するサービスを適正に運営するために、以下の場合にはあらかじめ通知することなく、データやコンテンツを削除、サービスの全部または一部の利用をお断りする、利用者のアカウントを削除するといった措置を講じることができるものとします。<br/>
                <br/>
                ・利用者が本規約に定められている事項に違反した場合、もしくはそのおそれがあると当社が判断した場合<br/>
                ・当社にお支払いいただく代金について支払の遅滞が生じた場合<br/>
                ・本サービスの代金決済手段として指定されたクレジットカードや銀行口座の利用が停止された場合<br/>
                ・利用者が破産もしくは民事再生の手続の申立てを受け、または利用者自らがそれらの申立てを行うなど、利用者の信用不安が発生したと当社が判断した場合<br/>
                ・アカウントが反社会的勢力またはその構成員や関係者によって登録または使用された場合、もしくはそのおそれがあると当社が判断した場合<br/>
                ・利用者が一定期間にわたってアカウントまたは特定のサービスを使用していない場合<br/>
                ・その他、利用者との信頼関係が失われた場合など、当社と利用者との契約関係の維持が困難であると当社が判断した場合<br/>
                <br/>
                また、本サービス上での利用者間のメッセージのやりとりは、当社の管理する電子掲示板を通じて提供されます。電子掲示板は、当該メッセージのやりとりをされる利用者同士と当社の三者が閲覧できる仕様となっております。利用者は、当社が事故防止ならびに健全なサービスを運営する目的で、メッセージの内容を閲覧、削除することに同意するものとします。但し、当社として電子掲示板を巡回・監視する義務を負うものではありません。
            </p>
            <p class="title">
                第14条（当社に対する補償）
            </p>
            <p class="text">
                利用者は、利用者が法令または本規約に違反して本サービスを利用したことに起因して（かかる趣旨のクレームを第三者より当社が受けた場合を含みます）、当社が直接的もしくは間接的に何らかの損害、損失または費用負担（弁護士費用の負担を含みます）を被った場合、当社の請求にしたがって直ちにこれを賠償または補償しなければなりません。
            </p>
            <p class="title">
                第15条（利用者のデータの取扱い）
            </p>
            <p class="text">
                １．当社の本サービスの保守や改良などの必要が生じた場合には、当社は利用者が当社の管理するサーバーに保存しているデータを、本サービスの保守や改良などに必要な範囲で複製等することができるものとします。<br/>
                ２．利用者が投稿などをしたコンテンツ（画像データ、テキストを含みますが、これらに限られません。以下「投稿コンテンツ」といいます）については、利用者または当該投稿コンテンツの著作権者に著作権が帰属します。投稿コンテンツについて、利用者は当社に対して、日本の国内外で無償かつ非独占的に利用（複製、上映、公衆送信、展示、頒布、譲渡、貸与、翻訳、翻案、出版を含みます）する権利を期限の定めなく許諾（サブライセンス権を含みます）したものとみなします。ただし、利用者間のメッセージ内容についてはプライバシーを尊重し、本条の許諾対象には含まないものとします。なお、利用者は著作者人格権を行使しないものとします。<br/>
                ３．利用者が本サービスを利用して生成した投稿コンテンツについての著作権を除き、本サービスおよび本サービスに関連する一切の情報についての著作権およびその他知的財産権はすべて当社または当社がその利用を許諾した権利者に帰属し、利用者は無断で複製、譲渡、貸与、翻訳、改変、転載、公衆送信（送信可能化を含みます）、伝送、配布、出版、営業使用等をしてはならないものとします。<br/>
                ４．当社は、投稿コンテンツの利用を、利用者自身を除く、他の利用者その他の第三者に許諾するものではなく、利用者は他の利用者の投稿コンテンツの権利を侵害する行為を行ってはならないものとします。また、利用者は投稿コンテンツをクロール等で自動的に収集、解析する行為も行ってはならないものとします。<br/>
                ５．当社は、他の利用者の投稿コンテンツを利用したことによって利用者に生じた損害について、一切の保証をいたしません。また、利用者が他の利用者の投稿コンテンツを利用して利益を得た場合には、当社はその利益相当額の金員を請求できる権利を有するものとします。
            </p>
            <p class="title">
                第16条（連絡または通知）
            </p>
            <p class="text">
                利用者は、本利用規約に別段の定めがある場合を除き、当社への連絡はお問い合わせフォームから行うものとします。当社は電話による連絡および来訪は受け付けておりません。利用者への連絡または通知の必要があると当社が判断した場合には、登録されたメールアドレス宛にメールにて連絡または通知を行います。ただし、利用者から正確な連絡先の提供がなされていない場合の不利益に関しては、当社は一切責任を負いません。
            </p>
            <p class="title">
                第17条（権利義務などの譲渡）
            </p>
            <p class="text">
                １．利用者は、本規約に基づくすべての契約について、その契約上の地位およびこれにより生じる権利義務の全部または一部を、第三者に譲渡または貸与することはできません。<br/>
                ２．当社は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びに利用者の登録情報その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、利用者は、かかる譲渡につき本項において予め同意したものとします。<br/>
                ３．本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。
            </p>
            <p class="title">
                第18条（会員間の紛争）
            </p>
            <p class="text">
                利用者は、自己の責任に基づき本サービスを利用するものとし、本サービスの他の会員との交流に関しては、単独で責任を負うものとします。当社は、利用者と他の会員との間で起きた紛争を監視する権利を留保しますが、義務はありません。
            </p>
            <p class="title">
                第19条（プライバシー）
            </p>
            <p class="text">
                本サービスの使用には、当社のプライバシーポリシーも適用されます。会員が当社に提供した（機密性の高い個人情報も含む）個人情報は、当社のコンピュータに保存されます。興味や好み、閲覧のパターンについてのプロフィールを作成し、会員が本サービスに参加できるようにするために、当社がこの情報を利用することに、会員は同意するものとします｡
            </p>
            <p class="title">
                第20条（児童を誘引する行為の規制）
            </p>
            <p class="text">
                本サービスでは、インターネット異性紹介事業を利用して児童を誘引する行為の規制を行っております。この目的は、「インターネット異性紹介事業の利用に起因する児童買春その他の犯罪から児童を保護し、もって児童の健全な育成に資すること」です。このような目的を実現するため、本サービスではサービス利用に当たって男女共に身分証明書など予め定められた方法による年齢確認を行っております。<br/>
                また、自己紹介文の記入欄において、年齢確認前に出会えてしまう可能性を排除するため、自己紹介文の投稿監視を行っております。その為、年齢確認前に自己紹介文にて、出会えてしまう場所や時間などの要素が入っている場合は、当社は予告なく、自己紹介文の掲載をできないようにしたり、削除等させて頂く場合があり、会員はこれに同意するものとします。
            </p>
            <p class="title">
                第21条（免責事項）
            </p>
            <p class="text">
                当社の債務不履行責任は、当社の故意または重過失によらない場合には免責されるものとします。なお、お客様との本規約に基づく当社のサービスのご利用に関する契約が消費者契約法に定める消費者契約に該当する場合、上記の免責は適用されないものとし、当社は、当社の故意・重過失に起因する場合を除き、通常生じうる損害の範囲内で、かつ、有料サービスにおいては代金額（継続的なサービスの場合は1か月分相当額）を上限として損害賠償責任を負うものとします。<br/>
                <br/>
                本サービスの構成要素は、あらゆる種類の条件、保証、またはその他の契約条件なしに、無保証で提供されます。したがって、この法的通知がなければ本サービスとの関係で効力を持った可能性のあるすべての説明、保証、条件、またはその他の契約条件（満足のゆく品質、目的適合性、合理的な配慮と技術の行使など、法によって暗示されている条件を含みますが、これに限られません）を法によって認められている最大限度まで本サービスは排除するという前提で、当社は本サービスをお客様に提供します。当社や当社のパートナー企業、会員やその他の個人または団体が、本サービスを通じて表示し、アップロードし、または配布する助言、意見、声明やその他の情報について、当社はその正確さや信頼性を表明し保証するものではありません。<br/>
                <br/>
                以上のような意見、会員プロフィール、助言、声明や情報を信頼することについては、お客様の自己責任になることをお客様は承認するものとします。オンラインでもオフラインでも、会員の行動について当社は責任を負いません。本サービスを利用される際は、注意をして常識を働かせてください。適用法令の下で排除することが不可能な強行法規の権利（消費者としてのお客様の実定法上の権利を含みます）を、この法的通知および以上の免責事項は排除するものではありません。<br/>
                <br/>
                本サービスは、日本国内においてのみ使用されることを想定しており、当社は、日本国外において本サービスの利用ができることを保証しないものとします。また、当社は、日本国外における本サービスの利用について、一切のサポートを提供する義務を負わないものとします。
            </p>
            <p class="title">
                第22条（本サービスのご利用上の注意）
            </p>
            <p class="text">
                本サービスは、パートナーを探している18歳以上の会員に対して、パートナー探しをサポートするサービスですが、不特定多数の方がご利用になっているため、場合によっては本サービスを悪用される可能性があります。そのような可能性があることをご認識のうえ、 他の会員（特にメッセージのやり取りを行う他の会員）に対してのやりとり方法、個人情報の開示に関しては、慎重に考えて、本サービスをご利用ください。また、やり取りをしている会員が独身か否かは初回登録時のご本人の自己申告により掲載しております。同様に、年齢についても自己申告、及び本人確認証を元に記載しており、全ての会員様が18歳以上であることを保証するものではございません。<br/>
                <br/>
                他の会員に対して本サービス以外でのやりとり手段の提供、個人情報等重要な情報の開示を行う場合は、慎重に検討し自己の責任のうえで行うようにしてください。規約違反の疑いがある会員を発見した場合は、すみやかに違反報告ボタン、またはお問い合せより違反内容をご報告ください。
            </p>
            <p class="title">
                第23条（利用規約の変更について）
            </p>
            <p class="text">
                当社が必要と判断した場合には、利用者の事前の承諾を得ることなく、本規約をいつでも変更することができるものとします。なお、改訂に際しては電子メール等を通して随時、利用者に告知するものとします。本規約変更後に、利用者が本サービスをご利用される場合には、変更後の本規約の内容を承諾したものとみなします。 当社は、理由の如何を問わず、また、利用者に事前に通知することなく、本サービスの内容の全部又は一部を変更、追加又は中止することができるものとし、利用者は予めこれを承諾するものとします。
            </p>
            <p class="title">
                第24条（準拠法）
            </p>
            <p class="text">
                本規約は、日本法に準拠し、解釈されるものとします。
            </p>
            <p class="title">
                第25条（管轄裁判所）
            </p>
            <p class="text">
                利用者と当社との間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
            </p>
            <p class="title">
                第26条（附則）
            </p>
            <p class="text mb-20">
                2019年12月10日 制定・施行
            </p>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
        </div>
    </section>
</template>

<script>
    import TheHeader from "../../layouts/the-header.vue";

    export default {
        components: {
            TheHeader
        },
        mounted() {
            window.scrollTo(0, 0);
        }
    }
</script>