<template>
    <div>
        <div v-if="isLoading == false">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body" v-if="me" id="messages">
                            <MessageItem
                                v-for="(message, index) in messages"
                                :key="index"
                                :message="message"
                                :prevMessage="index == 0 ? '' : messages[index - 1]"
                                :isMine="me.id == message.user_id"
                                :id="`message_${message.id}`"
                                :highlightMessageID="highlightMessageID"
                                @openImage="openImage"
                                />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <TheLoading v-if="isLoading" />
        <TheImageViewDialog 
            v-if="currentPhoto != undefined"
            :image="currentPhoto"
            :photos="messagePhotos"
            :isContain="true"
            @cancel="currentPhoto = undefined" />
    </div>
</template>

<script>
    import helper from '../../../services/admin_helper'
    import pagination from 'laravel-vue-pagination'
    import ClickConfirm from 'click-confirm'
    import TheLoading from "../../modals/TheLoading"
    import MessageItem from "./message-item"
    import TheImageViewDialog from "../../modals/TheImageViewDialog"

    export default {
        data(){
            return {
                page: 1,
                messages: {
                    data: [],
                    total: 0
                },
                pageLength: 20,
                isLoading: false,
                me: undefined,
                hasMore: true,
                isFetching: false,
                currentPhoto: undefined,
                messagePhotos: [],
                highlightMessageID: this.$route.params.messageID
            }
        },
        components : { pagination, ClickConfirm, TheLoading, MessageItem, TheImageViewDialog },
        mounted() {
            this.isLoading = true;

            if (this.$route.params.messageID && this.$route.params.messageID > 0) {
                this.pageLength = 1000;
            }
            this.getMessages();
        },
        beforeMount() {
            window.addEventListener('scroll', this.onScroll);
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.onScroll);
        },
        methods: {
            onScroll(e) {
                if (e.srcElement.scrollingElement.scrollTop <= 10) {
                    if (this.isLoading) return true;
                    if (this.hasMore == false) return true;
                    if (this.isFetching == false) {
                        this.isFetching = true;
                        this.page++;
                        this.loadMessages();
                    }
                }
            },
            getMessages(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                let params = Object.assign({}, this.filterUserForm);
                params.limit = this.pageLength
                params.page = page;

                axios.post('/api/admin/chatroom/messages', {
                    page: page,
                    limit: this.pageLength,
                    firebaseKey: this.$route.params.firebaseKey
                }).then(response => {
                    response.data.data.data.reverse();
                    this.messages = response.data.data.data;
                    this.me = response.data.me;
                    this.hasMore = response.data.data.last_page > response.data.data.current_page
                    this.page = response.data.data.current_page

                    if (this.isLoading) {
                        let self = this
                        setTimeout(function() {
                            if (self.$route.params.messageID > 0) {
                                $('html, body').animate({ scrollTop: $('#message_' + self.$route.params.messageID)[0].offsetTop }, 100);
                            } else {
                                $('html, body').animate({ scrollTop: $('#messages')[0].scrollHeight }, 100);
                            }
                        }, 300);
                        this.isLoading = false;
                    }

                    this.fetchPhotos();
                }).catch(error => {
                    this.isLoading = false;
                    this.messages = {
                        data: [],
                        total: 0
                    };
                })
            },
            fetchPhotos() {
                this.messagePhotos = this.messages.filter(item => {
                    return item.is_image == 1 || item.is_image == 3;
                }).map(item => {
                    return "<img src='" + item.message.replace('thumbnail_', '') + "' alt='image'/>"
                })
            },
            loadMessages() {
                axios.post('/api/admin/chatroom/messages', {
                    page: this.page,
                    limit: this.pageLength,
                    firebaseKey: this.$route.params.firebaseKey
                }).then(response => {
                    response.data.data.data.reverse();
                    this.messages = $.merge(response.data.data.data, $.merge([], this.messages));
                    this.hasMore = response.data.data.last_page > response.data.data.current_page
                    this.isFetching = false

                    this.fetchPhotos();
                })
            },
            getAvatar(user) {
                if (user.profile.vip_image) return user.profile.vip_image.url;
                return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            },
            openImage(image) {
                this.currentPhoto = image;
            },
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style lang="scss" scoped>
.strikethrough{
    text-decoration: line-through;
}

.user-avatars {
    position: relative;
    min-height: 120px;

    img {
        border-radius: 30px;
        border: 2px solid #D5A237;
        position: absolute;
        top: 0;
        left: 0;

        &:last-child {
            top: 30px;
            left: 30px;
        }
    }
}

</style>
