<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">ユーザーメッセージ一覧</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title m-t-40">ユーザーメッセージ一覧</h4>
                        <!-- <h6 class="card-subtitle" v-if="chatrooms.total">{{chatrooms.total}}つ</h6> -->
                        <h6 class="card-subtitle" v-if="chatrooms.total == 0">メッセージが見つかりません！</h6>
                        <div class="row">
                            <div class="col-md-8">
                                <pagination :data="chatrooms" :limit=10 v-on:pagination-change-page="getChatrooms"></pagination>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right">
                                    <select name="pageLength" class="form-control" v-model="pageLength" @change="getChatrooms" v-if="chatrooms.total">
                                        <option value="5">5つ</option>
                                        <option value="10">10つ</option>
                                        <option value="25">25つ</option>
                                        <option value="100">100つ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table" v-if="chatrooms.total">
                                <thead>
                                    <tr>
                                        <th style="max-width: 120px; width: 120px;">写真</th>
                                        <th style="max-width: 100px; width: 100px;">ユーザーID</th>
                                        <th>ニックネーム</th>
                                        <th style="max-width: 100px; width: 100px;">ユーザーID</th>
                                        <th>ニックネーム</th>
                                        <th></th>
                                        <th>メッセージ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(chatroom, index) in chatrooms.data" :key="index" >
                                        <td style="max-width: 120px; width: 120px;">
                                            <div class="user-avatars">
                                                <img class="user-avatar" :src="getAvatar(chatroom.from)" alt="image"/>
                                                <img class="user-avatar" :src="getAvatar(chatroom.to)" alt="image"/>    
                                            </div>
                                        </td>
                                        <td style="max-width: 100px; width: 100px;">{{chatroom.from.id}}</td>
                                        <td style="max-width: 150px; width: 150px;" v-text="chatroom.from.profile.nickname"></td>
                                        <td style="max-width: 100px; width: 100px;">{{chatroom.to.id}}</td>
                                        <td style="max-width: 150px; width: 150px;" v-text="chatroom.to.profile.nickname"></td>
                                        <td style="max-width: 60px; width: 60px;">
                                            <button class="btn btn-success btn-sm" @click.prevent="openChatroom(chatroom)" data-toggle="tooltip" title="メッセージ"><i class="fa fa-comments"></i></button>
                                        </td>
                                        <td style="max-width: 300px; width: 300px;" v-html="getLastMessage(chatroom)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from '../../../services/admin_helper'
    import pagination from 'laravel-vue-pagination'
    import ClickConfirm from 'click-confirm'

    export default {
        data(){
            return {
                page: 1,
                chatrooms: {
                    data: [],
                    total: 0
                },
                pageLength: 25
            }
        },
        components : { pagination, ClickConfirm },
        mounted() {
            this.getChatrooms();
        },
        methods: {
            getChatrooms(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                let params = Object.assign({}, this.filterUserForm);
                params.limit = this.pageLength
                params.page = page;

                axios.post('/api/admin/chatrooms', {
                    page: page,
                    limit: this.pageLength,
                    user_id: this.$route.params.userID
                }).then(response => {
                    this.chatrooms = response.data.data;
                }).catch(error => {
                    this.chatrooms = {
                        data: [],
                        total: 0
                    };
                })
            },
            openChatroom(chatroom) {
                this.$router.push({ name: 'admin_message_detail', params: {firebaseKey: chatroom.firebaseKey, messageID: 0} })
            },
            getLastMessage(chatroom) {
                if (chatroom.last_message.includes('thumbnail_')) return '画像を送信しました';

                return chatroom.last_message;
            },
            getAvatar(user) {
                if (user.profile.vip_image) return user.profile.vip_image.url;
                return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style lang="scss" scoped>
.strikethrough{
    text-decoration: line-through;
}

.user-avatars {
    position: relative;
    min-height: 120px;

    img {
        border-radius: 30px;
        border: 2px solid #D5A237;
        position: absolute;
        top: 0;
        left: 0;

        &:last-child {
            top: 30px;
            left: 30px;
        }
    }
}
</style>
