<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">メッセージ一覧</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-12 mb-20">
                            <div class="col-md-6">
                                <div class="form-group mb-0 date-picker">
                                    <label for="">送信期間</label>
                                    <div class="pickers">
                                        <DatePicker v-model="startDate" @change="selectStartDate" lang="ja" format="YYYY年MM月DD日" />
                                        <span>～</span>
                                        <DatePicker v-model="endDate" @change="selectEndDate" lang="ja" format="YYYY年MM月DD日" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success waves-effect waves-light" @click="getMessages(1)">検索する</button>
                                <button type="button" class="btn btn-warning waves-effect waves-light" @click="resetFilter">リセットする</button>
                            </div>
                        </div>
                        <h4 class="card-title m-t-40">メッセージ一覧</h4>
                        <h6 class="card-subtitle" v-if="messages.total">{{messages.total}}つのメッセージがあります。</h6>
                        <h6 class="card-subtitle" v-else>メッセージが見つかりません！</h6>
                        <div class="row">
                            <div class="col-md-8">
                                <pagination :data="messages" :limit=10 v-on:pagination-change-page="getMessages"></pagination>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right">
                                    <select name="pageLength" class="form-control" v-model="pageLength" @change="getMessages" v-if="messages.total">
                                        <option value="5">5つ</option>
                                        <option value="10">10つ</option>
                                        <option value="25">25つ</option>
                                        <option value="100">100つ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table" v-if="messages.total">
                                <thead>
                                    <tr>
                                        <th style="max-width: 200px; width: 200px;">送信日時</th>
                                        <th style="max-width: 100px; width: 100px;">ユーザーID</th>
                                        <th style="max-width: 100px; width: 100px;"></th>
                                        <th></th>
                                        <th style="max-width: calc(100% - 460px); width: calc(100% - 460px);">メッセージ内容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(message, index) in messages.data" :key="index" >
                                        <td style="max-width: 200px; width: 200px;">
                                            {{message.created_at | momentWithTime }}
                                        </td>
                                        <td style="max-width: 100px; width: 100px;">{{message.user.id}}</td>
                                        <td style="max-width: 100px; width: 100px;">
                                            <a :href="`/admin/user/detail/${message.user.provider_unique_id}/profile`" target="_blank">
                                                <img class="user-avatar" :src="getAvatar(message.user)" alt="image"/>  
                                            </a>
                                        </td>
                                        <td style="max-width: 60px; width: 60px;">
                                            <a :href="`/admin/message/detail/${message.chatroom.firebaseKey}/${message.id}`" target="_blank" class="btn btn-success btn-sm" data-toggle="tooltip" title="メッセージ"><i class="fa fa-comments"></i></a>
                                        </td>
                                        <td style="max-width: calc(100% - 460px); width: calc(100% - 460px);" v-html="getLastMessage(message)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from '../../../services/admin_helper'
    import pagination from 'laravel-vue-pagination'
    import ClickConfirm from 'click-confirm'
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import 'vue2-datepicker/locale/ja';

    export default {
        data(){
            return {
                page: 1,
                messages: {
                    data: [],
                    total: 0
                },
                pageLength: 25,
                startDate: undefined,
                endDate: undefined
            }
        },
        components : { pagination, ClickConfirm, DatePicker },
        mounted() {
            this.getMessages();
        },
        methods: {
            getMessages(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                let params = {
                    page: page,
                    limit: this.pageLength,
                    user_id: this.$route.params.userID
                };

                if (this.startDate != undefined && this.startDate != null) {
                    params.start_date = helper.formatDBDate(this.startDate) + " 00:00:00";
                }

                if (this.endDate != undefined && this.endDate != null) {
                    params.end_date = helper.formatDBDate(this.endDate) + " 23:59:59";
                }

                axios.post('/api/admin/chatroom/all/messages', params).then(response => {
                    this.messages = response.data.data;
                }).catch(error => {
                    this.messages = {
                        data: [],
                        total: 0
                    };
                })
            },
            getLastMessage(message) {
                if (message.message.includes('thumbnail_')) return '画像を送信しました';

                return message.message;
            },
            getAvatar(user) {
                if (user.profile.vip_image) return user.profile.vip_image.url;
                return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            },
            selectEndDate() {
                if (this.startDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            },
            selectStartDate() {
                if (this.endDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            },
            resetFilter() {
                this.startDate = undefined
                this.endDate = undefined

                this.getMessages(1);
            },
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style lang="scss" scoped>
.strikethrough{
    text-decoration: line-through;
}

.user-avatars {
    position: relative;
    min-height: 120px;

    img {
        border-radius: 30px;
        border: 2px solid #D5A237;
        position: absolute;
        top: 0;
        left: 0;

        &:last-child {
            top: 30px;
            left: 30px;
        }
    }
}
</style>
