<template>
    <div class="message-item">
        <p class="date mb-16 mt-12" v-if="needShowDate()">{{message.created_at | moment }}</p>
        <div class="my-message mb-16" v-bind:class="{highlight: highlightMessageID == message.id}" v-if="isMine">
            <div class="time">
                <p class="deleted" v-if="message.is_image == 3">削除した画像</p>
                <p>{{message.created_at | time}}</p>
            </div>
            <pre class="message" v-html="formatMessage(message.message)" v-if="message.is_image != 1 && message.is_image != 3"></pre>
            <img class="message image" v-else :src="message.message" @click="openImage" />
            <a :href="`/admin/user/detail/${message.user.provider_unique_id}/profile`" target="_blank">
                <img :src="getAvatar(message.user)" class="user-avatar" />
            </a>
        </div>
        <div class="other-message mb-16" v-bind:class="{highlight: highlightMessageID == message.id}" v-else>
            <a :href="`/admin/user/detail/${message.user.provider_unique_id}/profile`" target="_blank">
                <img :src="getAvatar(message.user)" class="user-avatar" />
            </a>
            <pre class="message" v-html="formatMessage(message.message)" v-if="message.is_image != 1 && message.is_image != 3"></pre>
            <img class="message image" v-else :src="message.message" @click="openImage" />
            <div class="time">
                <p>{{message.created_at | time}}</p>
                <p class="deleted" v-if="message.is_image == 3">削除した画像</p>
            </div>
        </div>
    </div>
</template>

<script>
import helper from '../../../services/helper'

export default {
    props: ['message', 'prevMessage', 'isMine', 'highlightMessageID'],
    mounted() {

    },
    created() {
    },
    methods: {
        needShowDate() {
            if (this.prevMessage == '') return true;

            return (helper.formatShortDate(this.message.created_at) != helper.formatShortDate(this.prevMessage.created_at));
        },
        openImage() {
            this.$emit('openImage', "<img src='" + this.message.message.replace('thumbnail_', '') + "' alt='image'/>")
        },
        getAvatar(user) {
            if (user.profile.vip_image) return user.profile.vip_image.url;
            return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
        },
        validURL(url) {
            let regex = /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/

            return regex.test(url);
        },
        formatMessage(message) {
            return helper.changeText(message)
        }
    },
    filters: {
        moment(date) {
            return helper.formatShortDate(date);
        },
        time(date) {
            return helper.formatTime(date);
        }
    },
    computed: {
    }
}
</script>
<style lang="scss" scoped>

.message-item .other-message .message.image,
.message-item .my-message .message.image {
    max-width: 300px;
}

.message-item .my-message .user-avatar {
    margin-left: 20px;
    border-radius: 30px;
    border: 2px solid #D5A237;
}

.message-item .other-message .user-avatar {
    margin-right: 20px;
    border-radius: 30px;
    border: 2px solid #D5A237;
}

.highlight {
    background-color: #609BD9 !important;
}

.deleted {
    margin: 0px 20px;
    color: #f00 !important;
    font-size: 14px !important;
}
</style>