<template>
    <div>
        <div class="row">
            <div class="col-lg-12" v-if="isLoading == false">
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-12 mb-20">
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">通報したユーザー名</label>
                                    <input type="text" v-model="filterForm.from_nickname" class="form-control" placeholder="ユーザー名" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">通報したユーザー会員ID</label>
                                    <input type="text" v-model="filterForm.from_user_id" class="form-control" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">通報したユーザー性別</label>
                                    <select name="status" class="form-control" v-model="filterForm.from_gender">
                                        <option value="-1">すべて</option>
                                        <option value="1">男性</option>
                                        <option value="2">女性</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-12 mb-20">
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">通報されたユーザー名</label>
                                    <input type="text" v-model="filterForm.to_nickname" class="form-control" placeholder="ユーザー名" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">通報されたユーザー会員ID</label>
                                    <input type="text" v-model="filterForm.to_user_id" class="form-control" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">通報されたユーザー性別</label>
                                    <select name="status" class="form-control" v-model="filterForm.to_gender">
                                        <option value="-1">すべて</option>
                                        <option value="1">男性</option>
                                        <option value="2">女性</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-12  mb-20">
                            <div class="col-md-6">
                                <div class="form-group mb-0 date-picker">
                                    <label for="">通報期間</label>
                                    <div class="pickers">
                                        <DatePicker v-model="startDate" @change="selectStartDate" lang="ja" format="YYYY年MM月DD日" />
                                        <span>～</span>
                                        <DatePicker v-model="endDate" @change="selectEndDate" lang="ja" format="YYYY年MM月DD日" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success waves-effect waves-light" @click="loadReports">検索する</button>
                                <button type="button" class="btn btn-warning waves-effect waves-light" @click="resetFilter">リセットする</button>
                            </div>
                        </div>

                        <h4 class="card-title m-t-40">通報一覧</h4>
                        <h6 class="card-subtitle" v-if="reports.total > 0">{{reports.total}}つ通報があります。</h6>
                        <h6 class="card-subtitle" v-if="reports.total == 0">通報がありません！</h6>

                        <div class="row">
                            <div class="col-md-8">
                                <pagination :data="reports" :limit=10 v-on:pagination-change-page="loadReports"></pagination>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right">
                                    <select name="pageLength" class="form-control" v-model="pageLength" @change="loadReports" v-if="reports.total">
                                        <option value="5">5つ</option>
                                        <option value="10">10つ</option>
                                        <option value="25">25つ</option>
                                        <option value="100">100つ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table" v-if="reports.data.length > 0">
                                <thead>
                                    <tr>
                                        <th style="width: 60px;">ID</th>
                                        <th>通報したユーザー名</th>
                                        <th style="width: 60px;">ID</th>
                                        <th>通報されたユーザー名</th>
                                        <th>通報内容</th>
                                        <th style="width: 140px;">通報日</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(report, index) in reports.data" :key="index">
                                        <td style="width: 60px;">{{report.from.id}}</td>
                                        <td>
                                            <a :href="`/admin/user/detail/${report.from.provider_unique_id}/profile`" class="td-item" target="_blank">
                                                <img class="user-avatar" :src="getAvatar(report.from)" alt="image"/>
                                                <span class="td-nickname">{{report.from.profile.nickname}}</span>
                                            </a>
                                        </td>
                                        <td style="width: 60px;">{{report.to.id}}</td>
                                        <td>
                                            <a :href="`/admin/user/detail/${report.to.provider_unique_id}/profile`" class="td-item" target="_blank">
                                                <img class="user-avatar" :src="getAvatar(report.to)" alt="image"/>
                                                <span class="td-nickname">{{report.to.profile.nickname}}</span>
                                            </a>
                                        </td>
                                        <td style="width: 40%;">{{report.content}}</td>
                                        <td style="width: 140px;text-align:right;">{{report.created_at | momentWithTime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <TheLoading v-if="isLoading" /> -->
    </div>
</template>

<script>
    import helper from '../../../services/admin_helper'
    import TheLoading from "../../modals/TheLoading";
    import pagination from 'laravel-vue-pagination'
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import 'vue2-datepicker/locale/ja';

    export default {
        data(){
            return {
                isLoading: false,
                pageLength: 25,
                reports: [],
                filterForm: {
                    from_nickname: '',
                    to_nickname: '',
                    from_user_id: '',
                    to_user_id: '',
                    from_gender: -1,
                    to_gender: -1
                },
                allFromUsers: [],
                allToUsers: [],
                startDate: undefined,
                endDate: undefined
            }
        },
        components : { TheLoading, pagination, DatePicker },
        created() {
            this.isLoading = true;
            this.loadReports(1);
        },
        mounted() {
            window.scrollTo(0, 0);
        },
        methods: {
            getAvatar(user) {
                if (user.profile.vip_image) return user.profile.vip_image.url;

                return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            },
            resetFilter() {
                this.filterForm = {
                    from_nickname: '',
                    to_nickname: '',
                    from_user_id: '',
                    to_user_id: '',
                    from_gender: -1,
                    to_gender: -1
                }

                this.startDate = undefined
                this.endDate = undefined

                this.loadReports(1);
            },
            loadReports(page) {
                if (typeof page === 'undefined' || typeof page === Object) {
                    page = 1;
                }

                let params = Object.assign({}, this.filterForm);
                params.limit = this.pageLength;
                params.page = page;

                if (this.startDate != undefined && this.startDate != null) {
                    params.start_date = helper.formatDBDate(this.startDate) + " 00:00:00";
                }

                if (this.endDate != undefined && this.endDate != null) {
                    params.end_date = helper.formatDBDate(this.endDate) + " 23:59:59";
                }

                axios.post('/api/admin/reports', params)
                .then(response => {
                    this.reports = response.data.data;
                    this.allFromUsers = response.data.froms;
                    this.allToUsers = response.data.tos;
                    this.isLoading = false;
                }).catch(error => {
                    this.reports = {
                        data: []
                    }
                    this.isLoading = false;
                })
            },
            selectEndDate() {
                if (this.startDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            },
            selectStartDate() {
                if (this.endDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          },
          number(price) {
            return helper.formatMoney(price);
          }
        }
    }
</script>
<style lang="scss" scoped>
.td-item {
    display: flex;
    cursor: pointer;

    .td-nickname {
        margin-left: 20px;
        overflow: hidden;
        flex: 1;
        height: 60px;
        line-height: 60px;
    }
}
</style>
