<template>
    <div>
        <div class="row">
            <div class="col-lg-12" v-if="isLoading == false">
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-12 mb-20">
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">性別</label>
                                    <select name="status" class="form-control" v-model="filterForm.gender">
                                        <option value="-1">すべて</option>
                                        <option value="1">男性</option>
                                        <option value="2">女性</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-0 date-picker">
                                    <label for="">通報期間</label>
                                    <div class="pickers">
                                        <DatePicker v-model="startDate" @change="selectStartDate" lang="ja" format="YYYY年MM月DD日" />
                                        <span>～</span>
                                        <DatePicker v-model="endDate" @change="selectEndDate" lang="ja" format="YYYY年MM月DD日" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success waves-effect waves-light" @click="loadReports">検索する</button>
                                <button type="button" class="btn btn-warning waves-effect waves-light" @click="resetFilter">リセットする</button>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <p>通報したユーザー</p>
                                <div class="table-responsive">
                                    <table class="table" v-if="allFromUsers.length > 0">
                                        <thead>
                                            <tr>
                                                <th style="width: 60px;">順位</th>
                                                <th style="width: 60px;">ID</th>
                                                <th>通報したユーザー名</th>
                                                <th>通算</th>
                                                <th style="width: 100px;">過去90日</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(report, index) in allFromUsers" :key="index">
                                                <td style="width: 60px;">{{index + 1}}</td>
                                                <td style="width: 60px;">{{report.from.id}}</td>
                                                <td>
                                                    <a :href="`/admin/user/detail/${report.from.provider_unique_id}/profile`" target="_blank" class="td-item">
                                                        <img class="user-avatar" :src="getAvatar(report.from)" alt="image"/>
                                                        <span class="td-nickname">{{report.from.profile.nickname}}</span>
                                                    </a>
                                                </td>
                                                <td style="width: 60px;">{{report.report_count}}</td>
                                                <td style="width: 60px;">{{report.report_count_90}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <p>通報されたユーザー</p>
                                <div class="table-responsive">
                                    <table class="table" v-if="allToUsers.length > 0">
                                        <thead>
                                            <tr>
                                                <th style="width: 60px;">順位</th>
                                                <th style="width: 60px;">ID</th>
                                                <th>通報されたユーザー名</th>
                                                <th>通算</th>
                                                <th style="width: 100px;">過去90日</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(report, index) in allToUsers" :key="index">
                                                <td style="width: 60px;">{{index + 1}}</td>
                                                <td style="width: 60px;">{{report.to.id}}</td>
                                                <td>
                                                    <a :href="`/admin/user/detail/${report.to.provider_unique_id}/profile`" target="_blank" class="td-item">
                                                        <img class="user-avatar" :src="getAvatar(report.to)" alt="image"/>
                                                        <span class="td-nickname">{{report.to.profile.nickname}}</span>
                                                    </a>
                                                </td>
                                                <td style="width: 60px;">{{report.report_count}}</td>
                                                <td style="width: 60px;">{{report.report_count_90}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <TheLoading v-if="isLoading" /> -->
    </div>
</template>

<script>
    import helper from '../../../services/admin_helper'
    import TheLoading from "../../modals/TheLoading";
    import pagination from 'laravel-vue-pagination'
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import 'vue2-datepicker/locale/ja';

    export default {
        data(){
            return {
                isLoading: false,
                pageLength: 25,
                filterForm: {
                    gender: 0
                },
                allFromUsers: [],
                allToUsers: [],
                startDate: undefined,
                endDate: undefined
            }
        },
        components : { TheLoading, pagination, DatePicker },
        created() {
            this.isLoading = true;
            this.loadReports();
        },
        mounted() {
            window.scrollTo(0, 0);
        },
        methods: {
            getAvatar(user) {
                if (user.profile.vip_image) return user.profile.vip_image.url;

                return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            },
            resetFilter() {
                this.filterForm = {
                    gender: 0
                }

                this.startDate = undefined
                this.endDate = undefined

                this.loadReports();
            },
            loadReports() {
                let params = Object.assign({}, this.filterForm);

                if (this.startDate != undefined && this.startDate != null) {
                    params.start_date = helper.formatDBDate(this.startDate) + " 00:00:00";
                }

                if (this.endDate != undefined && this.endDate != null) {
                    params.end_date = helper.formatDBDate(this.endDate) + " 23:59:59";
                }

                axios.post('/api/admin/report/ranks', params)
                .then(response => {
                    this.isLoading = false;
                    this.allFromUsers = response.data.froms
                    this.allToUsers = response.data.tos
                }).catch(error => {
                    this.isLoading = false;
                    this.allFromUsers = []
                    this.allToUsers = []
                })
            },
            selectEndDate() {
                if (this.startDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            },
            selectStartDate() {
                if (this.endDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          },
          number(price) {
            return helper.formatMoney(price);
          }
        }
    }
</script>
<style lang="scss" scoped>
.td-item {
    display: flex;
    cursor: pointer;

    .td-nickname {
        margin-left: 20px;
        overflow: hidden;
        flex: 1;
        height: 60px;
        line-height: 60px;
    }
}
</style>
