@charset "utf-8";

@import url("base.css");

/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

body {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

@font-face {
    font-family: 'gothicIOS';
    src: url(../font/yugothib.ttf);
}
.gothicIOS {
    font-family: 'gothicIOS', sans-serif;
}
.josefin {
    font-family: 'Josefin Sans', sans-serif;
}
.gothic {
    font-family: "Yu Gothic", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}
.mincho {
    font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
.inner {
    width: 1020px;
    margin: 0 auto;
}

/*VALIDATE CONTACT*/
.error {
    display: block;
    font-size: 12px;
    color: red;
}

/* HEADER */
#header {
    position: fixed;
    width: 100%;
    padding: 14px 0 12px;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
#header .logo {
    float: left;
    width: 173px;
    margin-left: 10px;
}
#header .btnLogin {
    float: right;
    width: 132px;
    margin-right: 10px;
}
#header .btnLogin a {
    display: block;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(to right, #D5A237, #B5872A);
    padding: 5px 0 3px;
    margin-top: -2px;
    letter-spacing: -2px;
    border-radius: 8px;
}
@media all and (-ms-high-contrast:none)
{
    #header .btnLogin a {
        padding: 7px 0 1px;
    }
    *::-ms-backdrop, #header .btnLogin a {
        padding: 7px 0 1px;
    }
}

/* CONTENT */
#content {
    width: 100%;
}
.genArea{
    text-align: center;
    
}
.genArea .areaTitle{
    font-size: 44px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;

}
.genArea .areaTitle:after{
    content: "";
    position: absolute;
    border-bottom: 4px solid #D5A237;
    width: 80px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.genArea .minTitle{
    font-size: 28px;
    font-weight: normal;

}

/* FOOTER */
#footer{
    width: 100%;
    text-align: center;
    padding: 40px 0 50px; 
    
}
#footer .ftLogo{
    width: 226px;
    display: inline-block;
    margin-bottom: 32px;
}
#footer .ftMenu{

}
#footer .ftMenu li{
    display: inline-block;
    position: relative;
    padding: 0 24px;
}
#footer .ftMenu li a {
    font-size: 16px;
    position: relative; 
    border-bottom: 1px solid transparent;
}
#footer .ftMenu li a:hover{
    border-bottom: 1px solid #000;

}
#footer .ftMenu li:after{
    content: "";
    position: absolute;
    border-right: 1px solid #D5A237;
    width: 1px;
    height: 15px;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);

}
#footer .ftMenu li:last-child:after {
    content: none;
}

.sp {
    display: none;
}

@media (max-width: 1120px){
    .inner{
        width: 100%;
        padding: 0 4%;
    }
}


/* STYLE MOBILE */
@media (max-width: 768px) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .inner {
        width: 100%;
        padding: 0 4%;
    }
    #header {
        padding: 13px 0 12px;
    }
    #header .inner {
        padding: 0 3.2%;
    }
    #header .logo {
        width: 35%;
        margin-left: 0;
        margin-top: 3px;
    }
    #header .btnLogin {
        width: 115px;
        margin-right: 0;
        margin-top: 1px;
    }
    #header .btnLogin a {
        font-size: 14px;
        padding: 4px 0 3px;
        border-radius: 4px;
    }
    .genArea .areaTitle {
        font-size: 28px;
        padding-bottom: 3px;
        margin-bottom: 9px;
    }
    .genArea .areaTitle:after {
        border-bottom: 2px solid #D5A237;
        width: 40px;
    }
    .genArea .minTitle {
        font-size: 20px;
        letter-spacing: 0;
    }
    
   /*#footer*/
    #footer{
        padding: 40px 0 10px;
    }
    #footer .ftLogo {
        width: 190px;

    }

    #footer .ftMenu li {
        font-size: 14px;
        padding: 0;
        margin-bottom: 25px;
        display: block;
    }
    #footer .ftMenu li:after{
        border-right: none;
        border-bottom: 1px solid #D5A237;
        top: auto;
        bottom: -11px;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 1px;

    }
    
}

/*5S STYLE*/
@media (max-width: 320px) {
    #footer .ftMenu li a {
        font-size: 13px;
    }
}