@charset "utf-8";

/***************************************************************************
*
* INDEX STYLE
*
***************************************************************************/

/*btn gen*/

.linkLogin a{
	font-size: 16px;
	color: #fff;
	letter-spacing: -0.5px;
	position: relative;
	padding-right: 21px;
	transition: all 0.25s;
}
.linkLogin a:after{
	content: "";
	position: absolute;
	background: url(../img/common/icon_link.svg) no-repeat;
	width:17px;
	height: 17px;
	top: 49%;
	right: 0;
	transform: translateY(-50%);
	z-index: 9;
	transition: all 0.25s;
}
.linkLogin a:hover:after{
	right: -5px;
}







/*main*/
#main {
	position: relative;
	overflow: hidden;
}
#main .mainPhoto img {
	width: 100%;
	/*min-height: 568px;*/
	object-fit: cover;
	object-position: left center;
}
#main .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main .lMain {
	float: left;
	/*width: 277px;*/
	width: 27%;
	margin-left: 143px;
	margin-top: 4px;
}
#main .rMain {
	float: left;
	/*width: 427.985px;*/
	width: 42%;
	text-align: center;
	color: #fff;
	margin-top: 37px;
}
#main .rMain .title {
	font-size: 32px;
	/*font-size: 2.3vw;*/
	letter-spacing: -2.5px;
}
#main .rMain .logo {
	margin-top: 25px;
}
#main .rMain .btnMain {
	width: 303px;
	margin: 45px auto 0;
}
#main .rMain .btnMain a {
	display: block;
	position: relative;
	font-size: 28px;
	color: #fff;
	font-weight: bold;
	background-image: linear-gradient(to bottom, #10C0B4, #168E81);
	padding: 17px 0;
	border-radius: 8px;
}
#main .rMain .btnMain a:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(72, 50, 50, 0.3);
	border-radius: 6px;
	opacity: 0;
	transition: all 0.25s;
}

#main .rMain .btnMain a:hover:after{
	opacity: 1;
}


@media all and (-ms-high-contrast:none)
{
	#main .rMain .btnMain a {
		padding: 22px 0 12px;
	}
	*::-ms-backdrop, #main .rMain .btnMain a {
		padding: 22px 0 12px;
	}
}

#main .rMain .linkLogin {
	margin-top: 16px;
	text-align: center;
}
#main .rMain .linkLogin a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	letter-spacing: -0.5px;
	font-weight: bold;
}

/*#main*/

/*#content*/
#content {
}
.areaDaddyRelax {
	background: url(../img/index/daddyrelax_bg.png) no-repeat top 42px center;
	background-size: 392px;
	padding-top: 78px;
	padding-bottom: 88px;
}
.areaDaddyRelax .daddyText {
	font-size: 16px;
	margin-top: 38px;
	line-height: 2;
	letter-spacing: -0.5px;
}
.areaDaddyRelax .daddyText span {
	color: #10C0B4;
}
.areaDaddyRelax .daddyText span label {
	font-weight: bold;
}
/*areaDaddyRelax*/

.areaFlow {
	background: rgba(13,11,22,0.05);
	padding: 78px 0 88px;
	margin-bottom: 80px;
}
.areaFlow .flowTag {
	width: 640px;
	margin: 37px auto 0;
	background: #D5A237;
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	padding: 12px 0 8px;
	border-radius: 40px;
	letter-spacing: -1px;
}
.areaFlow .flowList {
	margin-top: 57px;
}
.areaFlow .flowList li {
	display: inline-block;
	/*vertical-align: middle;*/
	vertical-align: top;
	position: relative;
	/*width: 270px;*/
	width: 26.5%;
	background: #fff;
	border-radius: 8px;
	/*margin: 0 30px;*/
	margin: 0 3%;
	padding: 33px 0 29px;
}
.areaFlow .flowList li + li:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 16px solid #D5A237;
	top: 50%;
	/*left: -39px;*/
	left: -15%;
	transform: translateY(-50%);
}
.areaFlow .flowList li .step span {
	display: block;
	font-size: 24px;
	/*font-size: 1.7vw;*/
	font-weight: bold;
}
.areaFlow .flowList li .step .num {
	width: 41px;
	color: #fff;
	background: #10C0B4;
	border-radius: 100%;
	margin: 0 auto;
	line-height: 1.73;
	font-size: 23px;
}
.areaFlow .flowList li .step .name {
	margin-top: 10px;
	color: #10C0B4;
}
.areaFlow .flowList li .photo {
	width: 91px;
	margin: 22px auto 0;
}
.areaFlow .flowList li .text {
	font-size: 16px;
	/*font-size: 0.98vw;*/
	margin-top: 25px;
	line-height: 2;
}
/*areaFlow*/

/*areaFeature*/
.areaFeature{
	margin-bottom: 78px;
}
.areaFeature .minTitle{
	margin-bottom: 78px;
}
.areaFeature .featurelist{
	background-size: 100% 500px;
}

.areaFeature .featurelist .featRow{
	/*width: 920px;*/
	width: 68.5%;
	margin: 0 auto;
}

.areaFeature .featurelist .featRow .featRowText{
	/*width: 356px;*/
	width: 38.5%;
	/*margin-top: 140px;*/
	margin-top: 5vw;
}
.areaFeature .featurelist .featRow .featRowText .featrowTitle{
	/*font-size: 28px;*/
	font-size: 2vw;
	font-weight: normal;
	margin-bottom: 20px;
	
}
.areaFeature .featurelist .featRow .featRowText .mainText{
	/*font-size: 24px;*/
	font-size: 1.8vw;
	color: #D5A237;
	padding-top: 10px;
	border-top: 4px solid #D5A237;
	margin-bottom: 1.6vw;
}

.areaFeature .featurelist .featRow .featRowText .rowText{
	/*font-size: 16px;*/
	font-size: 1.2vw;
	line-height: 2;
}


.areaFeature .featurelist1{
	background: url(../img/index/featRow_bg1.png) no-repeat bottom center;
	background-size: 100% 26vw;
}
.areaFeature .featurelist1 .featRow .featRowPhoto{
	width: 31.5%;
	float: right;
}
.areaFeature .featurelist1 .featRow .featRowText{
	float: left;
	margin-left: 26px;

}


.areaFeature .featurelist2{
	background: url(../img/index/featRow_bg2.png) no-repeat bottom center;
	background-size: 100% 26vw;
}
.areaFeature .featurelist2 .featRow .featRowPhoto{
	float: left;
	width: 31.5%;
}
.areaFeature .featurelist2 .featRow .featRowText{
	float: right;
	margin-right: 26px;

}
.areaFeature .featurelist3{
	background: url(../img/index/featRow_bg3.png) no-repeat bottom center;
	background-size: 100% 26vw;
}
.areaFeature .featurelist .featRow .featRowPhoto img {
	width: 100%;
}


/*areaSafety*/
.areaSafety .minTitle {
	margin-bottom: 85px;
}

.areaSafety .boxSafety .safetyRow{
	width: 100%;
}
.areaSafety .boxSafety .safetyRow .safetyPhoto{
	/*width: 50%;*/
	width: calc(50% - 23px);
}
.areaSafety .boxSafety .safetyRow .safetyContent{
	/*width: 50%;*/
	width: calc(50% - 23px);

}
.areaSafety .boxSafety .safetyRow .safetyContent .rowfety{
	/*font-size: 23px;*/
	font-size: 1.7vw;
	/*width: 352px;*/
	width: 88%;
	text-align: center;
	color: #fff;
	background: #D5A237;
	padding: 15px 0;
	/*margin-bottom: 50px;*/
	margin-bottom: 4vw;
	
}
.areaSafety .boxSafety .safetyRow .safetyContent .wrapContent{
	/*width: 401px;*/
	width: 61.5%;
	/*margin-top: 105px;*/
	margin-top: 5vw;
}

.areaSafety .boxSafety .safetyRow .safetyContent .text{
	/*font-size: 16px;*/
	font-size: 1.15vw;
	text-align: left;
	line-height: 2;
}

.areaSafety .boxSafety .safetyRow .safetyContent .blue{
	color: #10C0B4;
	font-weight: bold;
	
}

.areaSafety .boxSafety .safetyRow1 .safetyContent .wrapContent{
	margin-left: 35px;

}
.areaSafety .boxSafety .safetyRow1 .safetyPhoto{
	float: left;
	padding-right: 45px;

}
.areaSafety .boxSafety .safetyRow1 .safetyPhoto img {
	width: 100%;
}
.areaSafety .boxSafety .safetyRow1 .safetyContent{

	float: right;
}


.areaSafety .boxSafety .safetyRow2 {
	background: #FDFAF5;
}
.areaSafety .boxSafety .safetyRow2 .safetyPhoto{
	float: right;

}
.areaSafety .boxSafety .safetyRow2 .safetyPhoto img {
	width: 100%;
}
.areaSafety .boxSafety .safetyRow2 .safetyContent{

	float: left;
}

.areaSafety .boxSafety .safetyRow2 .safetyContent .wrapContent{
	float: right;
	margin-right: 85px;
}
/*areaSafety*/

/*areaRegister*/
.areaRegister{
	background: url(../img/index/areaRegister_bg.png) no-repeat top center;
	background-size: cover;
	height: 377px;
	text-align: center;
	padding: 72px;
	
}
.areaRegister .Registitle{
	width: 480px;
	display: inline-block;
	margin-bottom: 32px;

}
.areaRegister .btnRegit{
	display: inline-block;
	width: 545px;
	margin-bottom: 25px;
}
.areaRegister .btnRegit a{
	display: block;
	font-size: 27px;
	font-weight: bold;
	color: #fff;
	padding: 26px 9px;
	background-image: linear-gradient(to bottom, #10C0B4, #168E81);
	border-radius: 8px;
}


@media all and (-ms-high-contrast:none)
{
	.areaRegister .btnRegit a {
		padding: 32px 9px 20px;
	}
	*::-ms-backdrop, .areaRegister .btnRegit a {
		padding: 32px 9px 20px;
	}
}
/*areaRegister*/

@media (max-width: 1150px) and (min-width: 769px) {
	.areaFeature .featurelist .featRow .featRowText{
		margin-top: 6%;
	}
	#main .lMain {
		width: 23vw;
		margin-top: 1vw;
	}
	#main .rMain {
	    margin-top: 1.5vw;
	}
}

@media (max-width: 1250px) and (min-width: 769px) {
	#main .lMain{
		margin-left: 18vw;
	}
}

@media (max-width: 955px) and (min-width: 769px) {
	#main .rMain .title {
		font-size: 3.3vw;
	}
	#main .rMain .logo {
		margin-top: 2vw;
	}
	#main .rMain .btnMain {
		width: 80%;
		margin: 4vw auto 0;
	}
	#main .rMain .btnMain a {
		font-size: 3vw;
	}
	#main .rMain .linkLogin {
		margin-top: 0.5vw;
	}
	.areaFlow .flowList li .step span {
		font-size: 2.7vw;
	}
	.areaFlow .flowList li .text {
		font-size: 1.6vw;
	}
}

/*SP STYLE*/
@media (max-width: 768px) {
	#main .mainPhoto img {
		min-height: auto;
		height: auto;
		object-position: left top;
	}
	#main .lMain {
		display: inline-block;
		vertical-align: middle;
		float: none;
		width: 85%;
		margin-left: -42.3%;
	}
	#main .inner {
		width: 100%;
	}
	#main .rMain {
		display: inline-block;
		vertical-align: middle;
		float: none;
		width: 63.9%;
		margin-top: 0;
		margin-left: -8%;
	}
	#main .rMain .title {
		font-size: 20px;
		text-align: center;
	}
	#main .rMain .logo {
		max-width: 300px;
		margin: 10px auto 0;
	}
	#main .rMain .btnMain a {
		font-size: 20px;
		padding: 13px 0;
		position: relative;
	}
	#main .rMain .btnMain {
		width: 100%;
		margin: 30px auto 0;
	}
	#main .rMain .linkLogin a {
		font-size: 14px;
		font-weight: normal;
		letter-spacing: 0;
	}

	/*areaDaddyRelax*/
	.areaDaddyRelax {
		background: url(../img/index/daddyrelax_bg.png) no-repeat top 20px center;
		background-size: 196px;
		padding-top: 32px;
		padding-bottom: 35px;
	}
	.areaDaddyRelax .daddyText {
		font-size: 16px;
		margin-top: 18px;
		letter-spacing: 0;
		text-align: justify;
		line-height: 1.7;
	}
	/*areaDaddyRelax*/

	/*areaFlow*/
	.areaFlow {
		margin-bottom: 30px;
		padding: 32px 0 40px;
	}
	.areaFlow .flowTag {
		width: 100%;
		margin: 22px auto 0;
		font-size: 16px;
		padding: 4px 0;

	}
	.areaFlow .flowList {
		width: 100%;
		margin: 28px auto 0;
	}
	.areaFlow .flowList li {
		width: 100%;
		margin: 0;
		padding: 20px 4% 21px 5%;
		text-align: left;
	}
	.areaFlow .flowList li .wrap {
		display: inline-block;
		vertical-align: middle;
		/*width: 239.5px;*/
		width: 76.3%;
	}
	.areaFlow .flowList li .step {
		text-align: left;
	}
	.areaFlow .flowList li .step span {
		display: inline-block;
		vertical-align: middle;
	}
	.areaFlow .flowList li .step .num {
/*		text-align: center;
line-height: 1.8;*/
width: 43px;
line-height: 1;
padding: 10px 15px 9px;
}
.areaFlow .flowList li .step .name {
	margin-top: 1px;
	margin-left: 2px;
	letter-spacing: -1px;
	font-size: 24px;
}
.areaFlow .flowList li .text {
	margin-top: -1px;
	text-align: left;
	margin-left: 45px;
	line-height: 1.4;
	font-size: 16px;
}
.areaFlow .flowList li .photo.sp {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 78%);
	margin-top: 0;
}
.areaFlow .flowList li + li {
	margin-top: 20px;
}
.areaFlow .flowList li + li:before {
	border-bottom: auto;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-top: 8px solid #D5A237;
	top: -14px;
	left: 50%;
	transform: translateX(-50%);
}
/*areaFlow*/

/*areaFeature*/
.areaFeature{
	margin-bottom: 30px;
}

.areaFeature .featurelist .featRow{
	width: 100%;
}
.areaFeature .minTitle{
	margin-bottom: 27px;
}
.areaFeature .featurelist .featRow .featRowText .featrowTitle{
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 10px;
}
.areaFeature .featurelist .featRow .featRowText .mainText{
	font-size: 14px;
	margin-bottom: 10px;
	padding-top: 5px;
	border-top: 2px solid #D5A237;
	display: inline-block;
	width: 180px;
}
.areaFeature .featurelist1 .featRow .featRowPhoto{
	width: 100%;
}
.areaFeature .featurelist .featRow .featRowText{
	margin-top: 20px;
	width: 100%;
	padding: 0 2% 25px;
}
.areaFeature .featurelist .featRow .featRowText .rowText{
	font-size: 16px;
	line-height: 1.6;
}
.areaFeature .featurelist1 .featRow .featRowText {
	margin-left: 0;
}
.areaFeature .featurelist2 .featRow .featRowText {
	margin-right: 0;
}
.areaFeature .featurelist{

}
.areaFeature .featurelist .featRow .featRowPhoto{
	width: 100%;
}
.areaFeature .featurelist .featRow .featRowPhoto img{
	width: 100%;
}
.areaFeature .featurelist1{
	background: url(../img/index/featRow_bg1_sp.png) no-repeat bottom -2px center;
	background-size: 100% 100%;
}
.areaFeature .featurelist2{
	background: url(../img/index/featRow_bg2_sp.png) no-repeat bottom -3px center;
	background-size: 100% 100%;
}
.areaFeature .featurelist3{
	background: url(../img/index/featRow_bg3_sp.png) no-repeat bottom -2px center;
	background-size: 100% 100%;
}

/*areaSafety*/

.areaSafety .minTitle {
	margin-bottom: 30px;
}
.areaSafety .boxSafety {
	margin-bottom: 35px;
}
.areaSafety .boxSafety .safetyRow{
	margin-bottom: 22px;
}
.areaSafety .boxSafety .safetyRow:last-child{
	margin-bottom: 0;
}

.areaSafety .boxSafety .safetyRow .safetyPhoto{
	width: 82%;
}
.areaSafety .boxSafety .safetyRow2 {
	padding: 23px 0 25px; 
	margin-bottom: 28px;
}

.areaSafety .boxSafety .safetyRow1 .safetyPhoto{
	padding-right: 0;
}

.areaSafety .boxSafety .safetyRow .safetyContent{
	width: 100%;
	padding: 0 4%;
}
.areaSafety .boxSafety .safetyRow .safetyContent .wrapContent{
	width: 100%;
}


.areaSafety .boxSafety .safetyRow1 .safetyContent .wrapContent{
	margin-left: 0;
}
.areaSafety .boxSafety .safetyRow2 .safetyContent .wrapContent{
	margin-right: 0;
}
.areaSafety .boxSafety .safetyRow .safetyContent .wrapContent{
	margin-top: 17px;
}
.areaSafety .boxSafety .safetyRow .safetyContent .rowfety{
	width: 100%;
	font-size: 19px;
	margin-bottom: 10px;
	letter-spacing: 2px;
	padding: 9px 0 7px;
}
.areaSafety .boxSafety .safetyRow .safetyContent .text{
	font-size: 15px;
	line-height: 1.8;

}

/*	areaRegister*/
.areaRegister{
	padding: 55px 2%;
	height: auto;
	background: url(../img/index/areaRegister_bg_sp.png) no-repeat bottom center;
	background-size: 100% 100%;
}
.areaRegister .btnRegit a{
	font-size: 27px;
	padding: 27px 9px;
}
.areaRegister .linkLogin a{
	font-size: 14px;
	letter-spacing: 1px;	
}
.areaRegister .Registitle{
	width: 95%;
	margin-bottom: 23px;
}
.areaRegister .btnRegit{
	width: 94%;
}


}
@media (max-width: 414px) {
	#main .rMain {
		width: 63.7%;
		margin-top: -12px;
	}
	#main .rMain .title {
		letter-spacing: 0;
	}
}
@media (max-width: 375px) {
	#main .rMain {
		margin-top: 0;
	}
	#main .rMain .title {
		letter-spacing: -1.7px;
	}
}
/*5S STYLE*/
@media (max-width: 320px) {
	#main .rMain {
		width: 63%;
	}
	#main .rMain .title {
		font-size: 15px;
		letter-spacing: 0;
	}
	#main .rMain .linkLogin a {
		font-size: 12px;
	}
	.areaFlow .flowTag {
		font-size: 14px;
	}
	.areaFlow .flowList li .step .name {
		font-size: 20px;
		letter-spacing: -2px;
	}
	.areaFlow .flowList li .wrap {
		width: 76.6%;
	}
	.areaFlow .flowList li .photo.sp {
		width: calc(100% - 78%);
	}
	.areaFeature .featurelist1,
	.areaFeature .featurelist2,
	.areaFeature .featurelist3 {
		background-size: 100% 444px;
	}
}