@charset "utf-8";
/* CSS Document */
/* ------------------
    テレコム決済ページ 共通
-------------------*/
body {
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	height: 100%;
	background: #fff;
	font-size: 14px;
	color: #444;
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.telecom_list{
	margin-bottom: 10px;
	overflow: hidden;
	clear: both;
}
.telecom_error{
	
}
#pc_header {
    width: 100%;
    background: #fff;
    padding: 5px 0;
    border-bottom: #ccc solid 1px;
    background: #f6f6f6;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 200;
    overflow: hidden;
    background-color: rgba(240,240,240,0.5);
}
#pc_telecom_header_logo {
    margin: 2px 25px;
}
#pc_telecom_header_logo img {
    width: 100px;
    margin: 6px 0 0px;
    top: 50%;
    left: 50%;
}

#telecom_header {
    width: 100%;
    background: #fff;
}
#telecom_header .fixbar {
    z-index: 1;
    /* border-top: #FF88aa 3px solid; */
    border-bottom: #ccc 1px solid;
    background-color: #ffffff;
    /* position: absolute; */
    position: fixed;
    width: 100%;
    top: 0px;
}
#telecom_header_logo {
    margin: 5px auto 0;
	width: 1050px;
}
#telecom_header_logo img {
    width: 150px;
}
#telecom_header_content {
    width: 640px;
    height: 35px;
    padding: 12px 0;
    margin: 0 auto;
}
#telecom_main {
    width: 640px;
    background: #fff;
    margin: 70px auto 30px;
    text-align: left;
    height: auto !important;
    height: 100%;
    display: block;
    overflow: hidden;
}
.telecom_form {
	width:640px;
	height:auto;
	margin:0px auto 30px;
	padding:20px 30px;
	background-color:#f1f1f1;
	border: #dddddd 1px solid;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.telecom_form_left {
	padding:10px 0 0 170px;
    display: block;
    overflow: hidden;
	clear:both;
}
.telecom_form_left img {
	width:100px;
	margin-right:10px;
	float:left;
}
.telecom_form_sitename {
	font-size: 18px;
	line-height: 170%;
}

.telecom_form_left_card {
	padding:10px 0 0 0;
    display: block;
    overflow: hidden;
}
.telecom_form_left_card_text {
	font-size:11px;
}
.telecom_form_caption {
	width:170px;
	font-size:14px;
	float:left;
	font-weight: bold;
}
.telecom_form_caption_sub {
	font-size:13px;
	color:#777;
	margin:5px 0 0 170px;
}
.telecom_form_title {
    font-size: 16px;
    line-height: 160%;
    font-weight: bold;
}
.telecom_form_text {
	font-size: 15px;
    line-height: 170%;
    /* margin: 5px 0 5px; */
    padding: 5px 0 5px;
}
.telecom_form_text_min {
	font-size:12px;
	color:#666;
	line-height:180%;
	margin:0 0 10px;
}

.telecom_form input[type="text"] {
	width:360px;
	font-size:18px;
	margin:0px 0 0 0;
	padding:10px 12px 7px;
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 4px;
	/*float:left;*/
}
.telecom_form input[type="tel"] {
	width:360px;
	font-size:18px;
	margin:0px 0 0 0;
	padding:10px 12px 7px;
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 4px;
	/*float:left;*/
}
.telecom_form input[type="email"] {
	width:360px;
	font-size:18px;
	margin:0px 0 0 0;
	padding:10px 12px 7px;
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.telecom_form textarea {
	width:360px;
	height:100px;
	font-size:16px;
	padding:7px 10px 4px;
	margin:0px 0 0;
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.telecom_form select {
	font-size:17px;
	padding:8px 8px 4px;
	margin:0px 0 0;
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.telecom_form .cvv {
	width:50px;
	font-size:18px;
	margin:0px 0 5px;
	padding:10px 12px 7px;
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.telecom_form_caption_conf {
	width: 110px;
    font-size: 15px;
    margin: 10px 20px 0 0;
    float: left;
}
.telecom_form_conf {
	width:400px;
	font-size:16px;
	color:#0033FF;
	background-color:#FFF;
	padding:9px 20px 6px;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	float: left;
}
.telecom_form_conf_bank {
	width:440px;
	font-size:15px;
	background-color:#FFF;
	padding:20px 30px 20px;
	margin:20px 0 30px;
	line-height:170%;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.telecom_form input[type="submit"] {
	width:360px;
	background-color: #2cb4ad;
	border:none;
	color:#fff;
	font-size:16px;
	text-align:center;
	margin:10px auto 10px;
	padding:13px 10px 10px;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.telecom_form .list {
	padding: 15px 0 15px 0;
	border-bottom: 1px solid #ddd;
}
.telecom_form_margin {
	padding:20px 0 0;
}
.telecom_alert {
	font-size:17px;
	line-height: 160%;
	color:#06F;
	margin:30px 0 15px;
	overflow : hidden;
	clear: both;
}
.telecom_alert_red {
	font-size:16px;
	line-height: 160%;
	color:#FF6666;
	background-color:#FFF;
	margin:25px 0 15px;
	padding:10px 10px 7px;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	overflow : hidden;
}

.telecom_caption {
	font-size: 18px;;
	margin: 15px auto 15px;
	text-align: center;
}
.telecom_caption_title {
	font-size: 20px;
    /* font-weight: bold; */
    margin-right: 10px;
    float: left;
}

#telecom_content {
    width: 640px;
}

#telecom_side {
    width: 640px;
    height: auto;
	background-color:#fff;
	border: #dddddd 1px solid;
	line-height:160%;
    padding: 20px;
    float: right;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#telecom_side .list {
	margin-bottom:10px;
}
.telecom_side_title {
	font-size:15px;
	padding:0px 0 5px;
}

.telecom_security {
	font-size:14px;
	line-height: 170%;
	padding:30px 0 30px;
	clear:both;
	overflow:hidden;
	text-align:center;
	
}
.telecom_company {
	font-size:11px;
	line-height: 160%;
	padding:30px 0 10px;
	clear:both;
	overflow:hidden;
}
.telecom_company_logo {
}
.telecom_company_logo img{
	width: 200px;
	height: auto;
	margin-bottom: 10px;
}
.telecom_company_text {
	text-align:left;
	float:left;
}

#telecom_footer {
    /*background-color: #FF88aa;
	background: linear-gradient(-140deg, rgba(255, 92, 176, .9), rgba(226, 155, 80, .9)) fixed;*/
	background-color: #000;
    padding: 10px 0 20px;
    bottom: 0;
	clear: both;
}
#telecom_footer_content {
    width: 640px;
    margin: 0 auto;
}
#telecom_footer_content_copyright {
    font-size: 13px;
    line-height: 170%;
    color: #FFF;
	text-align:right;
}







/* -------------------------------------
    ■■テレコム決済アラート■■
	クレジットカード登録
	common_errorcheck.css
--------------------------------------*/
/*----フォーカス時の背景色----*/
.focus {
	background: #FFE4E1;
}

/*----入力エラー時のテキストフォーム----*/
.errorform {
	border: 2px #FF0000 solid;*
	font-size: 14px;
}

/*----入力エラー時のエラーメッセージ----*/
.errormsg {
	font-size: 14px;
    line-height: 160%;
	color: #0033FF;
	margin: 5px 0 0 170px;
	/*
	margin: 5px;
	padding: 5px 5px;*/
}


/* -------------------------------------
    ■■テレコム決済基本設定■■
	クレジットカード登録
	tc_common3.css
--------------------------------------*/
/*----標準----*/

*{
	margin: 0px;
	padding: 0px;
}

body{
	text-align:center;
}

/*----画像----*/
img {
	border: 0px;
}

/*----テキストリンク----*/
a{
	color: #006699;
	text-decoration: none;
}

/*----テキストリンクマウスオーバー時----*/
a:hover{
	color: #CC0000;
	text-decoration: none;
}


/*----ベース----*/
#container{
	width: 760px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	text-align:center;
}

/*---ベース----*/
#container2{
	width: 830px;
	margin: 0px auto;
}

/* メンテナンスインフォ */
#container2 .maintenance_info{
	font-size: 14px;
	color: #333333;
	line-height: 1.4em;
	letter-spacing: 0.1em;
	text-align: left;
	text-indent:-1em;
	margin:0px 50px 0px 50px;
	padding:0px 10px 0px 10px;
}


/* 注意文言タイトル */
#container2 .notes2 {
font-size:16px;
color: #CC0000;
vertical-align:middle;
margin-left: 5px;
}

/* 注意文言など */
#container2 .exp3 {
	font-size:14px;
	line-height: 1.4em;
	padding-left: 1em;
	text-indent: -0.5em;
}

/* 【個人情報の取り扱いについて】文言 */
#container2 .notes3 {
	width: 250px;
	font-size:15px;
	line-height: 1.2em;
	margin-left: 5px;
	padding-left: 1em;
	text-indent: -1em;
}

/* 入力項目の注意文言（文字色：茶色） */
#container2 .exp5 {
	color:#800000;
	font-size:12px;
	line-height:1.5em;
}

/* 入力項目の注意文言（文字色：黒色） */
#container2 .exp6 {
	color:#000000;
	font-size:12px;
	line-height:1.5em;
}

/* 【use_brand】【rate_notice】の文言 */
#container2 .exp7 {
	color:#000000;
	font-size:12px;
	line-height:1em;
	width:75%;
	margin:0px; 0px; 30px; 0px; 
	}

/* テキストボックス入力項目 */
#container2 .textbox{
	border:2px solid #B8B8AC;
	border-radius:5px;
	text-indent: 0.5em;
	color:#000000;  
	width:90%;
	height:30px;
	font-size:120%;
}

/* テキストボックス入力項目（cvv_check用） */
#container2 .textbox2{
	background:#FFFFFF;
	border:2px solid #B8B8AC;
	border-radius:5px;
	text-indent: 0.5em;
	color:#000000;  
	width:27%;
	height:25px;
	font-size:120%;
}

/* 有効期限のプルダウン */
#container2 .select-box {
	border: 2px solid #B8B8AC;
	border-radius: 5px;
	color: #000000;
	font-size: 120%;
	height: 30px;
	line-height: 30px;
	text-indent: 0px;
	vertical-align: middle;
	width: 85px;
}

/* 成功画面の見出し文言 */
#container2 .title1 {
	font-size:30px;
	margin:8px 0px;
	border-left:5px solid #CC0000;
	padding-left:10px;
}

/* 成功画面の見出し下線 */
#container2 .title1_border1b{
	border-bottom:1px solid #ed3434;
	margin-bottom:25px;
}

/* 失敗画面の見出し文言 */
#container2 .title2 {
	font-size:30px;
	margin:8px 0px;
	border-left:5px solid #CC0000;
	padding-left:10px;
}

/* 失敗画面の見出し下線 */
#container2 .title2_border1b{
	border-bottom:1px solid #ed3434;
	margin-bottom:25px;
}

/* バック背景（失敗画面） */
#container2 .background {
	text-align:left;
	color:#EEEDE8;
	background:#EEEDE8;
}

/* 失敗画面文言 */
#container2 .notes6 {
	color:#000000;
}

/* バック背景（成功画面） */
#container2 .background2 {
	text-align:left;
	color:#EEEDE8;
	background:#EEEDE8;
}

/* バック背景（成功・失敗画面） */
#container2 .background3 {
	background:#EEEDE8;
	padding:30px;
	margin:20px 13px;
	text-align:left;
	/*radius*/
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border: 0px solid #EEEDE8;
	/*shadow*/
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
}

/* 成功画面文言 */
#container2 .notes7 {
	color:#000000;
}

/* 成功画面文言（2行目からインデントあり） */
#container2 .notes8 {
	color:#000000;
	text-indent:-0.5em;
	padding-left:0.5em;
}

/* 成功画面文言（redirect_backのみ） */
#container2 .notes5 {
	font-size:13px;
	text-indent:-1em;
	margin:0px 5px 0px 5px;
	padding:40px 20px 0px 20px;
}

/* 成功画面文言囲み（redirect_backのみ） */
#container2 .notes5 a{
	color:#000000;
	background:#ABA8A8;
	padding:10px;
	/*radius*/
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 2px solid #3d3d3d;
}

/*----ヘッダ----*/
/*
#header{
	height: 50px;
	margin-top: 5px;
}
#header2{
	height: 50px;
	margin-top: 5px;
}

#header_lineRed{
	height: 28px;
	background-color: #ff0000;
}

#header_logo{
	width: 276px;
	height: 46px;
	float: left;
	border-right: 1px solid #999999;
}

#header_info {
	width: 476px;
	height: 15px;
	float: right;
	background: url(/inetcredit/secure/template/img/tc/info.gif) no-repeat left top;
	padding: 22px 0px 0px 5px;
	text-align: left;
}



#header_info2 {
	width: 476px;
	height: 15px;
	float: right;
	background: url(/inetcredit/secure/template/img/tc/info2.gif) no-repeat left top;
	padding: 22px 0px 0px 5px;
	text-align: left;
}

#header_info3 {
	width: 476px;
	height: 15px;
	float: center;
	background: url(/inetcredit/secure/template/img/tc/info.gif) no-repeat center top;
	padding: 22px 0px 0px 5px;
	text-align: center;
}

#header_info4 {
	width: 600px;
	height: 46px;
	float: right;
	background: url(/inetcredit/secure/template/img/tc/tc_logo2.gif) no-repeat center top;
	padding: 22px 0px 0px 5px;
	text-align: center;
}

#header_line{
	height: 28px;
	background-image: url(/inetcredit/secure/template/img/tc/global_bg_02.jpg);
	background-repeat: repeat-x;
}

#header h1 {
	font-size: 20px;
	line-height: 1.4em;
	color: #333333;
	text-align: left;
}
*/

/*----PROGRAM_NAME----*/
.PROGRAM_NAME{
	font-size: 18px;
	line-height: 1.6em;
	color: #333333;
	letter-spacing: 0.1em;
	font-weight: bold;
}

/*----クレジット決済安心宣言----*/
#security {
	height: 25px;
	width: 600px;
	margin-top:10px;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 3px;
}

#security_rogo {
	float: left;
	height: 25px;
	width: 155px;
}

#security_text {
	width: 430px;
	float: right;
	font-size: 11px;
	color: #333333;
	text-align: left;
	margin-top: 2px;
}

/*----テキスト左揃え----*/
.text{
	width: 600px;
	font-size: 12px;
	color: #333333;
	line-height: 1.4em;
	letter-spacing: 0.1em;
	text-align: left;
	margin-top: 10px;
}

/*----テキスト中央揃え----*/
.text_center {
	width: 600px;
	font-size: 12px;
	color: #333333;
	line-height: 1.4em;
	letter-spacing: 0.1em;
	text-align: center;
	margin-top: 10px;
}

/*----テキスト強調----*/
.text_red {
	color: #CC0000;
}

/*----テキストコメント----*/
.text_comment{
	font-size: 11px;
	color: #333333;
}

/*----テキストカテゴリー----*/
.id1{
	background-image: url(/inetcredit/secure/template/img/tc/background.gif);
	}

.title{
	font-size: 18px;
	color: #F0F8FF;
	background-color: #4682B4;
	height: 20px;
	margin: 1px;	
	text-align: center;
	width: 600px;
}

.mi_title{
	font-size: 18px;
	color: #F0F8FF;
	background-color: #4682B4;
	height: 40px;
	margin: 1px;	
	text-align: center;
	width: 600px;
}

.safe_background{
	font-size: 13px;
	background-image: url(/inetcredit/secure/template/img/tc/background2.gif);
	height: 60px;
	margin: 5px;
	text-align: left;
	width: 600px;
}

.safe_background2{
	font-size: 13px;
	background-image: url(/inetcredit/secure/template/img/tc/background2.gif);
	height: 140px;
	margin: 5px;
	text-align: left;
	width: 600px;
}


.title_dollar_kessai{
	font-size: 11px;
	background-color: #e2e2e2;
	height: 20px;
	margin: 5px;
	text-align: left;
	width: 610px;
}

.personal-info_background{
	font-size: 13px;
	background-image: url(/inetcredit/secure/template/img/tc/background3.gif);
	height: 190px;
	margin: 5px;
	text-align: left;
	width: 600px;
}

.personal-info_background2{
	font-size: 13px;
	background-image: url(/inetcredit/secure/template/img/tc/background3.gif);
	height: 130px;
	margin: 5px;
	text-align: left;
	width: 600px;
}



.privacy_background{
	font-size: 11px;
	background-color: #e2e2e2;
	height: 80px;
	margin: 5px;
	text-align: left;
	width: 610px;
}

.font
{
	font-family: "Arial";
}

/*----番号登録----*/
#number{
	font-size: 12px;
	color: #333333;
	line-height: 1.4em;
	letter-spacing: 0.1em;
	text-align: center;
	margin-top: 30px;
}

#number img{
	margin: 0px 5px
}

#number input{
	margin-top: 20px;
}

/*----テーブル----*/
#TBL{
	width: 780px;
	background-color: #5396CC;
	margin: 12px 0px;
}

#TBL td{
	font-size: 12px;
	line-height: 1.4em;
	color: #333333;
	text-align: left;
	margin: 0px;
	padding: 6px 10px;
}

#TBL td.topCell {
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.1em;
}

#TBL td.leftCell {
	background-color: #DEF3F3;
	line-height: 1.3em;
	letter-spacing: 0.1em;
}


/*----DIV内テーブル----*/
.TBL2{
	width: 480px;
	background-color: #5396CC;
	margin-bottom: 20px;
	margin-top: 10px;
}

.TBL2 td{
	font-size: 12px;
	line-height: 1.4em;
	color: #333333;
	text-align: left;
	margin: 0px;
	padding: 6px 10px;
}

.TBL2 td.topCell {
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.TBL2 td.leftCell {
	background-color: #DEF3F3;
	line-height: 1.3em;
	letter-spacing: 0.1em;
}


/*----テーブル----*/
#TBL3{
	width:780px;
	background-color: #5396CC;	
}

/*----バック背景（申込画面：左側）----*/
#TBL3 td.leftCell2{
	padding:20px 30px 10px 30px;
	text-align:left;
	vertical-align:top;
	color:#EEEDE8;
	width:500px;
	background:#EEEDE8;
}

#TBL3 .leftCell2 div {
	padding:0px;
	margin:0px 5px 10px 5px;
}

#TBL3 .leftCell2 div div{
	border-bottom:1px solid #BDBBB3;
	vertical-align:middle;
}

/*----バック背景（申込画面：右側）----*/
#TBL3 td.lightCell3 {
	padding:5px 15px 5px 15px;
	text-align:left;
	vertical-align:top;
	color:#000000;
	width:280px;
	background:#ffffff;
}

/* 項目名 */
#TBL3 .item2 {
color:#000000;
	font-size:15px;
	line-height:3em;
	padding:0px; 0px; 0px; 20px;
	vertical-align:middle;
}

/* 項目名（クレジットカードのみ） */
#TBL3 .item3 {
	color:#000000;
	font-size:15px;
	line-height:3em;
	padding:0px; 0px; 0px; 20px;
	vertical-align:middle;
}

/* 項目名（cvv_check/セキュリティコードのみ） */
#TBL3 .item4 {
	color:#000000;
	font-size:14px;
	line-height:1em;
	margin:0px; 0px; 30px; 0px; 
}

/* 項目名（確認用メールアドレスのみ） */
#TBL3 .item5 {
	color:#000000;
	font-size:15px;
	line-height:1em;
	padding:0px; 0px; 0px; 20px;
	vertical-align:middle;
}

/* 表示内容（サイト名のみ） */
#TBL3 .leadonly {
	color:#000000;
	font-size:17px;
	line-height:1em;
	padding:0px; 0px; 0px; 20px;
	vertical-align:middle;
}

/* 表示内容（金額のみ） */
#TBL3 .leadonly2 {
	color:#000000;
	font-size:25px;
	line-height:1em;
	padding:0px; 0px; 0px; 20px;
	vertical-align:middle;
}

/*----題名----*/
#title {
	width: 600px;
	background-color: #5396cc;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 0.1em;
	text-align: center;
	padding: 10px 0px;
	margin-top: 60px;
}

/*----メッセージ（左揃え）----*/
#message {
	width: 498px;
	background-color: #def3f3;
	font-size: 12px;
	line-height: 2em;
	color: #333333;
	letter-spacing: 0.1em;
	text-align: left;
	border: 1px solid #5396CC;
	margin-bottom: 80px;
	padding: 30px 50px;
}

/*----メッセージ（センター揃え）----*/
#message_center {
	width: 498px;
	background-color: #def3f3;
	font-size: 12px;
	line-height: 2em;
	color: #333333;
	letter-spacing: 0.1em;
	text-align: center;
	border: 1px solid #5396CC;
	padding: 30px 50px;
	margin-bottom: 60px;
}

/*----メッセージ（上下センター）----*/
#message_Vcenter {
	width: 498px;
	background-color: #def3f3;
	font-size: 12px;
	line-height: 2em;
	color: #333333;
	letter-spacing: 0.1em;
	text-align: left;
	border: 1px solid #5396CC;
	margin: 60px 0px;
	padding: 30px 50px;
}

/*----ボタン天地調整----*/
#input {
	margin: 20px 0px 50px 0px
}

#input2 {
	margin: 20px 0px 10px;
	text-align: center;
}


/*----ご注意----*/
#caution {
	width: 600px;
	font-size: 16px;
	font-weight: bold;
	color: #CC0000;
	letter-spacing: 0.2em;
	text-align: left;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 3px;
}

/*----ベリサイン----*/
#verisign {
	width: 600px;
	height: 58px;
	margin-top: 20px;
	padding-bottom: 10px;
}
#verisign_logo {
	height: 58px;
	width: 99px;
	float: left;
}
#verisign_text {
	width: 490px;
	height: 50px;
	float: right;
	font-size: 12px;
	color: #333333;
	line-height: 1.4em;
	letter-spacing: 0.1em;
	text-align: left;
	margin-left: 10px;
	padding-top: 8px;
}

/*----個人情報の取り扱い----*/
#wap .notes {
    line-height: 1.3em;
    margin-left: 7px;
    padding-left: 1em;
    text-indent: -1em;
}

/*----セキュリティ規格----*/
#security {
	width: 600px;
	height: 20px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	padding-top: 10px;
}

#security_logo {
	width: 280px;
	height: 170px;
	float: left;
	border-right: 1px solid #CCCCCC;
	padding-right: 6px;
}

/*----社名----*/
#company {
	width: 600px;
	height: 100px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	padding-top: 10px;
}


/*----セキュリティ規格----*/
#security2 {
	height: 50px;
	width: 750px;
	padding-left: 40px;
	padding-right: 30px;
	padding-bottom: 20px;
	margin: 0px;
	vertical-align: bottom;
	text-align: center;
}

/*----セキュリティ規格ロゴ----*/
#security2_logo {
	float: left;
}


/*----署名----*/
#company2 {
	font-size: 13px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	padding-top: 20px;
	text-align: left;
}

/*----署名（テレコムロゴ）----*/
#company_logo2 {
	width: 300px;
	height: 110px;
	float: left;
	padding-left: 70px;
	padding-right: 5px;
}

#company_logo {
	width: 280px;
	height: 66px;
	float: left;
	border-right: 1px solid #CCCCCC;
}

#company p {
	width: 305px;
	height: 66px;
	float: right;
	font-size: 11px;
	line-height: 1.2em;
	color: #333333;
	text-align: left;
	display: block;
}

/*----コピーライト----*/
#copyright{
	width: 760px;
	height:60px;
	text-align: left;
	padding-top: 1px;
}

/* -------------------------------------
    ■■テレコム決済基本設定■■
	楽ちん銀行振込み
	default.css
--------------------------------------*/
/*----標準----*/
BODY {

}

/*----テーブル・案内----*/
.TBL_INFO {
/*	background-color : #FFFFFF;			*/
/*	color : #000000;					*/
/*	border-style : none;				*/
}

/*----テーブル・ユーザー入力部分----*/
.TBL_INPUT {
/*	background-color : #FFFFFF;			*/
/*	color : #000000;					*/
/*	border-style : none;				*/
}

/*----テーブル・注意事項----*/
.TBL_NOTICE {
/*	background-color : #FFFFFF;			*/
/*	color : #000000;					*/
/*	border-style : none;				*/
}

/*----テーブル・警告部分----*/
.TBL_WARNING {
/*	background-color : #FFFFFF;			*/
/*	color : #000000;					*/
/*	border-style : none;				*/
}

/*----テーブル・ベリサイン----*/
.TBL_VERISIGN {
/*	background-color : #FFFFFF;			*/
/*	color : #000000;					*/
/*	border-style : none;				*/
}

/*----罫線付きテーブル----*/
.KEISEN {
	border-style : solid;
	border-color : #555555;
	border-width : 1px;
}

/*----セル定義・行タイトル----*/
.ROWTITLE {
	background-color : #0000FF;
	color : #FFFFFF;
}

/*----セル定義・お問い合わせ----*/
.FAQ {
	background-color : #CCCCCC;
	color : #000000;
}

/*----フォント・番組名----*/
.PROGRAM_NAME {
	font-size : 18pt;
	font-weight : 700;
	line-height : 20pt;
}

/*----フォント色・警告----*/
.WARNING {
	color : FF0066;
}

/*----フォント色・強調----*/
.NOTICE {
	color : 0000FF;
}

/***************************************************
				INPUTエリアの設定
***************************************************/
/*----入力ボックス----*/
INPUT {
/*	background-color : #FFFFFF;		*/
/*	border-color : #000000;			*/
/*	border-width : 1px;				*/
/*	border-style : inherit;			*/
}

/*----プルダウン----*/
SELECT {
/*	background-color : #FFFFFF;		*/
/*	border-color : #000000;			*/
/*	border-width : 1px;				*/
/*	border-style : inherit;			*/
}

/*----テキストエリア----*/
TEXTAREA {
/*	text-align : left;				*/
/*	background-color : #FFFFFF;		*/
/*	border-color : #000000;			*/
/*	border-width : 1px;				*/
/*	border-style : inherit;			*/
}

/*----ボタン----*/
.CLICK {
/*	height : 25px;					*/
/*	border-width : 1px;				*/
/*	border-style : inherit;			*/
}

/***************************************************
					アンカー設定
***************************************************/
/*----アンカーの下線----*/
A {
	text-decoration : none;
}

/*----リンクの色(未訪問)----*/
A:link {
	color : #000066;
}

/*----リンクの色(訪問済)----*/
A:visited {
	color : #000066;
}

/*----リンクの色(クリック時)----*/
A:active {
	color : #006600;
}

/*----リンクの色(マウス通過時)----*/
A:hover {
	color : #993399;
	text-decoration : underline;
}
/*....EOF....*/


/* -------------------------------------
    ■■テレコム決済基本設定■■
	楽ちん振込み
	mall_red.css
--------------------------------------*/body {
   font-size : 10pt;
	font-family : "‚l‚r ‚oSVbN", sans-serif;
	line-height : 14pt;
	background-color : #FFFFFF;
	color : #000000;
	text-decoration : none;
	margin-left: 0px; 
    margin-right: 0px; 
    margin-bottom: 70px;
   }
   
img { border : none; }
   
P { margin: 25px; }
   
hr { 
   width: 100%; 
   color: #999999; 
   border: 0px; 
   height: 1px; 
   background-color: #999999;
   margin-bottom: 10px;
   margin-top: 10px;
   }
   
hr.warning { 
   width: 100%; 
   color: #FF0066; 
   border: 0px; 
   height: 1px; 
   background-color: #FF0066;
   margin-bottom: 5px;
   margin-top: 0px;
   }

#botan { width: 170px; } 

font.notice { color: #CC0000; }

font.warning { color : #FF0066;}

/*e[u‹Žw’čŠeŽí*/
table.main { 
   border: 1px solid #CCCCCC;
   border-collapse: collapse;
   width: 610px;
   }
table.tbl_notice { 
   border: 0px solid #ffffff;
   border-collapse: collapse;
   width: 610px;
   }
td.menu {
   border: 1px solid #CCCCCC;
   background-color: #FFEFEF;
   vertical-align: text-top;
   padding: 5px;
   }
td.sub {
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   vertical-align: middle;
   padding: 5px;
   padding-left: 15px;
   }
table.top { 
   border: 0px solid #FFFFFF;
   background: url(/inetcredit/secure/template/img/mall_red/top.gif);
   width: 610px;
   height:87px;
   }
table.top-m { 
   border: 0px solid #FFFFFF;
   background: url(/inetcredit/secure/template/img/mall_red/top-m.gif);
   width: 610px;
   height:87px;
   }
table.top_a { 
   border: 0px solid #FFFFFF;
   border-bottom: 1px solid #CCCCCC;
   background: url(/inetcredit/secure/template/img/mall_red/table_top_a.gif);
   width: 610px;
   height: 28px;
   }
table.top_k { 
   border: 0px solid #FFFFFF;
   border-bottom: 1px solid #CCCCCC;
   background: url(/inetcredit/secure/template/img/mall_red/table_top_k.gif);
   width: 610px;
   height: 28px;
   }        
table.top_o { 
   border: 0px solid #FFFFFF;
   border-bottom: 1px solid #CCCCCC;
   background: url(/inetcredit/secure/template/img/mall_red/table_top_o.gif);
   width: 610px;
   height: 28px;
   }
table.top_m { 
   border: 0px solid #FFFFFF;
   border-bottom: 1px solid #CCCCCC;
   background: url(/inetcredit/secure/template/img/mall_red/table_top_m.gif);
   width: 610px;
   height: 28px;
   }
         
table.add {
   border: 0px solid;
   width: 600px;
   background:url(/inetcredit/secure/template/img/mall_red/table_bg.gif);
   }
td.add {
   border: 0px solid;
   padding-bottom: 5px;
   padding-top: 5px;
   padding-left: 15px;
   }





/*----¦common.css‚©‚ç‚ĚÚA•”•Ş¦----*/

/*----DIVFftH‹g----*/
/*
DIV {
	text-align : center;margin-right:auto; margin-left:auto;
}
*/

/*----e[u‹FftH‹g----*/
TABLE {
	font-size : 10pt;
	line-height : 14pt;
	background-color : #FFFFFF;
	color : #000000;
	border-style : none;
	margin : 0 auto;
}

/*----ŤsFftH‹g----*/
TR {
	vertical-align : middle;
	text-align : center;
	border-style : none;
	padding : 5px;
}

/*----Z‹FftH‹g----*/
TD {
	vertical-align : top;
	text-align : left;
	border-style : none;
	padding : 5px;
}


/*----eLXg‘ĺ----*/
h2 {
	font-size : 16pt;
	font-weight : bold;
	line-height : 20pt;
}

/*----tH“gTCYEŹ¬----*/
.SN {
	font-size : 8pt;
	line-height : 12pt;
}

/*----{^“----*/
.CLICK {
	height : 30px;
	font-weight : bold;
	background-color : #CCCCCC;
	border-style : inherit;
	border-width : 1px;
}



/*----¦’Ç‰Á•”•Ş¦----*/



/*----¦u–ß‚év{^“‚đ•\Ž¦‚·‚é¦----*/

.back {
	width : 215px ; height : 22px ;			/*u–ß‚év{^“‚Ě‰ć‘śTCY‚đ“ü—Í */
}

a.button span {
	background-repeat : no-repeat ;
	cursor : hand ; display : block ;
	background-image: url("/inetcredit/secure/template/img/mall_red/back.gif");	/* u–ß‚év{^“‚Ě‰ć‘śURL‚đŽw’č */
	width : 215px ; height : 22px ;			/* u–ß‚év{^“‚Ě‰ć‘śTCY‚đ“ü—Í */

}


