@charset "utf-8";
/* CSS Document */
/* ------------------
    テレコム決済ページ 共通
-------------------*/
/*-------------------------------------------
　　スマートフォン
-------------------------------------------*/
#sp_header {
    width: 100%;
    background: #fff;
    padding: 5px 0;
    border-bottom: #ccc solid 1px;
    background: #f6f6f6;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 200;
    overflow: hidden;
    background-color: rgba(240,240,240,0.5);
}
.sp_telecom_list {
	margin-bottom: 15px;
	overflow: hidden;
	clear: both;
}
#sp_telecom_header_logo {
	margin:2px 25px;
}
#sp_telecom_header_logo img {
	width:160px;
	margin: 6px 0 0px;
	top: 50%;
    left: 50%;
}
.sp_telecom_title {
    font-size: 18px;
    margin: 15px auto 15px;
    text-align: center;
    /* overflow: hidden; */
}
#sp_telecom_main {
	width: 95%;
    background: #fff;
    margin: 60px auto 10px;
    text-align: left;
    height: auto !important;
    display: block;
    overflow: hidden;
}
.sp_telecom_form {
	/*width:300px;*/
	height:auto;
	padding:20px 15px;
	margin: 10px auto 20px;
	background-color:#f7f7f7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	overflow : hidden;
}
.sp_telecom_form_left {
	padding:10px 10px 10px 0px;
    display: block;
    overflow: hidden;
	clear:both;
}
.sp_telecom_form_left img {
	width:100px;
	margin-right:10px;
	float:left;
}
.sp_telecom_form_left_card {
	padding:0 0 0 0;
    display: block;
    overflow: hidden;
}
.sp_telecom_form_left_card_text {
	font-size:11px;
}
.sp_telecom_form_caption_left {
	font-size:15px;
	/*font-weight:bold;*/
	line-height:170%;
	float:left;
}
.sp_telecom_form_caption {
	font-size:15px;
	font-weight:bold;
	line-height:170%;
	margin-bottom: 5px;
}
.sp_telecom_form_caption_sub {
	font-size:13px;
	color:#999;
	margin:0 0 5px;
}
.sp_telecom_form_title {
	font-size:16px;
	line-height:160%;
	font-weight: bold;
}
.sp_telecom_form_text {
	font-size:15px;
	line-height:170%;
	/*margin:5px 0 5px;*/
	padding:5px 0 5px;
}
.sp_telecom_form_text_min {
	font-size:13px;
	color:#777;
	line-height:170%;
	/*margin:0 0 15px;*/
	padding:0px 0 5px;
}

.sp_telecom_form input[type="text"] {
	/*width:260px;*/
	width:100%;
	font-size:18px;
	margin:0px 0 0;
	padding:8px 10px 7px;
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 3px;    box-sizing: border-box;

}
.sp_telecom_form input[type="tel"] {
	/*width:260px;*/
	width:100%;
	font-size:18px;
	margin:0px 0 0;
	padding:8px 10px 7px;
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-sizing: border-box;
}
.sp_telecom_form input[type="email"] {
	/*width:260px;*/
	width:100%;
	font-size:18px;
	margin:0px 0 0;
	padding:8px 10px 7px;
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-sizing: border-box;
}
.sp_telecom_form select {
	font-size:17px;
	padding:5px 8px 4px;
	margin:0px 0 0;
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.sp_telecom_form_caption_conf {
    font-size: 16px;
    margin: 10px 20px 15px 10px;
	float:left;
}
.sp_telecom_form_conf {
	width:105px;
	font-size:17px;
	background-color:#FFF;
	padding:12px 20px 10px;
	color: #06F;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	float: left;
}
.sp_telecom_form_conf_bank {
	/*width:270px;*/
	font-size:16px;
	background-color:#FFF;
	padding:20px 15px 20px;
	margin:20px 0;
	line-height:170%;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.sp_telecom_form input[type="submit"] {
	width:260px;
	background-color: #2cb4ad;
	border:none;
	color:#fff;
	font-size:15px;
	text-align:center;
	margin:10px auto 10px;
	padding:10px 10px 7px;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.sp_telecom_form .list {
	margin-bottom:15px;
	overflow: hidden;
}
.sp_telecom_form_margin {
	padding:10px 0 0;
	clear: both;
}
.sp_telecom_alert {
	font-size:17px;
	line-height: 160%;
	color:#06F;
	margin:30px 0 15px;
	overflow : hidden;
	clear: both;
}
.sp_telecom_alert_red {
	font-size:16px;
	line-height: 160%;
	color:#FF6666;
	background-color:#FFF;
	margin:25px 0 15px;
	padding:10px 10px 7px;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	overflow : hidden;
}

.sp_telecom_caption {
    width: 574px;
    height: 40px;
    padding: 5px 0 0px 20px;
    margin: 0 0px 30px 0px;
    border-bottom: #ddd solid 1px;
    border-left: #ddd solid 6px;
    overflow: hidden;
}
#sp_telecom_content {
	margin-bottom:10px;
	overflow:hidden;
}
.sp_telecom_caption_title {
    font-size: 18px;
    margin: 20px auto 20px;
    text-align: center;
    /* overflow: hidden; */
}
#sp_telecom_side {
    /*width: 298px;*/
    height: auto;
	background-color:#fff;
	border: #ccc 1px solid;
	line-height:160%;
	padding: 15px;
	margin-bottom: 30px;
}
#sp_telecom_side .list {
	margin-bottom:10px;
}
.sp_telecom_side_title {
	font-size:14px;
	padding:10px 0 5px;
}

.sp_telecom_security {
	font-size:14px;
	line-height: 170%;
	padding:20px 0 20px;
	clear:both;
	overflow:hidden;
	
}
.sp_telecom_company {
	font-size:12px;
	line-height: 160%;
	padding:0 0 20px;
	margin: 0 auto;
	clear:both;
	overflow:hidden;
}
.sp_telecom_company_logo {
	margin:0 0 10px 0;
}
.sp_telecom_company_logo img {
	width:180px;
	height: auto;
}
.sp_telecom_company_text {
	text-align:left;
}
#sp_telecom_footer {
    font-size: 14px;
    color: #FFF;
    background-color: #000;
    padding: 10px 0 20px;
    bottom: 0;
	clear: both;
}
#sp_telecom_footer_content {
    /*width: 340px;*/
    margin: 0 auto;
}
#sp_telecom_footer_content_copyright {
    font-size: 13px;
    clear: both;
    display: block;
}



/* -------------------------------------
    ■■テレコム決済アラート■■
	スマホクレジットカード登録
	common_errorcheck.css
--------------------------------------*/

/*----フォーカス時の背景色----*/
.focus {
background: #FFE4E1;
}

/*----入力エラー時のテキストフォーム----*/
.errorform {
border: 2px
#FF0000 solid;
}

/*----入力エラー時のエラーメッセージ----*/
.errormsg {
/*margin: 5px;
padding: 5px 5px;
background: #FFE4E1;
border: 1px
#FF0000 solid;
font-weight: bold;
font-size: 14px;
color: #000000;
border-radius: 5px;
*/

	font-size:15px;
	color:#FF3399;
	padding:10px 15px;
	line-height:160%;
	margin:15px auto;
	background-color:#FFE8E8;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	overflow:hidden;
}

/* -------------------------------------
    ■■テレコム決済基本設定■■
	スマホクレジットカード登録
	tc_common3_s.css
--------------------------------------*/

body {
	width:100%;
	margin:0px;
	padding:0px;
	text-align:center;
	font-size:12px;
	line-height:1.3em;
}

div, p, span, h1,h2,h3,h4,h5,ul,li,a,img, table, tl, td{
	margin:0px;
	padding:0px;
	border:0px;
}

a:link {
	color:#006699;
}

a:hover {
	color:#cc0000;
}

br.clear {
	clear:both;
}

#wap{
/* 最後に100％に変更 */
	width:100%;
	text-align:left;
	margin:0px auto;
}

#wap h1 {
	font-size:14px;
	color:#cc0000;
	margin:8px 0px;
	text-shadow:#ccc 1px 1px 1px;
}

/* 成功画面の見出し文言 */
#wap .title1 {
	font-size:20px;
	margin:15px 0px 5px 0px;
	border-left:5px solid #CC0000;
	padding-left:10px;
	text-shadow:#ccc 1px 1px 1px;
}

/* 成功画面の見出し下線 */
#wap .title1_border1b{
	border-bottom:1px solid #ed3434;
	margin-bottom:25px;
}

/* 失敗画面の見出し文言 */
#wap .title2 {
	font-size:20px;
	margin:15px 0px 5px 0px;
	border-left:5px solid #CC0000;
	padding-left:10px;
	text-shadow:#ccc 1px 1px 1px;
}

/* 失敗画面の見出し下線 */
#wap .title2_border1b{
	border-bottom:1px solid #ed3434;
	margin-bottom:25px;
}

#wap .first {
	padding:10px 5px 0px 5px;
	color:#333;
}

#wap .first span{
	color:#a51e1e;
	font-weight:bold;
}

#wap .first p{
	padding-bottom:10px;
}

/* バック背景（申込画面） */
#wap .orderForm{
	padding:5px 0px 10px 0px;
	color:#EEEDE8;
	background:#EEEDE8;
}

/* バック背景（完了画面） */
#wap .orderForm2{
	background:#EEEDE8;
	padding:5px;
	margin:20px;
	text-align:left;
	/*radius*/
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border: 0px solid #EEEDE8;
	/*shadow*/
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
}

#wap .orderForm h2 {
	background:#5396cc;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	padding:3px 5px;
	text-shadow:#333 1px 1px 1px;
	margin:0px 5px;
}

#wap .orderForm div {
	padding:0px;
	margin:0px 5px 10px 5px;
}

#wap .orderForm div div{
	border-bottom:1px solid #CAC9C5;
	vertical-align:middle;
}

#wap .orderForm div span{
	color:#cc0000;
	font-weight:bold;
}

#wap .orderForm div p{
	padding:10px 5px;
}

#wap .orderForm div p span{
	color:#FF0000;
	font-weight:normal;
}

#wap .orderForm div p img{
	margin-right:5px;
}

#wap .orderForm div h3{
	color:#111;
	padding-bottom:3px;
	text-shadow:#ccc 1px 1px 1px;
	font-size:12px;
	letter-spacing:0.3em;
}

#wap .orderAtt {
	padding:0px 5px;
color:#666;
}

#wap .orderAtt h3{
	padding-bottom:3px;
	margin:5px 0px;
	border-bottom:1px dotted #ccc;
	font-size:14px;
	color:#cc0000;
}

#wap .order{
	text-align:center;
	margin:10px 0px;
}

#wap .order p{
	text-align:left;
	margin:10px 5px 0px 5px;
	font-weight:bold;
	color:#cc0000;
}

#wap .sslImage{
	float:left;
}

#wap .sslTxt{
	font-size:10px;
	color:#666666;
	line-height:1.2em;
	padding-top:5px;
	margin-left:10px;
}


#wap .footer {
	color:#333;
	margin-top:20px;
	padding:0px 5px;
border-top:2px solid #ff0000;
}

#wap .footer img{
	margin:5px 0px;
}

#wap .footer div.inq{
	margin-top:10px;
}

#wap .footer div.inq h3{
	margin-bottom:5px;
	font-size:12px;
	color:#990000;
}

#wap .footer div.inq p{
	padding-bottom:3px;
	margin-bottom:5px;
	border-bottom:1px dotted #ccc;
}

#wap .exp {
	color:#808080;
	font-size:10px;
	margin-left:5px;
	padding-left:0.5em;
	margin-bottom:1px;
	margin-top:2px
}

#wap .exp2 {
	color:#00bfff;
	font-size:14px;
}

#wap .exp3 {
	color:#4d4d4d;
	font-size:13px;
	margin-left:13px;
	line-height: 1.8em;
	text-indent:-0.8em;
	padding-left:0.8em;
}

#wap .exp4 {
	color:#4d4d4d;
	font-size:13px;
	margin-left:60px;
	line-height: 1.8em;
	text-indent:-0.8em;
	padding-left:0.8em;
}

/* 入力項目の注意文言（文字色：茶色） */
#wap .exp5 {
	color:#800000;
	font-size:11px;
	line-height:1.5em;
	text-align:center;
}

/* 入力項目の注意文言（文字色：黒色） */
#wap .exp6 {
	color:#000000;
	font-size:11px;
	line-height:1.5em;
	text-align:center;
}

/* 【use_brand】【rate_notice】の文言 */
#wap .exp7 {
	color:#000000;
	line-height:1em;
	padding-left:20px;
	padding-right:20px;
	vertical-align:middle;
	text-align:center;
}

#wap .item {
	color:#696969;
	font-size:15px;
	margin-left:2px;
	margin-top:2px;
	font-weight:bold;
}

/* 項目名 */
#wap .item2 {
	color:#000000;
	font-size:15px;
	line-height:1em;
	padding:20px; 5px; 20px; 5px;
	vertical-align:middle;
	text-align:center;
}

/* 項目名（クレジットカードのみ） */
#wap .item3 {
	color:#000000;
	font-size:15px;
	line-height:1em;
	padding:20px; 5px; 30px; 5px;
	vertical-align:middle;
	text-align:center;
}

/* 項目名（cvv_check/セキュリティコードのみ） */
#wap .item4 {
	color:#000000;
	line-height:1em;
	margin:0px; 0px; 30px; 0px; 
	text-align:center;
}

/* 表示内容（サイト名のみ） */
#wap .leadonly {
	color:#000000;
	font-size:16px;
	line-height:1em;
	padding:0px; 0px; 0px; 20px;
	vertical-align:middle;
	text-align:center;
}

/* 表示内容（金額のみ） */
#wap .leadonly2 {
	color:#000000;
	font-size:20px;
	line-height:1em;
	padding:0px; 0px; 0px; 20px;
	vertical-align:middle;
	text-align:center;
}

#wap .notes {
	font-size:12px;
	margin-left:1.1px;
	line-height: 1.4em;
	text-indent:-1em;
	padding-left:1em;
}

#wap .notes2 {
	color:#4d4d4d;
	font-size:12px;
	margin-left:10px;
	line-height:1.4em;
	text-indent:-1em;
	padding-left:1em
}

/* メンテナンスインフォ */
#wap .maintenance_info {
	font-size:12px;
	margin:0px 10px 0px 10px;
	padding:0px 15px 0px 15px;
}

/* 個人情報（タイトル） */
#wap .notes4 {
	color:#000000; 
	font-size:15px;
	margin-left:10px;
	text-indent:-1em;
	padding-left:1em;
	text-align:center;
}

/* 注意文言など */
#wap .notes5 {
	font-size:12px;
	text-indent:-1em;
	margin:0px 10px 0px 10px;
padding:0px 15px 0px 15px;
}

/* 完了画面文言 */
#wap .notes6 {
	color:#000000;
}

/* 完了画面文言（2行目からインデントあり） */
#wap .notes7 {
	color:#000000;
	text-indent:-0.5em;
	padding-left:0.5em;
}


/* 成功画面文言（redirect_backのみ） */
#wap .notes8 {
	font-size:13px;
	text-indent:-1em;
	margin:0px 5px 0px 5px;
	padding:20px 20px 0px 20px;
}

/* 成功画面文言囲み（redirect_backのみ） */
#wap .notes8 a{
	color:#000000;
	background:#ABA8A8;
	padding:10px;
	/*radius*/
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #3d3d3d;
}

/* テキストボックス入力項目 */
#wap .textbox{
	border:2px solid #B8B8AC;
	border-radius:5px;
	text-indent: 0.5em;
	color:#000000;  
	width:80%;
	height:30px;
	font-size:150%;
}

/* テキストボックス入力項目（cvv2用） */
#wap .textbox2{
	background:#FFFFFF;
	border:2px solid #B8B8AC;
	border-radius:5px;
	text-indent: 0.5em;
	color:#000000;  
	width:27%;
	height:20px;
	font-size:150%;
}

/* 有効期限のプルダウン */
#wap .select-box {
	border: 2px solid #B8B8AC;
	border-radius: 5px;
	color: #000000;
	font-size: 90%;
	height: 30px;
	line-height: 30px;
	text-align: center; 
	text-indent: 0px;
	vertical-align: middle;
	width: 80px;
}

/* テレコム署名 */
#wap .company-telecom {
	color:#000000; 
	font-size:10px;
	text-align:center;
	margin:10px 0px;
}
