<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader :label="label" borderClass="" :avatar="avatar" backPageName="history.back" icon="back" :profileLink="profileLink" 
            :booking="booking" :isCancelRecruitment="isCancelRecruitment" />
        <div class="datePickerDiv row">
            <div class=" mx-datepicker-range"></div>
            <Datepicker 
                ref="datepicker"
                v-model="recruitmentDateTime" 
                valueType="format"
                type="datetime"
                input-class="form-control" 
                placeholder="日時" 
                class="pull-right"
                lang="ja" 
                range
                :show-time-panel="showTimeRangePanel"
                @close="handleRangeClose"
                :minute-step="5"
                format="YYYY年MM月DD日 HH:mm" >
                <template v-slot:footer>
                    <button class="mx-btn mx-btn-text" @click="toggleTimeRangePanel">
                        {{ showTimeRangePanel ? '日付選択' : '時間選択' }}
                    </button>
                </template>
           </Datepicker>    
        </div>   
        <div class="message-pc-container" @click="tapMessagesBox" v-touch:tap="tapMessagesBox">
            <div class="content-box" id="messages">
                <div class="static-header2 row" v-if="isReadyRecruitment">
                    <div class="col-md-2">
                        <button  @click="showModalConfirmRecruitment" type="button" class="btn btn-secondary" 
                            v-if="showButtonBeginEndMetting" >
                         {{ this.me.profile.gender == this.female ? '集合' : '解散' }}<br />
                         {{ this.me.profile.gender == this.female ? '開始' : '終了' }}
                        </button>
                    </div>
                    <div class="col-md-10">
                        <pre v-html="this.messageRecruitment.message"></pre>
                    </div>
                </div>

                <MessageItem
                    v-for="(message, index) in messages"
                    :key="index"
                    :message="message"
                    :prevMessage="index == 0 ? '' : messages[index - 1]"
                    :isMine="me.id == message.user_id"
                    @openImage="openImage"
                    :isButtonConfirmRecruitment="showButtonConfirmRecruitment(message)"
                    @showModalConfirmRecruitment="showModalConfirmRecruitment"
                    />
            </div>
        </div>
        <div class="prototype-box" id="prototypeBox" v-if="checkPrototypeBox > 0" :style="`bottom: ${checkPrototypeBox}px`">
            <div class="move-btns" v-if="isPC">
                <img src="/assets/left.png" class="left" @click="move('left')" v-if="prototypeIndex > 0" alt="image"/>
                <img src="/assets/right.png" class="right" @click="move('right')" v-if="prototypeIndex < Math.floor(getPrototypes.length / 4)" alt="image" />
            </div>
            <div class="prototype-content">
                <!-- <p class="empty" v-if="getPrototypes.length === 0">定型文がありません。</p> -->
                <div class="prototype-info" v-if="getPrototypes.length === 0" @click="tapMessagesBox" v-touch:tap="tapMessagesBox">
                    事前に登録済みの文章を呼び出して<br/>
                    自動挿入が便利です！
                </div>
                <router-link :to="{ name: 'prototype_create' }" class="btn-main small wd-auto mw-20" v-if="getPrototypes.length === 0" @click="e => e.stopPropagation()" v-touch:tap="e => e.stopPropagation()">定型メッセージ作成</router-link>
                <carousel :per-page="getPrototypes.length > 3.5 ? 3.5 : getPrototypes.length" :scroll-per-page="true" :autoplay="false" @click="e => stopAction(e)" v-touch:tap="e => stopAction(e)" v-if="getPrototypes.length > 0" :navigateTo="prototypeNavigateTo" @page-change="pageChanged">
                    <slide v-for="(item, index) in getPrototypes" :key="index" class="item" v-bind:class="{active: index === selectedPrototypeIndex}">
                        <!--<span class="number">{{ index + 1 }}</span>-->
                        <span class="msg" @click="e => updatePrototypeMessage(item, index, e)" v-touch:tap="e => updatePrototypeMessage(item, index, e)">
                            <span class="number">{{ index + 1 }}</span>
                            {{ item.message }}
                        </span>
                    </slide>
                </carousel>

                <router-link :to="{ name: 'prototype'}" class="pencil" v-if="getPrototypes.length >= 1" @click="e => e.stopPropagation()" v-touch:tap="e => e.stopPropagation()"><img src="/assets/pencil.svg" /><span class="txt">定型メッセージ編集</span></router-link>
                <p class="temp" id="temp"></p>
            </div>
        </div>
        <div class="message-send" v-if="isBlockChat == false">
            <img src="/assets/camera.png" class="camera" @click="sendPhoto" alt="camera" />
            <img :src="getPrototypeBtnImage" class="camera" @click="showPrototype" alt="prototype" />
            <textarea v-model="currentMessage" id="messageBox" @click="checkRegisterCreditCard" @keydown="onTextareaResize" ref="messageBox" rows="1" placeholder="メッセージを入力"></textarea>
            <img src="/assets/send.svg" @click="send" alt="image" />
        </div>
        <div class="message-send-mask" v-if="isFreeMember" @click="showPlanUp">
        </div>
        <input type="file" ref="mainPhoto" class="hidden" @change="previewPhoto" />
        <TheImageViewDialog 
            v-if="currentPhoto != undefined"
            :image="currentPhoto"
            :photos="messagePhotos"
            :isContain="true"
            @cancel="currentPhoto = undefined"
            @remove="removePhoto" />
        <TheConfirm
            title="メッセージ画像"
            message="この画像を削除しますか"
            confirmTitle="削除する"
            v-if="removeImage != ''"
            @confirm="confirmRemove"
            @cancel="removeImage = ''" />
        <TheConfirmTwoButtons
            title="確認モーダル"
            :message="messageConfirmRecruitment"
            :confirmTitle="titleConfirmRecruitment"
            v-if="flgConfirmRecruitment"
            @confirm="finishConfirmRecruitment"
            @back="backConfirmRecruitment" />
        <TheConfirmTwoButtons
            title="確認モーダル"
            message="お約束をキャンセルしますか"
            confirmTitle="承認する"
            v-if="flgCancelRecruitment"
            @confirm="finishCancelRecruitment"
            @back="backCancelRecruitment" />
    </div>
</template>
<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import MessageItem from "../../components/message_item"
    import TheImageViewDialog from "../../../modals/TheImageViewDialog2"
    import TheConfirm from "../../../modals/TheConfirm"
    import TheConfirmTwoButtons from "../../../modals/TheConfirmTwoButtons"
    import { Carousel, Slide } from 'vue-carousel'
    import Datepicker from 'vue2-datepicker';
    export default {
        data(){
            return {
                firebaseKey: this.$route.params.firebaseKey,
                messageLimit: 20,
                currentPage: 1,
                isLoading: false,
                messages: [],
                me: this.$store.state.auth.user,
                hasMore: false,
                currentMessage: '',
                unsubscribe: undefined,
                isFromUser: false,
                currentDocRef: undefined,
                targetUser: undefined,
                label: '',
                isFetching: false,
                isFirstLoading: false,
                avatar: undefined,
                targetUserHidden: false,
                profileLink: '',
                isReading: false,
                isSafari: false,
                isBlockChat: true,
                eventRegistered: false,
                currentPhoto: undefined,
                messagePhotos: [],
                removeImage: '',
                showPrototypeBox: false,
                messageBoxHeight: 0,
                selectedPrototypeIndex: -1,
                isPC: false,
                prototypeNavigateTo: [0, false],
                prototypeIndex: 0,
                male:1,
                female:2,
                recruitmentDateTime: '',
                flgConfirmRecruitment: false,
                flgCancelRecruitment: false,
                messageConfirmRecruitment: '',
                titleConfirmRecruitment: '',
                showTimeRangePanel: false,
                isCancelRecruitment: false,
                isReadyRecruitment: false,
                messageRecruitment: false,
                messageRecruitmentNotification: false,
                recruitmentStatusDefault: 0,
                recruitmentStatusInvite: 1,
                recruitmentStatusAccept: 2,
                recruitmentStatusMeeting: 3,
                recruitmentStatusWaitingComplete: 4,
                recruitmentStatusComplete: 5,
                recruitmentStatusCancel: 6,
                recruitmentStatusNotificationAccept: 7, //待合せ約束完了 
                recruitmentStatusNotificationMeeting: 8, //集合時間が開始しました
                recruitmentStatusNotificationWaitingComplete: 9, //終了申請を送信しました 
                recruitmentStatusNotificationComplete: 10, //合流時間が終了しました。
                recruitmentStatusNotificationCancel: 11, //お約束をキャンセルしました
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            MessageItem,
            TheImageViewDialog,
            TheConfirm,
            TheConfirmTwoButtons,
            Carousel,
            Datepicker,
            Slide
        },
        created() {
            // if (this.$store.state.lastChatroom.id === undefined) {
                this.isFirstLoading = true;
                this.loadMessages();
            // } else {
            //     this.messages = this.$store.state.lastChatroom.messages;

            //     setTimeout(function() {
            //         $('html, body').animate({ scrollTop: $('#messages')[0].scrollHeight + $('#messageBox').outerHeight() }, 10);
            //     }, 500)
            // }
            this.subscribe();
        },
        mounted() {
            window.localStorage.removeItem('last_user_index');
            window.localStorage.removeItem('detail_view_index');

            this.isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
            
            this.messageBoxHeight = 40;

            this.isPC = window.outerWidth > 640;
        },
        beforeMount() {
            window.addEventListener('resize', this.onResize);
            window.addEventListener('scroll', this.onScroll);
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.onResize);
            window.removeEventListener('scroll', this.onScroll);
            
            if (this.unsubscribe) {
                this.unsubscribe();
            }
        },
        updated() {
            if (this.$refs.messageBox && this.eventRegistered == false) {
                this.eventRegistered = true
                autosize(this.$refs.messageBox)
            }
        },
        methods: {
            onResize(e) {
                // if (window.innerWidth <= 640) {
                //     if (this.isReading == false)
                //         $('html, body').animate({ scrollTop: $('#messages')[0].scrollHeight + $('#messageBox').outerHeight() }, 0);

                //     return;
                // }
                // if (this.isReading == false)
                //     $('html, body').animate({ scrollTop: $('#messages')[0].scrollHeight + $('#messageBox').outerHeight() }, 0);
            },
            onTextareaResize(e) {
                // if (window.innerWidth <= 640) {
                //     if (this.isReading == false)
                //         $('html, body').animate({ scrollTop: $('#messages')[0].scrollHeight + $('#messageBox').outerHeight() }, 0);

                //     return;
                // }
                
                if ($('#messages').attr('data-mb') && $('#messages').attr('data-mb') == $('#messageBox').outerHeight()) 
                    return;

                if (this.showPrototypeBox) {
                    $('#messages').attr('style', 'margin-bottom: ' + ($('#messageBox').outerHeight() + 22 + $('#prototypeBox').outerHeight()) + 'px;');
                    $('#messages').attr('data-mb', $('#messageBox').outerHeight() + $('#prototypeBox').outerHeight());
                } else {
                    $('#messages').attr('style', 'margin-bottom: ' + ($('#messageBox').outerHeight() + 22) + 'px;');
                    $('#messages').attr('data-mb', $('#messageBox').outerHeight());
                }

                this.messageBoxHeight = $("#messageBox").outerHeight() + (e.keyCode === 13 ? 20 : 0);

                if (this.isSafari) return;

                if (this.isReading == false)
                    $('html, body').animate({ scrollTop: $('#messages')[0].scrollHeight + $('#messageBox').outerHeight() }, 0);
            },
            stopAction(e) {
                e.preventDefault();
                e.stopPropagation();
            },
            updatePrototypeMessage(item, index, e) {
                e.stopPropagation();
                e.preventDefault();
                this.selectedPrototypeIndex = index; 
                this.currentMessage = item.message
                // this.onTextareaResize();
                $("#temp")[0].innerText = item.message;
                $("#messageBox").attr('style', 'height: ' + ($("#temp").outerHeight() + 20) + "px;");
                this.messageBoxHeight = $("#messageBox").outerHeight();

                setTimeout(() => {
                    $('#messages').attr('style', 'margin-bottom: ' + ($('#messageBox').outerHeight() + 22 + $('#prototypeBox').outerHeight()) + 'px;');
                    $('#messages').attr('data-mb', $('#messageBox').outerHeight() + $('#prototypeBox').outerHeight() + 22);
                }, 500);
            },
            pageChanged(number) {
                this.prototypeIndex = number;
            },
            move(direction) {
                let ind = this.prototypeIndex;
                if (direction == 'left') {
                    ind = this.prototypeIndex - 1 < 0 ? 0 : this.prototypeIndex - 1;
                }

                if (direction == 'right') {
                    ind = this.prototypeIndex + 1 >= this.getPrototypes.length ? 0 : this.prototypeIndex + 1;
                }

                this.prototypeIndex = ind;

                this.prototypeNavigateTo = [ind, true];
            },
            openImage(image) {
                this.currentPhoto = image;
            },
            async uploadPhotoToServer(file) {
                let data = new FormData();
                data.append('image', file);
                return await axios.post('/api/chat/message/upload_photo', data);
            },
            removePhoto(image) {
                this.removeImage = image
            },
            confirmRemove() {
                let imgObj = this.messages.filter(item => {
                    return item.is_image == 1 && this.removeImage.includes(item.message.replace('thumbnail_', ''));
                })
                this.removeImage = ''
                this.currentPhoto = undefined
                
                if (imgObj && imgObj.length > 0) {
                    // this.messages = this.messages.filter(item => {
                    //     return item.id != imgObj[0].id
                    // })
                    // this.fetchPhotos();

                    // this.$forceUpdate();
                    this.sendMessage(imgObj[0].message, 3, imgObj[0].id)
                }
            },
            previewPhoto(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                this.isLoading = true;
                let data = new FormData();
                data.append('image', files[0]);
                axios.post('/api/chat/message/upload_photo', data)
                .then(response => {
                    this.sendMessage(response.data.thumb_url, 1);    
                }).catch(error => {
                    this.isLoading = false;
                });
            },
            sendPhoto() {
                this.$refs.mainPhoto.click();
            },
            showPrototype() {
                this.showPrototypeBox = !this.showPrototypeBox
                this.selectedPrototypeIndex = -1

                if (this.showPrototypeBox) {
                    setTimeout(() => {
                        $('#messages').attr('style', 'margin-bottom: ' + ($('#messageBox').outerHeight() + 22 + $('#prototypeBox').outerHeight()) + 'px;');
                        $('#messages').attr('data-mb', $('#messageBox').outerHeight() + 22 + $('#prototypeBox').outerHeight());
                    }, 500);
                } else {
                    $('#messages').attr('style', 'margin-bottom: ' + ($('#messageBox').outerHeight() + 22) + 'px;');
                    $('#messages').attr('data-mb', $('#messageBox').outerHeight() + 22);
                }
            },
            send() {
                if (this.currentMessage.trim() == '') return;

                this.sendMessage(this.currentMessage, 0);
                this.currentMessage = "";       
                this.showPrototypeBox = false;       
                this.messageBoxHeight = 40;  
            },
            sendMessage(message, type, messageID = -1, recruitmentStatus) {
                let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.targetUser.id)
                let hasBlockedBy = blocks && blocks.length > 0;

                axios.post('/api/chat/message/send', {
                    firebaseKey: this.firebaseKey,
                    message: message,
                    hasBlockedBy: hasBlockedBy ? 1 : 0,
                    is_image: type,
                    recruitment_status: typeof recruitmentStatus === 'undefined' ? 0 : recruitmentStatus,
                    messageID: messageID
                }).then(response => {
                    let message = response.data.data
                    message.feedback = 0;

                    if (hasBlockedBy == false && this.targetUser.is_deleted == 0) {
                        this.updateFirebase(message);
                        if (type != 3) { // image remove
                            if (this.targetUser.provider_unique_id) {
                                db.collection('users').doc(this.targetUser.provider_unique_id).update({
                                    updateTarget: 'messages'
                                });
                            }

                            if ("" + (this.targetUser.profile.notification_settings & 8) == '8') {
                                axios.post('/api/chat/message/send/push', {
                                    firebaseKey: this.firebaseKey
                                });
                            }
                        }
                    }

                    if (type == 3) { // image remove
                        this.messages = this.messages.filter(item => {
                            return item.id != message.id;
                        })
                        this.fetchPhotos();
                    } else 
                        this.messages.push(message);

                    this.$forceUpdate();

                    $('#messageBox').attr('style', 'height: 40px');

                    $('#messages').attr('style', 'margin-bottom: ' + ($('#messageBox').outerHeight() + 22) + 'px;');
                    $('#messages').attr('data-mb', $('#messageBox').outerHeight());

                    // if (this.isReading == false)
                    if (type != 3) { // if not image delete
                        if (message.is_image == 1) {
                            setTimeout(function() {
                                $('html, body').animate({ scrollTop: $('#messages')[0].scrollHeight + $('#messageBox').outerHeight() }, 10);
                            }, 500);

                            this.messagePhotos.push({
                                content: "<img src='" + message.message.replace('thumbnail_', '') + "' alt='image'/>",
                                isMine: 1
                            })
                        } else {
                            $('html, body').animate({ scrollTop: $('#messages')[0].scrollHeight + $('#messageBox').outerHeight() }, 10);
                        }
                    }
                    this.isLoading = false;
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })
            },
            updateFirebase(message) {
                db.collection('messages').doc(this.firebaseKey).update(message);
            },
            onScroll (e) {
                if (e.srcElement.scrollingElement.scrollTop <= 10) {
                    if (this.isFirstLoading) return true;
                    if (this.hasMore == false) return true;
                    if (this.isFetching == false) {
                        this.isFetching = true;
                        this.currentPage++;
                        this.loadMessages();
                    }
                }

                this.isReading = e.srcElement.scrollingElement.scrollTop + e.srcElement.scrollingElement.clientHeight < e.srcElement.scrollingElement.scrollHeight - 150;
            },
            fetchPhotos() {
                this.messagePhotos = this.messages.filter(item => {
                    return item.is_image == 1;
                }).map(item => {
                    return {
                        content: "<img src='" + item.message.replace('thumbnail_', '') + "' alt='image'/>",
                        isMine: item.user_id == this.$store.state.auth.user.id
                    }
                })
            },
            handleResponse(response) {
                let messages = response.data.data.data.sort((a, b) => {
                    if (a.created_at > b.created_at) return 1;
                    if (a.created_at < b.created_at) return -1;
                    return 0; 
                });
                this.targetUser = response.data.targetUser;

                let blocks = this.$store.state.auth.user.blocks.filter(item => item.block_user_id == this.targetUser.id)

                if (blocks && blocks.length > 0) {
                    this.$router.push({ name: 'messages' });
                    return;
                }
                
                this.messages = messages.concat(this.messages);
                this.fetchPhotos();
                this.currentPage = response.data.data.current_page;
                this.hasMore = response.data.data.current_page != response.data.data.last_page;
                this.isFromUser = response.data.isFromUser;
                this.profileLink = this.targetUser.provider_unique_id;
                this.targetUserHidden = response.data.targetUserHidden;
                this.isBlockChat = response.data.blockChat;

                if (this.label == '') {
                    this.label = "<span>" + this.targetUser.profile.nickname + '</span><span>' + this.targetUser.profile.age + '歳</span>';
                    if (this.isBlockedBy() || this.targetUser.is_deleted >= 1) 
                        this.avatar = (this.targetUser.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
                    else
                        this.avatar = this.getTargetUserAvatar();
                }

                if (this.isFirstLoading) {
                    $('html, body').animate({ scrollTop: $('#messages')[0].scrollHeight + $('#messageBox').outerHeight() }, 0);
                } else {
                    this.isFetching = false;
                }

                let self = this;
                setTimeout(function() {
                    if (self.isFirstLoading) {
                        $('html, body').animate({ scrollTop: document.body.scrollHeight }, 200);
                    }
                    self.isFirstLoading = false;
                }, 200)

                if (self.isFirstLoading) {
                    $('html, body').animate({ scrollTop: document.body.scrollHeight }, 200);
                }

                this.$store.dispatch('setLastChatroom', {
                    id: this.firebaseKey,
                    messages: this.messages
                })
            },
            loadMessagesBackground(limit) {
                helper.loadMessages(this.firebaseKey, limit, this.currentPage)
                .then(response => {
                    this.handleResponse(response)
                })
            },
            loadMessages() {
                helper.loadMessages(this.firebaseKey, this.messageLimit, this.currentPage)
                .then(response => {
                    this.handleResponse(response)
                })
            },
            getTargetUserAvatar() {
                return helper.getAvatar(this.targetUser);
            },
            subscribe() {
                let self = this;
                this.unsubscribe =  db.collection("messages").doc(this.firebaseKey)
                    .onSnapshot(function(doc) {
                        if (self.docRef == undefined) {
                            self.docRef = doc.data();
                            if (self.docRef.id) {
                                if (self.docRef.user_id != self.me.id) {
                                    self.docRef.is_read = 1;
                                    self.docRef.feedback = 2;
                                    self.updateFirebase(self.docRef);
                                }
                            }
                        } else {
                            let data = doc.data();
                            if (data.chatroom_id == self.docRef.chatroom_id) {
                                if (data.user_id != self.me.id && data.feedback != 2) { // otheruser messages
                                    let message = self.messages.filter(item => {
                                        return item.id == data.id;
                                    })
                                    if (data.is_image == 3) { // delete image
                                        self.messages = self.messages.filter(item => {
                                            return item.id != data.id
                                        })
                                        self.fetchPhotos();
                                        self.$forceUpdate();

                                        return;
                                    }

                                    if (!(message && message.length > 0)) { 
                                        self.messages.push(data);
                                        if (data.is_image == 1)
                                            self.messagePhotos.push({
                                                content: "<img src='" + data.message.replace('thumbnail_', '') + "' alt='image'/>",
                                                isMine: false
                                            })
                                    }

                                    if ((self.targetUser.profile.gender == 1 && self.targetUser.profile.membership.type == 'platium') || self.targetUser.profile.gender == 2) {
                                        self.messages = self.messages.map(item => {
                                            if (item.user_id == self.me.id && item.is_read == 0) {
                                                item.is_read = 1;
                                            }
                                            return item;
                                        })
                                        data.is_read = 1;
                                        data.feedback = 1;
                                        self.updateFirebase(data);
                                    }
                                    axios.post('/api/chat/message/read', {
                                        id: data.id,
                                        chatroom_id: data.chatroom_id
                                    });

                                    self.$forceUpdate();

                                    if (self.isReading == false) {
                                        if (data.is_image == 1) {
                                            setTimeout(function() {
                                                $('html, body').animate({ scrollTop: $('#messages')[0].scrollHeight + $('#messageBox').outerHeight() }, 10);
                                            }, 1000)
                                        } else {
                                            $('html, body').animate({ scrollTop: $('#messages')[0].scrollHeight + $('#messageBox').outerHeight() }, 10);
                                        }
                                    }
                                } else {
                                    if ((self.me.profile.gender == 1 && self.me.profile.membership.type == 'platium') || self.me.profile.gender == 2) {
                                        if (data.feedback) {
                                            self.messages = self.messages.map(item => {
                                                if (item.is_read == 0) {
                                                    item.is_read = 1;
                                                }
                                                return item;
                                            })
                                            self.$forceUpdate();
                                        }
                                    }
                                }
                            }

                            if(data.recruitment_status == self.recruitmentStatusAccept || data.recruitment_status == self.recruitmentStatusMeeting
                                        || data.recruitment_status == self.recruitmentStatusWaitingComplete || data.recruitment_status == self.recruitmentStatusComplete
                                        || data.recruitment_status == self.recruitmentStatusCancel) {
                                self.messages = self.messages.map(item => {
                                    if (item.id == data.id) {
                                        item.recruitment_status = data.recruitment_status;
                                    }
                                    return item;
                                })
                            }    
                        }
                        self.getStatusBooking();
                    });
            },
            isBlockedBy() {
                let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.targetUser.id)
                return blocks && blocks.length > 0;
            },
            tapMessagesBox() {
                this.showPrototypeBox = false;

                $('#messages').attr('style', 'margin-bottom: ' + ($('#messageBox').outerHeight() + 22) + 'px;');
                $('#messages').attr('data-mb', $('#messageBox').outerHeight());
            },
            showPlanUp() {
                this.$store.dispatch('setInternalAlert', {
                    type: 'need-plan-up',
                    data: 'remain'
                });
            },
            checkRegisterCreditCard() {
                if (helper.needCreditCard(this, this.$store.state.auth.user)) return;
            },

            getStatusBooking() {
                let messageRecruitment = this.messages.filter(item => {
                    return (item.recruitment_status == this.recruitmentStatusInvite
                    || item.recruitment_status == this.recruitmentStatusAccept
                    || item.recruitment_status == this.recruitmentStatusMeeting
                    || item.recruitment_status == this.recruitmentStatusWaitingComplete);
                })

                this.messageRecruitment = messageRecruitment.length > 0 ? messageRecruitment[0] : false;
                this.isReadyRecruitment = this.messageRecruitment && ( this.messageRecruitment.recruitment_status == this.recruitmentStatusAccept
                    || this.messageRecruitment.recruitment_status == this.recruitmentStatusMeeting 
                    || this.messageRecruitment.recruitment_status == this.recruitmentStatusWaitingComplete) ? true : false;
                
                this.isCancelRecruitment = this.messageRecruitment && ( this.messageRecruitment.recruitment_status == this.recruitmentStatusInvite
                    || this.messageRecruitment.recruitment_status == this.recruitmentStatusAccept
                    || this.messageRecruitment.recruitment_status == this.recruitmentStatusMeeting
                    || this.messageRecruitment.recruitment_status == this.recruitmentStatusWaitingComplete ) ? true : false;
            },
            booking() {
                this.checkRegisterCreditCard();
                //キャンセル
                if(this.isCancelRecruitment) {
                    this.flgCancelRecruitment = true;
                //日時の提案     
                } else {
                    this.$refs.datepicker.openPopup();
                }
            },
            showButtonConfirmRecruitment(message) {
                if(this.me.id == message.user_id) {
                    return false;
                } else if(message.recruitment_status == this.recruitmentStatusInvite){
                    return true;
                } else if(this.me.profile.gender == this.female && message.recruitment_status == this.recruitmentStatusNotificationWaitingComplete){
                    return true;
                } else {
                    return false;
                }   
            },

            showModalConfirmRecruitment(message) {
                this.flgConfirmRecruitment = true;
                this.titleConfirmRecruitment =  "承認する";
                if(message && message.recruitment_status == this.recruitmentStatusInvite) {
                    this.messageConfirmRecruitment =  "提案に同意しますか";
                    this.messageRecruitment = message;
                } else if(message && message.recruitment_status == this.recruitmentStatusNotificationWaitingComplete) {  
                    this.messageConfirmRecruitment =  "合流時間が終了しますか";
                    this.messageRecruitmentNotification = message;
                } else if(this.messageRecruitment && this.messageRecruitment.recruitment_status == this.recruitmentStatusAccept) {
                    this.messageConfirmRecruitment =  this.me.profile.gender == this.female ? "集合時間が開始しますか" : "合流時間が終了しますか";
                } else if(this.messageRecruitment && this.messageRecruitment.recruitment_status == this.recruitmentStatusMeeting) {
                    this.messageConfirmRecruitment =  "合流時間が終了しますか";
                }   
            },
            backConfirmRecruitment() {
                this.flgConfirmRecruitment = false;
            },
            backCancelRecruitment() {
                this.flgCancelRecruitment = false;
            },
            finishCancelRecruitment() {
                let msg = '【キャンセル完了】\n';
                    msg += 'お約束をキャンセルしました。\n';
                if(this.me.profile.gender == this.female) {
                    this.sendMessage(msg, 0, -1, this.recruitmentStatusNotificationCancel);
                } else {
                    console.log(this.me);
                    //point calc
                    if(this.messageRecruitment) {
                        axios.post('/api/chat/message/point_payment', {
                            message: this.messageRecruitment.message,
                            male: this.me.profile,
                            email_male: this.me.email,
                            email_female: this.targetUser.email,
                            female: this.targetUser.profile,
                            status: this.recruitmentStatusCancel
                        }).then(response => {
                            msg += response.data.msg;
                            this.sendMessage(msg, 0, -1, this.recruitmentStatusNotificationCancel);
                        }).catch(error => {
                        })
                    }
                }

                this.messageRecruitment.recruitment_status = this.recruitmentStatusCancel;
                this.updateRecruitmentStatus(this.messageRecruitment);

                this.isReadyRecruitment = false;
                this.flgCancelRecruitment = false;
                
            },
            finishConfirmRecruitment() {
                if(this.messageRecruitment && this.messageRecruitment.recruitment_status == this.recruitmentStatusInvite) {
                    let msg = '- 待合せ約束完了 - \n';
                    msg += '<a href="#">「待合せ」が作成されました。</a>';
                    this.sendMessage(msg, 0, -1, this.recruitmentStatusNotificationAccept);
                    this.messageRecruitment.recruitment_status = this.recruitmentStatusAccept;
                    this.isReadyRecruitment = true;

                    this.sendNoticeToEmail();
                } else if(this.messageRecruitment && this.me.profile.gender == this.female && this.messageRecruitment.recruitment_status == this.recruitmentStatusAccept) {
                    let msg = '【集合開始】\n';
                    msg += '集合時間が開始しました。';
                    this.sendMessage(msg, 0, -1, this.recruitmentStatusNotificationMeeting);
                    this.messageRecruitment.recruitment_status = this.recruitmentStatusMeeting;
                    this.isReadyRecruitment = true;
                } else if(this.messageRecruitment && this.me.profile.gender == this.male && this.messageRecruitment.recruitment_status == this.recruitmentStatusAccept) {
                    let msg = '【解散終了】\n';
                    msg += '終了申請を送信しました。';
                    this.sendMessage(msg, 0, -1, this.recruitmentStatusNotificationWaitingComplete);
                    this.messageRecruitment.recruitment_status = this.recruitmentStatusWaitingComplete;
                    this.isReadyRecruitment = true;
                    this.sendNoticeToEmail();
                } else if(this.messageRecruitment && this.messageRecruitment.recruitment_status == this.recruitmentStatusMeeting) {
                    let msg = '【解散終了】\n';
                    msg += this.me.profile.gender == this.male ? '終了申請を送信しました。' : '終了申請を受信しました。';
                    this.sendMessage(msg, 0, -1, this.recruitmentStatusNotificationWaitingComplete);
                    this.messageRecruitment.recruitment_status = this.recruitmentStatusWaitingComplete;
                    this.isReadyRecruitment = true;
                } else if(this.messageRecruitment && this.messageRecruitment.recruitment_status == this.recruitmentStatusWaitingComplete) {
                    let msg = '【解散終了】\n';
                    msg += '合流時間が終了しました。\n';

                    axios.post('/api/chat/message/point_payment', {
                            message: this.messageRecruitment.message,
                            male: this.targetUser.profile,
                            female: this.me.profile,
                            email_male: this.targetUser.email,
                            email_female: this.me.email,
                            status: this.recruitmentStatusComplete
                        }).then(response => {
                            msg += response.data.msg;
                            this.sendMessage(msg, 0, -1, this.recruitmentStatusNotificationComplete);
                        }).catch(error => {
                    })

                    this.messageRecruitment.recruitment_status = this.recruitmentStatusComplete;
                    this.isReadyRecruitment = false;

                    if(this.messageRecruitmentNotification) {
                        this.messageRecruitmentNotification.recruitment_status = this.recruitmentStatusNotificationComplete;
                        this.updateRecruitmentStatus(this.messageRecruitmentNotification);
                    }    
                }

                this.flgConfirmRecruitment = false;

                this.showPrototypeBox = false;       
                this.messageBoxHeight = 20;  
                this.showTimeRangePanel = false;

                //update to database
                this.updateRecruitmentStatus(this.messageRecruitment);
            },
            sendNoticeToEmail() {
                let male = this.me.profile.gender == this.female ? this.targetUser : this.me;
                let female = this.me.profile.gender == this.female ? this.me : this.targetUser;
                
                axios.post('/api/chat/message/send_notice', {
                    message: this.messageRecruitment.message,
                    male: male.profile,
                    email_male: male.email,
                    email_female: female.email,
                    female: female.profile,
                    status: this.messageRecruitment.recruitment_status
                }).then(response => {
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })  
            },
            updateRecruitmentStatus(msg) {
                axios.post('/api/chat/message/update_recruitment', {
                    id: msg.id,
                    chatroom_id: msg.chatroom_id,
                    recruitment_status: msg.recruitment_status
                }).then(response => {
                    
                    let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.targetUser.id)
                    let hasBlockedBy = blocks && blocks.length > 0;
                    if (hasBlockedBy == false && this.targetUser.is_deleted == 0 && this.targetUser.provider_unique_id) {
                        db.collection('users').doc(this.targetUser.provider_unique_id).update({
                            updateTarget: 'messages'
                        });
                    }    

                    this.updateFirebase(msg);
                    this.$forceUpdate();
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })  
            },
            toggleTimeRangePanel() {
                this.showTimeRangePanel = !this.showTimeRangePanel;
            },
            handleRangeClose() {
                if (this.recruitmentDateTime == '') return;


                let msg = 'この日時で会えますか\n';
                msg += this.recruitmentDateTime[0]+'-'+this.recruitmentDateTime[1]+'\n';
                msg += this.targetUser.profile.cost + 'P / 30分';

                this.sendMessage(msg, 0, -1, this.recruitmentStatusInvite);
                this.recruitmentDateTime = "";       
                this.showPrototypeBox = false;       
                this.messageBoxHeight = 80;  
                this.showTimeRangePanel = false;

                //show キャンセル
                this.isCancelRecruitment = true;

            },
        },
        computed: {
            getPrototypeBtnImage() {
                return this.showPrototypeBox ? '/assets/prototype_active.png' : '/assets/prototype_inactive.png';
            },
            checkPrototypeBox() {
                if (this.showPrototypeBox) {
                    return this.messageBoxHeight + 24;
                }

                return 0
            },
            getPrototypes() {
                if (this.$store.state.auth.user.prototypes === undefined) return []
                return this.$store.state.auth.user.prototypes
            },
            isFreeMember() {
                return (this.$store.state.auth.user.profile.gender == 1 && this.$store.state.auth.user.profile.membership.type == 'free')
            },
            showButtonBeginEndMetting() {
               if(this.me.profile.gender == this.male && this.messageRecruitment.recruitment_status == this.recruitmentStatusMeeting) {
                   return true;
               } else if(this.me.profile.gender == this.female && this.messageRecruitment.recruitment_status == this.recruitmentStatusAccept ) {
                   return true;
               } else 
                    return false;
            },
        },
    }
</script>
<style>
.datePickerDiv {
    position: fixed ;
    margin-top: -50px;
} 
</style>
