<template>
    <div id="wrapper" class="front-container white">
        <div v-if="getChatrooms.length > 0">
            <div>
                <ChatroomItem
                    v-for="(chatroom, index) in getChatrooms"
                    :key="index"
                    :chatroom="chatroom"
                    :blockByUsers="blockByUsers"
                    ref="chatroomItems"
                    @openChatroom="openChatroom"
                    @openMenu="openMenu" />
            </div>

            <Pagination v-if="chatrooms.last_page > 1" ref="pagination" :item="chatrooms" @open="openPage" />
        </div>
        <div class="container" v-if="isEmpty">
            <div class="empty-list-box ch-110">
                <div>
                    <p class="mb-10">マッチングしたお相手は<br/>まだいません</p>
                    <img src="/assets/empty_message.svg" alt="image"/>
                    <router-link :to="{ name: 'home' }" class="btn-main small mt-20">相手をさがす</router-link>
                </div>
            </div>
        </div>
        <TheLoading v-if="isLoading == true" />
        <TheMessageTopDialog
            v-if="showMessageTopDialog"
            :topLabel="topLabel"
            @confirm="closeDialog" />
        <TheConfirm
            title="メッセージ"
            message="このメッセージを削除しますか"
            confirmTitle="削除する"
            @confirm="confirmHide"
            @cancel="showConfirmDialog = false"
            v-if="showConfirmDialog" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheLoading from "../../../modals/TheLoading"
    import TheConfirm from "../../../modals/TheConfirm"
    import ChatroomItem from "../../components/chatroom_item"
    import Pagination from "../../components/pagination"
    import TheMessageTopDialog from "../../../modals/TheMessageTopDialog"

    export default {
        data(){
            return {
                isLoading: false,
                pageLimit: 20,
                chatrooms: {
                    current_page: 1,
                    data: []
                },
                isEmpty: false,
                showMessageTopDialog: false,
                selectedChatroom: undefined,
                topLabel: '上段トップに固定する',
                me: this.$store.state.auth.user,
                blockByUsers: this.$store.state.auth.user.blockByUsers,
                lastChatroomIndex: -1,
                showConfirmDialog: false
            }
        },
        components: {
            TheLoading, ChatroomItem, Pagination, TheMessageTopDialog, TheConfirm
        },
        created() {
            if (window.localStorage.getItem('last_chatroom_index')) {
                this.lastChatroomIndex = parseInt(window.localStorage.getItem('last_chatroom_index'));
                window.localStorage.removeItem('last_chatroom_index');
            }
            this.loadChatrooms();
        },
        mounted() {
            let badge = this.$store.state.footerBadge;
            badge.message = false;
            this.$store.dispatch('setFooterBadge', badge);

            window.localStorage.setItem('detail_from', 'message')
            window.localStorage.removeItem('detail_view_index');
        },
        methods: {
            openMenu(chatroom) {
                this.showMessageTopDialog = true;
                if (chatroom.from_user_id == this.$store.state.auth.user.id) {
                    if (chatroom.is_top == 1 || chatroom.is_top == 3) {
                        this.topLabel = '上段トップから解除する'
                    } else {
                        this.topLabel = '上段トップに固定する'
                    }
                } else {
                    if (chatroom.is_top == 2 || chatroom.is_top == 3) {
                        this.topLabel = '上段トップから解除する'
                    } else {
                        this.topLabel = '上段トップに固定する'
                    }
                }
                this.selectedChatroom = chatroom;
            },
            forceReload() {
                this.isLoading = true;
                this.loadChatrooms();
            },
            confirmHide() {
                this.showConfirmDialog = false
                axios.post('/api/chatroom/hide', {
                    chatroom_id: this.selectedChatroom.id
                }).then(reponse => {
                    this.loadChatrooms();
                })
            },
            closeDialog(type) {
                if (type == 'message-hide') {
                    this.showConfirmDialog = true;
                } else if (type == 'message-top') {
                    axios.post('/api/chatroom/top', {
                        chatroom_id: this.selectedChatroom.id
                    }).then(reponse => {
                        this.loadChatrooms();
                    })
                }

                this.showMessageTopDialog = false;
            },
            loadChatrooms() {
                axios.post('/api/chatrooms', {
                    page: this.chatrooms.current_page,
                    limit: this.pageLimit
                }).then(response => {
                    this.$store.dispatch('setChatrooms', response.data.data);
                    this.chatrooms = response.data.data;
                    response.data.top.map((item, index) => {
                        this.chatrooms.data.splice(index, 0, item);
                    })

                    this.isEmpty = this.chatrooms.data.length == 0
                    this.isLoading = false;
                    this.$forceUpdate();
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })
            },
            openChatroom(chatroom) {
                if (this.$store.state.lastChatroom.id !== undefined && this.$store.state.lastChatroom.id !== chatroom.firebaseKey) {
                    this.$store.dispatch('setLastChatroom', {
                        id: undefined,
                        messages: []
                    })
                }

                if (helper.needPlanUp(this, this.me)) return;

                let lastChatroomIndex = 0;

                this.chatrooms.data.map((item, index) => {
                    if (item.id == chatroom.id) lastChatroomIndex = index;
                })

                window.localStorage.setItem('last_chatroom_index', lastChatroomIndex);

                this.$router.push('/chat/' + chatroom.firebaseKey);
            },
            openPage(page) {
                this.chatrooms.current_page = page;
                this.loadChatrooms();
                this.$refs.pagination.refreshPages()

                window.scrollTo(0, 0)
            },
            swipeDown() {
                this.isLoading = true;
                this.loadChatrooms();
            }
        },
        updated() {
            if (this.lastChatroomIndex >= 0 && this.$refs.chatroomItems.length > this.lastChatroomIndex) {
                $('html, body').animate({ scrollTop: this.$refs.chatroomItems[this.lastChatroomIndex].$el.offsetTop - this.$refs.chatroomItems[0].$el.offsetTop }, 0);
                this.lastChatroomIndex = -1;
            }
        },
        computed: {
            getChatrooms() {
                if (this.$store.state.filterMessageNotReply && this.$store.state.filterMessageNotReply === true) {
                    return this.chatrooms.data.filter(item => {
                        return (item.sender_id && item.sender_id !== this.$store.state.auth.user.id) || item.last_message === 'マッチングしました♡'
                    })
                }
                return this.chatrooms.data
            }
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style>
</style>
