<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="定型文の登録" borderClass="" backPageName="history.back" icon="back" />

        <div class="prototype-container">
            <textarea class="form-control" rows="10" placeholder="定型文をご記入ください ※400文字以内" v-model="content"></textarea>
            <button :class="getButtonClass()" :disabled="this.getButtonClass().includes('disabled')" @click="send">保存する</button>
        </div>
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'

    export default {
        data(){
            return {
                isLoading: false,
                content: '',
                id: this.$route.params.id
            }
        },
        components: {
            TheRegisterHeader
        },
        created() {
        },
        mounted() {
            if (this.id !== undefined) {
                this.$store.state.auth.user.prototypes.map(item => {
                    if (item.id == this.id)
                        this.content = item.message
                })
            }
        },
        methods: {
            getButtonClass() {
                if (this.content == '' || this.content.length < 1 || this.content.length > 400 || this.isLoading) {
                    return 'btn-main mt-10 mb-20 disabled';
                }

                return 'btn-main mt-10 mb-20';
            },
            send() {
                this.isLoading = true;

                axios.post('/api/prototype/create', {
                    content: this.content,
                    id: this.id ? this.id : -1
                }).then(response => {
                    this.$store.dispatch('setAuthUserDetail', {
                        user: response.data.data
                    })

                    window.history.back();
                })
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
