<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="定型メッセージ編集" borderClass="" backPageName="history.back" icon="back" />

        <div class="prototype-container">
            <div class="items">
                <router-link :to="`/message/prototype/edit/${prototype.id}`" class="item" v-for="(prototype, index) in getPrototypes" :key="index">
                    <span class="number">{{ index + 1 }}</span>
                    <p class="prototype-message-item">{{prototype.message}}</p>
                    <img src="/assets/trash.svg" @click="e => deleteItem(e, prototype.id)" />
                </router-link>
            </div>

            <router-link :to="{name: 'prototype_create'}" id="btn_create" class="mt-10 mb-20 btn btn-main">定型メッセージ追加</router-link>
            
        </div>
        
        <TheLoading v-if="isLoading" />
        <TheConfirm 
            title="定型メッセージ削除"
            message="この定型メッセージを削除しますか？"
            confirmTitle="削除する"
            @confirm="confirmDelete"
            @cancel="selectedID = -1"
            v-if="selectedID > 0" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import TheConfirm from "../../../modals/TheConfirm"

    export default {
        data(){
            return {
                isLoading: false,
                selectedID: -1
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            TheConfirm
        },
        created() {
        },
        mounted() {
            window.scrollTo(0, $('#btn_create')[0].offsetTop + 50);
        },
        methods: {
            deleteItem(e, id) {
                e.preventDefault();
                e.stopPropagation();

                this.selectedID = id;
            },
            confirmDelete() {
                axios.post('/api/prototype/delete', {
                    id: this.selectedID
                }).then(response => {
                    this.$store.dispatch('setAuthUserDetail', {
                        user: response.data.data
                    })
                })
                this.selectedID = -1
            }
        },
        computed: {
            getPrototypes() {
                if (this.$store.state.auth.user.prototypes === undefined) return [];

                return this.$store.state.auth.user.prototypes
            }
        },
    }
</script>
<style lang="scss" scoped>
.prototype-add {
    color: #609BD9;

    &:hover {
        color: #609BD9;
    }
}

.prototype-message-item {
    word-break: break-all;
}
</style>
