<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <div class="dialog-content">
                    <img src="/assets/warning.svg" class="modal-icon" alt="image" v-if="type == 1" />
                    <img src="/assets/error.svg" class="modal-icon" alt="image" v-else />				
					<p class="title mb-20" v-if="type == 1">ご利用方法について</p>
					<p class="title mb-20" v-else>ご利用停止</p>
                    <p class="message_left mb-20" v-if="type == 1">
						他の会員さまから通報が多く届いております。通報が一定数を超えた場合、規約に基づき自動で利用停止されます。<br/>
                        <span class="alert-content" v-html="content"></span><br/>
                        ※お心当たりがない場合 <a href="mailto:operation@daddyrelax.jp?subject=ご利用方法について">operation@daddyrelax.jp</a> までご連絡ください。
                    </p>
                    <p class="message_left mb-20" v-else>
                        他の会員さまから通報が多く届いているため、規約に基づき自動で利用停止されました。
                    </p>
					<span class="btn-main-dialog" @click="cancel" v-if="type == 1">了解して利用を続ける</span>
					<span class="btn-main-dialog" @click="cancel" v-else>ログアウト</span>
                </div>
                <!--<img src="/assets/gray_close.svg" class="modal-close-icon" alt="image" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['type', 'content'],
    methods: {
        cancel () {
            this.$emit('confirm', 'system-alert')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
.alert-content {
    white-space: pre-line;
    margin-top: 20px;
    display: block;
    width: 100%;
}
</style>
