<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box modal-ribbon-wrap">
                <div class='modal-ribbon-brown'><div class='txt'>年齢確認のお願い</div></div>
                <div class="dialog-content">
                    <img :src="`/assets/${icon}.svg`" class="modal-icon" alt="image" v-if="icon != ''" />
                    <!--<p class="title mb-20">年齢確認のお願い</p>-->
					<p class="message mb-15">
                        マッチングアプリのご利用には、法令に基づき年齢確認が必要です
                    </p>
					<!--
                    <p class="message mt-16" v-if="message != ''">
                        {{message}}
                    </p>
					-->
					<span class="btn-main-dialog" @click="confirm">年齢確認へ進む</span>
                </div>
                <!--<img src="/assets/gray_close.svg" alt="image" class="modal-close-icon" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['message', 'icon'],
    methods: {
        confirm() {
            this.$emit('confirm', 'need-age-approval')
        },
        cancel () {
            this.$emit('cancel')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
</style>
