<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <p class="dialog-title-top mb-20">警告理由の入力</p>
                <div class="dialog-content">
                    <textarea v-model="reportContent" placeholder="警告理由" class="form-control" rows="4"></textarea>
                    <button type="button" class="btn-dialog-white mb-20" v-bind:class="{active: reportContent.length > 0}" @click="report">確認する</button>       
                </div>
                <!--<img src="/assets/gray_close.svg" alt="image" class="modal-close-icon" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: [],
    data() {
        return {
            reportContent: ''
        }
    },
    methods: {
        report() {
            if (this.reportContent == '') {
                toastr['warning']('警告理由を入力してください');
                return;
            }
            this.$emit('confirm', this.reportContent)
        },
        cancel () {
            this.$emit('cancel')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
</style>
