@@ -0,0 +1,105 @@
<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show purchase-dialog">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <p class="purchase-dialog-title mb-15">日時の提案</p>
                <div class="dialog-content container">
                    <p :class="getAlertClass()" >過去の日時を選択できません。</p>
                    <!--<p class="timeline_add_content_title">日程</p>-->
                    <div class="row mb-15">
                        <div class="col-md-8 col-sm-8"><v-select @input="someHandler()" v-model="date" :options="dates" /></div>
                        <div class="col-md-4 col-sm-4"><v-select @input="someHandler()" v-model="time" :options="times" /></div>
                    </div>
                    <!--<p class="timeline_add_content_title">時間</p>-->
                    <div class="row mb-15">
                        <div class="col-md-12 col-sm-12"><v-select v-model="minute" :options="minutes" /></div>
                    </div>
                    <span class="title" v-if="isMale">集合するまでポイント消費されません</span>
                    <button :class="getButtonClass()" @click="saveBooking"  type="button" :disabled="this.getButtonClass().includes('disabled')">日時を提案する</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>

import VSelect from '@alfsnd/vue-bootstrap-select'

export default {
    props: ['isMale'],
    data(){
        return {
            hideAlert: true,
            showButton: false,
            minutes: this.$store.state.minutes.map(item => {
                return {
                    text: item.text,
                    value: item.value
                }
            }),
            dates: this.$store.state.dates.map(item => {
                return {
                    text: item.text,
                    value: item.value,
                    strtotime: item.strtotime
                }
            }),
            times: this.$store.state.times.map(item => {
                return {
                    text: item.text,
                    value: item.text,
                    strtotime: item.strtotime
                }
            }),
            minute: {
                text: null,
                value: null
            },
            date: {
                text: null,
                value: null,
                strtotime: null
            },
            time: {
                text: null,
                value: null,
                strtotime: null
            },
            info: {
                date: null,
                minute: null,
                time: null,
            }
        }
    },
    created() {
        this.getDates();
    },
    mounted() {
    },
    components: { VSelect},
    methods: {
        getDates() {
            axios.post('/api/chat/get_dates')
                .then(response => {
                    this.$store.dispatch('setDates', response.data.dates);
                    this.$store.dispatch('setTimes', response.data.times);
                    this.$store.dispatch('setMinutes', response.data.minutes);
                    this.dates = response.data.dates;
                    this.times = response.data.times;
                    this.minutes = response.data.minutes;

                    this.date = response.data.dates[0];

                    //this.time = response.data.times[0];
                    let currentHour = moment().format("HH");
                    let currentMinute = parseInt(moment().format("mm"));
                    let next = 0;
                    if(currentMinute >= 30) {
                        next = parseInt(currentHour) + 1;
                    } else {
                        next = parseInt(currentHour) + 0.5;
                    }
                    this.times.map(item => {
                        if (item.strtotime == next) {
                            this.time = item;
                        }
                    })

                    this.minute = response.data.minutes[0];
                })
        },
        getButtonClass() {
            if ( ! this.showButton ) {
                return "btn-main small mt-20 disabled";
            }

            return "btn-main small mt-20";
        },
        getAlertClass() {
            if ( ! this.hideAlert ) {
                return "timeline_add_content_title text-danger"
            }

            return "hide";
        },
        saveBooking() {
            let today = new Date();
            let date = today.getFullYear()+''+(today.getMonth()+1)+''+today.getDate()+'';
            let hour = today.getHours() + (today.getMinutes()/60);

            if(date == this.date.strtotime && hour > this.time.strtotime) {
                //alert("過去の時間を選択できません。");
                this.hideAlert = false;
                this.showButton = false;
            } else {
                this.info.date = this.date.value;
                this.info.minute = this.minute.value;
                this.info.time = this.time.text;
                this.$emit('saveBooking', this.info);
            }
        },
        cancel () {
            this.$emit('cancel');
            //window.history.back();
        },
        someHandler() {
            let today = new Date();
            let date = today.getFullYear()+''+(today.getMonth()+1)+''+today.getDate()+'';
            let hour = today.getHours() + (today.getMinutes()/60);
            
           
            if(date == this.date.strtotime && hour > this.time.strtotime) {
                //alert("過去の時間を選択できません。");
                this.hideAlert = false;
                this.showButton = false;
            } else {
                this.hideAlert = true;
                this.showButton = true;
            }
           
        },
    },
  }
</script>

<style lang="scss" scoped>

</style>