<template>
  <div class="vue-ios-picker z-200" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <p class="dialog-title-top mb-20">{{title}}</p>
                <div class="dialog-content">
                    <!--<p class="title mb-20">{{title}}</p>-->
                    <!--<pre class="message mb-20" v-html="message">-->
                    <pre class="text mb-20 scroll" v-html="message">
                    </pre>
					<span class="btn-dialog-white mb-20" @click="confirm">{{confirmTitle}}</span>
					<span class="btn-cancel-dialog" @click="back">戻る</span>
				</div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['title', 'message', 'confirmTitle'],
    methods: {
        confirm() {
            this.$emit('confirm')
        },
        back() {
            this.$emit('back')
        },
        cancel () {
            this.hide()
            this.$emit('cancel')
        },
        hide () {
            this.$emit('cancel')
        },
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
.dialog-body .dialog-content .text.scroll {
    max-height: 300px;
    overflow-y: scroll;
}  
</style>
