<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show purchase-dialog">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <p class="purchase-dialog-title mb-15">クレジットカード情報</p>
                <div class="dialog-content container">
                    <p class="label-title-sm mt-36 mb-12">カード番号</p>
                    <input type="text" v-model="card" class="form-control" placeholder="" />
                    <div class="mt-20 d-flex card-d-flex">
                        <div>
                            <p class="label-title-sm mb-12">有効期限</p>
                            <input type="text" v-model="expire" class="form-control" placeholder="" />
                        </div>
                        <div>
                            <p class="label-title-sm mb-12">セキュリティーコード</p>
                            <input type="text" v-model="secret" class="form-control" placeholder="" />
                        </div>
                    </div>
                    <p class="label-title-sm mt-20 mb-12">カード名義</p>
                    <input type="text" v-model="cardName" class="form-control" placeholder="" />
                    
                    <p class="label-error-message mt-20" v-if="errorMessage != ''">{{errorMessage}}</p>
                    <button :class="getButtonClass()" @click="sendForm" type="button" :disabled="this.getButtonClass().includes('disabled')">保存</button>
                    <!--<span class="btn-gray mb-12" @click="cancel">閉じる</span>-->
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>

export default {
    data(){
        return {
            card: '',
            expire: '',
            secret: '',
            cardName: '',
            isLoading: false,
            errorMessage: '',
            backPageName: 'timelines',
            clientIP: this.$store.state.clientIP,
            sendid: '',
            usrtel: '',
            usrmail: '',
            url: ''
        }
    },
    mounted() {
        if (this.$store.state.auth.user.card && this.$store.state.auth.user.card.card_number != '') {
            let card = this.$store.state.auth.user.card;
            this.card = card.card_number;
            this.cardName = card.name;
            this.expire = card.expire;
            this.secret = card.secret;
        } 
    },
    methods: {
        getButtonClass() {
            if (this.card == '' || this.expire == '' || this.secret == '' || this.cardName == '') {
                return "btn-next mt-48 disabled";
            }

            return "btn-next mt-48";
        },
        sendForm() {
            this.isLoading = true;
            this.errorMessage = '';

            axios.post('/api/user/card/update', {
                card_number: this.card,
                name: this.cardName,
                expire: this.expire,
                secret: this.secret
            })
            .then(response => {
                response = response.data;

                this.$store.dispatch('setAuthUserDetail', {
                    profile: response.profile,
                    user: response.user
                });
                this.isLoading = false;
                this.$emit('cancel');
                
            }).catch(error => {
                this.isLoading = false
                this.errorMessage = error.response.data.message
            })
        },
        cancel () {
            this.$emit('cancel');
            window.history.back();
        },
    },
  }
</script>

<style lang="scss" scoped>

</style>
