<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box modal-ribbon-wrap">
            <div class='modal-ribbon'><div class='txt'>{{ title }}</div></div>
                <div class="dialog-content">
					<!--<p class="title mb-20">{{ title }}</p>-->
                    <p class="message mb-20" v-html="message">
                        
                    </p>
					<span class="btn-main-dialog" @click="cancel">はじめる</span>
                </div>
                <!--<img src="/assets/gray_close.svg" class="modal-close-icon" alt="image" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['message', 'title'],
    methods: {
        cancel () {
            this.$emit('confirm', 'system-alert')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
.alert-content {
    white-space: pre-line;
    margin-top: 20px;
    display: block;
    width: 100%;
}
</style>
