<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask image-mask show" @click="cancel">
    </div>
    <div class="picker-panel show image-view-dialog" v-touch:swipe="move">
        <div class="d-flex justify-content-center">
            <carousel :per-page="1" :autoplay="false" ref="carouselsRef" :navigateTo="navigateTo" :minSwipeDistance="100" @page-change="pageChanged">
                <slide v-for="(image, index) in photos" :key="index" v-html="image" v-bind:class="{contain: isContain}"></slide>
            </carousel>            
        </div>
        <img src="/assets/white_close.svg" alt="image" class="image-preview-close" @click="cancel" />
        <p class="index">{{currentIndex + 1}}/{{photos.length}}</p>
    </div>
  </div>
</template>

<script>
  import { Carousel, Slide } from 'vue-carousel';

  export default {
    props: ['image', 'photos', 'isContain'],
    components: {
        Carousel, Slide
    },
    data() {
        return {
            navigateTo: [0, false],
            currentIndex: 0
        }
    },
    methods: {
        cancel () {
            this.$emit('cancel')
        },
        move(direction, event) {
            event.preventDefault();
            event.stopPropagation();

            if (direction == 'bottom') {
                this.$emit('cancel');
            }
        },
        pageChanged(number) {
            this.currentIndex = number;
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
        let index = 0;

        this.photos.map((item, ind) => {
            if (item.includes(this.image)) index = ind;
        })

        this.navigateTo = [index, false];
    }
  }
</script>

<style lang="scss" scoped>
.vue-ios-picker .picker-mask.image-mask {
    background: rgba(0, 0, 0, .8);
}
</style>
