<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask image-mask show" @click="cancel">
    </div>
    <div class="picker-panel show image-view-dialog">
        <div class="d-flex justify-content-center">
            <cropper
                classname="cropper"
                :src="image"
                :stencilProps="aspectRatio"
                ref="cropper"
            ></cropper>
            <img src="/assets/white_close.svg" class="image-preview-close" alt="image" @click="cancel" />
            <p class="index" @click="confirm">{{label ? label : '選択する'}}</p>
        </div>
    </div>
  </div>
</template>

<script>
  import { Cropper } from 'vue-advanced-cropper'

  export default {
    props: ['image', 'label', 'aspectRatio'],
    components: {
        Cropper
    },
    data() {
        return {
            myCroppa: {}
        }
    },
    methods: {
        cancel () {
            this.$emit('cancel')
        },
        change() {

        },
        confirm() {
            this.$emit('confirm', this.$refs.cropper.getResult().canvas.toDataURL(), this.$refs.cropper.getResult().canvas)
        },
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
        let self = this;
        setTimeout(function() {
            console.log(self.$refs.cropper)
            let coordinates = Object.assign({}, self.$refs.cropper.stencilCoordinates);

            if (coordinates.top != 0 && coordinates.left != 0) {
                if (coordinates.top > coordinates.left) {
                    coordinates.width += coordinates.left * 2;
                    coordinates.height += coordinates.left * 2;
                    coordinates.top -= coordinates.left;
                    coordinates.left = 0;
                } else {
                    coordinates.width += coordinates.top * 2;
                    coordinates.height += coordinates.top * 2;
                    coordinates.left -= coordinates.top;
                    coordinates.top = 0;
                }

                self.$refs.cropper.stencilCoordinates = Object.assign({}, coordinates)
            }

            coordinates = Object.assign({}, self.$refs.cropper.coordinates);

            if (coordinates.top != 0 && coordinates.left != 0) {
                if (coordinates.top > coordinates.left) {
                    coordinates.width += coordinates.left * 2;
                    coordinates.height += coordinates.left * 2;
                    coordinates.top -= coordinates.left;
                    coordinates.left = 0;
                } else {
                    coordinates.width += coordinates.top * 2;
                    coordinates.height += coordinates.top * 2;
                    coordinates.left -= coordinates.top;
                    coordinates.top = 0;
                }

                self.$refs.cropper.coordinates = Object.assign({}, coordinates)
            }
        }, 500)
    }
  }
</script>

<style lang="scss" scoped>
.vue-advanced-cropper {
    width: 100%;
    max-width: 640px;
}
.index {
    cursor: pointer;
}
.vue-ios-picker .picker-mask.image-mask {
    background: rgba(0, 0, 0, .8);
}
</style>
