<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask image-mask show" @click="cancel">
    </div>
    <div class="picker-panel show image-view-dialog" v-touch:swipe="move">
        <div class="d-flex justify-content-center">
            <carousel :per-page="1" :autoplay="false" ref="carouselsRef" :navigateTo="navigateTo" :minSwipeDistance="100" @page-change="pageChanged">
                <slide v-for="(image, index) in showPhotos" :key="index" v-html="image.content" v-bind:class="{contain: isContain}"></slide>
            </carousel>            
        </div>
        <img src="/assets/white_close.svg" alt="image" class="image-preview-close" @click="cancel" />
        <span class="btn-main-dialog_mini" v-if="isContain && hideClass === false" @click="remove">画像削除</span>
    </div>
  </div>
</template>

<script>
  import { Carousel, Slide } from 'vue-carousel';

  export default {
    props: ['image', 'photos', 'isContain'],
    components: {
        Carousel, Slide
    },
    data() {
        return {
            navigateTo: [0, false],
            currentIndex: 0,
            hideClass: false,
            showPhotos: []
        }
    },
    methods: {
        cancel () {
            this.$emit('cancel')
        },
        move(direction, event) {
            event.preventDefault();
            event.stopPropagation();

            if (direction == 'bottom') {
                this.$emit('cancel');
            }
        },
        pageChanged(number) {
            this.currentIndex = number;
            if (this.showPhotos[number]) {
                this.hideClass = this.showPhotos[number].isMine == false;
            }
        },
        remove() {
            this.$emit('remove', this.showPhotos[this.currentIndex].content);
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
        let index = 0;

        this.showPhotos = this.photos.filter(item => {
            return item.content.includes(this.image)
        })

        this.showPhotos.map((item, ind) => {
            if (item.content.includes(this.image)) index = ind;
        })

        this.navigateTo = [index, false];
        this.hideClass = this.showPhotos[index].isMine == false;
    }
  }
</script>

<style lang="scss" scoped>
.vue-ios-picker .picker-mask.image-mask {
    background: rgba(0, 0, 0, .8);
}

.image-view-dialog .btn-main-dialog {
    position: fixed;
    bottom: 20px;
    width: 100%;
    max-width: 640px;
    left: calc(50% - 320px);

    &.hide {
        display: none !important;
    }
}

@media (max-width: 640px) {
    .image-view-dialog .btn-main-dialog {
        left: 0;
    }
}
</style>
