<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box modal-ribbon-wrap">
                <div class='modal-ribbon-brown' v-if="title != ''"><div class='txt'>通報回数を表示しよう</div></div>
                <div class="dialog-content">
                    <!--<p class="title mb-20">通報回数を表示</p>-->
                    <img :src="`/assets/${icon}.svg`" alt="image" class="modal-icon" v-if="icon != ''" />
                    <p class="message mb-15">
                        プロフィール写真を登録すると<br/>男性の「通報回数」が表示されます
                    </p>
					<span class="btn-main-dialog" @click="confirm">プロフィール写真を登録</span>
                </div>
                <!--<img src="/assets/gray_close.svg" alt="image" class="modal-close-icon" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['message', 'icon'],
    methods: {
        confirm() {
            this.$emit('confirm', 'need-image-upload')
        },
        cancel () {
            this.$emit('cancel')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
</style>
