<template>
  <div class="vue-ios-picker" style="display: block;">
    <div class="picker-mask show"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <Spinner line-fg-color="#D5A237"></Spinner>
        </div>
    </div>
  </div>
</template>

<script>
  import Spinner from 'vue-simple-spinner'

  export default {
    components: { Spinner },
    data () {
      return {
        loading: true,
        color: "green",
        size: "10"
      }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    },
  }
</script>

<style lang="scss" scoped>
  // mixins
  @mixin gradient-from-bottom($from, $to) {
    background: -moz-linear-gradient(bottom, $from, $to);
    background: -webkit-gradient(linear, left bottom, left top, from($from), to($to));
    background: -o-linear-gradient(bottom, $from, $to);
  }

  @mixin gradient-from-top($from, $to) {
    background: -moz-linear-gradient(top, $from, $to);
    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background: -o-linear-gradient(top, $from, $to);
  }

  @mixin unselectable() {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @mixin flex-box() {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }

  @mixin flex() {
    -ms-flex: 1 1 0.000000001px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    width: 1%;
  }

  @mixin border-top1px($color) {
    &:before, &:after {
      display: block;
      position: absolute;
      border-top: 1px solid $color;
      left: 0;
      width: 100%;
      content: ' ';
    }
    &:before {
      display: block;
      top: 0;
    }
    &:after {
      display: none;
      bottom: 0;
    }
  }

  @mixin border-bottom1px($color) {
    &:before, &:after {
      display: block;
      position: absolute;
      border-top: 1px solid $color;
      left: 0;
      width: 100%;
      content: ' ';
    }
    &:before {
      display: none;
      top: 0;
    }
    &:after {
      display: block;
      bottom: 0;
    }
  }

  // style
  .vue-ios-picker {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    font-size: 14px;
    z-index: 99999;
    @include unselectable();
    .picker-mask {
      position: absolute;
      z-index: 14import TheConfirm from "../../modals/TheConfirm"0;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      background: rgba(0, 0, 0, 0);
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;

      &.show {
        background: rgba(0, 0, 0, 0.6);
        opacity: 1;
      }
    }
    .picker-panel {
      position: absolute;
      z-index: 150;
      bottom: calc(50vh - 16px);
      left: 0;
      width: 100%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      &.show {
        transform: translateY(0);
        -webkit-transform: translateY(0);
      }
    }
  }
</style>
