<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <p class="dialog-title-top mb-20">このメッセージについて</p>
                <div class="dialog-content">
                    <!--<button type="button" class="btn-report mb-15" @click="report">{{topLabel}}</button>-->
                    <button type="button" class="btn-dialog-white mb-15" @click="report">{{topLabel}}</button>
                    <button type="button" class="btn-dialog-gray" @click="block"><img src="/assets/white_trash.svg" alt="image"/>削除する</button>
                </div>
                <!--<img src="/assets/gray_close.svg" alt="image" class="modal-close-icon" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['topLabel'],
    methods: {
        report() {
            this.$emit('confirm', 'message-top')
        },
        block() {
            this.$emit('confirm', 'message-hide')
        },
        cancel () {
            this.$emit('confirm', '')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
</style>
