<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <p class="dialog-title-top mb-20">{{title}}</p>
                <div class="dialog-content">
					<!--<p class="title mb-15">{{title}}</p>-->
					<p class="message mb-15" v-if="message != undefined && message != ''" v-html="message">
						
                    </p>
					<p class="message_sub" v-if="message_sub != undefined && message_sub != ''" v-html="message_sub">
                    </p>
					<!--
                    <p class="title">{{message}}</p>
                    <p class="message mt-16" v-if="message == 'ブロックしました'">マイページ設定で解除できます</p>
					-->
                </div>
                <!--<img src="/assets/gray_close.svg" alt="image" class="modal-close-icon" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
	props: ['title', 'message', 'message_sub'],
    methods: {
        cancel () {
            this.$emit('cancel')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
</style>
