<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box modal-ribbon-wrap">
                <div class='modal-ribbon' v-if="title != ''"><div class='txt'>{{title}}</div></div>
                <!--<p class="dialog-title-top mb-10" v-if="title != ''">{{title}}</p>-->
                <div class="dialog-content">
                    <!--<p class="title mb-20" v-if="title != ''">{{title}}</p>-->
                    <!--<img :src="`/assets/${icon}.svg`" class="modal-icon" alt="image" v-if="icon != ''" />-->
                    <p class="message mb-20" v-if="message != ''" v-html="message">
                    </p>
					<span class="btn-main-dialog" v-if="confirmTitle != ''" @click="confirm">{{confirmTitle}}</span>
                </div>
                <!--<img src="/assets/gray_close.svg" alt="image" class="modal-close-icon" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['title', 'message', 'confirmTitle', 'icon'],
    methods: {
        confirm() {
            this.$emit('confirm')
        },
        cancel () {
            this.$emit('cancel')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
</style>
