<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box modal-ribbon-wrap">
                <div class='modal-ribbon-brown'><div class='txt'>新しいお知らせ</div></div>
                <div class="dialog-content">
                    <!--<img src="/assets/logo-icon.png" class="modal-icon" alt="image" />-->
					<!--<p class="title mb-20">お知らせがあります。</p>-->
                    <p class="message mb-20">
						サービスに関するお知らせがございます。ご確認お願いいたします。
                    </p>
					<span class="btn-main-dialog" @click="cancel">確認する</span>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: [],
    methods: {
        cancel () {
            this.$emit('confirm', 'alert-notification-dialog')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
</style>
