<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <div class="mt-48 mb-36">
                    <img :src="`/assets/${icon}.svg`" alt="image" class="modal-icon" v-if="icon != ''" />
                    <p class="title">VIP設定をしている女性にアプローチできるのはVIP会員のみです。</p>
                    <p class="message md mt-16">
                        *既にプラチナ会員になっているユーザーしかVIP会員へのランクアップはできません。
                    </p>
                </div>
                <img src="/assets/gray_close.svg" alt="image" class="modal-close-icon" @click="cancel"/>
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['icon'],
    methods: {
        cancel () {
            this.$emit('cancel')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
</style>
