<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show purchase-dialog">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <p class="purchase-dialog-title mb-15"><!--{{data.points}}-->ポイント購入</p>
                <!--<img class="img-icon" src="/assets/gold_love.svg" alt="image" />-->
                <div class="price-content mb-20">
                    <span class="jp"><span class="pt">{{data.points}}</span>pt /</span>
                    <span class="price">{{data.price | number}}</span>
                    <span class="jp">円</span>
                </div>
                <div class="btn-card mb-20" @click="purchase" v-if="card && card.card_number != ''">
                    <img src="/assets/visa.svg" alt="image" />
                    <span>{{card.sendid | card}}</span>
                </div>
                <span class="btn-main-dialog mw-20 reverse mb-20" @click="addCard" v-else>カード情報を登録</span>
                <span class="card-edit mb-20" @click="editCard" v-if="card && card.card_number != ''">カード情報を変更</span>
                <!--<img src="/assets/close.svg" alt="image" class="modal-close-icon" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>
  import helper from "../../services/helper";

  export default {
    props: ['data', 'card'],
    methods: {
        addCard() {
            this.$emit('confirm', 'add')
        },
        cancel () {
            this.$emit('cancel')
        },
        editCard() {
            this.$emit('confirm', 'edit');
        },
        purchase() {
            this.$emit('confirm', 'purchase');
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    },
    filters: {
        number(price) {
            return helper.formatMoney(price);
        }, 
        card(value) {
            // return value.slice(0, 3) + "*****" + value.slice(-4) + " で決済する"
            return value + " で決済する"
        }
    }
  }
</script>

<style lang="scss" scoped>
.purchase-dialog {
    position: absolute !important;
    bottom: 0px;

    .dialog-body {
        margin: 0px calc(50% - 320px);
        border-radius: 0px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        .title {
            font-size: 18px;
            color: #0D0B16;
        }

        .img-icon {
            margin: 28px auto;
        }

        .price-content {
            .price {
                font-family: YuGothic Bold, sans-serif;
                font-size: 28px;
                line-height: 28px;
                color: #D5A237;
            }
        }

        .card-edit {
            color: #ACABAB;
            font-family: YuGothic Bold, sans-serif;
            font-size: 12px;
            display: inline-block;
            cursor: pointer;
        }
    }
}

@media (max-width: 640px) {
    .purchase-dialog {
        .dialog-body {
            margin: 0px;
        }
    }    
}
</style>
