<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show purchase-dialog">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <p class="purchase-dialog-title mb-15">写真の編集</p>
                <div class="dialog-content">
                    <!-- <span class="btn-main-dialog reverse mt-20 mb-12" @click="browse">ブラウズ</span> -->
                    <span class="btn-dialog-white mb-15" @click="upload">選択アップロード</span>
                    <span class="btn-dialog-gray reverse mb-15" @click="remove"><img src="/assets/white_trash.svg" alt="image"/>削除する</span>
                    <!--<span class="btn-gray mb-12" @click="cancel">閉じる</span>-->
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
  import helper from "../../services/helper";

  export default {
    props: ['data', 'card'],
    methods: {
        upload() {
            this.$emit('confirm', 'upload')
        },
        cancel () {
            this.$emit('cancel')
        },
        browse() {
            this.$emit('confirm', 'browse');
        },
        remove() {
            this.$emit('confirm', 'remove');
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    },
    filters: {
        number(price) {
            return helper.formatMoney(price);
        }, 
        card(value) {
            return "*****" + value.slice(-4) + "で支払う"
        }
    }
  }
</script>

<style lang="scss" scoped>
.purchase-dialog {
    position: absolute !important;
    bottom: 0px;

    .dialog-body {
        margin: 0px calc(50% - 320px);
        border-radius: 0px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        .title {
            font-size: 18px;
            color: #0D0B16;
        }

        .img-icon {
            margin: 28px auto;
        }

        .price-content {
            .price {
                font-family: YuGothic Bold, sans-serif;
                font-size: 28px;
                line-height: 28px;
                color: #D5A237;
            }
        }

        .card-edit {
            color: #ACABAB;
            font-family: YuGothic Bold, sans-serif;
            font-size: 12px;
            display: inline-block;
            cursor: pointer;
        }
    }
}

@media (max-width: 640px) {
    .purchase-dialog {
        .dialog-body {
            margin: 0px;
        }
    }    
}
</style>
