<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box modal-ribbon-wrap">
                <div class='modal-ribbon' v-if="currentPlan == 'free'"><div class='txt'>有料会員のご案内</div></div>
                <div class='modal-ribbon' v-if="currentPlan == 'paid'"><div class='txt'>プラチナ会員のご案内</div></div>
                <div class="dialog-content">
                    <!--<img :src="`/assets/${icon}.svg`" class="modal-icon" alt="image" v-if="icon != ''" />-->
                    <!--<p class="title" v-if="currentPlan == 'free'">有料会員のご案内</p>
                    <p class="title" v-if="currentPlan == 'paid'">プラチナ会員のご案内</p>-->
                    <div class="message_bold" v-if="currentPlan == 'free'">割引キャンペーン中！<span class="red-text" v-if="currentPlan == 'free'">5980円 /月</span></div>
                    <p class="message" v-if="currentPlan == 'free'">
                        「メッセージ／検索」は有料会員のみ<br/>
                        無料会員はご利用いただけません
                    </p>
                    <div class="message mb-8 bold" v-if="currentPlan == 'paid'">ご入会キャンペーン<span class="red-text" v-if="currentPlan == 'paid'">9800円 /月</span></div>
                    <div class="message_bold" v-if="currentPlan == 'paid'">ポイント<span class="red-text" v-if="currentPlan == 'paid'">毎月12500円分</span>プレゼント！</div>
                    <p class="message" v-if="currentPlan == 'paid'">
                        <!-- 通報回数の閲覧をできるのはプラチナ会員のみです -->
                        この機能はプラチナ会員のみ<br/>ご利用いただけます
                    </p>
                    <p class="message mt-10" v-if="currentPlan == 'platium'">
                        VIP設定をしている女性にアプローチできるのはVIP会員のみです
                    </p>
                    <div class="mt-10 plan-desc-box" v-if="currentPlan == 'free'">
                        <!--<p class="message_sub">有料会員にしかできないことがたくさん！</p>-->
                        <div class="box mt-10">
                            <div class="item">
                                <img src="/assets/plan_paid01.svg" alt="image" />
                                <p>メッセージ<br/>無制限</p>
                            </div>
                            <div class="item">
                                <img src="/assets/plan_paid02.svg" alt="image" />
                                <p>募集掲示板<br/>マッチング</p>
                            </div>
                            <div class="item">
                                <img src="/assets/plan_paid03.svg" alt="image" />
                                <p>絞り込み<br/>検索</p>
                            </div>
                            <div class="item">
                                <img src="/assets/plan_paid04.svg" alt="image" />
                                <p>ポイント<br/>無料配布</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10 plan-desc-box" v-if="currentPlan == 'paid'">
                        <!--<p class="message_sub">プラチナ会員にしかできないことがたくさん！</p>-->
                        <div class="box mt-10">
                            <div class="item">
                                <img src="/assets/plan_platium01.svg" alt="image" />
                                <p>新規5日間<br/>女性検索</p>
                            </div>
                            <div class="item">
                                <img src="/assets/plan_platium02.svg" alt="image" />
                                <p>メッセージ<br/>既読表示</p>
                            </div>
                            <div class="item">
                                <img src="/assets/plan_platium03.svg" alt="image" />
                                <p>プライベート表示</p>
                            </div>
                            <div class="item">
                                <img src="/assets/plan_platium04.svg" alt="image" />
                                <p>女性通報<br/>回数表示</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-20 plan-desc-box" v-if="currentPlan == 'platium'">
                        <!--<p class="message_sub">VIP会員にしかできないことがたくさん！</p>-->
                        <div class="box mt-16">
                            <div class="item">
                                <img src="/assets/plan_vip01.svg" alt="image" />
                                <p>VIP女性に<br/>アプローチ</p>
                            </div>
                            <div class="item">
                                <img src="/assets/plan_vip01.svg" alt="image" />
                                <p>VIPシークレット<br/>写真使用可</p>
                            </div>
                            <div class="item">
                                <img src="/assets/plan_paid03.svg" alt="image" />
                                <p>新規登録<br/>絞り込み</p>
                            </div>
                            <div class="item">
                                <img src="/assets/plan_paid04.svg" alt="image" />
                                <p>200pt/月<br/>いいね</p>
                            </div>
                        </div>
                    </div>
					<span class="btn-main-dialog mt-20" @click="confirm" v-if="currentPlan == 'free'">有料会員の機能一覧</span>
                    <span class="btn-main-dialog mt-20" @click="confirm" v-if="currentPlan == 'paid'">プラチナ会員の機能一覧</span>
                </div>
                <!--<img src="/assets/gray_close.svg" class="modal-close-icon" alt="image" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['icon', 'currentPlan'],
    methods: {
        confirm() {
            this.$emit('confirm', 'need-plan-up')
        },
        cancel () {
            this.$emit('cancel')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
</style>
