<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <p class="dialog-title-top mb-20">通報内容の入力</p>
                <div class="dialog-content">
                    <div class="text mt-20 mb-10">
                    「この会員」が利用規約に違反していることを通報します。日時と場所や状況など詳細をご記入ください。
                    </div>
                    <div class="violation-title mb-5">※通報内容の詳細</div>
                    <textarea v-model="reportContent" placeholder="具体的な違反内容を入力" class="form-control" rows="4"></textarea>
                    <button type="button" class="btn-dialog-white mb-20" v-bind:class="{active: reportContent.length > 0}" @click="report">通報内容の確認</button>
                    <div class="subtext mt-20 mb-20">
                        <div class="mb-5">・事実内容を確認し、利用規約に違反していると思われる場合にはしかるべき対処を行います。</div>
                        <div>・お送りいただいた通報に対して個別の返答はでかねますのでご了承ください。</div>
                    </div>                    
                </div>
                <!--<img src="/assets/gray_close.svg" alt="image" class="modal-close-icon" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['content'],
    data() {
        return {
            reportContent: this.content
        }
    },
    methods: {
        report() {
            if (this.reportContent == '') {
                toastr['warning']('通報内容を入力してください');
                return;
            }
            this.$emit('confirm', this.reportContent)
        },
        cancel () {
            this.$emit('cancel')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
</style>
