<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <p class="dialog-title-top mb-20">この会員について</p>
                <div class="dialog-content">
                    <button type="button" class="btn-dialog-white mb-15" v-if="alreadyFavorited() === false" @click="addFavorite">お気に入りに追加</button>
                    <button type="button" class="btn-dialog-gray reverse mb-15" v-if="alreadyFavorited()" @click="removeFavorite">お気に入りから削除</button>
                    <button type="button" class="btn-dialog-white mb-15" @click="block" v-if="type == '' && alreadyBlocked() == false">ブロックする</button>
                    <!-- <button type="button" class="btn-dialog-white mb-15" @click="unblock" v-if="type == 'unblock'">ブロック解除する</button> -->
                    <button type="button" class="btn-dialog-gray mb-15" @click="unblock" v-if="alreadyBlocked()">ブロック解除する</button>
                    <button type="button" class="btn-dialog-white mb-15" v-if="alreadyReported() == false" @click="report">運営者へ通報する</button>
					<!--<button type="button" class="btn-dialog-gray" @click="cancel">キャンセル</button>-->
                </div>
                <!--<img src="/assets/gray_close.svg" alt="image" class="modal-close-icon" @click="cancel"/>-->
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['type', 'userID'],
    methods: {
        report() {
            this.$emit('confirm', 'report-user')
        },
        block() {
            this.$emit('confirm', 'block-user')
        },
        unblock() {
            this.$emit('confirm', 'unblock-user');
        },
        cancel () {
            this.$emit('cancel')
        },
        alreadyReported() {
            let alreadyReported = false;
            this.$store.state.auth.user.send_reports.map(item => {
                if (item.to_user_id == this.userID) alreadyReported = true;
            })

            return alreadyReported;
        },
        alreadyFavorited() {
            let alreadyFavorited = false;
            this.$store.state.auth.user.favorites.map(item => {
                if (item.favorite_user_id == this.userID) alreadyFavorited = true;
            })

            return alreadyFavorited;
        },
        alreadyBlocked() {
            let alreadyBlocked = false;
            this.$store.state.auth.user.blocks.map(item => {
                if (item.block_user_id == this.userID) alreadyBlocked = true;
            })

            return alreadyBlocked;
        },
        addFavorite() {
            this.$emit('confirm', 'add-favorite')
        },
        removeFavorite() {
            this.$emit('confirm', 'remove-favorite')
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
</style>
