<template>
    <div class="container mt-40" v-if="histories != undefined">
        <div class="container-margin" v-if="histories.data.length > 0">
            <UserItem
                v-for="(history, index) in histories.data"
                :key="index"
                :user="history.from"
                :likedate="history.created_at"
                :liked="history.from.id == userID"
                @likeUser="likeUser"
                @openUser="openUser"
                @openChat="openChat"
                @likeBackUser="likeBackUser"
                @skipLike="skipLike"
                ref="userItems"
                v-if="currentIndex == 2 || (currentIndex == 1 && index < 4)"
                type="history" />
        </div>
        <div class="empty-list-box ch-110" v-if="isEmpty">
            <div>
                <p class="mb-10">足あとはありません</p>
                <img src="/assets/empty_history.svg" alt="image"/>
                <router-link :to="{ path: 'mypage/edit' }" class="btn-main small mt-20">プロフィールを充実させる</router-link>
            </div>
        </div>
        <Pagination v-if="histories.last_page > 1" ref="pagination" :item="histories" @open="openPage" />
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheLoading from "../../../modals/TheLoading"
    import UserItem from "../../components/user_item"
    import Pagination from "../../components/pagination"

    export default {
        props: ['currentIndex'],
        data(){
            return {
                isLoading: false,
                histories: this.$store.state.histories,
                current_page: 1,
                limit: 20,
                hasMore: false,
                isEmpty: false,
                me: this.$store.state.auth.user,
                userID: 0,
                lastUserIndex: -1,
                currentSkipUser1: undefined
            }
        },
        components: {
            TheLoading, UserItem, Pagination
        },
        created() {
            if (window.localStorage.getItem('last_user_index')) {
                this.lastUserIndex = parseInt(window.localStorage.getItem('last_user_index'));
                window.localStorage.removeItem('last_user_index');
            }
        },
        mounted() {
            if (window.localStorage.getItem('history_last_page_index')) {
                this.current_page = parseInt(window.localStorage.getItem('history_last_page_index'));
            }
            this.loadHistories();
        },
        methods: {
            likeUser(user) {
                if (helper.checkLikePermission(this, this.me, user)) {
                    this.userID = user.id;
                    this.isLoading = true;
                    helper.likeUser(this, user)
                    .then(response => {
                        this.isLoading = false;
                        this.loadHistories();

                        this.me = this.$store.state.auth.user
                    })
                } 
            },
            likeBackUser(user) {
                if (helper.checkLikeBackPermission(this, this.me, user)) {
                    this.userID = user.id;
                    this.isLoading = true;
                    helper.likeBackUser(this, user, '')
                    .then(response => {
                        this.isLoading = false;
                        if (response == "error") {
                            return;
                        }
                        this.loadHistories();
                    })
                } 
            },
            loadHistories() {
                axios.post('/api/view/histories', {
                    page: this.current_page,
                    limit: this.limit
                }).then(response => {
                    this.$store.dispatch('setAuthUserDetail', response.data.user);
                    this.me = this.$store.state.auth.user;

                    response = response.data.data;

                    this.$store.dispatch('setHistories', response);

                    this.histories = response;
                    this.hasMore = response.last_page > this.current_page
                    this.isLoading = false;
                    this.isEmpty = response.data.length == 0;
                    this.$forceUpdate();
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })
            },
            skipLike(user) {
                this.$emit('skipLikeFromHistory', user)
            },
            openPage(page) {
                this.current_page = page;
                this.loadHistories();
                this.$refs.pagination.refreshPages()

                window.scrollTo(0, 0)
            },
            openUser(user) {
                window.localStorage.setItem('history_last_page_index', this.current_page);
                window.localStorage.setItem('detail_from', 'history')
                window.localStorage.removeItem('detail_view_index')
                this.$router.push('/user/' + user.provider_unique_id);
            },
            openChat(user) {
                if (helper.needPlanUp(this, this.me)) return;

                let chatrooms = this.$store.state.auth.user.chatrooms.filter(item => {
                    return item.from_user_id == user.id || item.to_user_id == user.id;
                });

                this.$router.push('/chat/' + chatrooms[0].firebaseKey);
            },
            swipeDown() {
                this.isLoading = true;
                this.loadHistories();
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style>
</style>
