<template>
    <div id="wrapper" :class="`front-container gray-back ${lastUserIndex >= 0 ? 'white' : ''}`">
        <div class="like-tabs">
            <p :class="`like-tab-item ${currentIndex == 0 ? 'active' : ''}`" @click="changeTab(0)"><img :src="`/assets/like_tab${currentIndex == 0 ? '_active' : ''}.svg`" alt="image" />相手から</p>
            <p :class="`like-tab-item ${currentIndex == 1 ? 'active' : ''}`" @click="changeTab(1)"><img :src="`/assets/send_love1${currentIndex == 1 ? '_active' : ''}.svg`" alt="image" />自分から</p>
            <p :class="`like-tab-item ${currentIndex == 2 ? 'active' : ''}`" @click="changeTab(2)"><img :src="`/assets/like_history_tab${currentIndex == 2 ? '_active' : ''}.svg`" alt="image" />足あと</p>
        </div>
        <carousel :per-page="1" :autoplay="false" :navigateTo="navigateTo" @page-change="pageChanged" :minSwipeDistance="100">
            <slide>
                <div class="container mt-40" v-if="likes != undefined">
                    <div class="container-margin" v-if="likes.data.length > 0">
                        <UserItem
                            v-for="(like, index) in likes.data"
                            :timeline_id="like.timeline_id"
                            :key="index"
                            :user="like.from"
                            :likedate="like.created_at"
                            @likeBackUser="likeBackUser"
                            @skipLike="skipLike"
                            @openUser="openUser"
                            v-if="currentIndex == 0 || (currentIndex == 1 && index < 4)"
                            ref="userLikeItems"
                            type="like" />
                    </div>
                    <div class="empty-list-box ch-110" v-if="isEmpty">
                        <div>
                            <p class="mb-10">いいねをしてくれた<br/>お相手はまだいません</p>
                            <img src="/assets/empty_like.svg" alt="image"/>
                            <router-link :to="{ path: 'mypage/edit' }" class="btn-main small mt-20">プロフィールを充実させる</router-link>
                        </div>
                    </div>
                    <Pagination v-if="likes.last_page > 1" ref="pagination" :item="likes" @open="openPage" />
                </div>
            </slide>
            <slide>
                <sent :currentIndex="currentIndex" ref="sent"/>
            </slide>
            <slide>
                <history :currentIndex="currentIndex" ref="history" @skipLikeFromHistory="skipLikeFromHistory"/>
            </slide>
        </carousel>
        <TheConfirm
            title="いいね"
            message="このいいねを削除しますか"
            confirmTitle="削除する"
            @confirm="skipLikeConfirm"
            @cancel="currentSkipUser = undefined"
            v-if="currentSkipUser !== undefined" />
        <TheLoading v-if="isLoading || isFirstLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheLoading from "../../../modals/TheLoading"
    import UserItem from "../../components/user_item"
    import Pagination from "../../components/pagination"
    import TheConfirm from "../../../modals/TheConfirm"
    import { Carousel, Slide } from 'vue-carousel';
    import History from "./history";
    import sent from "./my-sent";

    export default {
        data(){
            return {
                isLoading: false,
                isFirstLoading: false,
                likes: this.$store.state.likes,
                current_page: 1,
                limit: 20,
                hasMore: false,
                isEmpty: false,
                me: this.$store.state.auth.user,
                navigateTo: [0, false],
                currentIndex: 0,
                lastUserIndex: -1,
                _mounted: false,
                currentSkipUser: undefined,
                skipFromHistory: false
            }
        },
        components: {
            TheLoading, UserItem, Pagination, Carousel, Slide, History, sent, TheConfirm
        },
        created() {
        },
        mounted() {
            let badge = this.$store.state.footerBadge;
            badge.like = false;
            this.$store.dispatch('setFooterBadge', badge);

            if (window.localStorage.getItem('detail_from') && window.localStorage.getItem('detail_from') == 'like') {
                this.currentIndex = 0;
                this.navigateTo = [0, false];
            }

            if (window.localStorage.getItem('detail_from') && window.localStorage.getItem('detail_from') == 'my-sent') {
                this.currentIndex = 1;
                this.navigateTo = [1, false];
            }

            if (window.localStorage.getItem('detail_from') && window.localStorage.getItem('detail_from') == 'history') {
                this.currentIndex = 2;
                this.navigateTo = [2, false];
            }
            
            if (window.localStorage.getItem('last_user_index')) {
                this.lastUserIndex = parseInt(window.localStorage.getItem('last_user_index'));
                window.localStorage.removeItem('last_user_index');
            }

            if (window.localStorage.getItem('likes_last_page_index')) {
                this.current_page = parseInt(window.localStorage.getItem('likes_last_page_index'));
            }
            
            this.loadLikes();

            let unCheckLikes = this.$store.state.auth.user.to_likes.filter(item => {
                return item.is_view == 0; 
            });

            if (unCheckLikes && unCheckLikes.length > 0) {
                axios.post('/api/likes/open')
                .then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });
                });
                
                if (this.isLoading == false) this.loadLikes();
            }

            let self = this;
            setTimeout(function() {
                self._mounted = true;
            }, 1000);
        },
        methods: {
            likeBackUser(user) {
                if (helper.checkLikeBackPermission(this, this.me, user)) {
                    this.isLoading = true;
                    helper.likeBackUser(this, user, '')
                    .then(response => {
                        if (response == "error") {
                            this.isLoading = false;
                            return;
                        }
                        this.loadLikes();
                    })
                }                
            },
            skipLikeConfirm() {
                this.isLoading = true;
                helper.skipLike(this, this.currentSkipUser)
                .then(response => {
                    this.isLoading = false;
                    if (response == "error") {
                        return;
                    }

                    if (this.skipFromHistory === true) {
                        this.$refs.history.loadHistories();
                    }
                    
                    this.loadLikes();
                    this.skipFromHistory = false;
                })
                
                this.currentSkipUser = undefined
            },
            skipLike(user) {
                this.currentSkipUser = user
                this.skipFromHistory = false;
            },
            skipLikeFromHistory(user) {
                this.currentSkipUser = user;
                this.skipFromHistory = true;
            },
            loadLikes() {
                axios.post('/api/likes', {
                    page: this.current_page,
                    limit: this.limit
                }).then(response => {
                    response = response.data.data;
                    this.$store.dispatch('setLikes', response);
                    this.likes = response
                    this.isLoading = false;
                    this.hasMore = response.last_page > this.current_page
                    this.isEmpty = response.data.length == 0;
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })
            },
            openPage(page) {
                this.current_page = page;
                this.loadLikes();
                this.$refs.pagination.refreshPages()

                window.scrollTo(0, 0)
            },
            openUser(user) {
                window.localStorage.setItem('likes_last_page_index', this.current_page);
                window.localStorage.setItem('detail_from', 'like');
                window.localStorage.removeItem('detail_view_index');
                
                this.$router.push('/user/' + user.provider_unique_id);
            },
            pageChanged(index) {
                this.currentIndex = index
                if (this._mounted === true) {
                    window.scrollTo(0, 0)
                }
            },
            changeTab(index) {
                if (this.currentIndex == index) return;

                this.currentIndex = index;
                this.navigateTo = [index, true];
            }
        },
        updated() {
            if (this.currentIndex == 1) { // my likes
                if (this.lastUserIndex >= 0 && this.$refs.sent.$refs.userItems.length > this.lastUserIndex) {
                    $('html, body').animate({ scrollTop: this.$refs.sent.$refs.userItems[this.lastUserIndex].$el.offsetTop - this.$refs.sent.$refs.userItems[0].$el.offsetTop }, 0);
                    this.lastUserIndex = -1;
                }
            }

            if (this.currentIndex == 0) { // like
                if (this.lastUserIndex >= 0 && this.$refs.userLikeItems.length > this.lastUserIndex) {
                    $('html, body').animate({ scrollTop: this.$refs.userLikeItems[this.lastUserIndex].$el.offsetTop - this.$refs.userLikeItems[0].$el.offsetTop }, 0);
                    this.lastUserIndex = -1;
                }
            }
            
            if (this.currentIndex == 2) { // history
                if (this.lastUserIndex >= 0 && this.$refs.history.$refs.userItems.length > this.lastUserIndex) {
                    $('html, body').animate({ scrollTop: this.$refs.history.$refs.userItems[this.lastUserIndex].$el.offsetTop - this.$refs.history.$refs.userItems[0].$el.offsetTop }, 0);
                    this.lastUserIndex = -1;
                }
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style>
</style>
