<template>
    <div class="container mt-40">
        <div class="container-margin" v-if="likes.length > 0">
            <UserItem
                v-for="(like, index) in likes"
                v-if="index >= (pageItem.current_page - 1) * pageLength && index < pageItem.current_page * pageLength"
                :key="index"
                :user="like.to"
                :liked="like.liked"
                :likedate="like.created_at"
                @likeUser="likeUser"
                @openUser="openUser"
                @openChat="openChat"
                ref="userItems"
                type="my-like" />
        </div>
        <div class="empty-list-box ch-110" v-if="isEmpty">
            <div>
                <p class="mb-10">いいねをしたお相手は<br/>まだいません</p>
                <img src="/assets/empty_like.svg" alt="image"/>
                <router-link :to="{ name: 'home' }" class="btn-main small mt-20">相手をさがす</router-link>
            </div>
        </div>

        <Pagination v-if="hasPagination()" ref="pagination" :item="pageItem" @open="openPage" />
        <TheLoading v-if="isLoading" />
        
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import UserItem from "../../components/user_item"
    import Pagination from "../../components/pagination"

    export default {
        props: ['currentIndex'],
        data(){
            return {
                isLoading: false,
                likes: [],
                me: this.$store.state.auth.user,
                isEmpty: false,
                lastUserIndex: -1,
                pageLength: 20,
                pageItem: {
                    current_page: 1,
                    last_page: 1
                }
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            UserItem,
            Pagination
        },
        created() {
            this.pageItem.current_page = window.localStorage.getItem('like_last_view_page') ? parseInt(window.localStorage.getItem('like_last_view_page')) : 1
            this.pageItem.last_page = this.pageItem.current_page
        },
        mounted() {
            if (window.localStorage.getItem('mysent_last_page_index')) {
                this.current_page = parseInt(window.localStorage.getItem('mysent_last_page_index'));
            }
            this.loadLikes()
        },
        beforeDestroy() {
            window.localStorage.setItem('like_last_view_page', this.pageItem.current_page);
        },
        methods: {
            loadLikes() {
                this.me = this.$store.state.auth.user;

                let likeIDs = [];
                let likes = [];

                this.me.from_likes.map(item => {
                    if (likeIDs.filter(id => {
                        return id == item.to_user_id;
                    }).length == 0) {
                        let blockIDs = this.me.blocks.filter(block => {
                            return block.block_user_id == item.to_user_id || block.user_id == item.to_user_id;
                        })

                        if (!(blockIDs && blockIDs.length > 0)) {
                            blockIDs = this.me.chatrooms.filter(chatroom => {
                                return chatroom.from_user_id == item.to_user_id || chatroom.to_user_id == item.to_user_id
                            })
                        }

                        if (!(blockIDs && blockIDs.length > 0)) {
                            if (item.to.is_deleted >= 1) blockIDs.push(item.to)
                        }

                        if (!(blockIDs && blockIDs.length > 0)) {
                            blockIDs = this.me.blockByUsers.filter(block => {
                                return block.user_id == item.to_user_id
                            })
                        }

                        if (!(blockIDs && blockIDs.length > 0)) {
                            likeIDs.push(item.to_user_id);
                            item.liked = false;
                            likes.push(item);
                        }
                    }
                })
                this.likes = likes;

                this.isEmpty = likes.length == 0;
                this.pageItem.last_page = Math.ceil(this.likes.length / this.pageLength)
            },
            likeUser(user) {
                if (helper.checkLikePermission(this, this.me, user)) {
                    helper.likeUser(this, user);
                    this.me = this.$store.state.auth.user

                    this.likes = this.likes.map(item => {
                        if (item.to.id == user.id) {
                            item.liked = true;
                        }
                        return item;
                    })
                    this.$forceUpdate();
                }
            },
            openUser(user) {
                window.localStorage.setItem('mysent_last_page_index', this.current_page);
                window.localStorage.setItem('detail_from', 'my-sent')
                window.localStorage.removeItem('detail_view_index');
                this.$router.push("/user/" + user.provider_unique_id);
            },
            openChat(user) {
                if (helper.needPlanUp(this, this.me)) return;
                
                let chatrooms = this.me.chatrooms.filter(item => {
                    return item.from_user_id == user.id || item.to_user_id == user.id;
                });

                this.$router.push('/chat/' + chatrooms[0].firebaseKey);
            },
            openPage(value) {
                this.pageItem.current_page = value
                this.$refs.pagination.refreshPages()
                window.scrollTo(0, 0)
            },
            hasPagination() {
                return Math.ceil(this.likes.length / this.pageLength) > 1;
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
