<template>
    <div id="wrapper" :class="`header-container gray-back ${lastUserIndex >= 0 ? 'white' : ''}`">
        <TheRegisterHeader label="自分から送ったいいね" borderClass="" backPageName="mypage" icon="back" />
        <div class="container">
            <div class="container-margin without-footer" v-if="likes.length > 0">
                <UserItem
                    v-for="(like, index) in likes"
                    v-if="index >= (pageItem.current_page - 1) * pageLength && index < pageItem.current_page * pageLength"
                    :key="index"
                    :user="like.to"
                    :liked="like.liked"
                    :likedate="like.created_at"
                    @likeUser="likeUser"
                    @openUser="openUser"
                    @openChat="openChat"
                    @unblockUser="unblockUser"
                    ref="userItems"
                    type="my-like" />
            </div>
            <div class="empty-list-box ch-110" v-if="isEmpty">
                <div>
                    <p class="mb-10">いいねをしたお相手は<br/>まだいません</p>
                    <img src="/assets/empty_like.svg" alt="image"/>
                    <router-link :to="{ name: 'home' }" class="btn-main small mt-20">相手をさがす</router-link>
                </div>
            </div>

            <Pagination v-if="hasPagination()" ref="pagination" :item="pageItem" @open="openPage" />
        </div>
        <TheConfirm
            title="ブロック設定"
            message="この会員のブロックを解除します"
            confirmTitle="ブロック解除する"
            @confirm="confirm"
            @cancel="cancel"
            v-if="showConfirmDialog" />
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import UserItem from "../../components/user_item"
    import Pagination from "../../components/pagination"
    import TheConfirm from "../../../modals/TheConfirm"

    export default {
        data(){
            return {
                isLoading: false,
                likes: [],
                me: this.$store.state.auth.user,
                isEmpty: false,
                lastUserIndex: -1,
                pageLength: 20,
                pageItem: {
                    current_page: 1,
                    last_page: 1
                },
                block_user_id: undefined,
                showConfirmDialog: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            UserItem,
            Pagination,
            TheConfirm
        },
        created() {
            this.pageItem.current_page = window.localStorage.getItem('like_last_view_page') ? parseInt(window.localStorage.getItem('like_last_view_page')) : 1
            this.pageItem.last_page = this.pageItem.current_page

            this.loadLikes()
        },
        mounted() {
            window.localStorage.setItem('detail_from', 'sent')
            window.localStorage.removeItem('detail_view_index');
            
            if (window.localStorage.getItem('last_user_index')) {
                this.lastUserIndex = parseInt(window.localStorage.getItem('last_user_index'));
                window.localStorage.removeItem('last_user_index');

                let self = this;
                this.$nextTick(function () {
                    self.pageItem.current_page = Math.ceil((self.lastUserIndex + 1) / self.pageLength)
                    let index = self.lastUserIndex - (self.pageItem.current_page - 1) * self.pageLength
                    index = index >= self.$refs.userItems.length ? self.$refs.userItems.length - 1 : index
                    $('html, body').animate({ scrollTop: self.$refs.userItems[index].$el.offsetTop - self.$refs.userItems[0].$el.offsetTop }, 0);
                    self.lastUserIndex = -1;
                })
                
            }
        },
        beforeDestroy() {
            window.localStorage.setItem('like_last_view_page', this.pageItem.current_page);
        },
        methods: {
            unblockUser(userID) {
                this.block_user_id = userID
                this.showConfirmDialog = true
            },
            loadLikes() {
                this.me = this.$store.state.auth.user;

                let likeIDs = [];
                let likes = [];
                this.me.from_likes.map(item => {
                    if (likeIDs.filter(id => {
                        return id == item.to_user_id;
                    }).length == 0) {
                        likeIDs.push(item.to_user_id);
                        item.liked = false;
                        likes.push(item);
                    }
                })
                this.likes = likes;

                this.isEmpty = likes.length == 0;
                this.pageItem.last_page = Math.ceil(this.likes.length / this.pageLength)
            },
            likeUser(user) {
                if (helper.checkLikePermission(this, this.me, user)) {
                    helper.likeUser(this, user);
                    this.me = this.$store.state.auth.user

                    this.likes = this.likes.map(item => {
                        if (item.to.id == user.id) {
                            item.liked = true;
                        }
                        return item;
                    })
                    this.$forceUpdate();
                }
            },
            openUser(user) {
                this.$router.push("/user/" + user.provider_unique_id);
            },
            openChat(user) {
                if (helper.needPlanUp(this, this.me)) return;
                
                let chatrooms = this.me.chatrooms.filter(item => {
                    return item.from_user_id == user.id || item.to_user_id == user.id;
                });

                this.$router.push('/chat/' + chatrooms[0].firebaseKey);
            },
            openPage(value) {
                this.pageItem.current_page = value
                this.$refs.pagination.refreshPages()
                window.scrollTo(0, 0)
            },
            hasPagination() {
                return Math.ceil(this.likes.length / this.pageLength) > 1;
            },
            confirm() {
                this.showConfirmDialog = false
                this.isLoading = true
                let data = new FormData();
                data.append('block_user_id', this.block_user_id)
                axios.post('/api/user/unblock', data)
                .then(response => {
                    response = response.data;

                    this.$store.dispatch('setAuthUserDetail', {
                        profile: response.data.profile,
                        user: response.data
                    });
                    
                    this.loadLikes();
                    this.isLoading = false
                }).catch(error => {
                    this.isLoading = false
                })
            },
            cancel() {
                this.showConfirmDialog = false
            },
        },
        computed: {
        },
    }
</script>
<style>
</style>
