<template>
	<section id="wrapper" class="header-container no-padding" v-if="currentIndex >= 0" v-touch:swipe="move">
        <TheRegisterHeader :label="label" borderClass="" :avatar="avatar" backPageName="history.back" icon="back" v-if="isShowHeader" @showMenu="showMenu" :isShowMenu="comeFrom != 'block'" />
        <carousel :per-page="1" :autoplay="false" ref="usersRef" :navigateTo="userNavigateTo" :minSwipeDistance="100" @page-change="pageChanged" v-touch:swipe="swipe">
            <slide v-for="(user, ind) in users" :key="ind">
                <div class="p-detail-top" @click="imagePreview">
                    <VueCarousel :data="getPhotos(user)" ref="carouselsRef" :indicators="false" :interval="3000" :autoplay="ind == currentIndex" ></VueCarousel>
                    <img class="overlay" src="/assets/detail_overlay.png" alt="image" />
                    <div class="p-detail-header">
                        <img src="/assets/white_back.svg" class="back" @click="back" alt="image" />
                        <!--<img src="/assets/red_love.svg" class="red_love" v-if="needShowFavorite(user)" />-->
                        <img src="/assets/white_star.svg" class="red_love" v-if="needShowFavorite(user)" />
                        <img src="/assets/white_dots.svg" class="menu" @click="showMenu" alt="image"/>
                    </div>
                    <div class="p-detail-label">
                        <img src="/assets/detail_vip.svg" class="mb-8" v-if="needToShowVIPBadge(user)" alt="image" />
                        <img class="mb-8" src="/assets/vip_badge.svg" v-if="user.profile.is_vip == 1" alt="image" />
                        <p class="title mb-12 d-flex">
                            {{user.profile.nickname}}&nbsp;{{user.profile.age}}歳
                        </p>
                        <p class="desc">{{user.profile.work}}</p>
                    </div>
                </div>
                <div class="p-detail-subimages" v-if="needShowSubImage(user)">
                    <div v-for="(image, index) in user.photos" :key="index" v-if="(image.type == 'main_photo' && image.is_approved == 1)">
                        <div>
                            <img :src="getMainPhoto(user)" @click="openSubImage(0)" alt="image" />
                        </div>
                    </div>
                    <div v-for="(image, index) in user.photos.filter(item => (item.type == 'sub_photo' && item.is_approved == 1))" :key="index + 1">
                        <div>
                            <img :src="image.thumb_url" @click="openSubImage(index + 1)" alt="image" />
                        </div>
                    </div>
                </div>
                <div class="p-detail-status">
                    <div :class="showOnline(user)" v-if="isBlockedBy(user) == false">
                        <span :class="getOnlineStatus(user)"></span>
                        <span class="online-status-label">{{getOnlineStatusLabel(user)}}</span>
                    </div>
                    <div class="p-detail-alert" v-if="((!(me.profile.gender == 1 && me.profile.membership.type == 'free')) && (isBlockedBy(user) == false))">
                        <span class="has-cursor" @click="checkReportNum(user)">
                            <span class="p-alert-label" v-html="getReportNum(user)"></span>
                        </span>
                    </div>
                    <div class="p-detail-location">
                        <span>{{user.profile.city.name}}</span>
                    </div>
                </div>
                <div class="container" v-if="isBlockedBy(user)">
                    <p class="p-detail-block-label">会員情報が見つかりません</p>                    
                </div>
                <div class="p-detail-profile mt-10"  v-if="user.profile.gender == 2">
                    <p>30分あたり</p>
                    <p class="desc">{{user.profile.cost}}P</p>
                </div>
                <div class="container" v-if="isBlockedBy(user) == false">
                    <p class="label-title gold-normal mt-20">自己紹介</p>
                    <pre class="mt-16 detail-introduction" v-if="ind == currentIndex" v-html="user.profile.content"></pre>

                    <p class="label-title gold-normal mt-20">ステータス</p>
                    <div v-if="ind == currentIndex">
                        <div class="p-detail-profile mt-16">
                            <p class="title">職業</p>
                            <p class="desc">{{user.profile.job.name}}</p>
                        </div>
                        <div class="p-detail-profile mt-16" v-if="user.profile.gender == 2">
                            <p class="title">将来の夢</p>
                            <p class="desc">{{user.profile.dream}}</p>
                        </div>
                        <div class="p-detail-profile mt-16" v-else>
                            <p class="title">年収</p>
                            <p class="desc">{{user.profile.salary.name}}</p>
                        </div>
                    </div>

                    <p class="label-title gold-normal mt-20">ビジュアル</p>
                    <div v-if="ind == currentIndex">
                        <div class="p-detail-profile mt-16">
                            <p class="title">身長</p>
                            <p class="desc">{{user.profile.height}}cm</p>
                        </div>
                        <div class="p-detail-profile mt-16">
                            <p class="title">体型</p>
                            <p class="desc">{{user.profile.body.name}}</p>
                        </div>
                    </div>
                    
                    <p class="label-title gold-normal mt-20">ライフスタイル</p>
                    <div v-if="ind == currentIndex">
                        <div class="p-detail-profile mt-16">
                            <p class="title">婚姻状況</p>
                            <p class="desc">{{user.profile.marriage.name}}</p>
                        </div>
                        <div class="p-detail-profile mt-16">
                            <p class="title">飲酒</p>
                            <p class="desc">{{user.profile.drink.name}}</p>
                        </div>
                        <div class="p-detail-profile mt-16 mb-80">
                            <p class="title">喫煙</p>
                            <p class="desc">{{user.profile.smoking.name}}</p>
                        </div>
                    </div>
                </div>
            </slide>
        </carousel>
        <div class="btn-containters" v-if="comeFrom != 'block' && users[currentIndex].is_deleted == 0 && isBlockedBy(users[currentIndex]) == false && hasBlocked(users[currentIndex]) == false">
            <button class="btn-message" type="button" v-if="hasChatroom" @click="clickMessage">
                <p>
                    <span class="icon"></span>
                    <span class="title">メッセージ</span>
                </p>
            </button>
            <button :class="getLikeClass" type="button" v-else @click="clickLike">
                <p>
                    <span class="icon"></span>
                    <span class="title">{{getLikeLabel}}</span>
                </p>
            </button>
        </div>
        <div class="move-btns" v-if="isPC">
            <img src="/assets/left.png" class="left" @click="move('left')" v-if="currentIndex > 0" alt="image"/>
            <img src="/assets/right.png" class="right" @click="move('right')" v-if="currentIndex < users.length - 1" alt="image" />
        </div>
        <TheImageViewDialog
            v-if="imageUrl != ''"
            :image="imageUrl"
            :photos="getPhotos(users[currentIndex])"
            @cancel="imagePreviewCancel" />
    </section>
</template>

<script>
    import helper from '../../../../services/helper'
    import { Carousel, Slide } from 'vue-carousel';
    import TheImageViewDialog from "../../../modals/TheImageViewDialog"
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import VueCarousel from '@chenfengyuan/vue-carousel';

    export default {
        data() {
            return {
                uId: this.$route.params.uid,
                user: undefined,
                carousels: [],
                me: this.$store.state.auth.user,
                isLikeClicked: false,
                imageUrl: '',
                isShowHeader: false,
                label: '',
                avatar: '',
                users: [],
                currentIndex: -1,
                userNavigateTo: [0, false],
                isPC: false,
                comeFrom: ''
            }
        },
        components: {
            Carousel, Slide, TheImageViewDialog, TheRegisterHeader, VueCarousel
        },
        created() {
            let params = Object.assign({}, this.$store.state.appliedFilters);
            params.limit = this.$store.state.searchUsers.users.length;
            params.currentUsersNum = this.$store.state.searchUsers.users.length

            helper.fetchUsers(this, params).then(response => {
                this.$forceUpdate();
            })
        },
        mounted() {
            this.loadUser();
            
            this.isPC = window.outerWidth > 640;
            window.addEventListener('scroll', this.onScroll)
            window.addEventListener('resize', this.onResize)
            
            this.$nextTick(function () {
                window.scrollTo(0, 0);
            })
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.onScroll);
            window.removeEventListener('resize', this.onResize);
            window.localStorage.setItem('last_user_index', this.currentIndex);
        },
        methods: {
            swipe(direction) {
            },
            imagePreview() {
                // this.imageUrl = this.carousels[this.$refs.carouselsRef[.currentPage]];
                this.imageUrl = this.$refs.carouselsRef[this.currentIndex].data[this.$refs.carouselsRef[this.currentIndex].index].replace("<img src='", '').replace("' />", "");
            },
            imagePreviewCancel() {
                this.imageUrl = ""
            },
            onScroll(e) {
                let scrollTop = e.srcElement.scrollingElement.scrollTop;
                let width = window.outerWidth > 640 ? 640 : window.outerWidth;

                this.isShowHeader = scrollTop > (width - 80)
            },
            onResize(e) {
                this.isPC = window.outerWidth > 640;
            },
            move(direction) {
                let ind = this.currentIndex;
                if (direction == 'left') {
                    ind = this.currentIndex - 1 < 0 ? this.users.length - 1 : this.currentIndex - 1;
                }

                if (direction == 'right') {
                    ind = this.currentIndex + 1 >= this.users.length ? 0 : this.currentIndex + 1;
                }

                this.userNavigateTo = [ind, true];
            },
            needShowSubImage(user) {
                if (this.isBlockedBy(user)) return false;

                return user.photos.filter(item => (item.type == 'main_photo' && item.is_approved == 1)).length > 0 || user.photos.filter(item => (item.type == 'sub_photo' && item.is_approved == 1)).length > 0;
            },
            needToShowVIPBadge(user) {
                return (user.profile.gender == 1 && user.profile.membership.type == 'vip')
            },
            async loadUser() {
                this.me = this.$store.state.auth.user;
                this.comeFrom = window.localStorage.getItem('detail_from');
                
                if (this.comeFrom == 'my-sent') {
                    this.users = [];
                    let likeIDs = [];

                    this.me.from_likes.map(item => {
                        if (likeIDs.filter(id => {
                            return id == item.to_user_id;
                        }).length == 0) {
                            let blockIDs = this.me.blocks.filter(block => {
                                return block.block_user_id == item.to_user_id || block.user_id == item.to_user_id;
                            })

                            if (!(blockIDs && blockIDs.length > 0)) {
                                blockIDs = this.me.chatrooms.filter(chatroom => {
                                    return chatroom.from_user_id == item.to_user_id || chatroom.to_user_id == item.to_user_id
                                })
                            }

                            if (!(blockIDs && blockIDs.length > 0)) {
                                likeIDs.push(item.to_user_id);
                                item.liked = false;
                                this.users.push(item.to);
                            }
                        }
                    })
                } else if (this.comeFrom == 'sent') {
                    this.users = [];
                    let likeIDs = [];

                    this.me.from_likes.map(item => {
                        if (likeIDs.filter(id => {
                            return id == item.to_user_id;
                        }).length == 0) {
                            likeIDs.push(item.to_user_id);
                            item.liked = false;
                            this.users.push(item.to);
                        }
                    })
                } else if (this.comeFrom == 'like') {
                    this.users = []

                    this.$store.state.likes.data.map(item => {
                        if (item.from) {
                            let hasItem = this.users.filter(user => {
                                return user.id == item.from.id
                            })

                            if (!(hasItem && hasItem.length > 0))
                                this.users.push(item.from);
                        }
                    })
                } else if (this.comeFrom == 'history') {
                    this.users = []

                    this.$store.state.histories.data.map(item => {
                        if (item.from) {
                            let hasItem = this.users.filter(user => {
                                return user.id == item.from.id
                            })

                            if (!(hasItem && hasItem.length > 0))
                                this.users.push(item.from);
                        }
                    })
                } else if (this.comeFrom == 'timeline') {
                    this.users = []
                    
                    this.$store.state.timelines.timelines.map(item => {
                        if (item.user.provider_unique_id == this.uId && this.users.length == 0) {
                            this.users.push(item.user);
                        }
                    })
                } else if (this.comeFrom == 'message') {
                    this.users = []

                    this.$store.state.chatrooms.data.map(item => {
                        if (item.from && item.to) {
                            let hasItem = this.users.filter(user => {
                                return (user.id == item.from.id || user.id == item.to.id)
                            })

                            if (!(hasItem && hasItem.length > 0)) {
                                this.users.push(item.from.id == this.me.id ? item.to : item.from);
                            }
                        }
                    })
                } else if (this.comeFrom == 'block') {
                    this.users = this.me.blocks.map(item => {
                        return item.block_user;
                    })
                } else if (this.comeFrom == 'favorite') {
                    this.users = this.me.favorites.map(item => {
                        return item.favorite_user;
                    })
                } else if (this.comeFrom == 'search') {
                    this.users = this.$store.state.searchUsers.users
                } else {
                    let response = await axios.post('/api/search/user', {
                        user_id: this.uId
                    })

                    this.users = []
                    this.users.push(response.data.data)
                    this.comeFrom = ""
                }

                if (window.localStorage.getItem('detail_view_index')) {
                    this.currentIndex = window.localStorage.getItem('detail_view_index');
                } else {
                    this.users.map((item, index) => {
                        if (item.provider_unique_id == this.uId) {
                            this.currentIndex = index;
                        }
                    })
                }

                if (this.currentIndex == -1 || isNaN(this.currentIndex)) {
                    // window.history.back();
                    // return;
                    let response = await axios.post('/api/search/user', {
                        user_id: this.uId
                    })

                    if (response.data.data.profile.gender === this.me.profile.gender) {
                        this.$router.push({ name: 'home' });
                        return;
                    }

                    this.users = []
                    this.users.push(response.data.data)
                    this.currentIndex = 0;
                    this.comeFrom = "";
                }

                this.userNavigateTo = [this.currentIndex, false];
                this.label = "<span>" + this.users[this.currentIndex].profile.nickname + '</span><span>' + this.users[this.currentIndex].profile.age + '歳</span>';

                if (this.isBlockedBy(this.users[this.currentIndex]))
                    this.avatar = (this.users[this.currentIndex].profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
                else
                    this.avatar = helper.getAvatar(this.users[this.currentIndex])

                if (this.comeFrom != 'block')
                    this.leaveHistory();
            },
            getPhotos(user) {
                let carousels = [];

                if (this.isBlockedBy(user)) {
                    carousels.push((user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png'));
                    return carousels.map(item => {
                        return "<img src='" + item + "' alt='image' />";
                    });
                }
                
                if (user.profile.image_approved) {
                    if (this.getMainPhoto(user) != '')
                        carousels.push(this.getMainPhoto(user))

                    user.photos.filter(photo => photo.type == 'sub_photo').map(photo => {
                        if (photo.is_approved == 1) carousels.push(photo.photo_url.replace("thumbnail_", ""));
                    })
                } else {
                    if (user.profile.gender == 1 && user.profile.membership.type == 'vip') {
                        carousels.push("/assets/vip_img01.svg")
                    } else {
                        carousels.push((user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png'))
                    }

                    user.photos.filter(photo => photo.type == 'sub_photo').map(photo => {
                        if (photo.is_approved == 1) carousels.push(photo.photo_url.replace("thumbnail_", ""));
                    })
                }

                return carousels.map(item => {
                    return "<img src='" + item + "' alt='image' />";
                });
            },
            pageChanged(number) {
                this.currentIndex = number;
                window.localStorage.setItem('detail_view_index', number);
                if (this.users[number]) {
                    this.label = this.users[number].profile.nickname + ' ' + this.users[number].profile.age + '歳';

                    if (this.isBlockedBy(this.users[number]))
                            this.avatar = (this.users[number].profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
                    else
                        this.avatar = helper.getAvatar(this.users[number])

                    this.isLikeClicked = false;
                    this.$refs.carouselsRef[this.currentIndex].slideTo(0);
                    this.me = this.$store.state.auth.user;

                    if (this.comeFrom != 'block')
                        this.leaveHistory();
                }
            },
            back(e) {
                e.preventDefault();
                e.stopPropagation();
                if (this.comeFrom === "") {
                    this.$router.push({name: 'home'});
                    return;
                }
                window.history.back();
            },
            leaveHistory() {
                if (this.me.profile.is_private == 0 && this.me.id != this.users[this.currentIndex].id) { // leave view history
                    axios.post('/api/user/leave/history', {
                        to_user_id: this.users[this.currentIndex].id
                    });
                }
            },
            getMainPhoto(user) {
                if (user.profile.image_approved == 0 || user.profile.image_approved == 2) return (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');

                let main_photo = user.photos.filter(photo => photo.type == 'main_photo');
                if (main_photo && main_photo.length > 0) {
                    main_photo = main_photo[0].photo_url;
                    if (user.profile.gender == 1 && user.profile.membership.type == 'vip') {
                        if (user.profile.vip_image) {
                            main_photo = user.profile.vip_image.url;
                        } else {
                            if (user.profile.avatar == '') {
                                main_photo = '/assets/vip_img01.svg';
                            }
                        }
                    }
                } else {
                    if (user.profile.gender == 1 && user.profile.membership.type == 'vip') {
                        if (user.profile.vip_image) {
                            main_photo = user.profile.vip_image.url;
                        } else {
                            main_photo = '/assets/vip_img01.svg';
                        }
                    } else {
                        main_photo = '';
                    }
                }

                return main_photo.replace('thumbnail_', '');
            },
            needToShowKey() {
                return (this.me.profile.gender == 1 && (this.me.profile.membership.type == 'free' || this.me.profile.membership.type == 'paid') || (this.me.profile.gender == 2 && (this.me.profile.avatar == undefined || this.me.profile.avatar == '')));
            },
            openSubImage(index) {
                this.$refs.carouselsRef[this.currentIndex].slideTo(index);
            },
            showMenu(e) {
                e.preventDefault();
                e.stopPropagation();
                this.$store.dispatch('setInternalAlert', {
                    type: 'block-user-dialog',
                    data: 'remain',
                    message: this.comeFrom == 'block' ? 'unblock' : '',
                    userID: this.users[this.currentIndex].id
                })
            },
            getReportNum(user) {
                let num = '';
                if ((this.me.profile.gender == 1 && (this.me.profile.membership.type == 'free' || this.me.profile.membership.type == 'paid')) || (this.me.profile.gender == 2 && (this.me.profile.image_approved != 1 || this.me.profile.avatar == undefined || this.me.profile.avatar == ''))) {
                    num = '<span class="locked"><img class="key" src="/assets/key16.svg" alt="image" /></span>';
                } else {
                    num = user.last90_reports_count;
                }
                return '通報 ' + num + ' 回';
            },
            checkReportNum() {
                if (this.me.profile.gender == 1 && (this.me.profile.membership.type == 'paid' || this.me.profile.membership.type == 'free')) {
                    this.$store.dispatch('setInternalAlert', {
                        type: 'need-plan-up',
                        data: 'remain'
                    });
                }

                if (this.me.profile.gender == 2 &&  (this.me.profile.image_approved != 1 || this.me.profile.avatar == undefined || this.me.profile.avatar == '')) {
                    this.$store.dispatch('setInternalAlert', {
                        type: 'need-image-upload',
                        data: 'remain'
                    });
                }
            },
            clickLike() {
                if (this.isLikeClicked) return;

                let user = this.users[this.currentIndex];

                let likes = this.me.to_likes.filter(item => {
                    return item.from_user_id == user.id
                });

                if (likes && likes.length > 0) {
                    if (helper.checkLikeBackPermission(this, this.me, user)) {
                        helper.likeBackUser(this, user, '');
                        this.me = this.$store.state.auth.user
                    } else {
                        return;
                    }
                } else {
                    if (helper.checkLikePermission(this, this.me, user)) {
                        helper.likeUser(this, user);
                        this.me = this.$store.state.auth.user
                    } else {
                        return;
                    }
                }

                this.isLikeClicked = true;
            },
            clickMessage() {
                if (helper.needPlanUp(this, this.me)) return;

                let user = this.users[this.currentIndex];
                
                let chatrooms = this.me.chatrooms.filter(item => {
                    return (item.from_user_id == this.me.id && item.to_user_id == user.id) || (item.to_user_id == this.me.id && item.from_user_id == user.id);
                });

                this.$router.push('/chat/' + chatrooms[0].firebaseKey);
            },
            getOnlineStatus(user) {
                let blocks = this.me.blockByUsers.filter(item => item.user_id == user.id)
                if (blocks && blocks.length > 0) return 'online-status';

                return helper.getOnlineStatus(user).replace('mr-4', '');
            },
            getOnlineStatusLabel(user) {
                let blocks = this.me.blockByUsers.filter(item => item.user_id == user.id)
                if (blocks && blocks.length > 0) return 'オフライン';

                // show online off
                if (user.profile.show_online == 1) return "オフライン";
                if (user.is_deleted >= 1) return 'オフライン';
                
                let date = user.last_login_at ? user.last_login_at : user.created_at;

                let loginAt = moment(date);
                let now = moment();
                let diff = moment.duration(now.diff(loginAt));
                if (diff.asDays() > 14) {
                    return 'オフライン';
                }

                if (user.is_logged_in == 1) {
                    if (diff.asMinutes() > 10) return helper.formatDateWithin(date, true); // off for 10 mins

                    return 'オンライン';
                } else {
                    return helper.formatDateWithin(date, false);
                }
            },
            showOnline(user) {
                if (user.profile.show_online == 1) return "online";

                return "online";
            },
            isBlockedBy(user) {
                if (user.is_deleted >= 1) return true;

                let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == user.id)
                return blocks && blocks.length > 0;
            },
            hasBlocked(user) {
                let blocks = this.$store.state.auth.user.blocks.filter(item => item.block_user_id == user.id)
                return blocks && blocks.length > 0
            },
            needShowFavorite(user) {
                if (this.$store.state.auth.user.favorites.length === 0) return false;

                return this.$store.state.auth.user.favorites.filter(item => item.favorite_user_id === user.id).length > 0
            }
        },
        computed: {
            getLikeClass() {
                let likes = this.me.from_likes.filter(item => {
                    return item.to_user_id == this.users[this.currentIndex].id
                });

                if (likes && likes.length > 0) {
                    if (this.isLikeClicked) return 'btn-like like-again-liked';

                    return 'btn-like like-again';
                }
                if (this.isLikeClicked) return 'btn-like liked';
                
                return 'btn-like';
            },
            getLikeLabel() {
                if (this.isLikeClicked) return 'いいね 完了';
                
                let likes = this.me.from_likes.filter(item => {
                    return item.to_user_id == this.users[this.currentIndex].id
                });
                if (likes && likes.length > 0) return '再いいね';

                likes = this.me.to_likes.filter(item => {
                    return item.from_user_id == this.users[this.currentIndex].id
                });

                if (likes && likes.length > 0) return 'いいね ありがとう！';

                return 'いいね';
            },
            hasChatroom() {
                if (this.me.chatrooms.length == 0) return false;

                let chatrooms = this.me.chatrooms.filter(item => {
                    return (item.from_user_id == this.me.id && item.to_user_id == this.users[this.currentIndex].id) || (item.to_user_id == this.me.id && item.from_user_id == this.users[this.currentIndex].id);
                });

                if (chatrooms && chatrooms.length > 0) return true;

                return false;
            }
        }
    }
</script>