<template>
    <div id="wrapper" class="profile-step header-container">
        <TheRegisterHeader :label="headerLabel" borderClass="" backPageName="search_filter" icon="back" />
        <div class="container">
			<div class="mt-10 regi-list-field">
		
				<div class="input-field filter-item-flex" v-if="isSelect">
					<div class="flex-row">
                        <v-select :options="startValues" v-model="selectedValues[0]" />
						<label v-if="type == 'height'">cm</label>
						<label v-if="type == 'age'">歳</label>
					</div>
					<p class="between">～</p>
					<div class="flex-row">
                        <v-select :options="endValues" v-model="selectedValues[1]" />
						<label v-if="type == 'height'">cm</label>
						<label v-if="type == 'age'">歳</label>
					</div>
				</div>
				<div class="input-field" v-else>
					<div :class="getCustomCheckClass(value.id)" v-for="(value, bInd) in values" :key="bInd" @click="selectValue(value.id)">
						<label>{{value.name}}</label>
						<img :src="`/assets/${(selectedValues && selectedValues.includes(value.id)) ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
					</div>
				</div>
			
			</div>
			
            <button :class="getButtonClass()" :disabled="this.getButtonClass().includes('disabled')" type="button" @click="addFilter">選択する</button>
            <button class="btn-main-reverse small mt-10 mb-20" type="button" @click="clear">クリアする</button>
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import VSelect from '@alfsnd/vue-bootstrap-select'

    export default {
        data(){
            return {
                isLoading: false,
                gender: this.$store.state.auth.user.profile.gender,
                type:this.$route.params.type,
                headerLabel: '',
                startValues: [],
                endValues: [],
                selectedValues: [],
                values: [],
                masterData: this.$store.state.masterData,
                filters: this.$store.state.filters,
                me: this.$store.state.auth.user,
                empty: '無し',
                labels: [{
                    type: 'age',
                    label: '年齢'
                },{
                    type: 'city',
                    label: '地域'
                },{
                    type: 'salary',
                    label: '年収'
                },{
                    type: 'marriage',
                    label: '婚姻状況'
                },{
                    type: 'height',
                    label: '身長'
                },{
                    type: 'body',
                    label: '体型'
                },{
                    type: 'drink',
                    label: '飲酒'
                },{
                    type: 'smoking',
                    label: '喫煙'
                },{
                    type: 'new',
                    label: '新規登録'
                },{
                    type: 'job',
                    label: '職業'
                }],
                isSelect: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            VSelect
        },
        watch: {
            selectedValues: function() {
                this.changeStartValue();
                this.changeEndValue();
            }
        },
        created() {
            this.headerLabel = this.labels.filter(item => {
                return item.type == this.type;
            })[0].label + ' 検索条件';

            this.values = [];
            this.startValues = [];
            this.endValues = [];
            this.isSelect = false;
            if (this.type == 'age') {
                let start = this.gender == 1 ? 18 : 30;
                this.isSelect = true;
                this.formatValueRanges('start', start, 99);
                this.formatValueRanges('end', start, 99);
                this.selectedValues = this.filters.ages ? this.filters.ages.map(value => {
                    if (value == -1) return this.empty
                    return value
                }) : [this.empty, this.empty];
                if (this.selectedValues[0] > 0) this.changeStartValue();
                if (this.selectedValues[1] > 0) this.changeEndValue();
            } else if (this.type == 'height') {
                this.isSelect = true;
                this.formatValueRanges('start', 140, 200);
                this.formatValueRanges('end', 140, 200);
                this.selectedValues = this.filters.heights ? this.filters.heights.map(value => {
                    if (value == -1) return this.empty
                    return value
                }) : [this.empty, this.empty];
                if (this.selectedValues[0] > 0) this.changeStartValue();
                if (this.selectedValues[1] > 0) this.changeEndValue();
            } else if (this.type == 'city') {
                this.values = this.masterData.cities
                this.selectedValues = this.filters.city_ids ? this.filters.city_ids : [];
            } else if (this.type == 'marriage') {
                this.values = this.masterData.marriages
                this.selectedValues = this.filters.marriage_ids ? this.filters.marriage_ids : [];
            } else if (this.type == 'salary') {
                this.values = this.masterData.salaries
                this.selectedValues = this.filters.salary_ids ? this.filters.salary_ids : [];
            } else if (this.type == 'job') {
                this.values = this.masterData.jobs
                this.selectedValues = this.filters.job_ids ? this.filters.job_ids : [];
            } else if (this.type == 'body') {
                this.values = this.masterData.bodies
                this.selectedValues = this.filters.body_ids ? this.filters.body_ids : [];
            } else if (this.type == 'drink') {
                this.values = this.masterData.drinks
                this.selectedValues = this.filters.drink_ids ? this.filters.drink_ids : [];
            } else if (this.type == 'smoking') {
                this.values = this.masterData.smokings
                this.selectedValues = this.filters.smoking_ids ? this.filters.smoking_ids : [];
            } else if (this.type == 'new') {
                this.selectedValues = [];
                this.selectedValues.push(this.filters.days);

                this.values.push({
                    id: 1,
                    name: '24時間以内'
                });
                this.values.push({
                    id: 3,
                    name: '3日以内'
                });
                this.values.push({
                    id: 5,
                    name: '5日以内'
                });
            }
        }, 
        mounted() {
            this.$nextTick(function () {
                window.scrollTo(0, 0);
            })
        },
        methods: {
            getCustomCheckClass(value) {
                if (this.type == 'new') {
                    if (this.me.profile.gender == 2) return 'custom-check-box';
                    
                    if (this.me.profile.gender == 1 && this.me.profile.membership.type == 'platium') {
                        return 'custom-check-box';
                    } else if (this.me.profile.gender == 1 && this.me.profile.membership.type == 'paid') {
                        if (value == 1) return 'custom-check-box';
                    }
                    return 'custom-check-box invalid';
                }
                return 'custom-check-box';
            },
            formatValueRanges(type, start, end) {
                if (type == 'start') {
                    if (end == this.empty) return;

                    this.startValues = [];
                    for (let i = start; i <= end; i++) {
                        this.startValues.push(i)
                    }
                } else {
                    if (start == this.empty) return;
                    this.endValues = [];
                    for (let i = start; i <= end; i++) {
                        this.endValues.push(i)
                    }
                }
            },
            changeStartValue() {
                if (this.type == 'age') {
                    this.formatValueRanges('end', this.selectedValues[0], 99);
                } else if (this.type == 'height') {
                    this.formatValueRanges('end', this.selectedValues[0], 200);
                }
            },
            changeEndValue() {
                if (this.type == 'age') {
                    this.formatValueRanges('start', this.gender == 1 ? 18 : 30, this.selectedValues[1]);
                } else if (this.type == 'height') {
                    this.formatValueRanges('start', 150, this.selectedValues[1]);
                }
            },
            selectValue(value) {
                if (this.getCustomCheckClass(value).includes('invalid')) {
                    this.$store.dispatch('setInternalAlert', {
                        type: 'need-plan-up',
                        data: 'remain'
                    });
                    return;
                }

                if (this.type == 'new') {
                    this.selectedValues = []
                    this.selectedValues.push(value);
                    this.$forceUpdate();
                    return;
                }

                let hasValue = this.selectedValues.filter(item => item == value).length > 0;
                if (hasValue) {
                    this.selectedValues = this.selectedValues.filter(item => item != value);
                } else {
                    this.selectedValues.push(value);
                }
                this.$forceUpdate();
            },
            clear() {
                this.selectedValues = [];
                let key = this.type == 'new' ? 'days' : this.type;
                if (key == 'age') {
                    key = 'ages';
                    this.selectedValues = [this.empty, this.empty]
                } else if (key == 'height') {
                    key = 'heights';
                    this.selectedValues = [this.empty, this.empty]
                } else {
                    key = key + "_ids";
                }
                delete this.filters[key];
                this.$store.dispatch('setFilters', this.filters);
                this.$forceUpdate();
            },
            getButtonClass() {
                if (this.selectedValues.length <= 0) return 'btn-main small mt-10 disabled';
                return 'btn-main small mt-10';                
            },
            addFilter() {
                if (this.type == 'age') {
                    this.filters.ages = this.selectedValues.map(item => {
                        if (item == this.empty) return -1;
                        return item;
                    });
                }
                if (this.type == 'city') {
                    this.filters.city_ids = this.selectedValues;
                }
                if (this.type == 'salary') {
                    this.filters.salary_ids = this.selectedValues;
                }
                if (this.type == 'job') {
                    this.filters.job_ids = this.selectedValues;
                }
                if (this.type == 'marriage') {
                    this.filters.marriage_ids = this.selectedValues;
                }
                if (this.type == 'height') {
                    this.filters.heights = this.selectedValues.map(item => {
                        if (item == this.empty) return -1;
                        return item;
                    });;
                }
                if (this.type == 'body') {
                    this.filters.body_ids = this.selectedValues;
                }
                if (this.type == 'drink') {
                    this.filters.drink_ids = this.selectedValues;
                }
                if (this.type == 'smoking') {
                    this.filters.smoking_ids = this.selectedValues;
                }
                if (this.type == 'new') {
                    this.filters.days = this.selectedValues[0];
                }

                this.$store.dispatch('setFilters', this.filters);
                this.$router.push({ name: 'search_filter' });
            }
        },
        computed: {
            
        },
    }
</script>
<style>
</style>
