<template>
    <div id="wrapper" class="profile-step header-container">
        <TheRegisterHeader label="検索条件" borderClass="" backPageName="home" icon="back" />
        <div class="container ">
            <div class="filter-item mt-5" @click="addFilter('age')">
                <p>年齢</p>
                <p>{{fetchAge}}</p>
            </div>
            <div class="filter-item" @click="addFilter('city')">
                <p>地域</p>
                <p>{{fetchCity}}</p>
            </div>
            <div class="filter-item" v-if="gender == 2" @click="addFilter('salary')">
                <p>年収</p>
                <p>{{fetchSalary}}</p>
            </div>
            <div class="filter-item" @click="addFilter('job')">
                <p>職業</p>
                <p>{{fetchJob}}</p>
            </div>
            <div class="filter-item" @click="addFilter('marriage')">
                <p>婚姻状況</p>
                <p>{{fetchMarriage}}</p>
            </div>
            <div class="filter-item" @click="addFilter('height')">
                <p>身長</p>
                <p>{{fetchHeight}}</p>
            </div>
            <div class="filter-item" @click="addFilter('body')">
                <p>体型</p>
                <p>{{fetchBody}}</p>
            </div>
            <div class="filter-item" @click="addFilter('drink')">
                <p>飲酒</p>
                <p>{{fetchDrink}}</p>
            </div>
            <div class="filter-item" @click="addFilter('smoking')">
                <p>喫煙</p>
                <p>{{fetchSmoking}}</p>
            </div>
            <div class="filter-item" @click="addFilter('new')">
                <p>新規登録</p>
                <p>{{this.filters.days ? (this.filters.days == 1 ? '24時間以内' : this.filters.days + '日以内') : 'こだわらない'}}</p>
            </div>
            <button class="btn-main small mt-15" type="button" @click="applyFilter"><img src="/assets/white_search.svg" alt="image" /> この条件で検索</button>
            <button class="btn-main-reverse small mt-15 mb-20" type="button" @click="clear">クリアする</button>
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                isLoading: false,
                gender: this.$store.state.auth.user.profile.gender,
                masterData: this.$store.state.masterData,
                filters: this.$store.state.filters,
                me: this.$store.state.auth.user
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading
        },
        created() {
            
        },
        mounted() {
            this.$nextTick(function () {
                window.scrollTo(0, 0);
            })
        },
        methods: {
            addFilter(type) {
                if (this.checkPermission() == false) return;

                this.$router.push('/search/filter/' + type);
            },
            checkPermission() {
                if (this.me.profile.gender == 1 && this.me.profile.membership.type == 'free') {
                    this.$store.dispatch('setInternalAlert', {
                        type: 'need-plan-up',
                        data: 'remain'
                    });
                    return false;
                }

                return true;
            },
            clear() {
                if (this.checkPermission() == false) return;
                
                this.$store.dispatch('setFilters', {});
                this.filters = {};
                this.$forceUpdate();
            },
            applyFilter() {
                if (this.checkPermission() == false) return;

                this.$store.dispatch('setAppliedFilters', Object.assign({}, this.filters));
                this.$store.dispatch('setSearchUsers', {
                    hasMore: true,
                    users: []
                });
                this.$router.push({ name: 'home' });
            }
        },
        computed: {
            fetchCity() {
                if (this.filters.city_ids == undefined || this.filters.city_ids.length == 0) return 'こだわらない';

                return this.masterData.cities.filter(item => {
                    return this.filters.city_ids.includes(item.id)
                }).map(item => {
                    return item.name;
                }).join('、');
            },
            fetchSalary() {
                if (this.filters.salary_ids == undefined || this.filters.salary_ids.length == 0) return 'こだわらない';

                return this.masterData.salaries.filter(item => {
                    return this.filters.salary_ids.includes(item.id)
                }).map(item => {
                    return item.name;
                }).join('、');
            },
            fetchJob() {
                if (this.filters.job_ids == undefined || this.filters.job_ids.length == 0) return 'こだわらない';

                return this.masterData.jobs.filter(item => {
                    return this.filters.job_ids.includes(item.id)
                }).map(item => {
                    return item.name;
                }).join('、');
            },
            fetchMarriage() {
                if (this.filters.marriage_ids == undefined || this.filters.marriage_ids.length == 0) return 'こだわらない';

                return this.masterData.marriages.filter(item => {
                    return this.filters.marriage_ids.includes(item.id)
                }).map(item => {
                    return item.name;
                }).join('、');
            },
            fetchBody() {
                if (this.filters.body_ids == undefined || this.filters.body_ids.length == 0) return 'こだわらない';

                return this.masterData.bodies.filter(item => {
                    return this.filters.body_ids.includes(item.id)
                }).map(item => {
                    return item.name;
                }).join('、');
            },
            fetchDrink() {
                if (this.filters.drink_ids == undefined || this.filters.drink_ids.length == 0) return 'こだわらない';

                return this.masterData.drinks.filter(item => {
                    return this.filters.drink_ids.includes(item.id)
                }).map(item => {
                    return item.name;
                }).join('、');
            },
            fetchSmoking() {
                if (this.filters.smoking_ids == undefined || this.filters.smoking_ids.length == 0) return 'こだわらない';

                return this.masterData.smokings.filter(item => {
                    return this.filters.smoking_ids.includes(item.id)
                }).map(item => {
                    return item.name;
                }).join('、');
            },
            fetchAge() {
                if (this.filters.ages == undefined) return 'こだわらない'
                if (this.filters.ages[0] < 0 && this.filters.ages[1] < 0) return 'こだわらない'

                let str = [];
                if (this.filters.ages[0] > 0) 
                    str.push(this.filters.ages[0] + '歳');
                else
                    str.push('');

                if (this.filters.ages[1] > 0)
                    str.push(this.filters.ages[1] + '歳');
                else
                    str.push('');
                
                return str.join(' ～ ');
            },
            fetchHeight() {
                if (this.filters.heights == undefined) return 'こだわらない'
                if (this.filters.heights[0] < 0 && this.filters.heights[1] < 0) return 'こだわらない'

                let str = [];
                if (this.filters.heights[0] > 0) 
                    str.push(this.filters.heights[0] + 'cm');
                else
                    str.push('');

                if (this.filters.heights[1] > 0)
                    str.push(this.filters.heights[1] + 'cm');
                else
                    str.push('');
                
                return str.join(' ～ ');
            }
        },
    }
</script>
<style>
</style>
