<template>
    <div>
        <div class="row">
            <div class="col-lg-12" v-if="isLoading == false">
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-12 mb-20">
                            <div class="col-md-6">
                                <div class="form-group mb-0 date-picker">
                                    <label for="">投稿日時</label>
                                    <div class="pickers">
                                        <datePicker v-model="startDate" :config="startDateOptions" @dp-change="selectStartDate" />
                                        <span>～</span>
                                        <datePicker v-model="endDate" :config="endDateOptions" @dp-change="selectEndDate" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">性別</label>
                                    <select name="status" class="form-control" v-model="filterForm.gender">
                                        <option value="-1">すべて</option>
                                        <option value="1">男性</option>
                                        <option value="2">女性</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">目的</label>
                                    <select name="status" class="form-control" v-model="filterForm.purpose_id">
                                        <option value="-1">すべて</option>
                                        <option v-for="(purpose, index) in masterData.purposes" :key="index" :value="purpose.id">{{purpose.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-20">
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">会員ID</label>
                                    <input class="form-control" type="number" v-model="filterForm.userId">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">ユーザー名</label>
                                    <input type="text" v-model="filterForm.nickname" class="form-control" placeholder="ユーザー名" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">地域</label>
                                    <select name="status" class="form-control" v-model="filterForm.city_id">
                                        <option value="-1">すべて</option>
                                        <option v-for="(city, index) in masterData.cities" :key="index" :value="city.id">{{city.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success waves-effect waves-light" @click="loadTimelines">検索する</button>
                                <button type="button" class="btn btn-warning waves-effect waves-light" @click="resetFilter">リセットする</button>
                            </div>
                        </div>

                        <h4 class="card-title m-t-40">募集一覧</h4>
                        <h6 class="card-subtitle" v-if="timelines.total > 0">{{timelines.total}}つ募集があります。</h6>
                        <h6 class="card-subtitle" v-if="timelines.total == 0">募集がありません！</h6>

                        <div class="row">
                            <div class="col-md-8">
                                <pagination :data="timelines" :limit=10 v-on:pagination-change-page="loadTimelines"></pagination>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right">
                                    <select name="pageLength" class="form-control" v-model="pageLength" @change="loadTimelines" v-if="timelines.total">
                                        <option value="5">5つ</option>
                                        <option value="10">10つ</option>
                                        <option value="25">25つ</option>
                                        <option value="100">100つ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table" v-if="timelines.data.length > 0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>写真</th>
                                        <th style="max-width: 150px;">ユーザー名</th>
                                        <!-- <th>目的</th> -->
                                        <th>地域</th>
                                        <th style="width: 50%;">内容</th>
                                        <th style="width: 150px;">投稿日</th>
                                        <th style="width: 90px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(timeline, index) in timelines.data" :key="index">
                                        <td>{{timeline.user.id}}</td>
                                        <td>
                                            <a :href="`/admin/user/detail/${timeline.user.provider_unique_id}/profile`" target="_blank">
                                                <img class="user-avatar" :src="getAvatar(timeline.user)" alt="image"/>
                                            </a>
                                        </td>
                                        <td style="max-width: 150px;">
                                            {{timeline.user.profile.nickname}}
                                        </td>
                                        <!-- <td>
                                            {{timeline.purpose.name}}
                                        </td> -->
                                        <td>
                                            {{timeline.city.name}}
                                        </td>
                                        <td style="width: 50%;">
                                            <p>
                                                <span class="timeline-purpose">{{timeline.purpose.name}}</span>
                                            </p>
                                            <pre v-html="timeline.content" class="timeline-brief"></pre>
                                        </td>
                                        <td style="width: 150px; text-align: right;">{{timeline.created_at | momentWithTime}}</td>
                                        <td style="width: 90px;">
                                            <button type="button" class="btn btn-primary btn-sm" @click="openTimeline(timeline)" data-toggle="tooltip" title=""><i class="fa fa-eye"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <TheLoading v-if="isLoading" /> -->
        <TheDetailModal
            v-if="selectedTimeline != undefined"
            @cancel="cancel"
            @remove="removeTimeline"
            :timeline="selectedTimeline" />
        <!-- <TheConfirm
            title="投稿の削除"
            message="投稿を削除しますか？"
            confirmTitle="削除する"
            v-if="needConfirm"
            @confirm="removeConfirm"
            @cancel="removeCancel" /> -->
    </div>
</template>

<script>
    import helper from '../../../services/admin_helper'
    import TheLoading from "../../modals/TheLoading";
    import TheDetailModal from "./modals/TheDetailModal"
    // import TheConfirm from "../../modals/TheConfirm"
    import pagination from 'laravel-vue-pagination'
    import 'bootstrap/dist/css/bootstrap.css';
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

    export default {
        data(){
            return {
                isLoading: false,
                pageLength: 25,
                timelines: [],
                masterData: {},
                filterForm: {
                    purpose_id: -1,
                    city_id: -1,
                    nickname: '',
                    gender: -1,
                    userId: ''
                },
                allUsers: [],
                selectedTimeline: undefined,
                // needConfirm: false,
                deleteTimeline: undefined,
                startDate: undefined,
                endDate: undefined,
                startDateOptions: {
                    format: "YYYY年MM月DD日 HH:mm",
                    useCurrent: false,
                    maxDate: new Date(),
                    locale: moment.locale('ja'),
                    showClear: true,
                    showClose: true,
                    minDate: new Date('1990-01-01 00:00')
                },
                endDateOptions: {
                    format: "YYYY年MM月DD日 HH:mm",
                    useCurrent: false,
                    maxDate: new Date(),
                    locale: moment.locale('ja'),
                    showClear: true,
                    showClose: true,
                    minDate: new Date('1990-01-01 00:00')
                }
            }
        },
        components : { TheLoading, pagination, TheDetailModal, datePicker },
        created() {
            this.masterData = this.$store.state.masterData
            this.isLoading = true;            
            this.loadTimelines(1);
        },
        mounted() {
            window.scrollTo(0, 0);
        },
        methods: {
            getAvatar(user) {
                if (user.profile.vip_image) return user.profile.vip_image.url;

                return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            },
            resetFilter() {
                this.filterForm = {
                    nickname: '',
                    purpose_id: -1,
                    city_id: -1,
                    gender: -1,
                    userId: ''
                }
                this.startDate = undefined
                this.endDate = undefined

                this.startDateOptions = {
                    format: "YYYY年MM月DD日 HH:mm",
                    useCurrent: false,
                    maxDate: new Date(),
                    locale: moment.locale('ja'),
                    showClear: true,
                    showClose: true,
                    minDate: new Date('1990-01-01 00:00')
                }

                this.endDateOptions = {
                    format: "YYYY年MM月DD日 HH:mm",
                    useCurrent: false,
                    maxDate: new Date(),
                    locale: moment.locale('ja'),
                    showClear: true,
                    showClose: true,
                    minDate: new Date('1990-01-01 00:00')
                }

                this.loadTimelines(1);
            },
            selectEndDate() {
                if (this.endDate) {
                    this.startDateOptions.maxDate = new Date(this.endDate.replace('年', '-').replace('月', '-').replace('日', ''))
                } else {
                    this.startDateOptions.maxDate = new Date()
                }
            },
            selectStartDate() {
                if (this.startDate) {
                    this.endDateOptions.minDate = new Date(this.startDate.replace('年', '-').replace('月', '-').replace('日', ''))
                } else {
                    this.endDateOptions.minDate = new Date('1990-01-01 00:00')
                }
            },
            removeTimeline() {
                axios.post('/api/admin/timeline/delete', {
                    id: this.selectedTimeline.id
                }).then(response => {
                    this.loadTimelines(1);
                })
                this.selectedTimeline = undefined
            },
            // removeTimeline(timeline) {
            //     this.deleteTimeline = timeline
            //     this.needConfirm = true
            // },
            // removeConfirm() {
            //     axios.post('/api/admin/timeline/delete', {
            //         id: this.deleteTimeline.id
            //     }).then(response => {
            //         this.loadTimelines(1);
            //     })
            //     this.needConfirm = false
            // },
            // removeCancel() {
            //     this.deleteTimeline = undefined
            //     this.needConfirm = false
            // },
            loadTimelines(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                let params = Object.assign({}, this.filterForm);
                params.limit = this.pageLength;
                params.page = page;

                if (this.startDate != undefined && this.startDate != null) {
                    params.start_date = this.startDate.replace('年', '-').replace('月', '-').replace('日', '') + ":00"
                }

                if (this.endDate != undefined && this.endDate != null) {
                    params.end_date = this.endDate.replace('年', '-').replace('月', '-').replace('日', '') + ":59"
                }

                axios.post('/api/admin/timelines', params)
                .then(response => {                    
                    this.timelines = response.data.data;
                    this.allUsers = response.data.users;
                    this.isLoading = false;
                }).catch(error => {
                    this.timelines = {
                        data: []
                    }
                    this.isLoading = false;
                })
            },
            openTimeline(timeline) {
                this.selectedTimeline = timeline
            },
            cancel() {
                this.selectedTimeline = undefined
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          },
          number(price) {
            return helper.formatMoney(price);
          }
        }
    }
</script>
<style lang="scss" scoped>
.timeline-purpose {
    border: 1px solid #d3d3d4;
    border-radius: 4px;
    padding: 0px 10px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
}
</style>
