.dark-logo.small {
    width: 40px;
    display: none;
    padding: 0px;
}

.mini-sidebar .dark-logo.small {
    display: inline-block;
    height: 100%;
    object-fit: contain;
}

.topbar .top-navbar .navbar-header {
    line-height: 70px;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
}

.label-free {
    background: $borderColor;
}

.label-paid {
    background: $mainColor;
}

.label-platium {
    background: $textColor;
}

.label-vip {
    background: $messageColor;
}

.admin-user-detail {
    // position: relative;
    // padding-top: 100%;

    .carousel {
        position: relative;
        width: 100%;
        padding-top: 100%;
        
        .carousel__list {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            li {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .p-detail-subimages {
        margin: 20px 0px;
    }

    .image-full {
        width: 100%;
    }
}

/* Style the tabs */
.tabs {
    overflow: hidden;
  margin-left: 20px;
    margin-bottom: -2px; // hide bottom border
}

.tabs ul {
    list-style-type: none;
    margin-left: 20px;
}

.tabs a{
    float: left;
    cursor: pointer;
    padding: 12px 24px;
    transition: background-color 0.2s;
    border: 1px solid #ccc;
    border-right: none;
    background-color: #f1f1f1;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}
.tabs a:last-child { 
    border-right: 1px solid #ccc;
}

/* Change background color of tabs on hover */
.tabs a:hover {
    background-color: #aaa;
    color: #fff;
}

/* Styling for active tab */
.tabs a.active {
    background-color: #fff;
    color: #484848;
    border-bottom: 2px solid #fff;
    cursor: default;
}

/* Style the tab content */
.tabcontent {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    box-shadow: 3px 3px 6px #e1e1e1
}

.mx-input {
    height: 38px !important;
}

.admin-subimages {
    .item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .type {
            width: 100px;
        }

        img {
            flex: 1;
            height: 200px;
            object-fit: contain;
        }

        .status {
            width: 60px;
            margin: 0px 10px;
            text-align: center;
        }

        .btns {
            width: 100px;

            button {
                width: 100%;

                &:first-child {
                    margin-bottom: 12px;
                }
            }
        }
    }
}

.without-image {
    height: 60px;
    line-height: 60px;
}

.is_deleted {
    background: $borderColor;
}

.date-picker {
    label {
        display: block;
    }

    .pickers {
        display: flex;

        & > span {
            margin: 8px;
        }
    }

    .mx-datepicker {
        width: 100%;
        height: 38px;

        .mx-input-wrapper {
            height: 38px;
            .mx-input {
                height: 38px;
            }
        } 
    }
}