#fileselector {
    margin: 10px;
}
.upload-button {
    display:none;
}
.margin-correction {
    margin-right: 10px;
}

html {
    font-size: 14px;
    line-height: 20px;
}

// @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
//     html {
//       transform: rotate(-90deg);
//       transform-origin: left top;
//       height: calc(var(--vh, 1vh) * 100);
//       overflow-x: hidden;
//       position: absolute;
//       top: 100%;
//       left: 0;
//     }
//   }

body {
    background: $backWhiteColor;
    color: $textColor;
    font-family: $yuMedium;
    font-size: 14px;
    line-height: 20px;

    &.no-scroll {
        overflow: hidden;
    }
}

button {
    cursor: pointer;
    outline: 0px;

    &:focus {
        outline: 0px;
    }
}

p {
    margin: 0;
    padding: 0;
}

.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.float-right {
    float: right;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: $textColor;

    &:hover,
    &:active {
        text-decoration: none;
        color: $textColor;
    }
}

.container {
    width: 100%;
    max-width: 640px;
    background: $backWhiteColor;
    margin: 0 auto;
    padding: 0px 20px;
}

.login-logo {
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 80px;
}

.front-page-container {
    width: 100%;
    max-width: 640px;
    background: $backWhiteColor;
    margin: 0 auto;
    padding: 0px;
    min-height: calc(var(--vh, 1vh) * 100 - 108px);
}

.inner-container {
    width: 100%;
    max-width: 640px;
    background: transparent;
    margin: 0 auto;
    padding: 0px 20px;
    opacity: 1;

    &.white {
        opacity: 0;
    }
}

.header-container {
    width: 100%;
    max-width: 640px;
    background: $backWhiteColor;
    padding-top: 48px;
    margin: 0 auto;
    opacity: 1;

    &.white {
        opacity: 0;
    }

    &.no-padding {
        padding: 0px;
    }
}

.red-alert {
    color: $ngColor;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

.btn-main {
    display: block;
    background: $mainColor;
    color: #fff;
    height: 60px;
    border-radius: 60px;
    width: 100%;
    font-family: $yuBold;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 2px;
    border: 0;
    cursor: pointer;

    &:hover,
    &:active {
        color: #fff;
    }

    &.small {
        font-family: $yuMedium;
        font-size: 16px;
        height: 42px;
        line-height: 42px;
        letter-spacing: 0px;
    }

    img {
        margin-top: -4px;
    }

    &.green {
        background: $likeColor;

        img {
            margin-right: 4px;
        }
    }

    &.disabled {
        background: $borderColor;
    }
}

.bold-title {
    max-width: 80%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;

    img {
        width: 36px;
        height: 36px;
        border-radius: 40px;
        object-fit: cover;
        margin-right: 8px;
        margin-top: 4px;
    }

    p {
        display: flex;
        
        span:last-child {
            margin: 0 8px;
            min-width: 36px;
        }
    }
}
.btn-main-reverse {
    background: $backWhiteColor;
    color: $mainColor;
    height: 60px;
    border-radius: 60px;
    width: 100%;
    font-family: $yuBold;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 2px;
    border: 2px solid $mainColor;
    display: block;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $mainColor;
    }

    &.black {
        color: $textColor;
        border: 1px solid $textColor;
        font-size: 16px;
        line-height: 40px;
        height: 40px;
        font-family: $yuMedium;
        letter-spacing: 0px;

        &:hover {
            color: $textColor;
        }
    }

    &.small {
        font-family: $yuMedium;
        font-size: 16px;
        height: 42px;
        line-height: 42px;
        letter-spacing: 0px;
        border: 1px solid $mainColor;
    }
}

.m-30 {
    margin: 30px 0px;
}

.mt-60 {
    margin-top: 60px;
}

.d-label {
    font-family: $yuBold;
    font-size: 14px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-8 {
    margin-bottom: 8px;
}

.ml-20 {
    margin-left: 20px;
}

.has-cursor {
    cursor: pointer;
}

.static-header2 {
    height: 48px;
    border-bottom: 1px solid #ACABAB;
    position: relative;
    position: fixed;
    margin-top: 2px;
    margin-left:0px;
    left: calc(50% - 320px);
    width: 100%;
    max-width: 640px;
    background: $whiteColor;
    z-index: 15;
}

.static-header {
    height: 48px;
    border-bottom: 1px solid $borderColor;
    position: relative;
    position: fixed;
    top: 0;
    left: calc(50% - 320px);
    width: 100%;
    max-width: 640px;
    background: $whiteColor;
    z-index: 15;

    &.no-border {
        border-bottom: 0;
    }
    
    .btn-close {
        position: absolute;
        cursor: pointer;
        width: 40px;
        height: 40px;
        top: 4px;
        left: 0px;
        padding: 12px;
    }    

    .bold-title {
        font-family: $yuBold;
        font-size: 16px;
        line-height: 48px;
        text-align: center;
        height: 48px;
        max-width: 80%;
        margin: 0 auto;
        overflow: hidden;
    }

    .btn-back {
        position: absolute;
        cursor: pointer;
        width: 40px;
        height: 40px;
        top: 4px; 
        left: 0px;
        padding: 12px;
    }

    .step-progress {
        display: block;
        position: relative;
        height: 2px;
        width: 100%;
        background: $borderColor;

        p {
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            background: $mainColor;
        }
    }

    .search-icon {
        position: absolute;
        width: 36px;
        height: 36px;
        top: 6px;
        right: 12px;
        cursor: pointer;
    }
}

.btn-next {
    background: $mainColor;
    color: #fff;
    font-family: $yuBold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    padding: 20px 40px;
    border-radius: 60px;
    border: 0;
    float: right;

    &.disabled {
        background: $borderColor;
    }
}

.mt-48 {
    margin-top: 48px !important;
}

.mt-120 {
    margin-top: 120px !important;
}

.wb {
    word-break: break-word;
}

.mb-28 {
    margin-bottom: 28px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mt-20 {
    margin-top: 20px;
}

.mt-28 {
    margin-top: 28px;
}

.text-bold {
    font-weight: bold;
}

.mb-36 {
    margin-bottom: 36px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.mb-48 {
    margin-bottom: 48px !important;
}

.mt-72 {
    margin-top: 72px;
}

.mb-72 {
    margin-bottom: 72px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-12 {
    margin-top: 12px;
}

.mt-36 {
    margin-top: 36px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.mb-20 {
    margin-bottom: 20px;
}

@media (max-width: 640px) {
    .static-header {
        left: 0;
    }
}

#toast-container {
    top: 60px;
}

.btn-custom-sm {
    padding: 0px 16px;
    font-size: 14px;
    line-height: 20px;
    color: $mainColor;
    border: 1px solid $mainColor;
    border-radius: 20px;
    background: #fff;

    &:hover,
    &:active {
        color: $mainColor;
    }

    &.reverse {
        background: $mainColor;
        color: #fff;
    }
}

.btn-gray-sm {
    font-size: 12px;
    background: $borderColor;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 20px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    border: 0px;
}

pre {
    font-size: 14px;
    line-height: 20px;
    font-family: $yuMedium;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
    overflow: hidden;

    strong {
        font-weight: bold;
    }
}

.btn-report {
    width: 100%;
    display: block;
    border: 1px solid $textColor;
    height: 42px;
    font-size: 16px;
    line-height: 40px;
    background: #fff;
    text-align: center;
    border-radius: 40px;
}

.btn-gray {
    width: 100%;
    display: block;
    border: 0px;
    background: $borderColor;
    height: 42px;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 40px;

    img {
        margin-right: 4px;
        margin-top: -2px;
    }
}

.message-item {
    width: 100%;
    .date {
        width: 100%;
        text-align: center;
        font-size: 10px;
        line-height: 16px;
        color: $borderColor;
    }

    .my-message {
        display: flex;
        max-width: 80%;
        margin-left: 20%;
        text-align: right;
        flex-direction: row;
        align-items: flex-end;

        .message {
            width: auto;
            padding: 8px 12px;
            background: $myMessageColor;
            border-radius: 16px;
            text-align: left;
            margin: 0px;
            // word-break: break-word;

            &.image {
                width: 80%;
                padding: 0;
                cursor: pointer;
                object-fit: cover;
            }
        }

        .time {
            flex: 1;
            margin-right: 8px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;

            p {
                width: 100%;
                color: $borderColor;
                font-size: 8px;
                line-height: 12px;
            }
        }
    }

    .other-message {
        display: flex;
        max-width: 80%;
        flex-direction: row;
        align-items: flex-end;

        .message {
            width: auto;
            padding: 8px 12px;
            background: $backColor;
            border-radius: 16px;
            margin: 0px;
            // word-break: break-word;

            &.image {
                width: 80%;
                padding: 0;
                cursor: pointer;
                object-fit: cover;
            }
        }

        .time {
            flex: 1;
            margin-left: 8px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;

            p {
                color: $borderColor;
                font-size: 8px;
                line-height: 12px;
            }
        }
    }
}

.message-container {
    padding: 0px 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    height: calc(var(--vh, 1vh) * 100 - 50px);
    display: none;
    flex-direction: column;

    .content-box {
        // flex: 1;
        overflow-y: scroll;
        min-height: calc(var(--vh, 1vh) * 100 - 108px);
    }
}

// .message-send {
//     height: auto;
//     display: flex;
//     align-items: flex-end;
//     position: fixed;
//     bottom: 0px;
//     left: 0px;
//     width: 100%;
//     padding: 12px;

//     textarea {
//         flex: 1;
//         border: 1px solid $borderColor;
//         padding: 8px 20px;
//         border-radius: 16px;
//         margin-right: 12px;
//     }

//     img {
//         cursor: pointer;
//         margin-bottom: 8px;
//     }
// }

.message-pc-container {
    padding: 0px 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    min-height: calc(var(--vh, 1vh) * 100 - 60px);
    
    .content-box {
        margin-bottom: 62px;

        &.safari {
            margin: 0px;
        }
    }
}
.message-send {
    height: auto;
    display: flex;
    align-items: flex-end;
    left: calc(50% - 320px);
    bottom: 0px;
    width: 100%;
    max-width: 640px;
    background: #fff;
    position: fixed;
    width: 100%;
    padding: 12px;

    textarea {
        flex: 1;
        border: 1px solid $borderColor;
        padding: 8px 20px;
        border-radius: 16px;
        margin-right: 12px;
    }

    img {
        cursor: pointer;
        margin-bottom: 8px;
    }

    &.safari {
        position: relative;
    }
}

.message-send-gutter {
    height: 1px;
    width: 100%;
}

.message-send-mask {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 60px;
    width: 100%;
    z-index: 100;
}

@media (max-width: 640px) {
    // .message-container {
    //     display: flex;
    // }

    // .message-pc-container {
    //     display: none;
    // }

    .message-pc-container {
        .content-box {
            margin-bottom: 0;
        }
    }

    .message-send {
        // left: 20px;
        // width: calc(100% - 40px);
        // position: relative !important;
        left: 0px;
    }
}