// mixins
@mixin gradient-from-bottom($from, $to) {
    background: -moz-linear-gradient(bottom, $from, $to);
    background: -webkit-gradient(linear, left bottom, left top, from($from), to($to));
    background: -o-linear-gradient(bottom, $from, $to);
  }

  @mixin gradient-from-top($from, $to) {
    background: -moz-linear-gradient(top, $from, $to);
    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background: -o-linear-gradient(top, $from, $to);
  }

  @mixin unselectable() {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @mixin flex-box() {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }

  @mixin flex() {
    -ms-flex: 1 1 0.000000001px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    width: 1%;
  }

  @mixin border-top1px($color) {
    &:before, &:after {
      display: block;
      position: absolute;
      border-top: 1px solid $color;
      left: 0;
      width: 100%;
      content: ' ';
    }
    &:before {
      display: block;
      top: 0;
    }
    &:after {
      display: none;
      bottom: 0;
    }
  }

  @mixin border-bottom1px($color) {
    &:before, &:after {
      display: block;
      position: absolute;
      border-top: 1px solid $color;
      left: 0;
      width: 100%;
      content: ' ';
    }
    &:before {
      display: none;
      top: 0;
    }
    &:after {
      display: block;
      bottom: 0;
    }
  }

  // style
  .vue-ios-picker {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    font-size: 14px;
    z-index: 100;
    @include unselectable();
    .picker-mask {
      position: absolute;
      z-index: 140;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      background: rgba(0, 0, 0, 0);
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;

      &.show {
        background: rgba(0, 0, 0, 0.6);
        opacity: 1;
      }

      &.image-mask {
        background: #000;
      }
    }
    .picker-panel {
      position: relative;
      margin: auto;
      z-index: 150;
      left: 0;
      width: 100%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      &.show {
        transform: translateY(0);
        -webkit-transform: translateY(0);
      }
    }
  }

  
.dialog-body {
    width: 100%;
    background: #fff;
    position: relative;
    border-radius: 4px;
    margin: 0px 20px;
    padding: 0px 20px;

    .title {
        font-family: $yuBold;
        color: $mainColor;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
    }

    .label-modal-title {
      font-family: $yuBold;
      color: $textColor;
      font-size: 14px;
      line-height: 26px;
    }

    img {
        display: block;
        margin: 40px auto;
    }

    .message {
        font-size: 16px;
        line-height: 22px;
        text-align: center;

        &.md {
          font-family: $yuBold;
          font-size: 14px;
          line-height: 26px;
        }
    }

    .modal-icon {
        display: inline-block;
        width: auto;
        height: 48px;
        margin: 0 auto;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .modal-close-icon {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 20px;
        height: 20px;
        object-fit: cover;
        cursor: pointer;
        margin: 0;
    }
}


.plan-desc-box {
  width: 100%;

  .box {
      display: flex;
      justify-content: center;
      padding: 0px;

      .item {
          text-align: center;
          flex: 1;
          &:nth-child(2) {
            min-width: 92px;
          }
          img {
              display: inline-block;
              width: 48px;
              height: 48px;
              object-fit: contain;
              margin: 0;
          }

          p {
              font-size: 12px;
              line-height: 14px;
              margin-top: 8px;
          }
      }
  }
}

.btn-main-dialog {
    display: block;
    width: 100%;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    border-radius: 40px;
    background: $mainColor;
    color: #fff;
    cursor: pointer;

    &.reverse {
      border: 1px solid $mainColor;
      background: #fff;
      color: $mainColor;
    }
}

.btn-cancel-dialog {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .dialog-body {
        margin: 0px calc(50% - 300px);
    }
}