@mixin m-smp {
    @media screen and (max-width: 750px) {
        @content;
    }
}

.front-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    border-top: 1px solid $borderColor;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    a {
        width: 100%;
        font-family: $yuBold;
        font-size: 12px;
        line-height: 12px;
        height: 60px;
        display: block;
        color: $textColor;
        text-align: center;
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            margin-top: 8px;
            margin-bottom: 8px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
        }

        &.tab-search {
            &::before {
                background-image: url(/assets/logo-icon-black.png);
                height: 24px;
                margin-top: 6px;
                margin-bottom: 6px;
            }
        }
        &.tab-search.selected {
            color: $mainColor;

            &::before {
                background-image: url(/assets/logo-icon.png);
                height: 24px;
                margin-top: 6px;
                margin-bottom: 6px;
            }
        }

        &.tab-timeline {
            &::before {
                background-image: url(/assets/tab_timeline_deactive.svg);
                height: 20px;
            }
        }
        &.tab-timeline.selected {
            color: $mainColor;

            &::before {
                background-image: url(/assets/tab_timeline_active.svg);
                height: 20px;
            }
        }

        &.tab-like {
            &::before {
                background-image: url(/assets/tab_like_deactive.svg);
                height: 20px;
            }
        }
        &.tab-like.selected {
            color: $mainColor;

            &::before {
                background-image: url(/assets/tab_like_active.svg);
                height: 20px;
            }
        }

        &.tab-message {
            &::before {
                background-image: url(/assets/tab_message_deactive.svg);
                height: 20px;
            }
        }
        &.tab-message.selected {
            color: $mainColor;

            &::before {
                background-image: url(/assets/tab_message_active.svg);
                height: 20px;
            }
        }

        &.tab-mypage {
            &::before {
                background-image: url(/assets/tab_user_deactive.svg);
                height: 24px;
                margin-top: 6px;
                margin-bottom: 6px;
            }
        }
        &.tab-mypage.selected {
            color: $mainColor;

            &::before {
                background-image: url(/assets/tab_user_active.svg);
                height: 24px;
                margin-top: 6px;
                margin-bottom: 6px;
            }
        }

        .footer-badge {
            display: inline-block;
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background: $ngColor;
            top: 8px;
            right: 16px;
        }
    }
}

body,
#root {
    height: calc(var(--vh, 1vh) * 100);
}

.front-wrapper {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    // height: calc(100vh - 1px);
    // height: calc(var(--vh, 1vh) * 100);
    position: relative;
    overflow: hidden;

    &.profile-setup-wrapper {
        overflow-y: scroll;
    }

    // .static-header {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 48px;
    // }

    .front-footer {
        position: fixed;
        bottom: 0;
        left: calc(50% - 320px);
        width: 100%;
        height: 60px;
        max-width: 640px;
    }

    .front-page-container {
        width: 100%;
        // min-height: -webkit-fill-available;
        margin: 0 auto;
        padding-bottom: 60px;
        overflow: hidden;
        padding-top: 48px;
        // margin-top: 48px;
        // height: calc(var(--vh, 1vh) * 100);

        .front-container {
            height: 100%;
            display: block;
            position: relative;
            width: 100%;
            overflow-y: scroll;
            background: $backWhiteColor;
            opacity: 1;
            min-height: calc(var(--vh, 1vh) * 100 - 108px);

            &.white {
                background: #fff;
            }
            // padding-bottom: 20px;

            &.has-header {
                padding-top: 48px;  
            }

            .mypage-profile {
                display: flex;
                width: 100%;
                height: 82px;

                .mypage-profile-avatar {
                    position: relative;
                    width: 82px;
                    min-width: 82px;
                    height: 82px;
                    border-radius: 4px;
                    margin-right: 12px;
                    overflow: hidden;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: $borderColor;
                        opacity: .5;
                    }

                    p {
                        position: absolute;
                        top: 24px;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        color: #fff;
                    }
                }

                .mypage-profile-info {
                    width: 100%;
                    height: auto;
                    padding: 14px 0px;

                    .nickname {
                        font-family: $yuBold;
                        font-size: 24px;
                        line-height: 28px;
                        height: 28px;
                        overflow: hidden;
                        margin-bottom: 8px;
                    }
                }

                .mypage-profile-setting {
                    margin-left: 12px;
                    font-size: 14px;
                    display: block;
                    width: 37px;
                    min-width: 37px;
                    text-align: center;
                    text-decoration: none;
                    color: $textColor;

                    &:hover, 
                    &:active {
                        counter-reset: $textColor;
                    }

                    &::before {
                        content: "";
                        background-image: url(/assets/settings.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 22px;
                        height: 22px;
                        margin-bottom: 4px;
                        margin-top: 20px;
                        margin-left: 8px;
                        display: block;
                    }
                }
            }

            .mypage-profile-membership {
                width: 100%;
                height: 62px;
                background: $backColor;
                border-radius: 4px;
                display: flex;
                padding: 0;

                .membership-status {
                    width: 100%;
                    display: block;
                    color: $textColor;
                    text-decoration: none;
                    text-align: center;
                    position: relative;

                    &:hover,
                    &:active {
                        color: $textColor;
                        text-decoration: none;
                    }

                    &.has-cursor {
                        cursor: pointer;
                    }

                    label {
                        font-size: 14px;
                        line-height: 30px;
                        text-align: center;
                        width: 100%;
                        margin: 0;
                    }

                    span {
                        margin-bottom: 8px;
                        height: 24px;
                        display: inline-block;
                        padding: 4px 12px;
                        font-size: 16px;
                        font-family: $yuBold;
                        line-height: 16px;
                        background: $mainColor;
                        color: #fff;
                        border-radius: 24px;

                        &.vip {
                            min-width: 88px;
                            text-align: center;

                            &.off {
                                background: $borderColor;
                            }
                        }

                        &.free {
                            background: $borderColor;
                        }

                        &.paid {
                            background: $mainColor;
                        }

                        &.platium {
                            background: $textColor;
                        }
                    }
                }

                .current-likes {
                    width: 100%;
                    display: block;
                    text-align: center;
                    position: relative;

                    label {
                        font-size: 14px;
                        line-height: 30px;
                        text-align: center;
                        width: 100%;
                        margin: 0;
                    }

                    .likes {
                        margin: 0 auto;
                        margin-bottom: 8px;
                        height: 24px;
                        display: inline-block;
                        padding: 4px 12px;
                        padding-left: 35px;
                        font-size: 16px;
                        font-family: $yuBold;
                        line-height: 16px;
                        background: #fff;
                        color: $textColor;
                        border-radius: 24px;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 12px;
                            bottom: 4px;
                            width: 18.7px;
                            height: 16px;
                            background-image: url(/assets/red_love.svg);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }

                .seperator {
                    width: 1px;
                    margin: 12px 0px;
                    height: 38px;
                    background: $borderColor;
                }
            }

            .mypage-buttons {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                padding-top: 20px;

                a {
                    height: 90px;
                    flex: 0 1 33%;
                    text-align: center;
                    position: relative;

                    img {
                        width: 35px;
                        height: 35px;
                        object-fit: contain;
                        object-position: center;
                        margin-bottom: 4px;
                    }

                    p {
                        font-size: 12px;
                    }

                    .badge {
                        display: inline-block;
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border-radius: 4px;
                        background-color: $ngColor;
                        top: 16px;
                        left: calc(50% + 8px);
                    }
                }
            }

            .mypage-identity {
                width: 100%;
                height: 96px;
                background: $backColor;
                border-radius: 4px;
                display: flex;

                a {
                    display: flex;
                    max-width: 335px;
                    margin: 0 auto;

                    img {
                        margin: 32px 20px;
                        width: 40px;
                        min-width: 40px;
                        height: auto;
                        object-fit: cover;
                    }
    
                    .content {
                        margin: 16px 20px 16px 0px;
                        flex: 1;
    
                        label {
                            color: $mainColor;
                            font-family: $yuBold;
                            font-size: 18px;
                            line-height: 24px;
                            margin-bottom: 4px;
                        }
    
                        p {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                }
            }

            .mypage-links {
                width: 100%;
                display: block;

                a {
                    display: block;
                    width: 100%;
                    font-size: 14px;
                    line-height: 40px;
                    position: relative;

                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        background-image: url(/assets/arrow.svg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 8px;
                        height: 8px;
                        right: 0px;
                        top: 16px;
                    }
                }
            }
        }
    }
}

.container {
    .line-seperator {
        width: 100%;
        height: 1px;
        background: $borderColor;
    }
    
    .label-title {
        font-size: 20px;
        line-height: 26px;
        font-family: $yuBold;

        &.gold {
            font-size: 16px;
            line-height: 22px;
            color: $mainColor;
        }

        &.gold-normal {
            font-size: 20px;
            line-height: 20px;
            color: $mainColor;
        }

        &.gold-lg {
            font-size: 28px;
            line-height: 28px;
            color: $mainColor;
        }

        &.md {
            font-size: 16px;
            line-height: 22px;
        }

        &.lg {
            font-size: 24px;
            line-height: 30px;
        }

        &.sm {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .label-title-sm {
        font-size: 14px;
        line-height: 20px;
        font-family: $yuBold;
    }

    .label-date {
        font-size: 12px;
        line-height: 12px;
        color: $borderColor;
    }

    .p-small {
        font-size: 12px;
        line-height: 18px;
    }

    .card-d-flex {
        & > div:first-child {
            margin-right: 20px;
        }
    }

    .page-nav-link {
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 40px;
        position: relative;

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            background-image: url(/assets/arrow.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 8px;
            height: 8px;
            right: 0px;
            top: 16px;
        }

        &.gold {
            font-family: $yuBold;
            color: $mainColor;
            cursor: pointer;

            &::after {
                display: none;
            }
        }
    }

    .notification-setting-item {
        display: flex;
        width: 100%;
        height: 30px;

        p {
            flex: 1;
            font-size: 14px;
            line-height: 30px;
        }

        img {
            width: 58px;
            height: 28px;
            margin-top: 1px;
            cursor: pointer;
        }
    }
}

@media (min-width: 640px) {
    .front-wrapper {
        .front-page-container {
            .front-container {
                right: -20px;
                width: calc(100% + 20px);
                left: 0;
                background: $backWhiteColor;
            }
        }
    }
}

.user-item {
    width: 100%;
    display: flex;
    height: 96px;

    &.has-cursor {
        cursor: pointer;
    }

    img {
        width: 96px;
        height: 96px;
        min-width: 96px;
        border-radius: 4px;
        object-fit: cover;
    }

    .user-item-content {
        width: 100%;
        position: relative;
        margin-left: 10px;

        .user-item-date {
            color: $borderColor;
            text-align: right;
            font-family: $yuBold;
            font-size: 10px;
            line-height: 10px;
            margin-bottom: 4px;

            &.gray {
                text-align: left;
                width: 100%;
                padding-left: 8px;
            }
        }

        .user-item-name {
            display: flex;
            height: 14px;

            .name {
                font-family: $yuBold;
                font-size: 14px;
                line-height: 14px;
                height: 14px;
                overflow: hidden;
                flex: 1;
                display: flex;

                span:last-child {
                    margin: 0px 8px;
                    min-width: 36px;
                }
            }

            .city {
                font-family: $yuBold;
                font-size: 14px;
                line-height: 14px;
                width: auto;
                display: inline-block;
                padding-left: 12px;
                position: relative;

                &::before {
                    content: "";
                    display: inline-block;
                    background-image: url(/assets/location_black.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 8px;
                    height: 14px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        .user-item-text {
            font-size: 14px;
            line-height: 16px;
            height: 16px;
            overflow: hidden;
            word-break: break-all;

            &.gray {
                color: $borderColor !important;
                background-color: transparent !important;
            }
        }
    }

    &.chatroom-item {
        padding: 16px 20px;
        height: 128px;

        .user-item-text {
            line-height: 20px;
            height: 40px;
        }

        &.pink-back {
            .user-item-text { 
                color: $ngColor;
                font-family: $yuBold;
            }
        }
    }

    &.pink-back {
        background: $matchedColor;
    }

    &.blue-back {
        background: $newMessageColor;
    }

    &.my-timeline {
        height: auto;
        padding: 20px 0px;

        .user-item-date {
            flex: 1;
            text-align: right;

            &.gray {
                text-align: left;
                width: 100%;
                padding-left: 8px;
            }
        }
    }
}

.page-message {
    font-family: $yuBold;
    font-size: 16px;
    line-height: 24px;
    color: $borderColor;
    text-align: center;
}

.label-error-message {
    font-size: 16px;
    line-height: 24px;
    color: $ngColor;
}

.photo-tip {
    width: 100%;
    border-radius: 4px;
    height: 94px;
    display: flex;
    border: 1px solid $borderColor;

    img {
        width: 116px;
        height: 94px;
        object-fit: cover;
    }

    .content {
        padding: 12px;
        flex: 1;
        p {
            font-family: $yuBold;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 4px;
        }

        .btn-custom-sm {
            display: block;
            text-align: center;
        }
    }
}

.mypage-profile-title {
    display: flex;
    width: 100%;
    height: 32px;

    .title {
        flex: 1;
        font-family: $yuBold;
        font-size: 24px;
        line-height: 32px;
    }

    .btn-profile-edit {
        background: $borderColor;
        color: #fff;
        font-family: $yuMedium;
        font-size: 16px;
        line-height: 16px;
        padding: 8px;
        border-radius: 4px;
        height: 32px;
        padding-left: 28px;
        margin-left: 12px;
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            background-image: url(/assets/white_pencil.svg);
            background-size: cover;
            background-position: center;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            top: 8px;
            left: 8px;
        }
    }
}

.mypage-profile-short-message {
    padding: 8px 0px;
    padding-right: 12px;
    display: flex;
    width: 100%;
    cursor: pointer;
    position: relative;

    .item {
        display: inline-block;
        margin-right: 12px;

        img {
            width: 16px;
            height: 20px;
            object-fit: contain;
            object-position: center;
        }

        span {
            font-family: $yuBold;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        background-image: url(/assets/arrow.svg);
        background-size: cover;
        background-position: center;
        width: 8px;
        height: 11px;
        background-repeat: no-repeat;
        top: 12px;
        right: 0;
    }
}

.mypage-profile-items {
    width: 100%;
    cursor: pointer;
    position: relative;

    .item {
        display: flex;
        padding: 8px 0px;
        padding-right: 12px;
        font-size: 16px;
        line-height: 18px;
        position: relative;
        width: 100%;
        
        .title {
            width: 170px;
        }

        .content {
            flex: 1;
        }

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            background-image: url(/assets/arrow.svg);
            background-size: cover;
            background-position: center;
            width: 8px;
            height: 11px;
            background-repeat: no-repeat;
            top: 12px;
            right: 0;
        }

        &.no-arrow {
            &::after {
                display: none;
            }
        }
    }
}

.label-title-back {
    font-family: $yuBold;
    font-size: 20px;
    line-height: 50px;
    background: $backColor;
    padding: 0px 20px;
}

.mypage-identity {
    .identity-about {
        display: flex;
        width: 100%;
        justify-content: center;

        .item {
            width: 100%;
            margin-right: 12px;
            display: block;
            text-align: center;

            &:last-child {
                margin-right: 0px;
            }

            img {
                width: 100px;
                height: 72px;
                display: inline-block;

                &.large {
                    width: 120px;
                    height: 80px;
                }
            }

            p {
                font-family: $yuBold;
                font-size: 14px;
                line-height: 20px;
                color: $mainColor;
            }
        }
    }

    .identity-images {
        .item {
            display: block;
            text-align: center;
            margin-bottom: 28px;

            img {
                width: 240px;
                height: auto;
                object-fit: contain;
            }
        }
    }
}

.all-questions {
    width: 100%;
    display: block;

    .category {
        .category-title {
            font-family: $yuBold;
            font-size: 18px;
            line-height: 26px;
            color: $mainColor;
            padding-right: 16px;
            position: relative;
            cursor: pointer;

            &::after {
                content: "";
                display: inline-block;
                background-image: url(/assets/down_arrow_gold.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 12px;
                height: 8px;
                right: 0;
                top: 8px;
                position: absolute;
            }
        }

        .questions {
            .question {
                .question-title {
                    font-family: $yuBold;
                    font-size: 14px;
                    line-height: 26px;
                    color: $textColor;
                    padding-right: 16px;
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: "";
                        display: inline-block;
                        background-image: url(/assets/down_arrow_black.svg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 12px;
                        height: 8px;
                        right: 0;
                        top: 7px;
                        position: absolute;
                    }
                }

                .answer {
                    margin: 12px 0px;
                }
            }
        }
    }
}

.private-item {
    padding: 16px 0px;
    display: block;
    border-bottom: 1px solid $borderColor;

    &.unread {
        background: $backColor;

        .container {
            background: transparent;
        }
    }

    .container {
        display: flex;
        align-items: center;

        .content {
            flex: 1;
            display: block;
        }
    
        img {
            width: 58px;
            height: 28px;
            object-fit: contain;
            min-width: 58px;
            margin-left: 12px;

            &.arrow {
                width: 8px;
                height: 12px;
                object-fit: contain;
                min-width: 8px;
            }
        }
    }
}

.point-card {
    width: 100%;
    border: 1px solid $mainColor;
    border-radius: 4px;
    padding: 12px 0px;
    text-align: center;
    cursor: pointer;

    .point-card-container {
        width: 100%;
        max-width: 260px;
        margin: 0 auto;
        
        .off {
            width: 100%;
            height: 28px;
            background: $mainColor;
            color: #fff;
            border-radius: 20px;
            text-align: center;

            .price {
                font-family: $yuBold;
                font-size: 18px;
                line-height: 18px;
                margin-top: 5px;
                display: inline-block;
            }

            .jp {
                font-size: 12px;
                line-height: 12px;
                margin-top: 9px;
                display: inline-block;
            }
        }

        .content {
            .price {
                font-family: $yuBold;
                font-size: 28px;
                line-height: 28px;
                color: $mainColor;
            }
        }
    }
}

.btn-card {
    display: block;
    background: #fff;
    border: 1px solid $mainColor;
    border-radius: 40px;
    height: 40px;
    padding: 6px 0px;
    text-align: center;

    img {
        height: 28px;
        display: inline-block;
        margin: 0;
    }

    span {
        font-family: $yuBold;
        font-size: 16px;
        line-height: 26px;
    }
}

.membership-note {
    .platium {
        font-family: $yuBold;
    }

    .paid {
        font-family: $yuBold;
        color: $mainColor;
    }
}
.membership-introduction {
    width: 100%;

    .membership-item {
        display: flex;

        .membership-item-label {
            width: 72px;
            min-width: 72px;
            margin-right: 8px;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            display: block;
            color: $textColor;
            display: flex;
            align-items: center;
            height: 80px;

            &:first-child {
                height: auto;
            }

            div {
                width: 100%;
                text-align: center;

                img {
                    display: inline-block;
                    height: 30px;
                    object-fit: contain;
                }
            }
        }

        .membership-label {
            flex: 1;
            margin-right: 4px;
            font-size: 12px;
            line-height: 30px;
            color: #fff;
            background: $borderColor;
            text-align: center;
            border-radius: 4px;

            &:last-child {
                margin-right: 0px;
            }

            &.paid {
                background: $mainColor;
            }

            &.platium {
                background: $textColor;
            }
        }

        .can-do {
            flex: 1;
            height: 80px;
            display: flex;
            align-items: center;
            background: $backColor;
            border-radius: 4px;
            margin-right: 4px;
            justify-content: center;

            &:last-child {
                margin-right: 0px;
            }

            img {
                width: 30px;
                height: 30px;
            }

            &.special {
                flex-wrap: wrap;

                img {
                    display: block;
                    object-fit: contain;
                    width: 100%;
                }

                span {
                    margin-top: -25px;
                }
            }
        }
    }
}

.membership-select {
    font-family: $yuBold;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid $textColor;
    border-radius: 20px;
}

.membership-paid-plan {
    display: flex;

    .one-line-item {
        display: flex;
        background: $backColor;
        border-radius: 4px;
        text-align: center;
        position: relative;
        padding: 28px 0px 20px;
        justify-content: center;
        width: 100%;

        .price {
            font-size: 20px;

            .gold {
                font-size: 36px;
                color: $mainColor;
                font-family: $yuBold;
            }
        }
    }

    .item {
        flex: 1;
        margin-right: 8px;
        background: $backColor;
        border-radius: 4px;
        text-align: center;
        position: relative;
        cursor: pointer;
        padding: 12px 0px;

        &.selected {
            border: 1px solid $mainColor;
        }

        .price {
            font-size: 12px;

            .gold {
                font-family: $yuBold;
                font-size: 16px;
                color: $mainColor;
            }
        }

        .off-badge {
            position: absolute;
            width: 38px;
            height: 38px;
            background: $textColor;
            color: $mainColor;
            font-family: $yuBold;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            top: -30px;
            left: -10px;
            border-radius: 38px;
            padding-top: 3px;
        }
    }
}

.membership-fv {
    width: 100%;
    padding-top: 48%;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    p {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $yuBold;
        font-size: 20px;
        line-height: 28px;
        color: #fff;
        text-align: center;
    }
}

.vip-item {
    display: block;
    
    .vip-item-number {
        display: flex;
        align-items: center;

        img {
            width: 60px;
            height: 60px;
            margin-right: 8px;
        }

        p {
            flex: 1;
            font-size: 20px;
            line-height: 26px;
            font-family: $yuBold;
        }
    }

    .vip-item-desc {
        font-size: 16px;
        line-height: 22px;
    }

    .vip-item-compare {
        display: flex;
        align-items: center;
        justify-content: center;

        .before {
            width: 100%;
            text-align: center;

            p {
                font-family: $yuBold;
                font-size: 16px;
                line-height: 16px;
                text-align: center;
                margin-bottom: 12px;
            }

            img {
                width: 100%;
                height: auto;
                padding: 20px;
                max-height: 300px;

                &.avatar {
                    width: 100%;
                    max-width: 166px;
                    height: 166px;
                    object-fit: cover;
                    border-radius: 4px;
                }

                &.message {
                    padding: 20px 4px;
                }

                &.points {
                    height: 80px;
                    padding-bottom: 8px;
                }

                &.search {
                    padding: 20px 10px;
                    object-fit: contain;
                    height: 200px;
                }
            }

            .sub {
                font-size: 12px;
                line-height: 20px;
            }
        }

        .after {
            width: 100%;
            text-align: center;

            &.compare-content {
                border: 1px solid $mainColor;
                border-radius: 4px;
            }

            p {
                font-family: $yuBold;
                font-size: 16px;
                line-height: 16px;
                color: $mainColor;
                text-align: center;
                margin-bottom: 12px;
            }

            img {
                width: 100%;
                height: auto;
                padding: 20px;
                max-height: 300px;

                &.avatar {
                    width: 100%;
                    max-width: 166px;
                    height: 166px;
                    object-fit: cover;
                }

                &.message {
                    padding: 20px 4px;
                }

                &.points {
                    height: 80px;
                    padding-bottom: 8px;
                }

                &.search {
                    padding: 20px 10px;
                    object-fit: contain;
                    height: 200px;
                }
            }

            .sub {
                font-size: 12px;
                line-height: 20px;
                font-family: $yuBold;
            }
        }
    }
}

.membership-setting-item {
    border-radius: 4px;
    border: 1px solid $borderColor;

    .title {
        font-family: $yuBold;
        font-size: 14px;
        line-height: 30px;
        padding: 0px 16px;
        background: $backColor;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .content {
        padding: 16px;
        border-bottom: 1px solid $borderColor;

        .content-item {
            display: flex;

            p:first-child {
                width: 150px;
            }

            p:last-child {
                flex: 1;
                text-align: right;
            }
        }
    }

    .auto-update {
        padding: 16px;
        text-align: right;

        span {
            color: $mainColor;
            line-height: 28px;
            margin-right: 4px;
        }

        img {
            width: 58px;
            height: 28px;
            cursor: pointer;
        }
    }
}

.search-user-item {
    flex: 0 1 47%;
    border-radius: 4px;
    border: 1px solid $borderColor;
    cursor: pointer;
    // -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    //    -moz-animation: fadein 1s; /* Firefox < 16 */
    //     -ms-animation: fadein 1s; /* Internet Explorer */
    //      -o-animation: fadein 1s; /* Opera < 12.1 */
    //         animation: fadein 1s;

    &.no-border {
        border: 0px;
        cursor: default;
    }
    
    &:nth-child(odd) {
        margin-right: 16px;
    }

    .user-avatar {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;

        .avatar {
            position: absolute;
            top: -1%;
            left: -1%;
            width: 102%;
            height: 102%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content {
            position: absolute;
            bottom: 4px;
            left: 8px;
            right: 8px;
            height: auto;
            display: block;
            
            p:first-child {
                text-align: left;
                .job {
                    font-family: $yuBold;
                    font-size: 10px;
                    line-height: 10px;
                    padding: 2px 8px;
                    color: #fff;
                    background: $mainColor;
                    border-radius: 20px;
                }
            }

            p:last-child {
                font-size: 12px;
                line-height: 18px;
                color: #fff;
                height: 18px;
                overflow: hidden;
            }
        }

        .vip-badge {
            position: absolute;
            top: 4px;
            right: 8px;
            width: 32px;
            height: 14px;
            object-fit: cover;
            &.male {
                height: 32px;
            }
        }
    }

    .user-desc {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 8px;
        display: flex;

        p {
            &:first-child {
                width: auto;
                text-align: left;

                .age {
                    font-size: 12px;
                    line-height: 18px;
                    height: 18px;
                    color: $textColor;
                }
            }

            &:last-child {
                flex: 1;
                text-align: right;
                img {
                    height: 12px;
                    width: auto;
                    margin-top: -2px;
                }

                span {
                    font-size: 12px;
                    line-height: 18px;
                    height: 18px;
                    color: $textColor;
                }
            }
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.filter-item {
    display: flex;
    padding: 16px 0px;
    cursor: pointer;

    p:first-child {
        font-family: $yuBold;
        font-size: 14px;
        line-height: 14px;
        color: $textColor;
        width: 150px;
    }

    p:last-child {
        flex: 1;
        font-size: 14px;
        line-height: 14px;
        position: relative;
        padding-right: 20px;

        &::after {
            content: "";
            display: inline-block;
            background-image: url(/assets/arrow.svg);
            position: absolute;
            top: 1.5px;
            right: 0px;
            width: 10px;
            height: 11px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.online-status {
    width: 8px;
    height: 8px;
    margin-top: 4px;
    display: inline-block;
    background: $borderColor;
    border-radius: 8px;

    &.on {
        background: $greenColor;
    }

    &.hide {
        display: none !important;
    }

    &.timeout {
        background: $mainColor;
    }
}

.mr-4 {
    margin-right: 4px !important;
}

.carousel-cont {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    
    .user-detail-photo-carousel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.carousel__indicator {
    width: 12px !important;
    height: 12px !important;
    display: inline-block;
    background: #fff;
    border-radius: 12px !important;
    margin: 12px 5px !important;
}

.carousel__control--prev,
.carousel__control--next {
    display: none !important;
}

.carousel__indicators--line {
    display: none !important;
}

.page-carousel {
    margin: 0px 20px;
    .timeline-detail {
        padding: 0px;
    }
}

.p-detail-top {
    position: relative;
    padding-top: 100%;
    cursor: pointer;

    // .VueCarousel {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;

    //     .VueCarousel-wrapper {
    //         height: 100%;
    //         width: 100%;
    //         position: absolute;
    //         display: inline-block;
    //         top: 0;
    //         left: 0;

    //         .VueCarousel-inner {
    //             height: 100% !important;

    //             .VueCarousel-slide {
    //                 display: block;
    //                 height: 100%;

    //                 img {
    //                     width: 100%;
    //                     height: 100%;
    //                     object-fit: cover;
    //                 }
    //             }
    //         }
    //     }

    //     .VueCarousel-pagination {
    //         display: none;
    //     }
    // }

    .carousel {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        .carousel__list {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            li {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: none;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    .vip-badge {
        position: absolute;
        top: 48px;
        right: 8px;
        width: 48px;
        height: 23px;
        object-fit: cover;

        &.male {
            height: 32px;
        }
    }

    .p-detail-header {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0px;
        left: 0px;
        z-index: 10;
        // background: rgba(30, 30, 30, .2);

        img {
            cursor: pointer;
            padding: 10px;
            width: 40px;
            height: 40px;
            object-fit: contain;

            &.back {
                float: left;
            }

            &.menu {
                float: right;
                padding: 8px;
                margin-right: 8px;
            }

            &.red_love {
                position: absolute;
                right: 48px;
                top: 2px;
            }
        }
    }

    .p-detail-label {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 16px;
        z-index: 10;

        .title {
            color: #fff;
            font-family: $yuBold;
            font-size: 28px;
            line-height: 32px;
            height: auto;
            overflow: hidden;

            &.d-flex {
                font-size: 22px;
                line-height: 26px;
                height: auto;
                align-items: flex-end;
            }
        }

        .desc {
            color: #fff;
            font-size: 18px;
            line-height: 18px;
        }

        img {
            width: 48px;
        }
    }
}

.p-detail-subimages {
    margin: 20px;
    display: flex;
    justify-content: left;
    & > div {
        flex: 0 1 16%;
        margin-right: 8px;
        &:last-child {
            margin-right: 0px;
        }

        & > div {
            padding-top: 100%;
            width: 100%;
            position: relative;
    
            img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}

.p-detail-status {
    width: 100%;
    background: $backColor;
    padding: 12px 20px;
    display: flex;

    .online {
        display: inline-block;
        width: auto;
        margin-right: 12px;

        &.hide {
            display: none !important;
        }

        .online-status {
            width: 12px;
            height: 12px;
        }

        .online-status-label {
            font-size: 14px;
            line-height: 14px;
        }
    }

    .p-detail-alert {
        width: auto;
        margin-right: 12px;
        img {
            width: 14px;
            height: 14px;
            object-fit: contain;
        }

        .p-alert-label {
            font-size: 14px;
            line-height: 14px;
        }
    }

    .p-detail-location {
        display: inline-block;
        flex: 1;
        text-align: right;

        img {
            width: 10px;
            height: 14px;
            object-fit: contain;
        }

        span {
            font-size: 14px;
            line-height: 14px;
        }
    }
}

.p-detail-daddy {
    display: flex;
    & > span {
        margin-right: 12px;
        
        img {
            width: 16px;
            height: 18px;
            object-fit: contain;
        }

        .daddy-label {
            font-size: 16px;
            line-height: 18px;
            font-family: $yuBold;
            color: $textColor;
        }
    }   
}

.p-detail-block-label {
    color: $borderColor;
    font-family: $yuBold;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.p-detail-profile {
    font-size: 16px;
    line-height: 18px;
    display: flex;

    .title {
        width: 120px;
    }

    .desc {
        flex: 1;
        text-align: right;
    }
}

.btn-containters {
    position: fixed;
    bottom: 0px;
    padding: 16px 20px;
    background: #fff;
    left: 0px;
    width: 100%;
}

.btn-message {
    text-align: center;
    background: #fff;
    color: $messageColor;
    width: 100%;
    height: 42px;
    border: 1px solid $messageColor;
    border-radius: 40px;
    cursor: pointer;

    p {
        display: flex;
        justify-content: center;

        .icon {
            display: inline-block;
            width: 22px;
            height: 37px;
            margin-right: 4px;
            background-image: url(/assets/white_message.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .title {
            font-size: 16px;
            line-height: 40px;
        }
    }

    &.sm {
        height: 22px;
        p {
            .icon {
                height: 17px;
                width: 16px;
            }

            .title {
                line-height: 20px;
                font-size: 12px;
            }
        }
    }
}

.btn-like {
    text-align: center;
    background: $likeColor;
    color: #fff;
    width: 100%;
    height: 42px;
    border: 1px solid $likeColor;
    border-radius: 40px;
    cursor: pointer;

    p {
        display: flex;
        justify-content: center;

        .icon {
            display: inline-block;
            width: 22px;
            height: 40px;
            margin-right: 4px;
            background-image: url(/assets/white_love.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .title {
            font-size: 16px;
            line-height: 40px;
        }
    }

    &.like-again {
        background: $againLikeColor;
        color: #fff;
        border: 1px solid $againLikeColor;

        p {
            .icon {
                background-image: url(/assets/white_love.svg);
            }
        }
    }

    &.like-again-liked {
        background: #fff;
        color: $againLikeColor;
        border: 1px solid $againLikeColor;

        p {
            .icon {
                background-image: url(/assets/white_love_again_reverse.svg);
            }
        }
    }

    &.sm {
        height: 22px;
        p {
            .icon {
                height: 20px;
                width: 16px;
                background-image: url(/assets/white_love1.svg);
            }

            .title {
                line-height: 20px;
                font-size: 12px;
            }
        }

        &.like-again-liked {
            p {
                .icon {
                    background-image: url(/assets/white_love_again_reverse.svg);
                }
            }
        }

        &.btn-like-reverse {
            background: #fff;
            border: 1px solid $likeColor;
            color: $likeColor;
            
            p {
                .icon {
                    background-image: url(/assets/white_love_reverse.svg);
                }
            }
        }
    }
    
    &.liked {
        background: #fff;
        color: $likeColor;

        p {
            .icon {
                background-image: url(/assets/white_love_reverse.svg);
            }
        }
    }
}

.d-flex {
    display: flex;

    .flex-1 {
        flex: 1;
    }

    .cancel-like {
        color: #fff;
        background-color: #ACABAB;
        border-radius: 20px;
        width: 48px;
        height: 24px;
        line-height: 24px;
        margin-left: 8px;
        text-align: center;
        font-size: 12px;
        margin-top: 2px;
        cursor: pointer;
    }
}

.timeline-add {
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 54px;
    height: 54px;
    background: $likeColor;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;

    img {
        width: 24px;
        margin-top: 14px;
        margin-left: 1px;
    }
}


@media (min-width: 640px) {
    .p-detail-top .p-detail-header,
    .pagination,
    .btn-containters {
        left: calc(50% - 320px);
        width: 640px;
    }

    .timeline-add {
        right: calc(50% - 300px);
    }
}

.like-tabs {
    width: 100%;
    height: 40px;
    display: flex;
    position: fixed;
    top: 48px;
    left: 0px;
    width: 100%;
    max-width: 640px;
    background: #fff;
    z-index: 10;

    .like-tab-item {
        flex: 1;
        border-bottom: 1px solid $borderColor;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        cursor: pointer;

        img {
            width: 16px;
            height: 40px;
            margin-right: 4px;
            object-fit: contain;
            margin-top: -2px;
        }

        &.active {
            color: $mainColor;
            font-family: $yuBold;
            border-bottom: 1px solid $mainColor;
        }
    }
}

.timeline-select {
    .v-select:first-child {
        margin-right: 20px;
    }
}

.timeline-tag {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding: 0px 8px;
    border-radius: 4px;
    border: 1px solid $mainColor;
    color: $mainColor;
    margin-bottom: 8px;

    &.tag-1 {
        color: $tag1Color;
        border: 1px solid $tag1Color;
    }

    &.tag-2 {
        color: $tag2Color;
        border: 1px solid $tag2Color;
    }

    &.tag-3 {
        color: $tag3Color;
        border: 1px solid $tag3Color;
    }
}

.timeline-detail {
    .avatar {
        width: 100%;
        padding-top: 100%;
        position: relative;
    
        img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            object-fit: cover;
        }
    }
 
    .timeline-item-name {
        display: flex;
        .name {
            flex: 1;
            font-size: 18px;
            line-height: 18px;
            font-family: $yuBold;
            height: 18px;
            overflow: hidden;
        }

        .city {
            font-family: $yuBold;
            font-size: 16px;
            line-height: 18px;

            img {
                width: 14px;
                margin-right: 4px;
                margin-top: -2px;
            }
        }
    }

    .timeline-item-tag {
        display: flex;
        .tag {
            display: inline-block;
            font-size: 16px;
            line-height: 24px;
            padding: 0px 8px;
            text-align: center;
            border-radius: 4px;
            border: 1px solid $mainColor;
            color: $mainColor;

            &.tag-1 {
                color: $tag1Color;
                border: 1px solid $tag1Color;
            }
        
            &.tag-2 {
                color: $tag2Color;
                border: 1px solid $tag2Color;
            }
        
            &.tag-3 {
                color: $tag3Color;
                border: 1px solid $tag3Color;
            }
        }

        .time {
            text-align: right;
            flex: 1;
            font-family: $yuBold;
            font-size: 12px;
            line-height: 24px;
            color: $borderColor;
        }
    }

    .timeline-item-btns {
        display: flex;

        .btn-gray {
            flex: 1;
            text-align: center;
            height: 40px;
            background: $borderColor;
            color: #fff;
            font-size: 16px;
            line-height: 40px;
        }

        .btn-like {
            flex: 1;
            text-align: center;
            height: 40px;
            background: $likeColor;
            color: #fff;
            font-size: 16px;
            line-height: 36px;
            font-family: $yuBold;

            img {
                margin-right: 4px;
                margin-top: -2px;
            }

            &.reverse {
                background: #fff;
                color: $likeColor;
                border: 1px solid $likeColor;
            }
        }
    }
}

.new-pagination {
    display: flex;
    // position: fixed;
    bottom: 60px;
    padding: 36px 40px;
    width: 100%;
    max-width: 640px;
    justify-content: center;
    background: #fff;
    left: calc(50% - 320px);

    button {
        display: inline-block;
        height: 45px;
        width: 57px;
        background: #fff;
        border: 0px;
        margin: 0px;
        padding: 0px;

        .item {
            width: 32px;
            height: 45px;
            cursor: pointer;
            padding: 12px 6px;
            object-fit: contain;

            &.label {
                width: 45px;
                padding: 0px;
                font-size: 24px;
                line-height: 45px;
                border: 1px solid $borderColor;
                border-radius: 45px;
                text-align: center;
                color: $borderColor;

                &.active {
                    color: $mainColor;
                    border: 1px solid $mainColor;
                }
            }
        }

        &.first,
        &.prev,
        &.next,
        &.last {
            width: 32px;
        }

        &.disabled {
            opacity: .3;
        }
    }
}

@media (max-width: 640px) {
    .new-pagination {
        left: 0px;
    }

    .front-wrapper .front-footer {
        left: 0px;
    }
}

.empty-list-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(var(--vh, 1vh) * 100 - 186px);
    div {
        width: 100%;
        
        p {
            font-family: $yuBold;
            font-size: 24px;
            line-height: 30px;
        }

    }

    &.ch-50 {
        height: calc(var(--vh, 1vh) * 100 - 50px);
    }

    &.ch-110 {
        height: calc(var(--vh, 1vh) * 100 - 148px);
    }
}

.user-item img.chatroom-menu {
    position: absolute;
    right: 0px;
    bottom: -10px;
    width: 24px;
    height: 28px;
    min-width: 0px;
    padding: 10px 0px;
    object-fit: contain;
    cursor: pointer;
    margin-right: 0px;
}

.user-item-content img.top-pin {
    position: absolute;
    right: 38px;
    width: 12px;
    height: 12px;
    min-width: 0px;
    object-fit: contain;
    top: 8px;
}

@media (min-width: 640px) {
    .like-tabs {
        left: calc(50% - 320px);
    }
}

.delete-icon {
    position: absolute;
    left: calc(100% - 16px);
    top: -12px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10;
}

.profile-step .main-photo img.delete-icon {
    position: absolute;
    left: calc(100% - 42px);
    top: 12px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10;
}


.move-btns {
    position: fixed;
    top: calc(var(--vh, 1vh) * 50 - 20px);
    left: calc(50% - 380px);
    width: 760px;
    height: 40px;
    display: block;

    .left {
        height: 40px;
        float: left;
        cursor: pointer;
    }

    .right {
        height: 40px;
        float: right;
        cursor: pointer;
    }
}

.prototype-box .move-btns {
    top: inherit;
    bottom: 76px;
}

.image-preview {
    width: 100%;
    max-width: 640px;
    margin: 20px;
}

.image-preview-close {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.timeline-detail-bottom {
    position: fixed;
    background: #fff;
    bottom: 0px;
    left: calc(50% - 320px);
    display: flex;

    .timeline-item-like-btns  {
        flex: 0 1 66%;
    }

    .timeline-item-btns {
        flex: 0 1 33%;
        margin-right: 12px;
    }

    &.has-one {
        margin-bottom: 12px;
        .timeline-item-btns {
            flex: 1;
            margin-right: 0px;
        }
    }

    .btn-prof {
        img {
            height: 22px;
            margin-top: -2px;
        }
    }
}

@media (max-width: 640px) {
    .move-btns {
        display: none;
    }
    
    .timeline-detail-bottom {
        position: fixed;
        background: #fff;
        bottom: 0px;
        left: 0px;
    }
}

.locked {
    color: $pushColor;
    font-weight: bold;
}

.filter-item-flex {
    display: flex;

    .flex-row {
        flex: 1;
    }

    .between {
        margin: 0px 16px;
        line-height: 40px;
    }
}

.btn-header-menu {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: 4px;
    right: 0px;
    padding: 8px;
    margin-right: 8px;
}

.reload-icon {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 11;
}

.VueCarousel-pagination {
    display: none !important;
}

.search-logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 8px;
}

.admin-login-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0px 52px;
}

.dark-logo {
    width: 100%;
    padding: 0px 20px;
    object-fit: contain;
}

.image-view-dialog {
    position: relative;
    width: 100%;
    height: 100%;
    .justify-content-center {
        position: relative;
        width: 100%;
        height: 100%;

        .VueCarousel {
            position: relative;
            width: 100%;
            max-width: 640px;
            overflow: hidden;

            .VueCarousel-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;

                .VueCarousel-inner {
                    position: absolute !important;
                    top: 0px !important;
                    left: 0px !important;
                    width: 100% !important;
                    height: 100% !important;

                    .VueCarousel-slide {
                        position: relative;
                        padding-top: 100%;
                        height: 0px;
                        overflow: hidden;
                        transform: translateY(calc(var(--vh, 1vh) * 50 - 50%));
                        -webkit-transform: translateY(calc(var(--vh, 1vh) * 50 - 50%));
                        
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    .index {
        width: 100%;
        color: #fff;
        text-align: center;
        position: absolute;
        bottom: 40px;
        left: 0;
        font-size: 28px;

        &.contain {
            bottom: 80px;
        }
    }
}

.z-200 {
    z-index: 200 !important;
}

.v-select {
    height: 42px !important;

    .v-select-toggle {
        height: 100%;
        font-size: 16px;
        color: $textColor;
        background: #fff;
        border: 1px solid $borderColor;
    }

    ul {
        max-height: 400px;
        overflow-y: scroll;
    }

    .v-dropdown-item {
        font-size: 14px;
        color: $textColor;

        &.selected {
            background: $mainColor;
        }
    }

    &.reverse {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

        .v-dropdown-container {
            bottom: 40px;
        }

        ul {
            height: 300px;
        }
    }
}

.camera {
    width: 26px;
    margin-right: 8px;
    cursor: pointer;
}


.image-view-dialog .justify-content-center .VueCarousel .VueCarousel-wrapper .VueCarousel-inner .VueCarousel-slide.contain {
    padding-top: 100vh;

    img {
        object-fit: contain !important;
    }
}

.filter-no-reply {
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 12px;
    color: #D5A237;
    cursor: pointer;
}

.prototype-container {
    padding: 20px;

    .items {
        .item {
            width: 100%;
            padding: 20px 0px;
            border-bottom: 1px solid $borderColor;
            display: flex;
            align-items: center;

            .number {
                width: auto;
                margin-right: 10px;
                font-size: 16px;
                color: $borderColor;
            }

            p {
                flex: 1;
                color: $textColor;
                text-align: left;
                font-size: 16px;
                white-space: pre-line;
            }

            img {
                margin-left: 20px;
                cursor: pointer;
            }
        }
    }

    .empty {
        margin: 0px;
        text-align: center;
        font-size: 16px;
        color: $borderColor;
        height: 40px;
        line-height: 40px;
        margin-top: 20px;
    }
}

.prototype-box {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 640px;
    left: calc(50% - 320px);
    padding: 12px;
    background: #fff;

    .prototype-content {
        width: 100%;
        min-height: 40px;
        position: relative;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .pencil {
            position: absolute;
            top: 0px;
            right: 0px;
        }

        .VueCarousel-wrapper {
            padding-top: 30px;
        }

        .empty {
            margin: 0px;
            text-align: center;
            font-size: 16px;
            color: $borderColor;
            height: 40px;
            line-height: 40px;
        }

        .temp {
            font-size: 16px;
            line-height: 24px;
            display: none;
        }

        .item {
            padding: 20px;
            border-radius: 8px;
            background-color: $pushColor;
            color: #fff;
            display: flex;
            align-items: center;
            margin: 0px 4px;
            cursor: pointer;
            max-width: 27%;
            position: relative;

            @include m-smp {
                max-width: 26%;
            }
            
            &.active {
                background-color: $mainColor;
            }

            & > div {
                margin-top: 16px;

                p {
                    font-size: 16px;
                    line-height: 24px;
                    text-align: left;
                    max-height: 48px;
                    overflow: hidden;
                    word-break: break-all;
                }
            }

            .number {
                position: absolute;
                width: auto;
                font-size: 18px;
                color: #fff;
                top: 0px;
                left: 10px;
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 640px) {
    .prototype-box {
        left: 0px;
    }
}

.container-margin {
    min-height: calc(var(--vh, 1vh) * 100 - 228px);

    &.without-footer {
        min-height: calc(var(--vh, 1vh) * 100 - 128px);
    }
}