.profile-step {
    h1 {
        margin-top: 36px;
        font-family: $yuBold;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 0px;
    }

    .on-off {
        display: flex;
        height: 56px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid $borderColor;

        .on-item {
            width: 100%;
            text-align: center;
            font-size: 20px;
            line-height: 56px;
            font-family: $yuBold;

            &:first-child {
                border-right: 1px solid $borderColor;
            }

            &.active {
                background: $mainColor;
                color: #fff;
            }
        }
    }

    .vip {
        width: 100%;
        height: auto;
    }

    .main-photo {
        width: 100%;
        padding-top: 100%;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        input {
            display: none;
        }

        .btn-upload {
            padding: 8px 12px;
            font-size: 14px;
            line-height: 14px;
            padding-left: 28px;
            cursor: pointer;
            display: inline;
            position: absolute;
            right: 12px;
            bottom: 12px;
            background: #fff;
            border-radius: 4px;

            &::before {
                content: "";
                position: absolute;
                top: 8px;
                left: 12px;
                width: 12px;
                height: 12px;
                background-image: url('/assets/black_plus.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .2);
        }

        p {
            position: absolute;
            top: calc(50% - 12px);
            left: 0;
            width: 100%;
            font-size: 28px;
            text-align: center;
            color: #fff;
        }
    }

    .sub-photos {
        display: flex;

        .sub-photo {
            width: 100%;
            margin-right: 8px;
            padding-top: calc(20% - 4px);
            position: relative;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            input {
                display: none;
            }

            .subimg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .plus {
                position: absolute;
                top: calc(50% - 10px);
                left: calc(50% - 10px);
                width: 20px;
                height: 20px;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .2);
            }
    
            p {
                position: absolute;
                top: calc(50% - 12px);
                left: 0;
                width: 100%;
                text-align: center;
                color: #fff;
            }
        }
    }

    .photo-about {
        position: absolute;
        top: calc(var(--vh, 1vh) * 100);
        left: calc(50% - 320px);
        width: 100%;
        height: auto;
        display: block;
        background: $backWhiteColor;
        max-width: 640px;
        display: none;

        &.active {
            display: block;
            top: 0;
            transition: top 1s ease-in-out;
            -webkit-transition: top 1s ease-in-out;
        }

        .about-header {
            position: fixed;
            top: 0;
            left: calc(50% - 320px);
            width: 100%;
            height: 48px;
            border-bottom: 1px solid $borderColor;
            max-width: 640px;
            background: $backWhiteColor;
            z-index: 1002;

            img {
                width: 16px;
                height: 16px;
                position: absolute;
                left: 24px;
                top: 11.5px;
            }

            p {
                text-align: center;
                position: relative;
                display: block;
                width: 100%;
                font-family: $yuBold;
                font-size: 16px;
                line-height: 48px;
            }
        }

        .about-container {
            position: relative;
            top: 48px;
            width: 100%;
            display: block;
            padding: 0px;

            .about-title {
                font-family: $yuBold;
                font-size: 20px;
                line-height: 50px;
                background: $backColor;
                padding: 0px 20px;
            }

            .about-item {
                margin: 0px 20px;
                font-size: 14px;
                line-height: 20px;
                padding-left: 24px;
                position: relative;

                &::before {
                    content: "";
                    background-image: url(/assets/check_item.svg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 12px;
                    top: 4px;
                    left: 0px;
                    position: absolute;
                }
            }

            .ok-title,
            .ng-title {
                font-family: $yuBold;
                font-size: 18px;
                line-height: 24px;
                color: $mainColor;
                text-align: center;
            }

            .ng-title {
                color: $ngColor;
            }

            .ok-photos {
                display: flex;
                margin: 0px 20px;

                div {
                    width: 100%;
                    margin-right: 16px;
                    display: block;
                    padding-top: calc(50% - 8px);
                    position: relative;
                    border-radius: 8px;

                    &:last-child {
                        margin-right: 0;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .ng-photos {
                margin: 0px 20px;
                display: flex;
                .item {
                    width: 100%;
                    margin-right: 16px;

                    &:last-child {
                        margin-right: 0;
                    }

                    .item-img {
                        position: relative;
                        width: 100%;
                        padding-top: 100%;

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    label {
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        display: block;

                        &.one-line {
                            line-height: 32px;
                        }
                    }
                }
            }

            .about-subtitle {
                margin: 0px 20px;
                font-family: $yuBold;
                font-size: 18px;
                line-height: 24px;
            }

            .about-desc {
                margin: 0px 20px;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.input-field {
    label {
        font-family: $yuBold;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
    }

    .sub-text {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 16px;
    }

    .custom-check-box {
        display: flex;
        height: 45px;
        width: 100%;
        border-bottom: 1px solid $borderColor;
        cursor: pointer;
        align-items: center;

        label {
            font-size: 16px;
            line-height: 45px;
            flex: 1;
            margin-bottom: 0px;
        }

        img {
            width: 28px;
            height: 28px;
            object-fit: cover;
            margin: 8.5px;
        }

        &.image {
            height: 100px;

            label {
                img {
                    width: 80px;
                    height: 80px;
                }
            }
        }

        &.invalid {
            color: $borderColor;
        }
    }
}

.flex-row {
    display: flex;
    
    select {
        flex: 1;
    }

    label {
        margin-left: 8px;
        line-height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .profile-step .photo-about {
        left: 0;
        .about-header {
            left: 0;
        }
    }
}