.login {
    h1 {
        font-size: 24px;
        line-height: 30px;
        font-family: $yuBold;
        text-align: center;
        padding: 0;
        margin: 0;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .password-forgot {
        color: $borderColor;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        font-family: $yuBold;

        &:hover {
            text-decoration: none;
        }
    }
}

.login-row {
    width: 100%;
    label {
        font-family: $yuBold;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 12px;
    }

    .form-control {
        border-radius: 4px;
        border: 1px solid $borderColor;
        padding: 0px 12px;
        font-family: $yuMedium;
        font-size: 16px;
        margin-bottom: 16px;
        background-image: none;
        line-height: 40px;

        &:hover,
        &:focus,
        &:active {
            background-image: none;
            border: 1px solid $borderColor;
        }
    }
}

.checkbox {
    font-family: $yuBold;
    display: inline-block;
    margin: 0 auto;
    padding-left: 0;
    margin-top: 15px;
}

.checkbox label {
    background: url('/assets/checkbox_unchecked.svg') left top no-repeat !important;
    padding-left: 22px;
    padding-top: 4px;
    font-size: 14px;
    line-height: 14px;
    color: $textColor;
    background-position-y: 2px !important;
    background-size: 16px 16px;
    height: 20px;
}

input[type=checkbox]:checked + label {  
    background: url('/assets/checkbox_checked.svg') left top no-repeat !important;  
    background-position-y: 2px !important;
} 

.checkbox label a {
    color: $mainColor;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.checkbox label::before, 
.checkbox label::after {
    display: none;
}

.terms {
    margin: 36px 0px;

    h1 {
        font-family: $yuBold;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    
    .text {
        font-size: 14px;
        line-height: 20px;
    }

    .title {
        margin-top: 20px;
        font-family: $yuBold;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;

        &.gold {
            color: $mainColor;
        }
    }
}

.register-step1 {
    h1 {
        margin-top: 36px;
        font-family: $yuBold;
        font-size: 24px;
        line-height: 30px;
    }
    .sub-text {
        margin-top: 4px;
        margin-bottom: 16px;
    }

    .gender-box {
        display: flex;
        border-radius: 8px;
        border: 1px solid $borderColor;

        .item {
            flex: 1;
            display: flex;
            height: 168px;
            justify-content: center;
            text-align: center;

            .element {
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;
                
                &:first-child {
                    border-right: 1px solid $borderColor;
                }

                img {
                    width: 27px;
                    height: 27px;
                    margin: 0 auto;
                }

                p {
                    margin-top: 8px;
                    font-size: 16px;
                    line-height: 16px;
                }

                &.male-active {
                    background: $maleColor;
                    color: #fff;
                }

                &.female-active {
                    background: $femaleColor;
                    color: #fff;
                }
            }
        }
    }

    .age-box {
        display: flex;
        select {
            flex: 1;
            height: 40px;
        }

        label {
            font-family: $yuBold;
            line-height: 40px;
            margin-left: 8px;
        }
    }
}

.register-confirm {
    .r-title {
        font-family: $yuBold;
        font-size: 16px;
        margin-bottom: 12px;
        color: $mainColor;
    }

    .r-text {
        font-size: 16px;

        img {
            width: 16p;
            height: 16px;
            margin-right: 4px;
        }
    }
}

.register-email-sent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(calc(var(--vh, 1vh) * 100) - 50px);
    width: 100%;

    .content {
        width: 100%;
        text-align: center;

        .title {
            font-family: $yuBold;
            font-size: 24px;
            line-height: 30px;
        }

        img {
            height: 53px;
        }

        .desc {
            font-family: $yuBold;
            font-size: 14px;
            line-height: 20px;
        }
    }
}