.plan-desc-box {
    width: 100%;
  
    .box {
        display: flex;
        justify-content: center;
        padding: 0px;
  
        .item {
            text-align: center;
            flex: 1;
            &:nth-child(2) {
              min-width: 92px;
            }
            img {
                display: inline-block;
                width: 48px;
                height: 48px;
                object-fit: contain;
                margin: 0;
            }
  
            p {
                font-size: 12px;
                line-height: 14px;
                margin-top: 8px;
            }
        }
    }
}

.btn-main-reverse {
    background: $whiteColor;
}

body {
	background: $whiteColor;
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	
}
.container {
	background: none;
    padding: 0px 10px;
}
.container-mw-5 {
	background: none;
    padding: 0px 5px;
}
.container-margin {
    padding: 10px 0;
}

.front-container {
	background: $whiteColor;
}
.front-page-container {
	background: $whiteColor;
}
.inner-container {
    padding: 0px 10px;
    margin: 0;
}
.inner-container-mw5 {
    padding: 0px 5px;
    margin: 0;
}
.header-container {
    background: $whiteColor;
    /*padding-bottom: 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 10px rgba(100, 100, 100, 0.4);*/
}

.container {
	&.gray-back {
		background: #EEE;
	}
	&.white-back {
		background: $whiteColor;
	}
	&.black-back {
		background: #000;
	}
}

.header-container {
	&.gray-back {
        background: #EEE;
        min-height: calc(var(--vh, 1vh) * 100);
	}
	&.white-back {
		background: $whiteColor;
	}
	&.black-back {
		background: #000;
	}
}
.front-wrapper {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.front-wrapper .front-page-container .front-container{
	&.gray-back {
		background: #EEE;
	}
	&.white-back {
		background: $whiteColor;
	}
	&.black-back {
		background: #000;
	}
}

.header-container .inner-container{
	&.gray-back {
		background: #EEE;
	}
	&.white-back {
		background: $whiteColor;
	}
	&.black-back {
		background: #000;
	}
}

/* リストメニュー */
.v-select .v-select-toggle {
    font-size: 17px;
}

/* 位置 */
.center {
	text-align: center;
}

.bold {
    font-weight: bold;
}

/*　マージン  */

.mt-5 {
	margin-top:5px !important;
}
.mt-8 {
	margin-top:8px !important;
}
.mt-10 {
	margin-top:10px !important;
}
.mt-15 {
	margin-top:15px !important;
}
.mt-20 {
	margin-top:20px !important;
}
.mt-25 {
	margin-top:25px !important;
}
.mt-30 {
	margin-top:30px !important;
}
.mt-40 {
	margin-top:40px !important;
}
.mt-50 {
	margin-top:50px !important;
}

.mb-5 {
	margin-bottom:5px !important;
}
.mb-8 {
	margin-bottom:8px !important;
}
.mb-10 {
	margin-bottom:10px !important;
}
.mb-15 {
	margin-bottom:15px !important;
}
.mb-20 {
	margin-bottom:20px !important;
}
.mb-25 {
	margin-bottom:25px !important;
}
.mb-30 {
	margin-bottom:30px !important;
}
.mb-40 {
	margin-bottom:40px !important;
}
.mb-50 {
	margin-bottom:50px !important;
}
.mb-80 {
	margin-bottom:80px !important;
}

.mw-10 {
	margin: 0 10px;
}
.mw-20 {
	margin: 0 20px;
}
.mw-30 {
	margin: 0 30px;
}
.mw-40 {
	margin: 0 40px;
}
/* 基本設定 */
select.form-control:not([size]):not([multiple]) {
    height: calc(3rem + 0px);
}
.register-step1 .age-box .form-control {
    width: auto;
}

pre {
    font-size: 15px;
    line-height: 25px;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	margin-bottom: 0;

}

.btn-main-reverse.small {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    border-radius: 5px;
    font-size: 16px;
    height: 42px;
    line-height: 40px;
}

.setting-title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.setting-text-center {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 15px;
    line-height: 22px;
	text-align: center;
}


.red-alert {
    color: #D5A237;
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0 15px;
}
.gray-text {
    color: #999;
}
.red-text {
    color: #ee827c;
}
/* フォーム */

.form-control {
	font-size: 17px;
    color: #0D0B16;
	height: calc(2em + 0.75rem + 2px);
	margin-bottom:0px;
}

/* オンライン状態 */
.online-status.timeout {
    background: #fcc800;
}

/* ページャー */
.new-pagination {
    padding: 15px 10px 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.new-pagination button .item.label {
    width: 40px;
	height: 40px;
    padding: 0px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #ACABAB;
}
.new-pagination button .item.label.active {
    /*
    color: #FFF;
    border: none;
    background-color:#cccccc;
    */
    color: #D5A237;
    background-color: #FAF3E7;
    border: 1px solid #D5A237;
}
/*　フォント　*/
.vue-ios-picker {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
}
/*　エラー　*/
.label-error-message {
    font-size: 15px;
    line-height: 24px;
    color: #D5A237;
}

/* ログイン */
.login-logo {
	width: 140px;
	padding-top: 20px;
    padding-bottom: 30px;
}

.login-row label {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 15px;
}
.login .password-forgot {
	font-size: 16px;
	display: block;
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
}
.btn-main-reverse-taxt {
	font-size:14px;
	color:#D5A237;
}
.btn-main-reverse {
	height: 55px;
	font-size: 18px;
    line-height: 52px;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    background: #efefef;
}
.btn-main.disabled {
    background: #bbb;
}
.btn-main {
	background: #2cb4ad;
	color: #fff;
	font-size: 18px;
	height: 50px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	border-radius: 5px;
	border: 0;
    cursor: pointer;
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
}
.btn-main img {
    margin-right: 4px;
    margin-top: -4px;
}

.btn-main .small {
    font-size: 17px;
    height: 45px;
    line-height: 45px;
}
.btn-main.green {
    background: #2cb4ad;
}

.d-label {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
}
.login-row .form-control {
	font-size: 17px;
	border-radius: 3px;
	border: none;
	padding: 0px 12px;
    /*background: rgba(213, 162, 67, 0.2);*/
    background: #efefef;
	line-height: 45px;
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	width:100%;
	margin-bottom: 0px;
}

/* ヘッダ */
.static-header {
	background: $whiteColor;
	border-bottom: 1px solid #D5A237;
	
  box-shadow: 0px 1px 1px -0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 1px 1px -0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px -0px rgba(0,0,0,0.1);
}
.static-header-content {
	border-bottom: 1px solid #999;
}
.static-header .bold-title {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size:17px;
    max-width: 70%;
}

/* フッタ */
.front-footer a {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
}
.front-footer a.tab-search::before {
    height: 30px;
    margin-top: 4px;
    margin-bottom: 2px;
}
.front-footer a.tab-search.selected::before {
    height: 30px;
    margin-top: 4px;
    margin-bottom: 2px;
}
.front-footer a.tab-timeline::before {
    height: 22px;
    margin-top: 8px;
    margin-bottom: 6px;
}
.front-footer a.tab-timeline.selected::before {
    height: 22px;
    margin-top: 8px;
    margin-bottom: 6px;
}
.front-footer a .footer-badge {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #F10A32;
    top: 8px;
    right: 20px;
}

/*　エクストラフッタ　*/
.brand-footer {
    max-width: 100%;
    /*position: fixed;*/
    bottom: 60px;
    text-align: right;
    margin: 50px 10px 20px;
}
.brand-footer .brand-img {
    color: #bbb;
    font-size: 11px;
}

.brand-footer .footer-logo {
    vertical-align: middle;
    width: 140px;
}

.brand-footer .copy-right {
    font-size: 12px;
    color: #bbb;
    text-align: center;
    border-top: 1px solid #eee;
    padding: 10px 0 0;
    margin: 10px 0 0;
}

.brand-footer .number {
    font-size: 13px;
    color: #fff;
    background: #000;
    padding: 5px;
    margin: 5px 0 5px;;
    display: inline-block;
    position: relative;
}


/* さがす */
.static-header .search-icon {
    position: absolute;
    width: 36px;
    height: 30px;
    top: 9px;
    right: 12px;
    cursor: pointer;
}
.search-logo {
    padding: 14px;
}
.search-user-item {
	background: $whiteColor;
    flex: 0 0 49.5%;
	border-radius: 5px;
	border: none;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.search-user-item .user-avatar .avatar {
    position: absolute;
    top: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
    -o-object-fit: cover;
    object-fit: cover;
}
.search-user-item .user-avatar .overlay {
    top: 1px;
    left: 1px;
}

.search-user-item:nth-child(odd) {
	 margin-right: 10px;
}
.search-user-item .user-desc .online-status {
	margin-top: 1px;
	width: 11px;
    height: 11px;
	border-radius: 10px;
}
.user-item-content .user-item-name .online-status {
	margin-top: 3px;
	width: 11px;
    height: 11px;
	border-radius: 5px;
}
.timeline-detail .timeline-item-content .timeline-item-name .online-status {
	margin-top: 1px;
	width: 13px;
    height: 13px;
	border-radius: 10px;
}
.VueCarousel-wrapper .VueCarousel-inner .VueCarousel-slide .p-detail-status .online-status {
    margin-top: 0px;
    margin-bottom: -1px;
	width: 13px;
    height: 13px;
    border-radius: 10px;
}

.search-user-item .user-avatar .content p:first-child {
    text-align: left;
    margin-bottom: 4px;
}
.search-user-item .user-desc p:first-child .age {
	font-size: 13px;
}
.search-user-item .user-desc p:last-child span {
    font-size: 13px;
}
.search-user-item .user-avatar .content p:first-child .job {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	padding: 1px 3px 2px;
	border-radius: 2px;
    font-size: 11px;
    background: #666;
}

.search-user-item .user-avatar .content p:last-child {
    font-size: 14px;
}
.search-user-item .user-avatar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	
}
.search-user-item .user-avatar .content {
    left: 8px;
    right: 8px;
    bottom: 8px;
}
.mb-16 {
    margin-bottom: 10px !important;
}

.search-user-item:nth-child(odd) {
    margin-right: 2%;
}
.search-user-item:nth-child(2n+1) {
    margin-right: 0.5%;
}
.page-message {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    color: #D5A237;
}
.pull-right {
    font-size: 12px;
    /*font-weight: bold;*/
    background: darkseagreen;
    padding: 0px 4px 1px;
    border-radius: 2px;
}


/* 検索条件 */
.filter-item {
	font-size: 16px;
	border-bottom:1px solid #ddd;
	padding:15px 10px;
}
.filter-item-flex .between {
    margin: 20px 10px;
    line-height: 0px;
	font-weight:bold;
}
.input-field label {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	font-size: 18px;
    line-height: 22px;
	margin:10px;
}
.filter-item p:first-child {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 15px;
    line-height: 15px;
	font-weight:bold;
}
.filter-item p:last-child {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 15px;
    line-height: 15px;
}

/* プロフ詳細 */
.p-detail-top .p-detail-label {
    left: 10px;
    right: 10px;
	bottom: 14px;
}
.p-detail-top .p-detail-label .title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 22px;
    line-height: 22px;
    height: 22px;
	font-weight:bold;
}
.p-detail-top .p-detail-label .desc {
    font-size: 16px;
    line-height: 16px;
}
.container .label-title.gold-normal {
    font-size: 15px;
    line-height: 22px;
	//background-color:#eee;
	color:#D5A237;
	padding: 3px 10px 2px;
	font-weight:normal;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	//border-bottom:1px solid #D5A237;
}
.container .label-title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
}
.mb-12 {
    margin-bottom: 8px !important;
}
.p-detail-status .p-detail-alert img {
    margin-top: -4px;
    width: 16px;
    height: 16px;
    -o-object-fit: contain;
    object-fit: contain;
}

.p-detail-subimages {
	margin: 10px;
}

.p-detail-status {
    background: #F5F3F1;
    padding: 10px 10px;
}
.p-detail-status .online {
    margin-right: 25px;
}
.p-detail-profile {
    font-size: 15px;
    line-height: 20px;
	padding:0 10px 10px;
	border-bottom: 1px solid #eee;
}
.p-detail-profile .title {
	font-weight: bold;
}
.btn-containters {
    padding: 10px 10px;
	background:none;
}
.btn-like {
    background: #2cb4ad;
    height: 50px;
    border-radius: 25px;
    border: none;
    border-bottom: 1px solid #00947a;
    border-right: 1px solid #00947a;
}
.btn-like.liked {
    background: #efefef;
    color: #3CB371;
    border: 1px solid #2cb4ad;
}

.btn-like p .title {
    font-size: 17px;
    line-height: 40px;
}
.btn-like.like-again-liked {
    background: #efefef;
    color:#ee836f;
    border: 1px solid #ca8269;
}
.detail-introduction {
    font-size: 15px;
    line-height: 25px;
    padding: 0 10px;
}
.p-detail-block-label {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #ccc;
    margin: 50px 0;
    font-weight: bold;
}
.move-btns {
    position: fixed;
    top: calc(var(--vh, 1vh) * 50 - 20px);
    left: calc(50% - 400px);
    width: 800px;
    height: 48px;
    display: block;
}
.move-btns .left {
    height: 48px;
    float: left;
    cursor: pointer;
}
.move-btns .right {
    height: 48px;
    float: right;
    cursor: pointer;
}
.p-detail-top .p-detail-header img.red_love {
    position: absolute;
    right: 45px;
    top: -2px;
    width: 45px;
    height: 45px;
}
.p-detail-top .p-detail-header img {
    cursor: pointer;
    padding: 10px;
    width: 42px;
    height: 42px;
    -o-object-fit: contain;
    object-fit: contain;
}
.p-detail-top .p-detail-header img.back {
    float: left;
    margin-top: 2px;
}
.p-detail-profile-price {
    font-size: 15px;
    line-height: 20px;
    padding: 10px 15px 5px;
    margin: 0 10px;
    border-bottom: 3px solid darkseagreen;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.p-detail-profile-price .desc {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}


/* 募集 */
.user-item {
    background: $whiteColor;
	height: 110px;
	border-radius: 5px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.user-item img {
	width: 110px;
    height: 109px;
    min-width: 110px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
}
.user-item .user-item-content .user-item-date {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    position: absolute;
	font-size: 12px;
    line-height: 14px;
    margin: 3px 0 0;
    bottom: 7px;
    right: 10px;;
    color: #999;
}
.user-item .user-item-content .user-item-name .name {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 14px;
    line-height: 17px;
    height: 17px;
}
.user-item .user-item-content .user-item-name .city {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	font-size: 13px;
    line-height: 13px;
}
.user-item .user-item-content {
    width: 100%;
    position: relative;
	padding: 10px 10px 8px 0;
}
.user-item .user-item-content .user-item-text {
    font-size: 13px;
    line-height: 17px;
    height: 17px;
}
.user-item .user-item-content .user-item-text.gray {
    color: #999 !important;
    margin: 25px 0;
    font-size: 14px;
    line-height: 16px;
    height: 20px;
}

.timeline-tag {
    font-size: 11px;
    line-height: 18px;
    height: 18px;
    text-align: center;
    padding: 0px 5px 0px;
    border-radius: 2px;
    margin-bottom: 6px;
}
.timeline-add {
    bottom: 80px;
    width: 70px;
    height: 70px;
    background:#2cb4ad;
    /*border-bottom: 1px solid #00947a;
    border-right: 1px solid #00947a;*/
    border: 4px solid #fff;;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.4));
}
.timeline-add img {
    width: 35px;
    margin-top: 13px;
    margin-left: 1px;
}
.timeline-select {
	margin: 10px 0;
}
.timeline-select .v-select:first-child {
    margin-right: 10px;
}
.user-item .user-item-content .user-item-name .city::before {
	background-image:none;
}
.locked {
    color: #D5A237;
    font-weight: normal;
}
.timeline-tag.tag-1 {
    color: #fff;
    background-color: #409ecc;
    border: none;
}
.timeline-tag.tag-2 {
    color: #fff;
    background-color: #e29676;
    border: none;
}
.timeline-tag.tag-3 {
    color: #fff;
    background-color: #69b076;
    border: none;
}

/* 募集詳細 */
.page-carousel .timeline-detail {
    padding: 0px;
	margin-bottom:80px;
}
.timeline-detail  {
	border-radius: 10px;
	border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.timeline-detail .timeline-item-name .name {
    font-size: 15px;
    line-height: 15px;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    height: 18px;
    overflow: hidden;
}
.timeline-detail .timeline-item-name .city {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.timeline-detail .avatar img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.timeline-item-content {
	background-color:#fff;
	padding:15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.timeline-detail .timeline-item-tag {
	margin-bottom:10px;
}
.timeline-detail .timeline-item-tag .tag {
	font-size: 13px;
    line-height: 22px;
    padding: 1px 5px;
	border-radius: 3px;
}

.timeline-detail .timeline-item-text {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 16px;
    line-height: 26px;
	margin-bottom:0px;
}
.timeline-detail .timeline-item-tag .time {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #999;
}
.timeline-detail .timeline-item-name {
	border-top:1px solid #eee;
	padding: 15px 0 0;
	margin-top:20px;
}

.timeline-detail-bottom .btn-prof {
    width: 100%;
    display: block;
    border: 0px;
    background: #ACABAB;
    height: 50px;
    font-size: 17px;
    line-height: 40px;
    color: #fff;
    border-radius: 5px;
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
}
.timeline-detail-bottom .timeline-item-btns {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 31%;
    flex: 0 1 31%;
    margin-right: 4%;
}
.timeline-detail-bottom .timeline-item-like-btns {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 65%;
    flex: 0 1 65%;
}
.timeline-detail .timeline-item-tag .tag.tag-1 {
    color: #fff;
    background-color: #409ecc;
    border: none;
}
.timeline-detail .timeline-item-tag .tag.tag-2 {
    color: #fff;
    background-color: #e29676;
    border: none;
}
.timeline-detail .timeline-item-tag .tag.tag-3 {
    color: #fff;
    background-color: #69b076;
    border: none;
}

.btn-like.like-again {
    background: #ee836f;
    color: #fff;
    border: none;
    border-bottom: 1px solid #ca8269;
    border-right: 1px solid #ca8269;
}

/* 募集する */
.timeline_add_content {
    margin:10px 0 5px;
    padding: 15px 15px 10px;
    background: #eee;
    border-radius: 5px;
}
.timeline_add_content_title {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 16px;
	line-height:20px;
	margin-bottom:10px;
}
.timeline_add_content_purpose {
	font-size: 16px;
}
.timeline_add_content_text {
	font-size: 17px;
    /*background: rgba(213, 162, 67, 0.3);*/
    border: 1px solid #ACABAB;;
    padding: 10px 10px;
    display: block;
    margin-bottom: 5px;
}
.timeline_add_msg_num {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	font-size: 16px;
    line-height: 22px;
	text-align: right !important;
}
.timeline_add_msg_num_left {
    color: #D5A237;
}
.btn-main.small {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    letter-spacing: 0px;
}
.btn-main.small.wd-auto {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    letter-spacing: 0px;
    width: auto;
}
.timeline_add_msg_num {
    font-size: 17px;
}

/* いいね */
.like-tabs .like-tab-item.active {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    border-bottom: 1px solid #D5A237;
    background: #FAF3E7;
	font-size: 14px;
}
.like-tabs .like-tab-item {
    font-size: 14px;
}

.btn-like.sm p .title {
    line-height: 20px;
    font-size: 12px;
}
.btn-like.sm {
    height: 24px;
    margin-top: 2px;
}
.btn-like.sm p .title {
    line-height: 20px;
    font-size: 13px;
}
.btn-message {
    border-radius: 25px;
    color: #666;
    border: 1px solid #bbb;
    background: #efefef;
}
.btn-message.sm {
    height: 24px;
}
.btn-message.sm p .title {
    line-height: 20px;
    font-size: 13px;
}
.btn-message.sm p .icon {
    height: 20px;
    width: 16px;
}
.user-item .user-item-date {
font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 5px;
	color: #ACABAB;
    text-align: right;
}
.d-flex .cancel-like {
    color:#fff;
    background-color:#aaa;
    border-radius: 20px;
    width: 15%;
    height: 24px;
    line-height: 24px;
    margin-left: 8px;
    text-align: center;
    font-size: 12px;
    margin-top: 2px;
    cursor: pointer;
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
}

/* メッセージ一覧 */
.user-item.chatroom-item {
    padding: 5px 5px;
    height: 90px;
	border-bottom: 1px solid #ddd;
	border-radius: 0px;
}
.chatroom-item .user-item-content {
	padding: 8px 10px 8px 0;
}

.user-item .user-item-content .user-item-name {
	margin-bottom: 8px !important;
} 
.chatroom-item .user-item-content .user-item-name {
	margin-bottom: 12px !important;
} 

.chatroom-item .user-item-content .user-item-name .name {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 14px;
    line-height: 17px;
    height: 17px;
    margin-right: 40px;
}
.chatroom-item .user-item-content .user-item-name .city {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 14px;
    line-height: 14px;
    padding-left: 10px;
}
.chatroom-item .user-item-content .user-item-date {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #999;
	position:absolute;
	bottom:5px;
	right:10px;
	margin-bottom:0px;
}
.user-item.chatroom-item .user-item-text {
	font-size: 14px;
    line-height: 16px;
    height: 16px;
	margin-bottom: 5px !important;
}

.chatroom-item img {
    width: 80px;
    height: 80px;
    min-width: 80px;
	border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
}
.chatroom-item img.chatroom-menu {
    position: absolute;
    right: 0px;
    /*bottom: 0px;*/
	top: 0px;
    width: 24px;
    height: 28px;
    min-width: 0px;
    padding: 10px 0px;
    -o-object-fit: contain;
    object-fit: contain;
    cursor: pointer;
    margin-right: 10px;
}
.user-item.chatroom-item.pink-back .user-item-text {
	font-size:13px;
    line-height: 16px;
	height: 20px;
    color: #FFF;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	padding: 2px 6px;
	background-color:#bbb;
	display: inline-block;
    border-radius: 25px;
}

.btn-report {
    border-radius: 5px;
    border: 1px solid #999;
}

.user-item-block-label {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #999;
    margin: 12px 0;
}
/* ピン止め　*/
.user-item-content img.top-pin {
    right: 38px;
    width: 12px;
    height: 12px;
    top: 8px;
}

/* メッセージ未返信のみ */
.user-item-content img.top-pin {
    position: absolute;
    right: 40px;
    width: 30px;
    height: 22px;
    min-width: 0px;
    -o-object-fit: contain;
    object-fit: contain;
    top: 5px;
}
.filter-no-reply {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 13px;
    color: #D5A237;
    cursor: pointer;
    border: 1px solid #D5A237;
    padding: 2px 8px 2px;
    border-radius: 25px;
}

/* メッセージ詳細 */
.message-pc-container {
    padding: 0px 10px;
}

.bold-title p span:last-child {
    margin: 0 8px;
    min-width: 40px;
}

.message-item .date {
	font-size:14px;
	padding: 10px 0 0px;
    border-top: 1px solid #ddd;
    color: #999;
}
.message-item .other-message .message {
    padding: 6px 12px;
    background: #F5F3F1;
    border-radius: 10px;
    font-size:14px;
    line-height: 22px;
}
.message-item .my-message .message {
    padding: 8px 12px;
    background: rgba(213, 162, 67, 0.2);
    border-radius: 10px;
    font-size:14px;
    line-height: 21px;
}
.message-pc-container .content-box {
    margin-bottom: 62px;
}
.message-pc-container .content-box.safari {
    margin: 0px;
}
// .message-pc-container .message-send {
//     padding: 10px 0px;
// 	position: fixed;
// }
.message-send textarea {
	font-size:14px;
    padding: 8px 10px;
    border-radius: 10px;
    margin-right: 12px;
	background: rgba(213, 162, 67, 0.2);
    border: none;
    max-height: 92px;
}
.message-item .other-message pre {
    font-size: 15px;
    line-height: 20px;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
}
.message-item .my-message pre {
    font-size: 15px;
    line-height: 20px;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
}
.message-item .my-message .time p {
    font-size: 12px;
    line-height: 16px;
    color: #999;
}
.message-item .other-message .time p {
    font-size: 12px;
    line-height: 16px;
    color: #999;
}
.user-item.pink-back {
    background:#FFEEF7;
}
.user-item.blue-back {
    /*background:#EEF7FF;/**/
    background:#FAF3E7;
}
.vue-ios-picker .image-view-dialog .btn-main-dialog_mini {
    position: fixed;
    bottom: 20px;
    /*width: 100%;
    max-width: 640px;
    left: calc(50% - 320px);*/
    display: block;
    height: auto;
    border: 1px solid #666;
    background: #efefef;
    color: #666;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    border-radius: 40px;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
    padding: 2px 12px;
    margin: 0 20px;
    right: 0;
}


.static-header2 {
    height: auto;
    border-bottom: 1px solid #ACABAB;
    position: relative;
    position: fixed;
    margin-top: 0px;
    margin-left: -10px;
    /*left: calc(50% - 320px);*/
    left: auto;
    width: 100%;
    max-width: 640px;
    /*background: #fde2a5;*/
    background: #eeeeee;
    z-index: 15;
    padding: 6px;
}
.col-md-2 {
    position: relative;
    /* width: 100%; */
    min-height: 1px;
    padding-right: 2%;
    padding-left: 2%;

}

.col-md-8 {
    position: relative;
    /* width: 100%; */
    min-height: 1px;
    padding-right: 2%;
    padding-left: 2%;

}
.btn-secondary {
    padding: 7px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #2cb4ad;
    border-bottom: 2px solid #00947a;
    border-right: 2px solid #00947a;
    border-radius: 5px;
}

.btn-secondary-chat {
    padding: 4px 10px;
    font-size: 15px;
    color: #fff;
    background-color: #2cb4ad;
    border-bottom: 2px solid #00947a;
    border-right: 2px solid #00947a;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.filter-no-reply {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 13px;
    color: #D5A237;
    cursor: pointer;
    border: 1px solid #D5A237;
    padding: 2px 8px 2px;
    border-radius: 25px;
    background-color: #eee;
}

/* 日時の提案モーダル */
.timeline_add_content_title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
    background: #efefef;
    padding: 5px 10px;
    text-align: left;
}
.col-md-8 {
    position: relative;
    /* width: 100%; */
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* メッセージ定型文 */
.prototype-box {
    padding: 10px 10px 0px;
    border-top: solid 1px #ddd;
}
.prototype-box .prototype-content {
    min-height: 40px;
}
.prototype-box .prototype-content .VueCarousel-wrapper {
    padding-top: 35px;
}
.prototype-box .prototype-content .item {
    padding: 5px 7px;
    border-radius: 5px;
    background-color: #999;
    margin: 0px 10px 0px 0px;
    align-items: normal;
}
.prototype-box .prototype-content .item.active {
    background-color: #609BD9;
}
.prototype-box .prototype-content .item p {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    max-height: 40px;
}
.prototype-box .prototype-content .pencil {
    position: absolute;
    top: 0px;
    right: 0px;
}
.prototype-box .prototype-content .pencil .txt {
    font-size: 14px;
    color:#D5A237;
    margin: 2px 0 0 2px;
}
.prototype-box .prototype-content .item .number {
    position: static;
    width: auto;
    font-size: 14px;
    color: #ffd700;
    top: 0;
    left: 10px;
    font-weight: 700;
}
.prototype-box .prototype-content .item .msg {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    max-height: 63px;
    overflow: hidden;
    word-break: break-all;
    width: 100%;
    display: inline-block;
}
.prototype-box .prototype-content .item p {
    max-height: none;
}
.prototype-box .prototype-content .prototype-info {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-align: center;
    margin: 5px 10% 10px;
}

/* マイページ定型文編集 */
.prototype-container {
    padding: 20px 10px;
    padding-top: 10px;
}
.prototype-container .items .item {
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
    align-items: normal;
}
.prototype-container .items .item .number {
    width: auto;
    margin-right: 0px;
    font-size: 16px;
    color: #D5A237;
    background: #efefef;
    padding: 3px 5px;
}

.prototype-container .items .item p {
    color: #0D0B16;
    font-size: 15px;
    line-height: 20px;
    padding: 0px 10px;
    align-items: center;
}
.prototype-container .items .item img {
    margin: 0 10px 0 10px;
    cursor: pointer;
}
/* マイページ */
.front-wrapper .front-page-container .front-container .mypage-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
	margin: 10px 0 0;
}

.front-wrapper .front-page-container .front-container .mypage-profile .mypage-profile-avatar {
    width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 0px;
    margin-right: 15px;
}
.front-wrapper .front-page-container .front-container .mypage-profile .mypage-profile-info {
    padding: 15px 0px;
}

.front-wrapper .front-page-container .front-container .mypage-profile .mypage-profile-info .nickname {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 20px;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
    margin-bottom: 15px;
}
.btn-custom-sm {
    padding: 3px 10px;
    font-size: 14px;
    line-height: 16px;
    color: #D5A237;
    border: 1px solid #D5A237;
    border-radius: 10px;
    background: #fff;
}
.front-wrapper .front-page-container .front-container .mypage-profile .mypage-profile-setting {
    margin: 0 15px 0 5px;
}
.front-wrapper .front-page-container .front-container .mypage-profile .mypage-profile-setting::before {
	width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 5px;
}

.front-wrapper .front-page-container .front-container .mypage-profile-membership {
	padding: 10px;
	height: auto;
	margin-bottom:0px;
	border-radius: 0px;
}
.front-wrapper .front-page-container .front-container .mypage-profile-membership .membership-status label {
    font-size: 14px;
    line-height: 30px;
	margin-bottom:3px;
}
.front-wrapper .front-page-container .front-container .mypage-profile-membership .current-likes label {
    font-size: 14px;
    line-height: 30px;
	margin-bottom:3px;
}
.front-wrapper .front-page-container .front-container .mypage-profile-membership .current-likes .likes {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    margin-bottom: 8px;
    height: auto;
    padding: 8px 15px;
	padding-left: 35px;
    border-radius: 15px;
    font-size: 18px;
    color: #333;
}
.front-wrapper .front-page-container .front-container .mypage-profile-membership .current-likes .likes::before {
    left: 12px;
    bottom: 7px;
}

.front-wrapper .front-page-container .front-container .mypage-profile-membership .membership-status span {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    margin-bottom: 8px;
    height: auto;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 15px;
}
.front-wrapper .front-page-container .front-container .mypage-profile-membership .seperator {
    height: 50px;
    background: #aaa;
}

.front-wrapper .front-page-container .front-container .mypage-buttons {
	border-bottom: 1px solid #EEE;
	margin: 0 0 20px;
	padding: 0px;
}
.front-wrapper .front-page-container .front-container .mypage-buttons a {
    height: auto;
    border: 1px solid #EEE;
    padding: 20px 5px;
	flex: 0 0 33.33%;
}
.front-wrapper .front-page-container .front-container .mypage-profile .mypage-profile-avatar p {
    top: 30px;
}
.front-wrapper .front-page-container .front-container .mypage-identity {
    height: auto;
    border: 2px solid #D5A237;
}
.front-wrapper .front-page-container .front-container .mypage-identity a {
    max-width: 100%;
    margin: 0;
}
.front-wrapper .front-page-container .front-container .mypage-identity a img {
    margin: 10px 10px;
    width: 85px;
    min-width: auto;
}
.front-wrapper .front-page-container .front-container .mypage-identity a .content label {
    color: #D5A237;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
    font-weight: bold;
}
.front-wrapper .front-page-container .front-container .mypage-identity a .content p {
    font-size: 14px;
    line-clamp: 18px;
}
.front-wrapper .front-page-container .front-container .mypage-identity a .content {
    margin: 12px 0px 12px 0;
}
.mypage-identity-confirming-blink{
    animation: flash 2s linear infinite;
    background:#2cb4ad;
    color: #fff;
    padding: 1px 5px;
    margin: 0 5px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: normal;
  }
  @keyframes flash {
    0%,100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

/* 設定 */
.container .label-title {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	font-weight:bold;
    font-size: 16px;
    line-height: 20px;
}
.container .page-nav-link {
    font-size: 16px;
    line-height: 45px;
}
.container .notification-setting-item {
	height:auto;
	margin-bottom:10px;
	border-bottom: 1px solid #ddd;
    padding: 0 10px 10px;
}
.container .notification-setting-item p {
	font-size: 16px;
    line-height: 40px;
}

.container .notification-setting-item img {
    width: 80px;
    height: 40px;
    margin-top: 1px;
    cursor: pointer;
}

/* お知らせ */
.notifications-item {
    padding: 12px 0px;
    display: block;
    border-bottom: 1px solid 
    #ddd;
}
.notifications-item .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.notifications-item .container .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
}
.notifications-item .notifications-title {
    font-size: 15px;
    line-height: 20px;
}
.notifications-item .label-date {
    font-size: 13px;
    line-height: 15px;
    color: #999;
    text-align: right;
}

.notifications-detail-date {
    font-size: 14px;
    line-height: 20px;
    color:#999;
    text-align: right;
}
.notifications-item .container img.arrow {
    width: 8px;
    height: 12px;
    -o-object-fit: contain;
    object-fit: contain;
    min-width: 8px;
    margin-left: 20px;
}

/*　プライベートモード　*/
.private-item {
    padding: 15px 0px;
    display: block;
    border-bottom: 1px solid 
    #ACABAB;
}
.private-item .private-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}
.private-item .text {
    font-size: 14px;
    line-height: 18px;
}

.private-item .container img {
    width: 80px;
    height: 35px;
}

/*　プロフィール設定　*/
.mypage-profile-items .item .title {
    width: 170px;
	font-weight:bold;
}

/* 自分から送ったいいねマイページ */


/* 募集管理 */
.my-timeline-item-edit {
    height: auto;
    padding: 15px 10px;
	border-radius: 0px;
    border-bottom: 1px solid #BBB;
}
.my-timeline-item-edit .user-item-content {
    width: 100%;
    position: relative;
}
.my-timeline-item-edit .timeline-tag {
    font-size: 11px;
    line-height: 18px;
    height: 18px;
    text-align: center;
    padding: 1px 5px;
    border-radius: 3px;
    margin-bottom: 6px;
}
.my-timeline-item-edit .user-item-content .user-item-date {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;	
    color: #ACABAB;
    text-align: right;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
}
.my-timeline-item-edit .user-item-content .user-item-text {
    font-size: 15px;
    line-height: 18px;
    height: 18px;
	overflow: hidden;
    word-break: break-all;
}
/*　募集を削除　*/
.my-timeline-item-delete {
    height: auto;
    padding: 15px 15px;
	margin:25px 0px;
	border: 1px solid #ddd;
}
.my-timeline-item-delete .user-item-content {
    width: 100%;
    position: relative;
}
.my-timeline-item-delete .timeline-tag {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 1px 5px;
    border-radius: 3px;
    margin-bottom: 6px;
}
.my-timeline-item-delete .user-item-content .user-item-date {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;	
    color: #ACABAB;
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}
.my-timeline-item-delete .user-item-content .user-item-text {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
	overflow: hidden;
    word-break: break-all;
}

.my-timeline-item-delete .user-item-content pre {
    font-size: 16px;
    line-height: 25px;
}

/*　設定文字サイズ　*/
.container .label-title.lg {
    font-size: 18px;
    line-height: 25px;
}
.container .p-small {
    font-size: 13px;
    line-height: 18px;
}

.front-wrapper .front-page-container .front-container .mypage-buttons a img {
    margin-bottom: 6px;
}


/* ヘルプ */
.btn-main-reverse.black {
    color: #666;
    border: 1px solid #999;
    font-size: 16px;
    line-height: 40px;
    height: 42px;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    letter-spacing: 0px;
    background: #efefef;
}

.all-questions .category .category-title {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 16px;
    color: #0D0B16;
}
.all-questions .category .questions .question .question-title {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 15px;
}
.all-questions .category .questions .question .answer {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 15px;
    margin: 12px 0px;
}

/*　会員登録　*/
.register_men_info {
    /*
    border: 1px solid #ddd;
    background: #efefef;
    padding: 3px 6px;
    */
    color: #666;
    text-align: center;
}
.profile-step {
	padding-bottom:20px;
}

.regi-list-field {
	padding:10px;
	border-radius:5px;
	background-color:#eee;
}
.regi-list-field-age {
	padding:20px 20px;
    /*border-radius:5px;
    background: rgba(213, 162, 67, 0.2);*/
    background-color:#efefef;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-field .regi-list-title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 15px;
    line-height: 22px;
	color:#FFF;
	padding: 3px 8px 2px;
	background-color:#D5A237;
	font-weight:normal;
	margin-bottom: 0px;
	border-radius:5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	margin: 0px;
}
.input-field .custom-check-box {
    background-color: #fff;
}
.input-field .custom-check-box label {
	margin:10px;
}


.btn-next {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    padding: 10px 50px;
    border-radius: 25px;
	margin: 30px 0;
}

/* プロフィール編集 */
.mypage-profile-edit-content {
	padding: 20px 0 0;
}
.container-register {
    padding: 20px 20px 0px;
}

.mypage-profile-title .title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	font-weight: bold;
    font-size: 16px;
    line-height: 32px;
	margin-bottom:10px;
}
.mypage-profile-title .btn-profile-edit {
    background: #ACABAB;
    color:#fff;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 15px;
    line-height: normal;
    padding: 5px;
    border-radius: 3px;
    height: 32px;
    padding-left: 28px;
    margin-left: 12px;
    position: relative;
}

.photo-tip .content p {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	font-weight:bold;
    font-size: 14px;
    line-height: 18px;
	color: #666;
    margin-bottom: 5px;
}

/* 会員登録 */
.container-register .register-safe-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 10px;
    background: rgba(213, 162, 67, 0.2);
}

.container-register .about-item {
    margin: 0px 30px;
    font-size: 15px;
    line-height: 20px;
    padding-left: 24px;
    position: relative;
}
.container-register .about-item::before {
    content: "";
    background-image: url(/assets/check_item.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 12px;
    top: 4px;
    left: 0px;
    position: absolute;
}

.register-content-title {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	font-size:18px;
	line-height: 20px;
	color:#666;
}
.register-content-text {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	font-size:16px;
	line-height: 20px;
    font-weight: bold;
}
.register-content-sub-text {
	font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	font-size:15px;
	color:#666;
    line-height: 18px;
}

.btn-next {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: normal;
    padding: 15px 40px;
    border-radius: 25px;
	margin: 20px 0;
}

.register-step1 .gender-box {
    border-radius: 50px;
    border: 1px solid #999;
    background: #fff;
}
.register-step1 .gender-box .item {
    height: 80px;
}
.register-step1 .gender-box .item .element.male-active {
    border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0px;
    border: 1px solid #4169E1;
}
.register-step1 .gender-box .item .element.female-active {
    background: #FF69B4;
    color: #fff;
    border-top-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 50px;
    border: 1px solid #FF69B4;
}
.register-step1 .gender-box .item .element:first-child {
    border: none;
}
.register-step1 .gender-box .item .element p {
    margin-top: 8px;
    font-size: 16px;
    line-height: 16px;
}
.register-step1 .age-box select {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
	padding: 5px 10px;
	font-size:20px;
	
}
.register-step1 .age-box label {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	font-size:17px;
    line-height: normal;
    margin: 10px 0 0 15px;
}

.register-confirm .r-title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    /*
    font-size: 16px;
    margin-bottom: 8px;
    color: #D5A237;
    */
    font-size: 15px;
    /*color: #666;
    background: rgba(213, 162, 67, 0.2);*/
    padding: 4px 10px 3px;
    color: #666;
    background: #efefef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.register-confirm .r-text {
    font-size: 17px;
}
.container-register-confirm {
	padding:20px 20px;
	margin-bottom:10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.checkbox label {
    background: url(/assets/checkbox_unchecked.svg) left top no-repeat !important;
    padding-left: 22px;
    padding-top: 4px;
    font-size: 15px;
    line-height: 15px;
    color: #0D0B16;
    background-position-y: 2px !important;
    background-size: 16px 16px;
    height: 20px;
}

/*　新規登録メール送信完了　*/
.register-email-sent .content .title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #D5A237;
    font-weight: normal;
}
.register-email-sent .content .desc {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.profile-step .photo_regi_title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #FFF;
    padding: 3px 10px 2px;
    background-color: #999;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	width:100%;
}
.profile-step .photo_regi_title_sub {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
	color:#666;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 10px 3px;
    background-color: #eee;
	border-bottom:1px solid #ccc;
	width:100%;
}

.profile-step .photo_regi_text {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.register-email-sent .content img {
    height: 65px;
}

/* 写真の選び方 */
.profile-step .photo-about {
	background: #fff;
}

/* 設定 */

.container .page-nav-link.gold {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    color: #D5A237;
    cursor: pointer;
}

/* ブロックリスト */
/*
.btn-gray-sm {
    width: 100%;
    display: block;
    border: 0px;
    background: #ACABAB;
    height: 45px;
    font-size: 17px;
    line-height: 43px;
    color: #fff;
    text-align: center;
    border-radius: 40px;
}
*/
.btn-gray-sm {
	height: 26px;
    font-size: 13px;
	line-height: 18px;
    background: #aaa;
    color: #fff;
    display: block;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

/*　ダイアログ　*/
.dialog-title-top {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    display: block;
    width: 100%;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    color: #D5A237;
    /*background: #D5A237;*/
    background: #eee;
    padding: 9px 10px 7px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #D5A237;
}
.dialog-body {
    width: 100%;
    background: #fff;
    position: relative;
    border-radius: 5px;
    margin: 0px 20px;
    padding: 0px 0px;
    max-width: 640px;
}
.dialog-body img {
    display: inline;
    margin: auto;
}
.dialog-body .title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    display: block;
    width: 100%;
    font-size: 18px;
	font-weight:bold;
    line-height: 26px;
    text-align: center;
    color: #D5A237;
    cursor: pointer;
	
	padding-bottom: 5px;
	border-bottom:2px solid #D5A237;
}
.dialog-body .message {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
.dialog-body .message_sub {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
	color:#666;
	border:1px solid #ddd;
	padding:8px 8px;
	border-radius: 5px;
	background-color:#efefef;
}
.dialog-body .message_bold {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    background:#efefef;
    padding: 5px 0px 4px 0px;
    border-radius: 5px;
}
.dialog-body .message_grayback {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background:#efefef;
    padding: 7px 8px 6px;
    border-radius: 5px;
    margin: 10px 0px;
}
.dialog-body .border_brown {
    padding-bottom: 8px;
    border-bottom: 1px solid #D5A237;
}
.dialog-body .message_point {
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
    padding: 14px 0px 12px 0px;
    border-radius: 5px;
    border: 2px solid #D5A237;
    color: #666;
    width: 90%;
}
.dialog-body .message_point .balance {
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #D5A237;
    margin-right: 5px;
}
.dialog-body .message_point .num {
    font-weight: bold;
    font-size: 24px;
    color: #666;
}

.dialog-body .message_left {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
}

.btn-main-dialog {
    /*
    display: block;
    width: 100%;
    height: 42px;
    font-size: 17px;
    line-height: 42px;
    text-align: center;
    border-radius: 5px;
    background: #D5A237;
    color: #fff;
    cursor: pointer;
    */
    display: block;
    width: auto;
    height: auto;
    border: 1px solid #D5A237;
    background: #efefef;
    color: #D5A237;
    font-size: 16px;
    font-weight: bold;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
}
.btn-cancel-dialog {
	/*
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 auto;
	*/
    display: block;
    width: 100%;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 5px;
    background: #999;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #666;
}

.dialog-content {
    padding: 0 20px;
	margin-top:15px;
	margin-bottom:20px;
}
.btn-dialog-white {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 42px;
    //line-height: 42px;
    background: #efefef;
    text-align: center;
    border-radius: 5px;
}
.btn-dialog-white.reverse {
    background: #aaa;
    color: #fff;
    border: 1px solid #999;
}

.btn-dialog-brown {
    width: 100%;
    display: block;
    border: none;
    background: linear-gradient(-135deg, #E4A972, #D5A237);
    color: #efefef;
    font-size: 16px;
    height: 42px;
    //line-height: 42px;
    text-align: center;
    border-radius: 5px;
}
.btn-dialog-gray {
	width: 100%;
    display: block;
    border: 1px solid #999;
    background: #aaa;
    font-size: 16px;
    height: 42px;
    //line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
.btn-dialog-white img {
    margin-right: 4px;
    margin-top: -2px;
}
.btn-dialog-brown img {
    margin-right: 4px;
    margin-top: -2px;
}
.btn-dialog-gray img {
    margin-right: 4px;
    margin-top: -2px;
}

.dialog-body .modal-icon {
    margin-bottom: 10px;
}
.dialog-body .dialog-content .violation-title{
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #e8383d;
    text-align: left;
}
.dialog-body .dialog-content .text {
    font-size: 16px;
    line-height: 20px;
    color: #333;
    text-align: left;
}
.dialog-body .dialog-content .subtext {
    font-size: 13px;
    line-height: 15px;
    color: #666;
    text-align: left;
}

/* ランクアップダイアログ */
.plan-desc-box .box .item p {
    font-size: 13px;
    line-height: 15px;
}


/* まだありません */
.empty-list-box {
    background: #fff;
}
.empty-list-box div {
	padding:20px;
	background-color:#fff;
	border-radius: 5px;
}
.empty-list-box div p {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 16px;
    line-height: 25px;
	color:#999;
}

/* 写真掲載の案内 */
.profile-step .photo-about .about-container .about-title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background: #F5F3F1;
    padding: 7px 20px 5px;
}
.profile-step .photo-about .about-container .about-subtitle {
    margin: 0px 20px;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 17px;
    line-height: 24px;
}

/* 年齢確認 */

.mypage-identity .identity-top-text {
    color: #666;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
}

.label-title-back {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 16px;
    line-height: 30px;
    background: rgba(213, 162, 67, 0.3);
    padding: 5px 10px 4px;

}

.mypage-identity {
    font-size: 15px;
    line-height: 22px;
}

.mypage-identity .mypage-identity-title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding: 3px 10px 2px;
    background-color: #eee;
    color: #D5A237;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #D5A237;
}

.mypage-identity .identity-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.mypage-identity .identity-images .item {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.mypage-identity .identity-guide {
    font-size: 14px;
    color: #666;
    background: #efefef;
    border-radius: 3px;
    padding: 10px;
}

/* 会員ステータスアップ */
.membership-info-title {
    font-size: 17px;
    line-height: 25px;
    color: #666;
    color: #D5A237;
    text-align: center;
}
.membership-info-content {
    margin: 15px 0;
}
.membership-info-content .membership-info-list {
    font-size: 15px;
    padding: 5px 10px 4px;
    background-color: #D5A237;
    margin-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #fff;
    font-weight: bold;
}
.membership-info-content .membership-info-guide {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 10px 5px;
    background-color: #eee;
    width: 100%;
}
.membership-introduction .membership-item .membership-label {
    font-size: 15px;
}

.membership-introduction .membership-item .membership-label.paid {
    background: #006eb0;
}

/* ポイント換金 */
.front-wrapper .front-page-container .front-container-exchange {
    height: 100%;
    display: block;
    position: relative;
    width: 100%;
    background: #fff;
    opacity: 1;
    min-height: calc(var(--vh, 1vh) * 100 - 108px);
}

.front-wrapper .front-page-container .front-container-exchange .mypage-profile-membership {
    width: 100%;
    background: #fff;
    display: flex;
    height: auto;
    margin-bottom: 0px;
    border-radius: 0px;
}
.front-wrapper .front-page-container .front-container-exchange .mypage-profile-membership .membership-status {
    width: 100%;
    display: block;
    color: #0D0B16;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.front-wrapper .front-page-container .front-container-exchange .mypage-profile-membership .membership-status span {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    margin-bottom: 8px;
    height: auto;
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 18px;
    display: inline-block;
    line-height: 20px;
    background: #D5A237;
    color: #fff;
}
.point-balance2 {
    border: 1px solid #999;
    background-color: #efefef;
    padding: 18px 20px;
    margin: 20px 10px 30px;
    border-radius: 5px;
}
.info-exchange {
    font-size: 13px;
    line-height: 16px;
    color: #999;

}

/* 利用履歴 */
.point-balance-history {
    border: 2px solid #D5A237;
    padding: 12px 20px;
    margin: 20px 0 30px;
    border-radius: 5px;
}
.point-balance-history .num {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #666;
}

.arrow2-history {
    width: 12px !important;
    height: 16px  !important;
    object-fit: contain;
    min-width: 12px  !important;
    margin-left: 20px  !important;
    margin-top: 20px  !important;
}

/* 利用詳細 */
.user-item-history-detail {
    background: #fff;
    height: 80px;
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    display: flex;
    width: 100%;
}
.user-item-history-detail img {
    width: 80px;
    height: 79px;
    min-width: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
}
.user-item-history-detail .user-item-content {
    width: 100%;
    position: relative;
    padding: 10px 10px 8px 0;
    margin-left: 10px;
}
.user-item-history-detail .user-item-content .user-item-name {
    margin-bottom: 8px !important;
    display: flex;
    height: 14px;
}
.user-item-history-detail .user-item-content .user-item-name .name {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 14px;
    line-height: 17px;
    height: 17px;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1;
    display: flex;
}
.user-item-history-detail .user-item-content .user-item-name .name span:last-child {
    margin: 0px 8px;
    min-width: 36px;
}
.user-item-history-detail .user-item-content .user-item-name .city {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 13px;
    line-height: 13px;
    width: auto;
    display: inline-block;
    padding-left: 12px;
    position: relative;
}
.user-item-history-detail .user-item-content .user-item-text {
    font-size: 14px;
    line-height: 17px;
    height: 17px;
    overflow: hidden;
    word-break: break-all;
}
.pull-right-history-detail {
    font-size: 14px;
    font-weight: bold;
    /*background: darkseagreen;*/
    padding: 0px 4px 1px;
    border-radius: 2px;
    float: right;
}
.notifications-item {
    padding: 14px 0px 8px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
}

/* ポイント購入 */

.point-balance {
    border: 2px solid #D5A237;
    padding: 18px 20px;
    margin: 20px 0 30px;
    border-radius: 5px;
}
.point-balance .title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #D5A237;
    margin-right: 5px;;
}
.point-balance .num {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #666;
}
.point-card-guide {
    font-size: 17px;
    line-height: 17px;
    color: #666;
    font-weight: bold;
}
.point-card {
    width: 100%;
    border: 1px solid #D5A237;
    border-radius: 20px;
    padding: 15px 5px;
    text-align: center;
    background: #efefef;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
}
.point-card .point-card-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.point-card .point-card-container .off {
    width: 100%;
    background: #D5A237;
    color: #fff;
    /*border-radius: 20px;*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    padding: 0px 10px 2px;;
    height: auto;
    margin-top: -10px;
}
.point-card .point-card-container .content .pt {
    font-size: 26px;
    line-height: 26px;
    color: #666;
    font-weight: bold;
}
.point-card .point-card-container .content .price {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #D5A237;
    font-weight: bold;
}
.point-card .point-card-container .off .price {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-top: 5px;
    display: inline-block;
    font-weight: bold;
}
.point-card .point-card-container .off .title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 13px;
    line-height: 13px;
    margin-top: 6px;
    display: inline-block;
    color: #fff;
}
.point-card .point-card-container .off .bonus {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 18px;
    line-height: 18px;
    margin-top: 5px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
}
.point-card-subtext {
    font-size: 13px;
    line-height: 18px;
    color: #999;
}

/*　有料会員ランクアップ　*/
.membership-fv {
    width: 100%;
    padding-top: 36%;
    position: relative;
}
.membership-fv p {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 18px;
    line-height: 28px;
}
.membership-introduction-title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #D5A237;
    background: #eee;
    padding: 10px 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: solid 1px #D5A237;
    font-weight: bold;
}

.membership-introduction .membership-item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ddd;
}
.membership-introduction .membership-item-list .membership-item-label {
    width: 72px;
    min-width: 72px;
    margin-right: 8px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    display: block;
    color: #0D0B16;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
}
.membership-introduction .membership-item-list .membership-item-label div {
    width: 100%;
    text-align: center;
}
.membership-introduction .membership-item-list .membership-item-label div img {
    display: inline-block;
    height: 30px;
    -o-object-fit: contain;
    object-fit: contain;
}
.membership-introduction .membership-item-list .can-text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #F5F3F1;
    /*
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    */
    padding: 10px;
    font-size: 13px;
}
.membership-select {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border: none;
    background: #006eb0;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 20px;
}
.membership-paid-plan {
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;*/
    display: inline;
}
.membership-paid-plan .item .off-badge {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #0D0B16;
    color: #fcc800;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    top: -10px;
    left: -10px;
    border-radius: 45px;
    padding-top: 10px;
    border: solid 2px #fff;
}
.membership-paid-plan .item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #efefef;
    border-radius: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 0px 0px 10px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
    margin: 0 10px 30px;
    border: 3px solid #333;
}
.membership-paid-plan .item.selected {
    border: 3px solid #D5A237;
}

.membership-paid-plan .item .price {
    margin-top: 5px;
    font-size: 13px;
    padding-bottom: 5px;  
    margin: 0 15px 0;
}
.membership-paid-plan .item .price .total {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #D5A237;
}
.membership-paid-plan .item .price .unit {
    font-size: 14px;
    line-height: 20px;
}

.membership-paid-plan .item .month {
    font-size: 24px;
    color: #fcc800;
}
.membership-paid-plan .item .point-title {
    font-size: 13px;
    line-height: 24px;
    background: #666;
    padding: 3px 5px;
    margin: 0 10px 0;
    border: 1px solid #ddd;
    color: #fff;
    border-radius: 8px;
}
.membership-paid-plan .item .point-title .num {
    font-size: 19px;
    line-height: 28px;
    color: #fcc800;
}

.membership-paid-plan .item .plan {
    background: #333;
    font-size: 20px;
    color: #fff;
    padding: 6px 10px;
    margin-bottom: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.membership-paid-plan .item.selected .plan {
    background: #D5A237;
    font-size: 22px;
    color: #fff;
    padding: 6px 10px;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}
.membership-paid-plan .plan-name {
    font-size: 13px;

}
.membership-note .platium {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-weight: bold;
}
.membership-note .paid {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-weight: bold;
    color: #D5A237;
}

/* 登録直後モーダル */
.first-dialog-text-bold {
    color: #D5A237;
}
.first-dialog-text-sub {
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    margin-top: 5px;
}

/* 会員ランクモーダル */
.purchase-dialog .dialog-body {
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.purchase-dialog-title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: none;
    background: #D5A237;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.purchase-dialog .dialog-body {
    padding: 0 0;
}
.purchase-dialog .dialog-body .img-icon {
    margin:10px auto 15px;
}
.purchase-dialog .dialog-body .price-content {
    font-size: 20px;
    /*padding-bottom: 10px;;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;*/
    font-weight: bold;
}
.purchase-dialog .dialog-body .price-content .price {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #D5A237;
    font-weight: bold;
}
.purchase-dialog .dialog-body .price-content-month .price-month {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #666;
}
.btn-main-dialog.reverse {
    height: auto;
    border: 1px solid #D5A237;
    background: #efefef;
    color: #D5A237;
    font-size: 17px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
}
.purchase-dialog .dialog-body .card-edit {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    color: #ACABAB;
    font-size: 15px;
}
.purchase-dialog .dialog-body .card-edit[data-v-a9ab57b8] {
    color: #ACABAB;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}

.btn-card {
    display: block;
    background: #efefef;
    border: 2px solid#D5A237;
    border-radius: 40px;
    height: 50px;
    padding: 10px 0px 10px;
    text-align: center;
    margin: 0 20px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
}
.purchase-dialog .dialog-body .price-content .pt {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 26px;
    line-height: 26px;
    color: 
    #666;
    font-weight: bold;
}
.purchase-dialog .dialog-body {
    border-radius: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.purchase-dialog .dialog-body {
    margin: 0px calc(50% - 320px);
    border-radius: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* 規約 */
.terms {
    margin: 20px 0px;
        margin-bottom: 36px;
}
.terms h1 {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}
.terms .text {
    font-size: 14px;
    line-height: 20px;
}
.terms .title {
    margin-top: 15px;
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    color: #0D0B16;
    font-weight: bold;
}

/*　有料サービス設定　*/
.membership-setting-item {
    font-size: 15px;
    border-radius: 5px;
    border: none;
}
.membership-setting-item .title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "NotoSansCJKjp-Jxck", sans-serif;
    font-size: 15px;
    line-height: 30px;
    padding: 1px 10px;
    color: #fff;
    background: #aaa;
    /*
    background-color:#eee;
    color:#D5A237;
    border-bottom: 1px solid #D5A237;
    */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.membership-setting-item .content {
    padding: 10px;
    border-bottom: none;
}
.membership-setting-item .content .content-item p:first-child {
    font-weight: bold;
}
.membership-setting-item .auto-update {
    padding: 10px;
    text-align: right;
    background: #efefef;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.membership-setting-item .auto-update img {
    width: auto;
    height: auto;
    cursor: pointer;
}
/* 退会する */
.container .quit-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
}

/* モーダルリボン  */
.modal-ribbon-wrap {
    padding-top: 15px;
}
.modal-ribbon {
        background-color: #68be8d;
        margin: 0 -10px;
        padding: 10px;
        position: relative;
        color: #fff;;
        font-size: 17px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        padding: 3px 0px;
}
.modal-ribbon .txt {
padding: 7px 0px 6px 0px;
border-top: dashed 1px rgba(255, 255, 255, 0.5);
border-bottom: dashed 1px rgba(255, 255, 255, 0.5);
}
.modal-ribbon::before,
.modal-ribbon::after {
border: 15px solid transparent;
border-top-color: #028760;
content: '';
position: absolute;
top: 100%;
z-index: -1;
}
.modal-ribbon::before {
left: 0;
}
.modal-ribbon::after {
right: 0;
}

.modal-ribbon-brown {
    background-color: #deb068;
    margin: 0 -10px;
    padding: 10px;
    position: relative;
    color: #fff;;
    font-size: 18px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    padding: 3px 0px;
}
.modal-ribbon-brown .txt {
padding: 7px 0px;
border-top: dashed 1px rgba(255, 255, 255, 0.5);
border-bottom: dashed 1px rgba(255, 255, 255, 0.5);
}
.modal-ribbon-brown::before,
.modal-ribbon-brown::after {
border: 15px solid transparent;
border-top-color: #ad7d4c;
content: '';
position: absolute;
top: 100%;
z-index: -1;
}
.modal-ribbon-brown::before {
left: 0;
}
.modal-ribbon-brown::after {
right: 0;
}
.arrow2 {
width: 12px !important;
height: 16px  !important;
object-fit: contain;
min-width: 12px  !important;
margin-left: 20px  !important;
margin-top: 40px  !important;
}
