<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">本人確認提出一覧</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title m-t-40">本人確認提出一覧</h4>
                        <h6 class="card-subtitle" v-if="users.total">{{users.total}}名のユーザーがいます。</h6>
                        <h6 class="card-subtitle" v-else>ユーザーが見つかりません！</h6>
                        <div class="row">
                            <div class="col-md-8">
                                <pagination :data="users" :limit=10 v-on:pagination-change-page="getUsers"></pagination>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right">
                                    <select name="pageLength" class="form-control" v-model="pageLength" @change="getUsers" v-if="users.total">
                                        <option value="5">5つ</option>
                                        <option value="10">10つ</option>
                                        <option value="25">25つ</option>
                                        <option value="100">100つ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table" v-if="users.total">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th></th>
                                        <th>ニックネーム</th>
                                        <th>性別</th>
                                        <th>地域</th>
                                        <th>年齢</th>
                                        <th>申請日時</th>
                                        <th>会員ステータス</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(user, index) in users.data" :key="index" :class="user.is_deleted >= 1 ? 'is_deleted' : ''">
                                        <td>{{user.id}}</td>
                                        <td>
                                            <a :href="`/admin/user/detail/${user.provider_unique_id}/age`" target="_blank">
                                            <img class="user-avatar" :src="getAvatar(user)" alt="image"/>
                                            </a>
                                        </td>
                                        <td style="max-width: 150px;" v-text="user.profile.nickname"></td>
                                        <td v-html="getGenderStatus(user)"></td>
                                        <td>{{ user.profile.city ? user.profile.city.name : '未登録' }}</td>
                                        <td>{{ user.profile.age > 0 ? user.profile.age + '歳' : '未登録' }}</td>
                                        <td>{{ user.age_request_at | momentWithTime }}</td>
                                        <td v-html="getMemberStatus(user)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from '../../../services/admin_helper'
    import pagination from 'laravel-vue-pagination'
    import ClickConfirm from 'click-confirm'

    export default {
        data(){
            return {
                page: 1,
                users: {},
                filterUserForm: {
                    age_approved: 2
                },
                pageLength: 25,
                memberships: [],
                masterData: {},
                jobs: []
            }
        },
        components : { pagination, ClickConfirm },
        mounted() {
            this.getUsers();
            this.memberships = []
            this.masterData = this.$store.state.masterData
            this.jobs = this.masterData.allJobs
            this.$store.state.masterData.memberships.map(item => {
                let checks = this.memberships.filter(check => {
                    return item.type == check.type;
                });
                if (!(checks && checks.length > 0)) {
                    this.memberships.push({
                        type: item.type,
                        name: item.name
                    })
                }
            })
        },
        methods: {
            getUsers(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                let params = Object.assign({}, this.filterUserForm);
                params.limit = this.pageLength
                params.page = page;

                helper.loadUsers(params).then(response => {
                    if (response != 'error') {
                        this.users = response.data;
                    }
                })
            },
            getGenderStatus(user) {
                if (user.profile.gender == 2) {
                    return '<span class="label label-primary">女性</span>';
                }

                return '<span class="label label-success">男性</span>';
            },
            getMemberStatus(user){
                return helper.getMemberStatus(user);
            },
            getIdentityStatus(user) {
                return helper.getIdentityStatus(user);
            },
            getImageStatus(user) {
                return helper.getImageStatus(user);
            },
            getAvatar(user) {
                if (user.profile.vip_image) return user.profile.vip_image.url;
                return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style>
    .strikethrough{
      text-decoration: line-through;
    }
</style>
