<template>
    <div v-if="is_mounted == true">
        <div class="row page-titles">
            <div class="col-md-12 col-12 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">ユーザー詳細（{{user.profile.nickname}}）<span class="label label-danger label-exit" v-if="getUsageStatus() != ''">{{getUsageStatus()}}</span></h3>
            </div>
        </div>

        <div class="tabs">
            <a v-on:click="activetab = 'profile'" v-bind:class="[ activetab === 'profile' ? 'active' : '' ]">基本情報</a>
            <a v-on:click="activetab = 'photo'" v-bind:class="[ activetab === 'photo' ? 'active' : '' ]">写真確認</a>
            <a v-on:click="activetab = 'age'" v-bind:class="[ activetab === 'age' ? 'active' : '' ]">本人確認</a>
            <a v-on:click="activetab = 'point'" v-bind:class="[ activetab === 'point' ? 'active' : '' ]" v-if="user.profile.gender == 1 && me.is_admin == 1">ポイントの購入</a>
            <a v-on:click="activetab = 'membership'" v-bind:class="[ activetab === 'membership' ? 'active' : '' ]" v-if="user.profile.gender == 1 && me.is_admin != 3">会員ステータス</a>
            <a v-on:click="activetab = 'my-report'" v-bind:class="[ activetab === 'my-report' ? 'active' : '' ]">通報したリスト</a>
            <a v-on:click="activetab = 'report'" v-bind:class="[ activetab === 'report' ? 'active' : '' ]">通報されたリスト</a>
            <a v-on:click="activetab = 'admin-report'" v-bind:class="[ activetab === 'admin-report' ? 'active' : '' ]" v-if="me.is_admin != 3">運営の警告</a>
        </div>

        <div class="content">
            <div v-if="activetab === 'profile'" class="tabcontent">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body admin-user-detail">
                                <div class="row mt-12">
                                    <div class="col-md-12">
                                        <div class="row mb-12" v-if="me.is_admin == 1">
                                            <div class="col-md-4 col-sm-4 text-bold">登録メアド</div>
                                            <div class="col-md-8 col-sm-8">{{user | email}}</div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">メモ</div>
                                            <div class="col-md-6 col-sm-6">
                                                <textarea v-model="memo" class="form-control" rows="5"></textarea>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <button class="btn btn-primary" type="button" @click="saveMemo" data-toggle="tooltip" title="保存する">保存する</button>
                                            </div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">ニックネーム</div>
                                            <div class="col-md-6 col-sm-6">
                                                <span v-if="nicknameChange == false">{{nickname}}</span>
                                                <input type="text" v-model="nickname" class="form-control" v-else />
                                            </div>
                                            <div class="col-md-2 col-sm-2" v-if="me.is_admin != 3">
                                                <button class="btn btn-primary" type="button" @click="nicknameChange = true" data-toggle="tooltip" title="保存する" v-if="nicknameChange == false">編集</button>
                                                <button class="btn btn-primary" type="button" @click="saveNickname(1)" data-toggle="tooltip" title="保存する" v-if="nicknameChange == true">保存する</button>
                                                <button class="btn btn-default" type="button" @click="saveNickname(0)" data-toggle="tooltip" title="保存する" v-if="nicknameChange == true">キャンセル</button>
                                            </div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">ひとことメッセージ</div>
                                            <div class="col-md-6 col-sm-6">
                                                <span v-if="workChange == false">{{work}}</span>
                                                <input type="text" v-model="work" class="form-control" v-else />
                                            </div>
                                            <div class="col-md-2 col-sm-2" v-if="me.is_admin != 3">
                                                <button class="btn btn-primary" type="button" @click="workChange = true" v-if="workChange == false" data-toggle="tooltip" title="保存する">編集</button>
                                                <button class="btn btn-primary" type="button" @click="saveWork(1)" data-toggle="tooltip" v-if="workChange == true" title="保存する">保存する</button>
                                                <button class="btn btn-default" type="button" @click="saveWork(0)" data-toggle="tooltip" v-if="workChange == true" title="保存する">キャンセル</button>
                                            </div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">自己紹介文</div>
                                            <div class="col-md-6 col-sm-6">
                                                <pre v-html="content" v-if="contentChange == false"></pre>
                                                <textarea v-model="content" class="form-control" rows="5" v-else></textarea>
                                            </div>
                                            <div class="col-md-2 col-sm-2" v-if="me.is_admin != 3">
                                                <button class="btn btn-primary" type="button" @click="contentChange = true" v-if="contentChange == false" data-toggle="tooltip" title="保存する">編集</button>
                                                <button class="btn btn-primary" type="button" @click="saveContent(1)" v-if="contentChange" data-toggle="tooltip" title="保存する">保存する</button>
                                                <button class="btn btn-default" type="button" @click="saveContent(0)" v-if="contentChange" data-toggle="tooltip" title="保存する">キャンセル</button>
                                            </div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">性別</div>
                                            <div class="col-md-8 col-sm-8" v-html="getGenderStatus()"></div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">会員ステータス</div>
                                            <div class="col-md-8 col-sm-8" v-html="getMemberStatus()"></div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">年齢</div>
                                            <div class="col-md-8 col-sm-8">
                                                {{user.profile.age}}歳<span class="ml-20" v-html="getIdentityStatus()"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">身長</div>
                                            <div class="col-md-8 col-sm-8">{{user.profile.height}}cm</div>
                                        </div>
                                        <div class="row mb-12" v-if="user.profile.gender == 2">
                                            <div class="col-md-4 col-sm-4 text-bold">ダディーにできること</div>
                                            <div class="col-md-8 col-sm-8">
                                                <span v-for="(daddy, index) in user.profile.daddies" :key="index">
                                                    <img :src="`/assets/${daddy.asset}.svg`" alt="image" />
                                                    <span class="daddy-label">{{daddy.name}}</span>
                                                </span>    
                                            </div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">地域</div>
                                            <div class="col-md-8 col-sm-8">{{user.profile.city.name}}</div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">体型</div>
                                            <div class="col-md-8 col-sm-8">{{user.profile.body.name}}</div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">職業</div>
                                            <div class="col-md-8 col-sm-8">{{user.profile.job.name}}</div>
                                        </div>
                                        <div class="row mb-12" v-if="user.profile.gender == 1">
                                            <div class="col-md-4 col-sm-4 text-bold">年収</div>
                                            <div class="col-md-8 col-sm-8">{{user.profile.salary.name}}</div>
                                        </div>
                                        <div class="row mb-12" v-else>
                                            <div class="col-md-4 col-sm-4 text-bold">将来の夢</div>
                                            <div class="col-md-8 col-sm-8">{{user.profile.dream}}</div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">婚姻状況</div>
                                            <div class="col-md-8 col-sm-8">{{user.profile.marriage.name}}</div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">飲酒について</div>
                                            <div class="col-md-8 col-sm-8">{{user.profile.drink.name}}</div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">喫煙について</div>
                                            <div class="col-md-8 col-sm-8">{{user.profile.smoking.name}}</div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">写真確認</div>
                                            <div class="col-md-8 col-sm-8" v-html="getImageStatus()"></div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">登録日</div>
                                            <div class="col-md-8 col-sm-8">{{user.created_at | momentWithTime}}</div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">最終ログイン</div>
                                            <div class="col-md-8 col-sm-8">{{user.last_login_at | momentWithTime}}</div>
                                        </div>
                                        <!-- <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">運営の警告回数</div>
                                            <div class="col-md-4 col-sm-4">
                                                {{user.profile.alert_status}}回
                                            </div>
                                        </div> -->
                                        <div class="row mb-12" v-if="me.is_admin == 1">
                                            <div class="col-md-4 col-sm-4 text-bold">利用区分</div>
                                            <div class="col-md-4 col-sm-4">
                                                <select class="form-control" v-model="userUsageStatus">
                                                    <option value="0">利用中</option>
                                                    <option value="1">退会</option>
                                                    <option value="2">強制退会</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <button class="btn btn-primary" type="button" @click="changeUsageStatus" data-toggle="tooltip" title="変更する">変更する</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="activetab === 'photo'" class="tabcontent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-20 mb-20" v-if="user.photos.length > 0">
                            <button v-if="user.is_deleted == 0" class="btn btn-success" type="button" @click="approveImage(1)" data-toggle="tooltip" title="承認する">一括承認</button>
                            <button v-if="user.is_deleted == 0" class="btn btn-warning" type="button" @click="approveImage(2)" data-toggle="tooltip" title="否認する">一括否認</button>
                        </div>
                        <div class="admin-subimages">
                            <div class="item" v-for="(image, index) in user.photos" :key="index" v-if="image.type == 'main_photo'">
                                <span class="type">メイン写真</span>
                                <img :src="image.thumb_url" @click="openSubImage(0)" alt="image" />
                                <span class="status label label-primary" v-if="image.is_approved == 0">承認前</span>
                                <span class="status label label-success" v-if="image.is_approved == 1">承認済</span>
                                <span class="status label label-danger" v-if="image.is_approved == 2">否認</span>
                                <div class="btns">
                                    <button v-if="user.is_deleted == 0" class="btn btn-success" type="button" @click="approveOneImage(1, image.id, 'main_photo')" data-toggle="tooltip" title="承認する">承認する</button>
                                    <button v-if="user.is_deleted == 0" class="btn btn-warning" type="button" @click="approveOneImage(2, image.id, 'main_photo')" data-toggle="tooltip" title="否認する">否認する</button>
                                </div>
                            </div>
                            <div class="item" v-for="(image, index) in user.photos" :key="index" v-if="image.type == 'sub_photo'">
                                <span class="type">サブ写真</span>
                                <img :src="image.thumb_url" @click="openSubImage(0)" alt="image" />
                                <span class="status label label-primary" v-if="image.is_approved == 0">承認前</span>
                                <span class="status label label-success" v-if="image.is_approved == 1">承認済</span>
                                <span class="status label label-danger" v-if="image.is_approved == 2">否認</span>
                                <div class="btns">
                                    <button v-if="user.is_deleted == 0" class="btn btn-success" type="button" @click="approveOneImage(1, image.id, 'sub_photo')" data-toggle="tooltip" title="承認する">承認する</button>
                                    <button v-if="user.is_deleted == 0" class="btn btn-warning" type="button" @click="approveOneImage(2, image.id, 'sub_photo')" data-toggle="tooltip" title="否認する">否認する</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="activetab === 'age'" class="tabcontent">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body admin-user-detail">
                                <div class="row mt-12">
                                    <div class="col-md-6">
                                        <div class="row mt-40" v-if="hasIdentityDocument()">
                                            <div class="col-md-12 col-sm-12">
                                                <img class="image-full" :src="getIdentityImage()" alt="image" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">ニックネーム</div>
                                            <div class="col-md-8 col-sm-8">{{user.profile.nickname}}</div>
                                        </div>
                                        <div class="row mb-12">
                                            <div class="col-md-4 col-sm-4 text-bold">年齢</div>
                                            <div class="col-md-8 col-sm-8">
                                                {{user.profile.age}}歳<span class="ml-20" v-html="getIdentityStatus()"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-12" v-if="user.is_deleted >= 1 && user.profile.age_approved == 1">
                                            <div class="col-md-4 col-sm-4 text-bold">生年月日</div>
                                            <div class="col-md-8 col-sm-8">
                                                {{user.profile.birthday | birthday}}
                                            </div>
                                        </div>
                                        <div class="row mb-12" v-if="user.is_deleted == 0">
                                            <div class="col-md-4 col-sm-4 text-bold">年齢の変更</div>
                                            <div class="col-md-6 col-sm-6">
                                                <DatePicker v-model="userBirthday" lang="ja" format="YYYY-MM-DD" placeholder="YYYY-MM-DD" @change="birthdayInputChange"/>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <button class="btn btn-primary" type="button" @click="changeAge" data-toggle="tooltip" title="変更する">変更する</button>
                                            </div>
                                        </div>
                                        <div class="row mt-20 mb-20" v-if="hasIdentityDocument()">
                                            <div class="col-md-12 col-sm-12">
                                                <button v-if="user.is_deleted == 0" class="btn btn-success" type="button" @click="approveAge(1)" data-toggle="tooltip" title="承認する">年齢を承認する</button>
                                                <button v-if="user.is_deleted == 0" class="btn btn-warning" type="button" @click="approveAge(2)" data-toggle="tooltip" title="否認する">年齢を否認する</button>
                                            </div>
                                        </div>
                                        <div class="row mt-20 mb-20" v-if="alreadyForceQuitUsers.length > 0">
                                            <div class="col-md-12 col-sm-12">
                                                <p>強制退会ユーザー</p>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th></th>
                                                                <th>ニックネーム</th>
                                                                <th>性別</th>
                                                                <th>生年月日</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="(user, index) in alreadyForceQuitUsers" :key="index">
                                                                <td>{{user.id}}</td>
                                                                <td><img class="user-avatar" :src="getAvatar(user)" alt="image"/></td>
                                                                <td style="max-width: 150px;" v-text="user.profile.nickname"></td>
                                                                <td v-html="getGenderStatus(user)"></td>
                                                                <td>{{user.profile.birthday | birthday}}</td>
                                                                <td style="min-width: 60px; width: 60px;">
                                                                    <a :href="`/admin/user/detail/${user.provider_unique_id}/profile`" target="_blank" ref="userView" class="btn btn-primary btn-sm" data-toggle="tooltip" title="編集"><i class="fa fa-eye"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="activetab === 'point'" class="tabcontent">
                <h4 class="card-title m-t-40">所有ポイント: <img src="/assets/red_love.svg" style="margin-left: 12px; margin-right: 4px;" alt="image"/>{{user.profile.points}}</h4>
                <div class="row mt-12">
                    <div class="col-md-12">
                        <div class="row mb-12">
                            <div class="col-md-4 col-sm-4 text-bold">ポイントの追加</div>
                            <div class="col-md-4 col-sm-4">
                                <input type="number" class="form-control" v-model="userPoint" />
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <button v-if="user.is_deleted == 0" class="btn btn-primary" type="button" @click="updatePoints" data-toggle="tooltip" title="追加する">追加する</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="card-title m-t-40">ポイントの購入</h4>
                <h6 class="card-subtitle" v-if="pointPurchases.total == 0">ポイントの購入がありません！</h6>

                <div class="row">
                    <div class="col-md-8">
                        <pagination :data="pointPurchases" :limit=10 v-on:pagination-change-page="loadPointPurchases"></pagination>
                    </div>
                    <div class="col-md-4">
                        <div class="float-right">
                            <select name="pageLength" class="form-control" v-model="pointPageLength" @change="loadPointPurchases" v-if="pointPurchases.total">
                                <option value="5">5つ</option>
                                <option value="10">10つ</option>
                                <option value="25">25つ</option>
                                <option value="100">100つ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table" v-if="pointPurchases.total">
                        <thead>
                            <tr>
                                <th>購入日</th>
                                <th>支払金額</th>
                                <th>取得ポイント</th>
                                <th>クレジットカード</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(purchase, index) in pointPurchases.data" :key="index">
                                <td>{{purchase.created_at | momentWithTime}}</td>
                                <td>{{getPointMoney(purchase)}}</td>
                                <td :class="getPointUsage(purchase) > 0 ? 'income' : 'outcome'">{{getPointUsage(purchase) | number}}ポイント</td>
                                <td>{{getPointMemo(purchase)}}</td>
                                <td v-html="getPointsLabel(purchase)"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-if="activetab === 'membership'" class="tabcontent">
                <div class="row admin-membership">
                    <div class="membership-setting-item">
                        <p class="title">有料プラン</p>
                        <div class="content">
                            <div class="content-item mb-12">
                                <p>利用状況</p>
                                <p>{{(paidPlan && paidPlan.is_enabled == 1) ? '利用中' : '-'}}</p>
                            </div>
                            <div class="content-item mb-12">
                                <p>購入プラン</p>
                                <p>{{(paidPlan && paidPlan.is_enabled == 1) ? paidPlan.membership.period + 'ヶ月プラン' : '-'}}</p>
                            </div>
                            <div class="content-item">
                                <p>有効期間</p>
                                <p>{{ (paidPlan && paidPlan.is_enabled == 1) ? formatDate(paidPlan.expire_at) : '-' }}</p>
                            </div>
                        </div>
                        <div class="auto-update">
                            <span>自動更新</span>
                            <img :src="`/assets/${paidPlan.auto_update ? 'on' : 'off'}.svg`" v-if="(paidPlan && paidPlan.is_enabled == 1)" alt="image"/>
                            <img src="/assets/off.svg" alt="image" v-else />
                        </div>
                    </div>
                    <div class="membership-setting-item">
                        <p class="title">プラチナプラン</p>
                        <div class="content">
                            <div class="content-item mb-12">
                                <p>利用状況</p>
                                <p>{{platiumPlan && platiumPlan.is_enabled ? '利用中' : '-'}}</p>
                            </div>
                            <div class="content-item mb-12">
                                <p>購入プラン</p>
                                <p>{{platiumPlan && platiumPlan.is_enabled ? '毎月更新' : '-'}}</p>
                            </div>
                            <div class="content-item">
                                <p>有効期間</p>
                                <p>{{ platiumPlan && platiumPlan.is_enabled ? formatDate(platiumPlan.expire_at) : '-' }}</p>
                            </div>
                        </div>
                        <div class="auto-update">
                            <span>自動更新</span>
                            <img :src="`/assets/${platiumPlan.auto_update ? 'on' : 'off'}.svg`" v-if="platiumPlan && platiumPlan.is_enabled" alt="image" />
                            <img src="/assets/off.svg" alt="image" v-else />
                        </div>
                    </div>
                    <div class="membership-setting-item">
                        <p class="title">VIPプラン</p>
                        <div class="content">
                            <div class="content-item mb-12">
                                <p>利用状況</p>
                                <p>{{vipPlan && vipPlan.is_enabled ? '利用中' : '-'}}</p>
                            </div>
                            <div class="content-item mb-12">
                                <p>購入プラン</p>
                                <p>{{vipPlan && vipPlan.is_enabled ? '毎月更新' : '-'}}</p>
                            </div>
                            <div class="content-item">
                                <p>有効期間</p>
                                <p>{{ vipPlan && vipPlan.is_enabled ? formatDate(vipPlan.expire_at) : '-' }}</p>
                            </div>
                        </div>
                        <div class="auto-update">
                            <span>自動更新</span>
                            <img :src="`/assets/${vipPlan.auto_update ? 'on' : 'off'}.svg`" v-if="vipPlan && vipPlan.is_enabled" alt="image" />
                            <img src="/assets/off.svg" alt="image" v-else />
                        </div>
                    </div>
                </div>

                <h4 class="card-title m-t-40">会員ステータスの支払い</h4>
                <h6 class="card-subtitle" v-if="pointPurchases.total == 0">支払いがありません！</h6>

                <div class="row">
                    <div class="col-md-8">
                        <pagination :data="userMembershipPayments" :limit=10 v-on:pagination-change-page="loadUserMemberships"></pagination>
                    </div>
                    <div class="col-md-4">
                        <div class="float-right">
                            <select name="pageLength" class="form-control" v-model="userMembershipPaymentLength" @change="loadUserMemberships" v-if="userMembershipPayments.total">
                                <option value="5">5つ</option>
                                <option value="10">10つ</option>
                                <option value="25">25つ</option>
                                <option value="100">100つ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table" v-if="userMembershipPayments.total">
                        <thead>
                            <tr>
                                <th>支払日</th>
                                <th>支払金額</th>
                                <th>取得ポイント</th>
                                <th>クレジットカード</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(purchase, index) in userMembershipPayments.data" :key="index">
                                <td>{{purchase.created_at | momentWithTime}}</td>
                                <td>{{purchase.amount | number}}円</td>
                                <td>{{getPoints(purchase) | number}}ポイント</td>
                                <td>{{cardNumber}}</td>
                                <td v-html="getMembershipPaymentsLabel(purchase)"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-if="activetab === 'my-report'" class="tabcontent">
                <h4 class="card-title m-t-40">通報した一覧</h4>
                <h6 class="card-subtitle" v-if="user.my_send_reports.length == 0">通報がありません！</h6>
                <h6 class="card-subtitle" v-else>{{user.my_send_reports.length}}名のユーザーを通報しました。</h6>

                <div class="table-responsive">
                    <table class="table" v-if="user.my_send_reports.length > 0">
                        <thead>
                            <tr>
                                <th style="width: 60px;">ID</th>
                                <th>通報したユーザー名</th>
                                <th>通報内容</th>
                                <th>通報日</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(report, index) in user.my_send_reports" :key="index">
                                <td style="width: 60px;">{{report.to.id}}</td>
                                <td>
                                    <img class="user-avatar" :src="getAvatar(report.to)" alt="image"/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{report.to.profile.nickname}}
                                </td>
                                <td style="width: 40%;">{{report.content}}</td>
                                <td style="width: 140px;text-align:right;">{{report.created_at | momentWithTime}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-if="activetab === 'report'" class="tabcontent">
                <div class="row mt-12">
                    <div class="col-md-12">
                        <div class="row mb-12">
                            <div class="col-md-4 col-sm-4 text-bold">通算通報回数</div>
                            <div class="col-md-8 col-sm-8">{{user.reports.length}}回</div>
                        </div>
                        <div class="row mb-12">
                            <div class="col-md-4 col-sm-4 text-bold">過去90日の通報回数</div>
                            <div class="col-md-8 col-sm-8">{{user.last90_reports.length}}回</div>
                        </div>
                    </div>
                </div>
                <h4 class="card-title m-t-40">通報された一覧</h4>
                <h6 class="card-subtitle" v-if="user.reports.length == 0">通報がありません！</h6>

                <div class="table-responsive">
                    <table class="table" v-if="user.reports.length > 0">
                        <thead>
                            <tr>
                                <th style="width: 60px;">ID</th>
                                <th>通報されたユーザー名</th>
                                <th>通報内容</th>
                                <th>通報日</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(report, index) in user.reports" :key="index">
                                <td style="width: 60px;">{{report.from.id}}</td>
                                <td>
                                    <img class="user-avatar" :src="getAvatar(report.from)" alt="image"/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{report.from.profile.nickname}}
                                </td>
                                <td style="width: 40%;">{{report.content}}</td>
                                <td style="width: 140px;text-align:right;">{{report.created_at | momentWithTime}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div v-if="activetab === 'admin-report'" class="tabcontent">
                <div class="row mt-12">
                    <div class="col-md-12">
                        <div class="row mb-12">
                            <div class="col-md-4 col-sm-4 text-bold">運営の警告回数</div>
                            <div class="col-md-4 col-sm-4">{{user.admin_reports.length}}回</div>
                            <div class="col-md-4 col-sm-4">
                                <button v-if="isSystemAlerted == false && user.is_deleted == 0" class="btn btn-danger" type="button" @click="showAdminReport(1)" data-toggle="tooltip" title="通報報告">通報報告</button>
                                <button v-if="user.is_deleted == 0" class="btn btn-primary" type="button" @click="stopUsage()" data-toggle="tooltip" title="利用停止">利用停止</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="card-title m-t-40">運営の警告一覧</h4>
                <h6 class="card-subtitle" v-if="user.admin_reports.length == 0">通報がありません！</h6>

                <div class="table-responsive">
                    <table class="table" v-if="user.admin_reports.length > 0">
                        <thead>
                            <tr>
                                <th>ユーザー名</th>
                                <th>通報日</th>
                                <th>内容</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(report, index) in user.admin_reports" :key="index">
                                <td>
                                    <img class="user-avatar" :src="getAvatar(report.to)" alt="image"/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{report.to.profile.nickname}}
                                </td>
                                <td class="without-image">{{report.created_at | momentWithTime}}</td>
                                <td v-html="report.content" style="white-space: pre-line">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <TheLoading v-if="isLoading" />
        <TheConfirm
            :title="confirmTitle"
            :message="confirmMessage"
            :confirmTitle="confirmTitleButton"
            @confirm="confirmAction"
            @cancel="showConfirm = 0"
            v-if="showConfirm >= 1" />
        <TheAdminReportDialog
            v-if="showAdminReportDialog >= 1"
            @confirm="confirmAdminReport"
            @cancel="showAdminReportDialog = 0" />
    </div>
</template>

<script>
    import helper from '../../../services/admin_helper'
    import VueCarousel from '@chenfengyuan/vue-carousel';
    import TheLoading from "../../modals/TheLoading";
    import TheConfirm from "../../modals/TheConfirm";
    import TheAdminReportDialog from "../../modals/TheAdminReportDialog";
    import pagination from 'laravel-vue-pagination'
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import 'vue2-datepicker/locale/ja';

    export default {
        data(){
            return {
                user: undefined,
                masterData: {},
                isLoading: false,
                activetab: this.$route.params.type,
                pointPurchases: [],
                pointPageLength: 25,
                cardNumber: '',
                memberships: this.$store.state.masterData.memberships,
                userMemberships: [],
                userMembershipPayments: [],
                userMembershipPaymentLength: 25,
                paidPlan: undefined,
                platiumPlan: undefined,
                vipPlan: undefined,
                isSystemAlerted: false,
                is_mounted: false,
                userUsageStatus: 0,
                showConfirm: 0,
                confirmTitle: '',
                confirmMessage: '',
                confirmTitleButton: '',
                userPoint: 0,
                memo: '',
                userBirthday: undefined,
                nickname: '',
                work: '',
                content: '',
                nicknameChange: false,
                workChange: false,
                contentChange: false,
                alreadyForceQuitUsers: [],
                me: this.$store.state.auth.user,
                showAdminReportDialog: 0
            }
        },
        components : { VueCarousel, TheLoading, pagination, TheConfirm, DatePicker, TheAdminReportDialog },
        created() {
            // if (this.user == undefined) window.history.back();
            this.is_mounted = false;
            this.isLoading = true
            this.loadUser();
        },
        mounted() {
            window.scrollTo(0, 0);
        },
        methods: {
            loadUser() {
                axios.post('/api/admin/user/detail', {
                    user_id: this.$route.params.userID
                }).then(response => {
                    this.user = response.data.data;
                    this.updateUsageStatus();
                    this.loadPointPurchases(1);
                    this.loadUserMemberships(1);
                    this.is_mounted = true;
                    this.isLoading = false;
                }).catch(error => {
                    this.isLoading = false;
                })
            },
            changeUsageStatus() {
                this.confirmTitle = '利用区分の変更';
                this.confirmMessage = '利用区分を変更しますか？';
                this.confirmTitleButton = '変更する';
                this.showConfirm = 2;
            },
            stopUsage() {
                this.confirmTitle = '利用停止';
                this.confirmMessage = '利用停止しますか？';
                this.confirmTitleButton = '停止する';
                this.showConfirm = 3;
            },
            confirmAction() {
                if (this.showConfirm == 1) { // Report
                    axios.post('/api/admin/user/report', {
                        user_id: this.user.id,
                        alert_status: this.user.profile.alert_status + 1,
                        content: this.confirmMessage
                    }).then(response => {
                        this.user = response.data.data;
                        this.updateUsageStatus();
                        this.$forceUpdate();
                    })
                    this.isSystemAlerted = true;

                    // 通報報告
                    db.collection('users').doc(this.user.provider_unique_id).update({
                        updateTarget: 'system_alert_type1'
                    });
                } else if (this.showConfirm == 2) { // Change user status
                    axios.post('/api/admin/user/update', {
                        user_id: this.user.id,
                        status: this.userUsageStatus
                    }).then(response => {
                        this.user = response.data.data;
                        this.updateUsageStatus();
                        this.$forceUpdate();
                    })
                } else if (this.showConfirm == 3) { // Stop usage
                    axios.post('/api/admin/user/update', {
                        user_id: this.user.id,
                        status: 2
                    }).then(response => {
                        this.user = response.data.data;
                        this.userUsageStatus = 2;
                        this.updateUsageStatus();
                        this.$forceUpdate();
                    })

                    // 利用停止
                    db.collection('users').doc(this.user.provider_unique_id).update({
                        updateTarget: 'system_alert_type2'
                    });
                } else if (this.showConfirm == 4) { // Points add
                    axios.post('/api/admin/user/add/point', {
                        user_id: this.user.id,
                        points: this.userPoint
                    }).then(response => {
                        this.user = response.data.data;
                        this.updateUsageStatus();
                        this.loadPointPurchases(1);
                        this.$forceUpdate();
                    })
                } else if (this.showConfirm == 5) { // Update memo
                    axios.post('/api/admin/user/update', {
                        user_id: this.user.id,
                        memo: this.memo
                    }).then(response => {
                        this.user = response.data.data;
                        this.updateUsageStatus();
                        this.loadPointPurchases(1);
                        this.$forceUpdate();
                    })
                } else if (this.showConfirm == 6) { // Update age
                    axios.post('/api/admin/user/update', {
                        user_id: this.user.id,
                        birthday: moment(this.userBirthday).format('YYYY-MM-DD')
                    }).then(response => {
                        this.user = response.data.data;
                        this.updateUsageStatus();
                        this.loadPointPurchases(1);
                        this.$forceUpdate();
                    })
                } else if (this.showConfirm == 7) { // Update nickname
                    axios.post('/api/admin/user/update', {
                        user_id: this.user.id,
                        nickname: this.nickname
                    }).then(response => {
                        this.user = response.data.data;
                        this.nicknameChange = false
                        this.updateUsageStatus();
                        this.loadPointPurchases(1);
                        this.$forceUpdate();
                    })
                } else if (this.showConfirm == 8) { // Update work
                    axios.post('/api/admin/user/update', {
                        user_id: this.user.id,
                        work: this.work
                    }).then(response => {
                        this.user = response.data.data;
                        this.workChange = false
                        this.updateUsageStatus();
                        this.loadPointPurchases(1);
                        this.$forceUpdate();
                    })
                } else if (this.showConfirm == 9) { // Update content
                    axios.post('/api/admin/user/update', {
                        user_id: this.user.id,
                        content: this.content
                    }).then(response => {
                        this.user = response.data.data;
                        this.contentChange = false
                        this.updateUsageStatus();
                        this.loadPointPurchases(1);
                        this.$forceUpdate();
                    })
                }

                this.showConfirm = 0;
            },
            changeAge() {
                this.confirmTitle = '年齢の変更';
                this.confirmMessage = '年齢を変更しますか？';
                this.confirmTitleButton = '変更する';
                this.showConfirm = 6;
            },
            updateUsageStatus() {
                this.userUsageStatus = this.user.is_deleted;
                this.memo = this.user.profile.memo
                this.nickname = this.user.profile.nickname
                this.work = this.user.profile.work
                this.content = this.user.profile.content
                if (this.user.profile.birthday)
                    this.userBirthday = new Date(this.user.profile.birthday)
            },
            updatePoints() {
                this.confirmTitle = 'ポイントの追加';
                this.confirmMessage = 'ポイントを追加しますか？';
                this.confirmTitleButton = '追加する';
                this.showConfirm = 4;
            },
            saveMemo() {
                this.confirmTitle = 'メモの保存';
                this.confirmMessage = 'メモを保存しますか？';
                this.confirmTitleButton = '保存する';
                this.showConfirm = 5;
            },
            saveNickname(type) {
                if (type == 1) {
                    this.confirmTitle = 'ニックネームの保存';
                    this.confirmMessage = 'ニックネームを保存しますか？';
                    this.confirmTitleButton = '保存する';
                    this.showConfirm = 7;
                } else {
                    this.nickname = this.user.profile.nickname
                    this.nicknameChange = false
                }
            },
            saveWork(type) {
                if (type == 1) {
                    this.confirmTitle = 'ひとことメッセージの保存';
                    this.confirmMessage = 'ひとことメッセージを保存しますか？';
                    this.confirmTitleButton = '保存する';
                    this.showConfirm = 8;
                } else {
                    this.work = this.user.profile.work
                    this.workChange = false
                }
            },
            saveContent(type) {
                if (type == 1) {
                    this.confirmTitle = '自己紹介文の保存';
                    this.confirmMessage = '自己紹介文を保存しますか？';
                    this.confirmTitleButton = '保存する';
                    this.showConfirm = 9;
                } else {
                    this.content = this.user.profile.content
                    this.contentChange = false
                }
            },
            getPhotos() {
                let carousels = [];
                
                this.user.photos.filter(photo => photo.type == 'main_photo').map(photo => {
                    carousels.push((photo.photo_url && photo.photo_url != '') ? photo.photo_url : (this.user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png'));
                })

                this.user.photos.filter(photo => photo.type == 'sub_photo').map(photo => {
                    carousels.push((photo.photo_url && photo.photo_url != '') ? photo.photo_url : (this.user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png'));
                })

                if (carousels.length == 0) {
                    carousels.push((this.user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png'));
                }

                return carousels.map(item => {
                    return "<img src='" + item + "' alt='image' />";
                });
            },
            getPoints(purchase) {
                if (purchase.points > 0) return purchase.points;
                let membership = this.memberships.filter(item => {
                    return item.price == purchase.amount
                });

                if (membership && membership.length > 0) return membership[0].points;

                return 0;
            },
            getPointUsage(purchase) {
                if (purchase.type.includes('membership_payment') || purchase.type.includes('point_purchase') || purchase.type == 'first_register') {
                    return purchase.points;
                }

                return 0 - purchase.points;
            },
            getPointMemo(purchase) {
                if (purchase.type.includes('membership_payment') || purchase.type == 'point_purchase') {
                    return this.cardNumber;
                }
                return '---';
            },
            getPointsLabel(purchase) {
                if (purchase.type == 'admin_point_purchase') return '<span class="label label-success">ボーナス</span>';
                if (purchase.type == 'point_purchase')
                    return '<span class="label label-success">ポイントの購入</span>';
                if (purchase.type.includes('paid_membership_payment'))
                    return '<span class="label label-success">有料付与</span>';
                if (purchase.type.includes('platium_membership_payment'))
                    return '<span class="label label-success">プラチナ付与</span>';
                if (purchase.type == 'first_register') 
                    return '<span class="label label-success">登録ボーナス</span>';
                
                // usage
                if (purchase.type == 'like')
                    return '<span class="label label-primary">いいね</span>';
                if (purchase.type == 'timeline') 
                    return '<span class="label label-primary">募集投稿</span>';
                if (purchase.type == 'point_reset') 
                    return '<span class="label label-danger">ポイント自動消滅</span>';
                
                return '';
            },
            getPointMoney(purchase) {
                if (purchase.type.includes('membership_payment') || purchase.type == 'point_purchase') {
                    return purchase.amount + "円";
                }

                return '---'
            },
            getMembershipPaymentsLabel(purchase) {
                let membership = undefined;
                this.userMemberships.map(item => {
                    if (item.membership.price == purchase.amount) membership = item.membership;
                })

                if (membership == undefined) return "";
                return '<span class="label label-' + membership.type + '">' + membership.name + '支払い</span>';
            },
            showAdminReport(type) {
                this.showAdminReportDialog = type;
            },
            confirmAdminReport(content) {
                if (this.showAdminReportDialog === 1) {
                    this.adminReport(content);
                }

                this.showAdminReportDialog = 0;
            },
            adminReport(content) {
                this.confirmTitle = 'この内容で警告する';
                this.confirmMessage = content; // 'このユーザーを通報報告しますか？';
                this.confirmTitleButton = '報告する';
                this.showConfirm = 1;
            },
            loadPointPurchases(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let params = {
                    page: page,
                    limit: this.pointPageLength,
                    user_id: this.user.id
                };

                axios.post('/api/admin/user/payments/point', params).then(response => {
                    if (response.data.data) {
                        this.pointPurchases = response.data.data;
                        this.cardNumber = response.data.cardNumber;
                    }
                })
            },
            loadUserMemberships(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let params = {
                    page: page,
                    limit: this.userMembershipPaymentLength,
                    user_id: this.user.id
                };

                axios.post('/api/admin/user/memberships', params).then(response => {
                    if (response.data.data) {
                        this.userMemberships = response.data.data;
                        this.userMembershipPayments = response.data.payments;

                        this.paidPlan = undefined;
                        this.platiumPlan = undefined;
                        this.vipPlan = undefined;

                        this.userMemberships.map(item => {
                            if (item.membership.type == 'paid') this.paidPlan = item;
                            if (item.membership.type == 'platium') this.platiumPlan = item;
                            if (item.membership.type == 'vip') this.vipPlan = item;
                        })
                    }
                })
            },
            sendAfb() {
                axios.post('/api/afb/get', {
                    email: this.user.email
                }).then(response => {
                    if (response.data.data && response.data.data !== '') {
                        axios.post('https://t.afi-b.com/commit/p116159/' + this.user.id + '&abm=' + response.data.data)
                    }
                })
            },
            approveImage(value) {
                this.isLoading = true;
                axios.post('/api/admin/user/approve', {
                    user_id: this.user.id,
                    image_approved: value
                }).then(response => {
                    this.isLoading = false;
                    this.user = response.data.data;
                    this.updateUsageStatus();
                    this.$forceUpdate();
                }).catch(error => {
                    this.isLoading = false;
                })

                if (value === 1 && this.user.profile.gender === 2) {
                    this.sendAfb();
                }
            },
            approveOneImage(value, photoID, type) {
                this.isLoading = true;
                axios.post('/api/admin/user/approve/one', {
                    user_id: this.user.id,
                    image_approved: value,
                    photo_id: photoID,
                    type: type
                }).then(response => {
                    this.isLoading = false;
                    this.user = response.data.data;
                    this.updateUsageStatus();
                    this.$forceUpdate();
                }).catch(error => {
                    this.isLoading = false;
                })

                if (value === 1 && type === 'main_photo' && this.user.profile.gender === 2) {
                    this.sendAfb();
                }
            },
            approveAge(value) {
                this.isLoading = true;
                axios.post('/api/admin/user/approve', {
                    user_id: this.user.id,
                    age_approved: value
                }).then(response => {
                    this.isLoading = false;
                    this.user = response.data.data;
                    this.updateUsageStatus();
                    this.$forceUpdate();
                }).catch(error => {
                    this.isLoading = false;
                })
            },
            openSubImage(index) {
                // this.$refs.carouselsRef.slideTo(index);
            },
            birthdayInputChange() {
                if (this.userBirthday) {
                    axios.post('/api/admin/user/check/birthday', {
                        gender: this.user.profile.gender,
                        birthday: moment(this.userBirthday).format('YYYY-MM-DD')
                    }).then(response => {
                        this.alreadyForceQuitUsers = response.data.data
                    })
                }
            },
            getGenderStatus() {
                if (this.user.profile.gender == 2) {
                    return '<span class="label label-primary">女性</span>';
                }

                return '<span class="label label-success">男性</span>';
            },
            getMemberStatus(){
                return helper.getMemberStatus(this.user);
            },
            getIdentityStatus() {
                return helper.getIdentityStatus(this.user);
            },
            hasIdentityDocument() {
                return (this.user.documents && this.user.documents.length > 0);
            },
            getIdentityImage() {
                return this.user.documents[0].url;
            },
            getImageStatus() {
                return helper.getImageStatus(this.user);
            },
            getAvatar(user) {
                if (user.profile.vip_image) return user.profile.vip_image.url;

                return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            },
            formatDate(value) {
                return helper.formatDate(value);
            },
            getUsageStatus() {
                if (this.user.is_deleted == 1) return '退会しました'
                if (this.user.is_deleted == 2) return '強制退会しました';
                return '';
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          },
          number(price) {
            return helper.formatMoney(price);
          },
          email(user) {
              if (user.is_deleted == 1) return user.email.split('___')[0];

              return user.email;
          },
          birthday(value) {
              return value; // value.replace("-", '年').replace('-', '月') + '日'
          }
        }
    }
</script>
<style lang="scss" scoped>
.admin-membership {
    display: flex;
    justify-content: space-evenly;

    .membership-setting-item {
        flex: 0 1 30%;

        .auto-update {
            img {
                cursor: default;
            }
        }
    }
}

.label-exit {
    line-height: 23px;
}

.income {
    color: #4169E1;
}

.outcome {
    color: #F10A32;
}
</style>
