<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">プロフィール一覧</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="card-title">検索</h4> -->
                        <div class="row mt-12">
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">会員ID</label>
                                    <input class="form-control" type="number" v-model="filterUserForm.userId">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">ニックネーム</label>
                                    <input type="text" class="form-control" v-model="filterUserForm.nickname">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">性別</label>
                                    <select name="status" class="form-control" v-model="filterUserForm.gender" @change="changeGender">
                                        <option value="-1">すべて</option>
                                        <option value="1">男性</option>
                                        <option value="2">女性</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">登録メアド</label>
                                    <input class="form-control" v-model="filterUserForm.email">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-12 mb-20">
                            <div class="col-md-6">
                                <div class="form-group mb-0 date-picker">
                                    <label for="">登録日</label>
                                    <div class="pickers">
                                        <DatePicker v-model="startDate" @change="selectStartDate" lang="ja" format="YYYY年MM月DD日" />
                                        <span>～</span>
                                        <DatePicker v-model="endDate" @change="selectEndDate" lang="ja" format="YYYY年MM月DD日" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success waves-effect waves-light" @click="getUsers">検索する</button>
                                <button type="button" class="btn btn-warning waves-effect waves-light" @click="resetFilter">リセットする</button>
                            </div>
                        </div>

                        <h4 class="card-title m-t-40">プロフィール一覧</h4>
                        <h6 class="card-subtitle" v-if="users.total">{{users.total}}名のユーザーがいます。</h6>
                        <h6 class="card-subtitle" v-else>ユーザーが見つかりません！</h6>

                        <div class="row">
                            <div class="col-md-8">
                                <pagination :data="users" :limit=10 v-on:pagination-change-page="getUsers"></pagination>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right">
                                    <select name="pageLength" class="form-control" v-model="pageLength" @change="getUsers" v-if="users.total">
                                        <option value="5">5つ</option>
                                        <option value="10">10つ</option>
                                        <option value="25">25つ</option>
                                        <option value="100">100つ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table" v-if="users.total">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>写真</th>
                                        <th>ニックネーム</th>
                                        <th>性別</th>
                                        <th>登録日</th>
                                        <th>一言メッセージ</th>
                                        <th>自己紹介文</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(user, index) in users.data" :key="index" :class="user.is_deleted >= 1 ? 'is_deleted' : ''">
                                        <td style="min-width: 50px; width: 50px;">{{user.id}}</td>
                                        <td style="min-width: 80px; width: 80px;">
                                            <a :href="`/admin/user/detail/${user.provider_unique_id}/profile`" target="_blank">
                                            <img class="user-avatar" :src="getAvatar(user)" alt="image"/>
                                            </a>
                                        </td>
                                        <td style="min-width: 120px; width: 120px;" v-text="user.profile.nickname"></td>
                                        <td v-html="getGenderStatus(user)" style="min-width: 80px; width: 80px;"></td>
                                        <td style="min-width: 140px; width: 140px; text-align: right;">{{ user.created_at | moment }}</td>
                                        <td style="min-width: 260px; width: 260px;">
                                            <pre>{{user.profile.work}}</pre>
                                        </td>
                                        <td>
                                            <pre>{{user.profile.content}}</pre>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from '../../../services/admin_helper'
    import pagination from 'laravel-vue-pagination'
    import ClickConfirm from 'click-confirm'
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import 'vue2-datepicker/locale/ja';

    export default {
        data(){
            return {
                page: 1,
                users: {},
                filterUserForm: {
                    membership_type: '',
                    gender: -1,
                    nickname: '',
                    city_id: -1,
                    job_id: -1,
                    marriage_id: -1,
                    email: '',
                    user_status: -1,
                    userId: '',
                    reportNumStart: undefined,
                    reportNumEnd: undefined,
                    limitReportNumStart: undefined,
                    limitReportNumEnd: undefined,
                    alertNumStart: undefined,
                    alertNumEnd: undefined
                },
                pageLength: 25,
                memberships: [],
                masterData: {},
                jobs: [],
                startDate: undefined,
                endDate: undefined
            }
        },
        components : { pagination, ClickConfirm, DatePicker },
        mounted() {
            this.getUsers();
            this.memberships = []
            this.masterData = this.$store.state.masterData
            this.jobs = this.masterData.allJobs
            this.$store.state.masterData.memberships.map(item => {
                let checks = this.memberships.filter(check => {
                    return item.type == check.type;
                });
                if (!(checks && checks.length > 0)) {
                    this.memberships.push({
                        type: item.type,
                        name: item.name
                    })
                }
            })
        },
        methods: {
            getUsers(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                let params = Object.assign({}, this.filterUserForm);
                params.limit = this.pageLength
                params.page = page;

                if (this.startDate != undefined && this.startDate != null) {
                    params.start_date = helper.formatDBDate(this.startDate) + " 00:00:00";
                }

                if (this.endDate != undefined && this.endDate != null) {
                    params.end_date = helper.formatDBDate(this.endDate) + " 23:59:59";
                }

                helper.loadUsers(params).then(response => {
                    if (response != 'error') {
                        this.users = response.data;
                    }
                })
            },
            changeGender() {
                if (this.filterUserForm.gender >= 0) {
                    this.jobs = this.masterData.allJobs.filter(item => {
                        return item.gender == this.filterUserForm.gender
                    })
                } else {
                    this.jobs = this.masterData.allJobs;
                }
            },
            resetFilter() {
                this.filterUserForm = {
                    membership_type: '',
                    gender: -1,
                    nickname: '',
                    city_id: -1,
                    job_id: -1,
                    marriage_id: -1,
                    email: '',
                    user_status: -1,
                    userId: '',
                    reportNumStart: undefined,
                    reportNumEnd: undefined,
                    limitReportNumStart: undefined,
                    limitReportNumEnd: undefined,
                    alertNumStart: undefined,
                    alertNumEnd: undefined
                }

                this.startDate = undefined
                this.endDate = undefined

                this.getUsers(1)
            },
            deleteUser(user){
            },
            getGenderStatus(user) {
                if (user.profile.gender == 2) {
                    return '<span class="label label-primary">女性</span>';
                }

                return '<span class="label label-success">男性</span>';
            },
            getMemberStatus(user){
                return helper.getMemberStatus(user);
            },
            getUsageStatus(user) {
                return helper.getUsageStatus(user);
            },
            getIdentityStatus(user) {
                return helper.getIdentityStatus(user);
            },
            getImageStatus(user) {
                return helper.getImageStatus(user);
            },
            getMarriageName(user) {
                let values = this.masterData.marriages.filter(item => {
                    return item.id == user.profile.marriage_id;
                })
                
                if (values && values.length > 0) return values[0].name

                return '';
            },
            getJobName(user) {
                let values = this.masterData.allJobs.filter(item => {
                    return item.id == user.profile.job_id;
                })

                if (values && values.length > 0) return values[0].name

                return '';
            },
            getAvatar(user) {
                if (user.profile.vip_image) return user.profile.vip_image.url;
                return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            },
            selectEndDate() {
                if (this.startDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            },
            selectStartDate() {
                if (this.endDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          },
          number(price) {
            return helper.formatMoney(price);
          }
        }
    }
</script>
<style>
    .strikethrough{
      text-decoration: line-through;
    }

    .table-responsive {
        font-size: 14px;
        overflow: visible;
    }

    body {
        overflow-x: scroll !important;
    }

    .container-fluid {
        background: #fff !important;
    }
</style>
