<template>
    <div id="main-wrapper" v-if="is_mounted">
        <app-header></app-header>
        <app-sidebar ref="sidebar"></app-sidebar>

        <div class="page-wrapper">
            <div class="container-fluid">
                <router-view></router-view>
                <app-right-sidebar></app-right-sidebar>
            </div>
        	<!-- <app-footer></app-footer> -->
        </div>
    </div>
</template>


<script>
    import AppHeader from './header.vue'
    import AppSidebar from './sidebar.vue'
    import AppFooter from './footer.vue'
    import AppRightSidebar from './right-sidebar.vue'
    import helper from '../services/helper'
    export default {
        data() {
            return {
                is_mounted :false
            }
        },
        methods : {
            notification(){
                toastr.options = {
                    "positionClass": "toast-top-right"
                };

                $('[data-toastr]').on('click',function(){
                    var type = $(this).data('toastr'),message = $(this).data('message'),title = $(this).data('title');
                    toastr[type](message, title);
                });
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            },
            checkURL() {
                if (this.$store.state.masterData.cities == undefined || this.$store.state.masterData.cities.length == 0) {
                    axios.post('/api/master/data')
                    .then(response => {
                        this.$store.dispatch('setMasterData', response.data.data);
                    })
                }

                if (this.$store.state.config.like_point_usage == undefined) {
                    axios.get('/api/configuration/fetch').then(response => {
                        let config = {
                            like_point_usage: 20,
                            like_back_point_usage: 20,
                            timeline_point_usage: 20,
                            point_reset_days: 180,
                            timelines_per_day: 1,
                            last_days: 90,
                            male_like_limit: -1,
                            female_like_limit: -1
                        }
                        config = helper.formAssign(config, response.data.config);
                        this.$store.dispatch('setConfig', config);
                    }).catch();
                }

                if (this.$refs.sidebar)
                    this.$refs.sidebar.refresh();
            }
        },
        components: {
            AppHeader, AppSidebar, AppFooter, AppRightSidebar
        },
        watch:{
            $route (to, from){
                this.checkURL();
            }
        },
        async mounted() {
            $('body').addClass("fix-header fix-sidebar card-no-border");
            $("body").trigger("resize");
            $(".fix-header .topbar").stick_in_parent();
            $('.scroll-sidebar').slimScroll({
                position: 'left'
                , size: "5px"
                , height: '100%'
                , color: '#dcdcdc'
            });
            $('.message-scroll').slimScroll({
                position: 'right'
                , size: "5px"
                , height: '570'
                , color: '#dcdcdc'
            });

            if(!this.getAuthUser('email')){
                let response = await helper.authUser();

                this.$store.dispatch('setAuthUserDetail',{
                    first_name: response.profile.first_name,
                    last_name: response.profile.last_name,
                    email: response.user.email,
                    avatar:response.profile.avatar,
                    is_admin: response.user.is_admin,
                    profile: response.profile,
                    user: response.user
                });

                this.$forceUpdate();
            }

            this.is_mounted = true;

            this.checkURL();
        }
    }
</script>
