<template>
    <div>
        <div v-if="isLoading == false">
            <div id="main-wrapper" class="front-wrapper" v-if="hasFooter">
                <AppHeader v-if="showHeader" :label="headerLabel" :hasSearch="hasSearch" @reload="reloadPage" />

                <div class="front-page-container" v-touch:swipe.bottom="swipeDown">
                    <router-view ref="routerView"></router-view>
                </div>
                <app-footer></app-footer>
            </div>
            <router-view v-else ref="routerView"></router-view>
            <TheUserDetailDialog 
                @confirm="confirm"
                @cancel="cancel"
                :type="getModalDialogMessage()"
                :userID="getUserID()"
                v-if="showModalDialog" />

            <TheMessageTopDialog 
                @confirm="confirm"
                @cancel="cancel"
                v-if="showMessageTopDialog" />
            <TheAgeNeedApprovalDialog
                @confirm="confirm"
                @cancel="cancel"
                :message="modalMessage"
                icon="gold_identity"
                v-if="showAgeApprovalDialog" />
            <TheCreditCardFormDialog
                @cancel="cancel"
                v-if="showCreditCardFormDialog" />
            <TheImageNeedDialog
                @confirm="confirm"
                @cancel="cancel"
                icon="gold_photo"
                v-if="showImageNeedDialog" />
            <ThePlanUpDialog
                @confirm="confirm"
                @cancel="cancel"
                :currentPlan="currentPlan"
                icon="gold_plan"
                v-if="showPlanUpDialog" />
            <TheOnlyVipCanDoDialog
                @cancel="cancel"
                icon="gold_plan"
                v-if="showVipCanDoDialog" />
            <TheAdminAlertDialog
                :type="systemAlertType"
                :content="systemAlertContent"
                @confirm="confirm"
                v-if="showSystemAlert" />
            <TheNotificationAlertDialog
                @confirm="confirm"
                v-if="showAlertNotification" />
            <TheMessage
                title="通報回数の制限"
                message="ひと月に５回まで通報できます"
                @cancel="cancelMessageDialog"
                v-if="showMessage" />
            <TheMessage
                title="いいね回数の制限"
                :message="`1日${$store.state.auth.user.profile.gender == 1 ? $store.state.config.male_like_limit : $store.state.config.female_like_limit}回まで「いいね」できます。翌日以降お試しください。`"
                @cancel="cancel"
                v-if="showLikeLimitDialog" />
            <TheMessage
                :title="doneTitle"
                :message="doneMessage"
                :message_sub="doneMessageSub"
                @cancel="cancelDoneMessageDialog"
                v-if="doneMessage != ''" />
            <TheMessageDialog 
                title="ご利用ポイント不足"
                :message="`<center><div class='message_point'><span class='balance'>ポイント残高</span><span class='num'>${$store.state.auth.user.profile.points}</span> pt</div></center>ポイントをご購入のうえ<br/>サービスのご利用お願いいたします。`"
                confirmTitle="ポイント購入へ"
                icon="points"
                @confirm="confirmPointPurchase"
                @cancel="cancel"
                v-if="showNeedPointPurchase" />
            <TheReportUserDialog
                v-if="reportUserID != undefined"
                :content="reportUserContent"
                @cancel="reportUserID = undefined"
                @confirm="reportUser" />
            <TheConfirmTwoButtons
                v-if="reportConfirmUserID != undefined"
                @confirm="reportUserConfirm"
                @cancel="reportConfirmUserID = undefined"
                @back="reportUserBack"
                title="通報内容の確認"
                :message="reportUserContent"
                confirmTitle="この内容で通報する" />
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>


<script>
    import AppHeader from './front-header.vue'
    import AppSidebar from './sidebar.vue'
    import AppFooter from './front-footer.vue'
    import AppRightSidebar from './right-sidebar.vue'
    import helper from '../services/helper'
    import TheCreditCardFormDialog from "../views/modals/TheCreditCardFormDialog"
    import TheUserDetailDialog from "../views/modals/TheUserDetailDialog"
    import TheMessageTopDialog from "../views/modals/TheMessageTopDialog"
    import TheAgeNeedApprovalDialog from "../views/modals/TheAgeNeedApprovalDialog"
    import ThePlanUpDialog from "../views/modals/ThePlanUpDialog"
    import TheOnlyVipCanDoDialog from "../views/modals/TheOnlyVipCanDoDialog.vue"
    import TheAdminAlertDialog from "../views/modals/TheAdminAlertDialog.vue"
    import TheMessage from "../views/modals/TheMessage.vue"
    import TheMessageDialog from "../views/modals/TheMessageDialog.vue"
    import TheLoading from "../views/modals/TheLoading.vue"
    import TheImageNeedDialog from "../views/modals/TheImageNeedDialog"
    import TheReportUserDialog from "../views/modals/TheReportUserDialog"
    import TheConfirmTwoButtons from "../views/modals/TheConfirmTwoButtons"
    import { clearInterval } from 'timers';
    import TheNotificationAlertDialog from "../views/modals/TheNotificationAlertDialog.vue"

    export default {
        data() {
            return {
                showHeader: false,
                progress: 0,
                backPageName: '',
                headerLabel: '',
                hasSearch: false,
                hasFooter: false,
                hasFooterRoutes: ['home', 'timelines', 'likes', 'messages', 'mypage', 'histories'],
                modalMessage: '',
                systemAlertType: -1,
                systemAlertContent: "",
                unsubscribe: undefined,
                showMessage: false,
                isLoading: false,
                doneMessage: '',
                doneMessageSub: '',
                scrollTop: 0,
                reportUserID: undefined,
                reportConfirmUserID: undefined,
                reportUserContent: '',
                offlineInterval: undefined,
                isOffline: false
            }
        },
        components: {
            AppHeader, AppFooter, TheUserDetailDialog, TheMessageTopDialog, TheAgeNeedApprovalDialog, TheCreditCardFormDialog, ThePlanUpDialog, TheOnlyVipCanDoDialog, TheAdminAlertDialog, TheMessage, TheLoading, TheImageNeedDialog, TheMessageDialog, TheReportUserDialog, TheConfirmTwoButtons, TheNotificationAlertDialog
        },
        methods : {
            notification(){
                toastr.options = {
                    "positionClass": "toast-top-right"
                };

                $('[data-toastr]').on('click',function(){
                    var type = $(this).data('toastr'),message = $(this).data('message'),title = $(this).data('title');
                    toastr[type](message, title);
                });
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            },
            checkURL() {
                if (window.localStorage.getItem('too_many_attempts')) {
                    this.isLoading = true;
                    let self = this;
                    setTimeout(function() {
                        self.$router.push(self.$route.path);
                    }, 60000);

                    window.localStorage.removeItem('too_many_attempts');

                    return;
                }

                if (this.$store.state.config.like_point_usage == undefined || this.$store.state.config.male_like_limit == undefined) {
                    axios.get('/api/configuration/fetch').then(response => {
                        let config = {
                            like_point_usage: 20,
                            like_back_point_usage: 20,
                            timeline_point_usage: 20,
                            point_reset_days: 180,
                            timelines_per_day: 1,
                            last_days: 90,
                            male_like_limit: -1,
                            female_like_limit: -1
                        }
                        config = helper.formAssign(config, response.data.config);
                        this.$store.dispatch('setConfig', config);
                    }).catch();
                }

                let isSystemAlertShowed = false;

                this.isOffline = false;

                let path = this.$route.path;
                this.$store.dispatch('updateCurrentPath', path);
                this.hasSearch = false;
                if (path.startsWith('/mypage')) {
                    this.showHeader = true;
                    this.headerLabel = "マイページ";
                } else if (path.startsWith('/messages')) {
                    this.showHeader = true;
                    this.headerLabel = "メッセージ";
                } else if (path.startsWith('/likes') || path.startsWith('/histories')) {
                    this.showHeader = true;
                    this.headerLabel = "いいね";
                } else if (path.startsWith('/timelines')) {
                    this.showHeader = true;
                    this.headerLabel = "募集";
                } else if (path == '/search') {
                    this.showHeader = true;
                    this.hasSearch = true;
                    this.headerLabel = "さがす";
                } else {
                    this.showHeader = false;
                }

                this.hasFooter = this.hasFooterRoutes.includes(this.$route.name);

                if (this.$store.state.masterData.cities == undefined || this.$store.state.masterData.cities.length == 0 || this.$store.state.masterData.memberships == undefined || this.$store.state.masterData.memberships.length == 0) {
                    axios.post('/api/master/data')
                    .then(response => {
                        this.$store.dispatch('setMasterData', response.data.data);
                    })
                }

                if (this.$store.state.auth.user.is_deleted == 2) {
                    this.$store.dispatch('setInternalAlert', {
                        type: 'system-alert',
                        data: 2
                    });
                    isSystemAlertShowed = true;
                } else if (this.$store.state.auth.user.profile && 
                    this.$store.state.auth.user.profile.alert_status >= 1) {
                    if (this.$store.state.auth.user.alert_viewed == 0) {
                        if (window.localStorage.getItem('show_alert_status') == undefined || window.localStorage.getItem('show_alert_status') == null) {
                            this.$store.dispatch('setInternalAlert', {
                                type: 'system-alert',
                                data: 1
                            });
                        }
                    }
                    isSystemAlertShowed = true;
                }

                // Show Alert Notification
                if (isSystemAlertShowed === false && this.$store.state.auth.user.alertNotification > 0 && (!path.startsWith('/notification'))) {
                    this.$store.dispatch('setInternalAlert', {
                        type: 'show-alert-notification',
                        data: 1
                    });
                }
                
                this.isLoading = false;
            },
            callAPI(url, params, needBack) {
                axios.post(url, params).then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });
                    let searchUsers = this.$store.state.searchUsers;
                    searchUsers.hasMore = true
                    this.$store.dispatch('setSearchUsers', searchUsers);
                    // if (needBack) window.history.back();

                    if (url == '/api/user/report') {
                        this.doneTitle = '通報完了'
                        this.doneMessage = this.$store.state.auth.user.send_reports.length + " / 5回／月<br/>ご協力ありがとうございました。"
                        this.doneMessageSub = 'ひと月に５回まで通報できます。<br/>「いたずら嫌がらせ通報」が発覚した場合、ご利用をお断りする場合がございます。'
                    } else if (url == '/api/user/block') {
                        this.doneTitle = 'ブロック完了'
                        this.doneMessage = 'この会員をブロックしました'
                        this.doneMessageSub = '「マイページ > 設定 > ブロックリスト」で解除できます'
                    } else if (url == '/api/user/unblock') {
                        this.doneTitle = 'ブロック解除'
                        this.doneMessage = 'この会員をブロック解除しました'
                        this.doneMessageSub = ''
                    }
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                })
            },
            cancelMessageDialog() {
                this.showMessage = false;
            },
            reloadPage() {
                if (this.headerLabel == '募集') {
                    this.$refs.routerView.forceReload();
                } else if (this.headerLabel == 'メッセージ') {
                    this.$refs.routerView.forceReload();
                }
            },
            cancelDoneMessageDialog() {
                this.doneMessage = ''                
                this.doneMessageSub = ''
                window.history.back();
            },
            confirmPointPurchase() {
                this.$store.dispatch('setInternalAlert', {
                    type: '',
                    data: '',
                    message: '',
                    userID: ''
                })

                this.$router.push({ name: 'point_purchase' });
            },
            reportUserConfirm() {
                this.callAPI('/api/user/report', {
                    to_user_id: this.reportConfirmUserID,
                    content: this.reportUserContent
                }, true)

                this.reportConfirmUserID = undefined
                this.reportUserContent = ""
            },
            reportUserBack() {
                this.reportUserID = this.reportConfirmUserID
                this.reportConfirmUserID = undefined
            },
            reportUser(content) {
                this.reportConfirmUserID = this.reportUserID
                this.reportUserContent = content
                this.reportUserID = undefined
            },
            confirm(type) {
                let userID = this.$store.state.internalAlert.userID
                this.$store.dispatch('setInternalAlert', {
                    type: '',
                    data: '',
                    message: '',
                    userID: ''
                })

                if (type == 'report-user') {
                    if (this.$store.state.auth.user.send_reports.length > 5) {
                        this.showMessage = true;
                        return;
                    }
                    
                    this.reportUserContent = ""
                    this.reportUserID = userID
                } else if (type == 'block-user') {
                    this.callAPI('/api/user/block', {
                        to_user_id: userID
                    }, true)
                } else if (type == 'unblock-user') {
                    this.callAPI('/api/user/unblock', {
                        block_user_id: userID
                    }, true)
                } else if (type === 'add-favorite') {
                    axios.post('/api/favorite/add', {
                        favorite_user_id: userID
                    }).then(response => {
                        this.$store.dispatch('setAuthUserDetail',{
                            user: response.data.data,
                            profile: response.data.data.profile
                        });
                    });
                } else if (type === 'remove-favorite') {
                    axios.post('/api/favorite/remove', {
                        favorite_user_id: userID
                    }).then(response => {
                        this.$store.dispatch('setAuthUserDetail',{
                            user: response.data.data,
                            profile: response.data.data.profile
                        });

                        this.$refs.routerView.$forceUpdate();
                    });
                } else if (type == 'need-age-approval') {
                    this.$router.push({ name: 'identity' });
                } else if (type == 'need-plan-up') {
                    if (this.$store.state.auth.profile.membership.type == 'platium') {
                        this.$router.push({ name: 'membership_vip' })
                    } else {
                        this.$router.push({ name: 'membership' })
                    }
                } else if (type == 'system-alert') {
                    if (this.systemAlertType == 2) {
                        helper.logout().then(() => {
                            this.$store.dispatch('resetAuthUserDetail');
                            this.$router.push('/login');
                        })
                    }

                    if (this.systemAlertType == 1) {
                        window.localStorage.setItem('show_alert_status', 1);

                        axios.post('/api/user/update/profile', {
                            alert_viewed: 1
                        });
                    }
                } else if (type == 'need-image-upload') {
                    this.$router.push({ name: 'mypage_profile'})
                } else if (type === 'alert-notification-dialog') {
                    this.$store.dispatch('setInternalAlert', {
                        type: '',
                        data: ''
                    })
                    this.$router.push({ name: 'notifications' });
                }
            },
            cancel() {
                if (this.$store.state.internalAlert.data == 'remain') {
                    this.$store.dispatch('setInternalAlert', {
                        type: '',
                        data: '',
                        message: ''
                    })
                    return;
                }

                if (this.$store.state.internalAlert.type != 'only-vip-can-do') {
                    window.history.back();
                }
                
                this.$store.dispatch('setInternalAlert', {
                    type: '',
                    data: '',
                    message: ''
                })
            },
            onScroll(e) {
                this.scrollTop = e.srcElement.scrollingElement.scrollTop;
                if (e.srcElement.scrollingElement.scrollTop + e.srcElement.scrollingElement.clientHeight >= e.srcElement.scrollingElement.scrollHeight - 150) {
                    if (this.$route.name == 'home' || this.$route.name == 'timelines') {
                        this.$refs.routerView.loadMore();
                    }
                }
            },
            swipeDown() {
                if (this.scrollTop <= 0) {
                    if (this.$route.name == 'home' || this.$route.name == 'timelines'
                        || this.$route.name == 'likes' || this.$route.name == 'histories'
                        || this.$route.name == 'messages') {
                        this.$refs.routerView.swipeDown();
                    }
                }
            },
            getModalDialogMessage() {
                return this.$store.state.internalAlert.message;
            },
            getUserID() {
                return this.$store.state.internalAlert.userID;
            },
            registerSnapshot() {
                let self = this;
                setTimeout(function() {
                    self.unsubscribe =  db.collection("users").doc(self.$store.state.auth.user.provider_unique_id)
                    .onSnapshot(function(doc) {
                        if (doc.data().updateTarget == 'messages') {
                            if (self.$route.name != doc.data().updateTarget) {
                                let footerBadge = self.$store.state.footerBadge;
                                footerBadge.message = true;
                                self.$store.dispatch('setFooterBadge', footerBadge);
                            }
                        }

                        if (doc.data().updateTarget == 'likes') {
                            if (self.$route.name != doc.data().updateTarget) {
                                let footerBadge = self.$store.state.footerBadge;
                                footerBadge.like = true;
                                self.$store.dispatch('setFooterBadge', footerBadge);
                            }
                        }

                        if (doc.data().updateTarget != '') {
                            let updateTarget = doc.data().updateTarget

                            helper.authUser().then(response => {
                                self.$store.dispatch('setAuthUserDetail',{
                                    avatar: response.profile.avatar,
                                    profile: response.profile,
                                    user: response.user
                                });


                                if (self.$route.name == 'messages') {
                                    self.$refs.routerView.loadChatrooms();
                                } else if (self.$route.name == 'likes') {
                                    self.$refs.routerView.loadLikes();
                                } else if (self.$route.name == 'histories') {
                                    self.$refs.routerView.loadHistories();
                                } else if (self.$route.name == 'profile_detail') {
                                    self.$refs.routerView.loadUser();
                                } else if (self.$route.name == 'timeline_detail') {
                                    self.$refs.routerView.loadTimeline();
                                } else if (self.$route.name == 'sent_likes') {
                                    self.$refs.routerView.loadLikes();
                                } else if (updateTarget == 'system_alert_type1') {
                                    if (self.$store.state.auth.user.alert_viewed == 0) {
                                        self.$store.dispatch('setInternalAlert', {
                                            type: 'system-alert',
                                            data: 1
                                        });
                                    }
                                } else if (updateTarget == 'system_alert_type2') {
                                    self.$store.dispatch('setInternalAlert', {
                                        type: 'system-alert',
                                        data: 2
                                    });
                                }
                            });

                            db.collection('users').doc(self.$store.state.auth.user.provider_unique_id).update({
                                updateTarget: ''
                            });
                        }
                    });

                    database.ref('users/' + self.$store.state.auth.user.provider_unique_id).on('value', function(snapshot) {
                        if (snapshot.val() && snapshot.val().status == 'has_alert_notification') {
                            self.$store.dispatch('setInternalAlert', {
                                type: 'show-alert-notification',
                                data: 1
                            });

                            database.ref('users/' + self.$store.state.auth.user.provider_unique_id).update({
                                status: ''
                            })
                        }
                        // snapshot.forEach(function(childSnapshot) {
                        //     returnArr.push(childSnapshot.val());
                        //     // Fill the local data property with Firebase data
                        //     // self.lists = returnArr;
                        //     console.log(returnArr);
                        // });
                    })
                }, 1000);
                window.addEventListener('scroll', this.onScroll)
            },
            async loadInitData() {
                this.isLoading = true;                
                let response = await helper.authUser();

                this.$store.dispatch('setAuthUserDetail',{
                    first_name: response.profile.first_name,
                    last_name: response.profile.last_name,
                    email: response.user.email,
                    avatar: response.profile.avatar,
                    status: response.user.status,
                    is_admin: response.user.is_admin,
                    profile: response.profile,
                    user: response.user
                });

                this.checkURL();
                this.registerSnapshot();
            },
            beforeUnload() {
                axios.post('/api/auth/leave')
            },
            IOSInterval() {
                if (navigator.onLine == false && this.isOffline == false) {
                    axios.post('/api/auth/leave')
                    this.isOffline = true
                }
            }
        },
        computed: {
            showModalDialog() {
                return this.$store.state.internalAlert.type == 'block-user-dialog';
            },
            showMessageTopDialog() {
                return this.$store.state.internalAlert.type == 'message-top-dialog';
            },
            showAgeApprovalDialog() {
                if (this.$store.state.internalAlert.type == 'age-need-approval') {
                    this.modalMessage = this.$store.state.internalAlert.message
                    return true;
                }
                return false;
            },
            showCreditCardFormDialog() {
                if (this.$store.state.internalAlert.type == 'age-need-credit-card') {
                    //this.modalMessage = this.$store.state.internalAlert.message
                    return true;
                }
                return false;
            },
            showImageNeedDialog() {
                return this.$store.state.internalAlert.type == 'need-image-upload';
            },
            showPlanUpDialog() {
                if (this.$store.state.internalAlert.type == 'need-plan-up') {
                    this.modalMessage = this.$store.state.internalAlert.message
                    return true;
                }
                return false;
            },
            currentPlan() {
                return this.$store.state.auth.profile.gender == 1 ? this.$store.state.auth.profile.membership.type : undefined
            },
            showVipCanDoDialog() {
                return this.$store.state.internalAlert.type == 'only-vip-can-do';
            },
            showLikeLimitDialog() {
                return this.$store.state.internalAlert.type == 'like-limit';
            },
            showSystemAlert() {
                if (this.$store.state.internalAlert.type == 'system-alert') {
                    this.systemAlertType = this.$store.state.internalAlert.data
                    if (this.systemAlertType === 1) {
                        this.systemAlertContent = this.$store.state.auth.user.lastAdminReport ? this.$store.state.auth.user.lastAdminReport.content : ''
                    }
                    return true;
                }
                return false;
            },
            showAlertNotification() {
                return this.$store.state.internalAlert.type === 'show-alert-notification'
            },
            showNeedPointPurchase() {
                return this.$store.state.internalAlert.type == 'need-point-purchase';
            }
        },
        async created() {
            this.$store.dispatch('setInternalAlert', {
                type: '',
                data: '',
                message: ''
            })

            helper.authUser().then(response => {
                this.$store.dispatch('setAuthUserDetail',{
                    avatar: response.profile.avatar,
                    profile: response.profile,
                    user: response.user
                });
            });

            var isOnIOS = navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPhone/i);
            var isMacOS = navigator.userAgent.match(/Mac OS/i) || navigator.userAgent.match(/Mobile/i);
            var eventName = isMacOS ? "pagehide" : "beforeunload";

            // if (isOnIOS) {
            //     this.offlineInterval = setInterval(this.IOSInterval, 3000)
            // } else {
            //     window.addEventListener(eventName, this.beforeUnload)
            // }
            window.addEventListener(eventName, this.beforeUnload)
        },
        watch:{
            $route (to, from) {
                if (!((to.name === 'profile_detail' && from.name === 'likes') || (to.name === 'likes' && from.name === 'profile_detail'))) {
                    window.localStorage.removeItem('history_last_page_index');
                    window.localStorage.removeItem('mysent_last_page_index');
                    window.localStorage.removeItem('likes_last_page_index');
                }
                this.checkURL();
            }
        },
        async mounted() {
            $('body').addClass("fix-header fix-sidebar card-no-border");
            $("body").trigger("resize");
            $(".fix-header .topbar").stick_in_parent();
            $('.scroll-sidebar').slimScroll({
                position: 'left'
                , size: "5px"
                , height: '100%'
                , color: '#dcdcdc'
            });
            $('.message-scroll').slimScroll({
                position: 'right'
                , size: "5px"
                , height: '570'
                , color: '#dcdcdc'
            });

            if(!this.getAuthUser('email')) {
                await this.loadInitData();
            } else {
                this.checkURL();
                this.registerSnapshot();
            }
        },
        beforeDestroy() {
            if (this.unsubscribe) this.unsubscribe();
            if (this.offlineInterval) clearInterval(this.offlineInterval);

            window.removeEventListener('scroll', this.onScroll);
        }
    }
</script>
