<template>
    <header class="static-header">
		<img src="/assets/logo_search.png" v-if="label == 'さがす'" class="search-logo" alt="image"/>
		<p class="bold-title" v-else>{{label}}</p>
		<img src="/assets/top_search.svg" v-if="hasSearch" class="search-icon" @click="clickSearch" alt="image"/>
		<img src="/assets/reload.png" v-if="needShowReload" class="reload-icon" @click="reload" alt="image" />
        <span class="filter-no-reply" v-if="label === 'メッセージ'" @click="changeFilter">{{ filterNotReplyLabel }}</span>
    </header>
</template>

<script>
    import helper from '../services/helper'
    
    export default {
        props: ['label', 'hasSearch'],
        mounted() {
        },
        methods : {
            clickSearch() {
                this.$store.dispatch('setFilters', Object.assign({}, this.$store.state.appliedFilters));
                this.$router.push({ name: 'search_filter' })
            },
            reload() {
                this.$emit('reload');
            },
            changeFilter() {
                if (this.$store.state.filterMessageNotReply === undefined) {
                    this.$store.dispatch('setFilterMessageNotReply', true);
                }
                this.$store.dispatch('setFilterMessageNotReply', !this.$store.state.filterMessageNotReply)
            }
        },
        computed: {
            needShowReload() {
                return (this.label == '募集' || this.label == 'メッセージ')
            },
            filterNotReplyLabel() {
                return (this.$store.state.filterMessageNotReply && this.$store.state.filterMessageNotReply === true) ? '★全て表示' : '未返信のみ';
            }
        }
    }
</script>