<template>
	<footer class="front-footer">
        <router-link :to="{ name: 'home' }" :class="searchClass">
            ホーム
        </router-link>
        <router-link to="/timelines" :class="timelineClass">
            募集
        </router-link>
        <router-link to="/likes" :class="likeClass">
            いいね
            <span class="footer-badge" v-if="likeBadge" />
        </router-link>
        <router-link to="/messages" :class="messageClass">
            メッセージ
            <span class="footer-badge" v-if="messageBadge" />
        </router-link>
        <router-link to="/mypage" :class="mypageClass">
            マイページ
            <span class="footer-badge" v-if="mypageBadge" />
        </router-link>
    </footer>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        mounted() {
            
        },
        computed: {
            searchClass() {
                return this.$store.state.currentPath == '/search' ? 'tab-search selected' : 'tab-search ';
            },
            timelineClass() {
                return this.$store.state.currentPath == '/timelines' ? 'tab-timeline selected' : 'tab-timeline ';
            },
            likeClass() {
                return (this.$store.state.currentPath == '/likes' || this.$store.state.currentPath == '/histories') ? 'tab-like selected' : 'tab-like ';
            },
            messageClass() {
                return this.$store.state.currentPath == '/messages' ? 'tab-message selected' : 'tab-message';
            },
            mypageClass() {
                return this.$store.state.currentPath == '/mypage' ? 'tab-mypage selected' : 'tab-mypage ';
            },
            likeBadge() {
                return this.$store.state.footerBadge.like;
            },
            messageBadge() {
                return this.$store.state.footerBadge.message;
            },
            mypageBadge() {
                return this.$store.state.footerBadge.mypage;
            }
        }
    }
</script>