<template>
    <div>
    	<router-view></router-view>
        <div class="extra-footer" v-if="showFooter">
        <!--
            <div>
                <router-link :to="{name: 'commercial'}">特商法</router-link>
                <span>｜</span>
                <router-link :to="{name: 'terms_of_use'}">利用規約</router-link>
                <span>｜</span>
                <router-link :to="{name: 'privacy'}">プライバシーポリシー</router-link>
            </div>
        -->
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isLogin: false,
                showFooter: true
            }
        },
        methods : {
            notification(){
                toastr.options = {
                    "positionClass": "toast-top-right"
                };

                $('[data-toastr]').on('click',function(){
                    var type = $(this).data('toastr'),message = $(this).data('message'),title = $(this).data('title');
                    toastr[type](message, title);
                });
            },
            checkURL() {
                let path = this.$route.path;
                this.isLogin = path == '/login';

                this.showFooter = path != '/terms' && path != '/privacy' && path != '/relax' && path != '/commercial' && path != '/help' && path != '/ask';
            }
        },
        watch:{
            $route (to, from){
                this.checkURL();
            }
        },
        mounted() {
        	$('body').removeClass('fix-header fix-sidebar card-no-border');
            this.notification();
            this.checkURL();
        },
        destroyed(){
        }
    }
</script>
<style lang="scss" scoped>
.extra-footer {
    position: fixed;
    bottom: 0px;
    left: calc(50% - 320px);
    width: 100%;
    max-width: 640px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    font-size: 12px;

    a,
    a:hover {
        width: auto;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
    }

    span {
        width: 1px; 
        height: 10px;
        margin-top: 15px;
    }
}

@media (max-width: 640px) {
    .extra-footer {
        left: 0;
    }
}
</style>