<template>
    <div id="main-wrapper" class="front-wrapper">
        <router-view></router-view>
        <TheLoading v-if="isLoading == true" />
    </div>
</template>


<script>
    import TheLoading from "../views/modals/TheLoading"
    import helper from '../services/helper'
    export default {
        data() {
            return {
                isLoading: false
            }
        },
        methods : {
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            },
            checkActivateStatus(status) {
                if (status == 'activated_profile') {
                    this.$router.push({ name: 'home' });
                } else {
                    this.$router.push({ name: 'profile_step1' });
                }
            }
        },
        components: {
            TheLoading
        },
        created() {
        },
        mounted() {
            if(!this.getAuthUser('email')){
                this.isLoading = true;
                helper.authUser().then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        first_name: response.profile.first_name,
                        last_name: response.profile.last_name,
                        email: response.user.email,
                        avatar:response.profile.avatar,
                        status: response.user.status,
                        is_admin: response.user.is_admin,
                        profile: response.profile,
                        user: response.user
                    });

                    this.checkActivateStatus(response.user.status);
                });
            } else {
                this.checkActivateStatus(this.$store.state.auth.status);
            }
        }
    }
</script>
