<template>
    <div id="main-wrapper" class="header-container no-padding">
        <TheRegisterHeader :label="headerLabel" :step="`${progress}%`" borderClass="no-border" :backPageName="backPageName" icon="back"  />

        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>


<script>
    import TheRegisterHeader from "./the-register-header"
    import helper from '../services/helper'
    export default {
        data() {
            return {
                progress: 0,
                backPageName: '',
                headerLabel: ''
            }
        },
        methods : {
            notification(){
                toastr.options = {
                    "positionClass": "toast-top-right"
                };

                $('[data-toastr]').on('click',function(){
                    var type = $(this).data('toastr'),message = $(this).data('message'),title = $(this).data('title');
                    toastr[type](message, title);
                });
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            },
            checkURL() {
                let path = this.$route.path;
                this.$store.dispatch('updateCurrentPath', path);
                
                this.headerLabel = 'プロフィール登録';
                let gender = this.$store.state.auth.profile.gender;
                if (path.includes('step1')) {
                    this.progress = 25;
                    this.backPageName = '';
                } else if (path.includes('step2')) {
                    this.progress = 50;
                    this.backPageName = 'profile_step1';
                } else if (path.includes('step3')) {
                    this.progress = 75;
                    this.backPageName = 'profile_step2';
                } else if (path.includes('step4')) {
                    this.progress = gender == 1 ? 50 : 80;
                    this.backPageName = 'profile_step3';
                } 
                else if (path.includes('step6')) {
                    this.progress = 100;
                    this.backPageName = 'profile_step3';
                }
            }
        },
        components: {
            TheRegisterHeader
        },
        created() {
            if(!this.getAuthUser('email')) {
                this.$router.push({ name: 'home' });
            } else {
                this.checkURL();
            }
        },
        watch:{
            $route (to, from){
                this.checkURL();
                window.scrollTo(0, 0);
            }
        },
        mounted() {
            $('body').addClass("fix-header fix-sidebar card-no-border");
            $("body").trigger("resize");
            $(".fix-header .topbar").stick_in_parent();
            $('.scroll-sidebar').slimScroll({
                position: 'left'
                , size: "5px"
                , height: '100%'
                , color: '#dcdcdc'
            });
            $('.message-scroll').slimScroll({
                position: 'right'
                , size: "5px"
                , height: '570'
                , color: '#dcdcdc'
            });

            this.checkURL();
        }
    }
</script>
