<template>
	<aside class="left-sidebar">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li>
                        <router-link :to="{ name: 'admin_home' }" exact><i class="fa fa-home"></i> <span class="hide-menu">ダッシュボード</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_users' }" exact><i class="fa fa-users"></i> <span class="hide-menu">会員一覧</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_static' }" exact><i class="fa fa-line-chart"></i> <span class="hide-menu">アフィ一覧</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_users_image_approve'}" exact><i class="fa fa-user"></i> <span class="hide-menu">プロフ写真承認</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_users_age_approve' }" exact><i class="fa fa-tasks"></i> <span class="hide-menu">本人確認提出</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_timelines' }" exact><i class="fa fa-book"></i> <span class="hide-menu">募集一覧</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_profiles' }" exact v-if="me.is_admin != 3"><i class="fa fa-users"></i> <span class="hide-menu">プロフィール確認</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_all_messages' }" exact v-if="me.is_admin != 3"><i class="fa fa-comments"></i> <span class="hide-menu">メッセージ一覧</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_reports' }" exact v-if="me.is_admin == 1"><i class="fa fa-exclamation-triangle"></i> <span class="hide-menu">通報一覧</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_report_ranks' }" exact v-if="me.is_admin == 1"><i class="fa fa-exclamation-triangle"></i> <span class="hide-menu">通報ランキング</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_block_users' }" exact v-if="me.is_admin == 1"><i class="fa fa-users"></i> <span class="hide-menu">ブロックリスト</span></router-link>
                    </li>
                    <!-- <li>
                        <router-link :to="{ name: 'admin_user_points' }" exact><i class="fa fa-money"></i> <span class="hide-menu">購入リスト</span></router-link>
                    </li> -->
                    <li>
                        <router-link :to="{ name: 'admin_notifications' }" exact v-if="me.is_admin == 1"><i class="fa fa-bell"></i> <span class="hide-menu">お知らせ</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_settings' }" exact v-if="me.is_admin == 1"><i class="fa fa-cog"></i> <span class="hide-menu">設定</span></router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'admin_telecom' }" exact v-if="me.is_admin == 1"><i class="fa fa-jpy"></i> <span class="hide-menu">売上集計</span></router-link>
                    </li>
                    <li>
                        <a href="#" @click.prevent="logout"><i class="fa fa-power-off"></i> <span class="hide-menu">ログアウト</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- <div class="sidebar-footer">
            <router-link to="/configuration" class="link" data-toggle="tooltip" title="Configuration"><i class="fa fa-cogs"></i></router-link>
            <router-link to="/profile" class="link" data-toggle="tooltip" title="Profile"><i class="fa fa-user"></i></router-link>
            <a href="#" class="link" data-toggle="tooltip" title="Logout" @click.prevent="logout"><i class="fa fa-power-off"></i></a>
        </div> -->
    </aside>
</template>

<script>

    import helper from '../services/helper'

    export default {
        data() {
            return {
                me: this.$store.state.auth.user
            }
        },
        mounted() {
        },
        methods : {
            logout(){
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.replace('/login')
                })
            },
            getAuthUserFullName(){
                return this.$store.getters.getAuthUserFullName;
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            },
            refresh() {
                this.$forceUpdate();
            }
        },
        computed: {
            getAvatar(){
                return '/assets/avatar.svg';
            }
        }
    }
</script>
