<template>
    <div :class="`static-header ${borderClass}`">
        <img class="btn-back" @click="back" :src="`/assets/${icon}.svg`" v-if="backPageName && backPageName != ''" alt="image" />
        <div class="bold-title" @click="open">
            <img :src="avatar" class="avatar" v-if="avatar" alt="image" />
            <p v-html="label"></p>
        </div>
        <div class="step-progress" v-if="step">
            <p :style="`width: ${step}`" />
        </div>
        <span v-if="booking" @click="booking" class="filter-no-reply">{{isCancelRecruitment ? "キャンセル" : "日時の提案"}}</span>
        <img class="btn-header-menu" src="/assets/black_dots.svg" v-if="isShowMenu" @click="e => this.showMenu(e)" alt="image" />
    </div>
</template>

<script>
export default {
    props: ['label', 'step', 'backPageName', 'borderClass', 'icon', 'avatar', 'profileLink', 'isShowMenu', 'booking', 'isCancelRecruitment'],
    mounted() {
    },
    created() {
    },
    methods: {
        back() {
            if (this.backPageName && this.backPageName == 'history.back') {
                window.history.back();
                return;
            }
            if (this.backPageName && this.backPageName != '') {
                this.$router.push({ name: this.backPageName });
            } else {
                window.history.back();
            }
        },
        open() {
            if (this.profileLink && this.profileLink != '') {
                this.$router.push('/user/' + this.profileLink);
            }
        },
        showMenu(e) {
            this.$emit('showMenu', e);
        }
    }
}
</script>