<template>
    <div class="static-header">
        <img class="btn-close" @click="back" src="/assets/close.svg" alt="image" />
        <p class="bold-title">{{label}}</p>
    </div>
</template>

<script>
export default {
    props: ['label'],
    mounted() {
    },
    created() {
    },
    methods: {
        back() {
            window.history.back();
        }
    }
}
</script>