<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="お問合わせ" icon="close" borderClass="" :backPageName="isLoggedIn ? 'guest_help' : 'history.back'" />
        <div class="container">
            <p class="mt-20">ご不明点については、よくある質問をご参照ください</p>
            <router-link :to="{ name: 'guest_help' }" class="btn-main-reverse black mt-20 mb-36">よくある質問へ</router-link>
            <p class="mb-20">
                よくある質問で解決しない場合は以下よりお問合せください。<br/>
                ※ご登録のメールアドレス宛に返信いたします。@drosy.jp からのメールが受信できることをご確認ください。
            </p>
            <p class="label-title mb-10" v-if="isLoggedIn == false">メールアドレス</p>
            <input type="text" name="email" class="form-control mb-10" placeholder="メールアドレス" v-model="email" v-if="isLoggedIn == false" />
            <p class="red-alert mt-10" v-if="invalidEmail">入力されたメールアドレスは登録できない形式です</p>
            <p class="label-title mb-10">カテゴリー</p>
            <v-select :options="questions" v-model="category_id" />
            <p class="label-title mt-10 mb-5">内容</p>
            <textarea class="form-control" rows="10" placeholder="お問合せ内容をご記入ください※10-400文字以内" v-model="content"></textarea>
            <button :class="getButtonClass()" :disabled="this.getButtonClass().includes('disabled')" @click="send">送信する</button>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
        </div>
        <TheLoading v-if="isLoading" />
        <TheMessageDialog
            v-if="showMessageDialog"
            icon=""
            title="お問合せ送信完了"
            message="ご登録のメールアドレスへご連絡いたします"
            :confirmTitle="isLoggedIn ? 'よくある質問へ' : 'ホームへ戻る'"
            @confirm="confirm"
            @cancel="confirm" />

        <TheConfirmTwoButtons
            v-if="showConfirmDialog"
            @confirm="confirmSend"
            @cancel="showConfirmDialog = false"
            @back="showConfirmDialog = false"
            title="お問合せの内容"
            :message="content"
            confirmTitle="この内容で送信する" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import TheMessageDialog from "../../../modals/TheMessageDialog"
    import VSelect from '@alfsnd/vue-bootstrap-select'
    import TheConfirmTwoButtons from "../../../modals/TheConfirmTwoButtons"

    export default {
        data(){
            return {
                isLoading: false,
                showMessageDialog: false,
                category_id: {
                    text: '',
                    value: -1
                },
                content: '',
                questions: this.$store.state.questions.map(item => {
                    return {
                        text: item.name,
                        value: item.id
                    }
                }),
                isLoggedIn: this.$store.state.auth.email != '',
                email: '',
                showConfirmDialog: false,
                invalidEmail: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            TheMessageDialog,
            VSelect,
            TheConfirmTwoButtons
        },
        mounted() {
            window.scrollTo(0, 0);

            if (this.$store.state.questions.length == 0) {
                axios.post('/api/questions')
                .then(response => {
                    this.$store.dispatch('setQuestions', response.data.data)
                    this.questions = response.data.data
                    this.$forceUpdate()
                })
            }
        },
        methods: {
            getButtonClass() {
                if (this.category_id.value == -1 || this.content == '' || this.content.length < 10 || this.content.length > 400) {
                    return 'btn-main small mt-10 mb-48 disabled';
                }

                if (this.isLoggedIn == false && (this.email.trim() == '' || this.validateEmail(this.email.trim()) == false)) {
                    if (this.email.trim() != '') this.invalidEmail = true;

                    return 'btn-main small mt-10 mb-48 disabled';
                }

                this.invalidEmail = false;

                return 'btn-main small mt-10 mb-48';
            },
            confirmSend() {
                this.isLoading = true;
                this.showConfirmDialog = false;
                axios.post('/api/question/ask', {
                    category_id: this.category_id.value,
                    content: this.content,
                    email: this.email,
                    category: this.category_id.text
                }).then(response => {
                    this.isLoading = false;
                    this.showMessageDialog = true;
                }).catch(error => {
                    this.isLoading = false;
                })
            },
            send() {
                this.showConfirmDialog = true
            },
            confirm() {
                this.showMessageDialog = false;
                if (this.isLoggedIn)
                    this.$router.push({ name: 'guest_help' });
                else
                    window.location.href = "/";
            },
            validateEmail(email) {
                var re = /^[a-zA-Z]+(([^<>()\[\]\\!@#$%^&*+-.,;:\s@"]+(\.[^<>()\[\]\\!@#$%^&*+-.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

                return re.test(String(email).toLowerCase());
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
