<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="料金編集" borderClass="" backPageName="history.back" icon="back" />
        <div class="container">
            <p class="timeline_add_content_title"></p>
            <div class="row mb-12">
                <div class="col-md-9 col-sm-9"><v-select :options="costs" v-model="cost" /></div>
                <div class="col-md-3 col-sm-3 h5 mt-10"> / 30分</div>
            </div>
            <button :class="getButtonClass()" @click="saveData" type="button" :disabled="this.getButtonClass().includes('disabled')">保存</button>
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    //import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import VSelect from '@alfsnd/vue-bootstrap-select'

    export default {
        data(){
            return {
                isLoading: false,
                isLoggedIn: this.$store.state.auth.email != '',
                costs: this.$store.state.costs.map(item => {
                    return {
                        text: item.name,
                        value: item.points
                    }
                }),
                cost: {
                    text: this.$store.state.auth.profile.cost > 0 
                            ? this.$store.state.auth.profile.cost+'P' : '',
                    value: this.$store.state.auth.profile.cost
                },
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            VSelect,
        },
        created() {
           this.getCosts();
        },
        mounted() {
        },
        methods: {
            getCosts() {
                if (this.$store.state.costs.length == 0) {
                    axios.post('/api/point/costs')
                        .then(response => {
                            this.$store.dispatch('setCosts', response.data.data);
                            this.costs = response.data.data;
                            this.refreshCosts();
                        })
                }      
            },
            getButtonClass() {
                if (this.cost.value == 0) {
                    return 'btn-main mt-10 mb-20 disabled';
                }

                return 'btn-main green mt-10 mb-20';
            },
            refreshCosts() {
                this.costs = this.$store.state.costs.map(item => {
                    return {
                        text: item.name,
                        value: item.points
                    }
                })
            },
            saveData() {
                this.isLoading = true;
                axios.post('/api/point/save', {
                    cost: this.cost.value
                }).then(response => {
                    this.isLoading = false;
                    if(response.data.status) {
                        this.$router.push({ name: 'mypage' });
                    }
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })
            },
        },
        computed: {
        },
    }
</script>
<style>
</style>
