<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="お振込み口座設定" borderClass="" backPageName="history.back" icon="back" />
        <div class="container">
            <p class="timeline_add_content_title"></p> 
           <div class="row mb-12">
                <div class="col-md-9 col-sm-9"><input type="text" v-model="bank_name" class="form-control" placeholder="銀行名" /></div>
                <div class="col-md-3 col-sm-3 h5 mt-10">銀行</div>
            </div>
            <div class="row mb-12">
                <div class="col-md-5 col-sm-5"><input type="text" v-model="branch_name" class="form-control" placeholder="支店名" /></div>
                <div class="col-md-2 col-sm-2 h5 mt-10">支店</div>
                <div class="col-md-5 col-sm-5"><input type="text" v-model="branch_code" class="form-control" placeholder="支店番号" /></div>
            </div>
             <div class="row mb-12">
                <div class="col-md-12 col-sm-12"><input type="text" v-model="account_number" class="form-control" placeholder="口座番号" /></div>
            </div>
             <div class="row mb-12">
                <div class="col-md-12 col-sm-12"><input type="text" v-model="account_name" class="form-control" placeholder="口座名義" /></div>
            </div>
            <button :class="getButtonClass()" @click="saveData" type="button" :disabled="this.getButtonClass().includes('disabled')">保存</button>
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    //import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import VSelect from '@alfsnd/vue-bootstrap-select'

    export default {
        data(){
            return {
                isLoading: false,
                isLoggedIn: this.$store.state.auth.email != '',
                costs: this.$store.state.costs.map(item => {
                    return {
                        text: item.name,
                        value: item.points
                    }
                }),
                bank_name: this.$store.state.auth.user.bank ? this.$store.state.auth.user.bank.bank_name : '',
                branch_code: this.$store.state.auth.user.bank ? this.$store.state.auth.user.bank.branch_code : '',
                account_number: this.$store.state.auth.user.bank ? this.$store.state.auth.user.bank.account_number : '',
                account_name: this.$store.state.auth.user.bank ? this.$store.state.auth.user.bank.account_name : '',
                branch_name: this.$store.state.auth.user.bank ? this.$store.state.auth.user.bank.branch_name : '',
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            VSelect,
        },
        created() {
           this.getCosts();
        },
        mounted() {
        },
        methods: {
            getCosts() {
                if (this.$store.state.costs.length == 0) {
                    axios.post('/api/point/costs')
                        .then(response => {
                            this.$store.dispatch('setCosts', response.data.data);
                            this.costs = response.data.data;
                            this.refreshCosts();
                        })
                }      
            },
            getButtonClass() {
                if (this.bank_name == "" || this.branch_code == "" || this.account_number == ""
                     || this.account_name == "" || this.branch_name == "") {
                    return 'btn-main mt-10 mb-20 disabled';
                }

                return 'btn-main green mt-10 mb-20';
            },
            refreshCosts() {
                this.costs = this.$store.state.costs.map(item => {
                    return {
                        text: item.name,
                        value: item.points
                    }
                })
            },
            saveData() {
                this.isLoading = true;
                axios.post('/api/point/save-banks', {
                    bank_name: this.bank_name,
                    branch_code: this.branch_code,
                    account_number: this.account_number,
                    account_name: this.account_name,
                    branch_name: this.branch_name,
                }).then(response => {
                    this.isLoading = false;
                    if(response.data.status) {
                        this.$router.push({ name: 'mypage' });
                    }
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })
            },
        },
        computed: {
        },
    }
</script>
<style>
</style>
