<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="ヘルプ" borderClass="" :backPageName="isLoggedIn ? 'mypage' : 'history.back'" :icon="isLoggedIn ? 'back' : 'close'" />
        <div class="container">
            <p class="label-title lg mt-20 mb-10">よくある質問</p>
            <div class="all-questions">
                <div class="category" v-for="(questionCategory, qInd) in questions" :key="qInd" v-if="questionCategory.questions.length > 0">
                    <p class="category-title mb-16" @click="toggleCategory(qInd)">{{questionCategory.name}}</p>
                    <div class="questions" v-if="questionCategory.showQuestions == true">
                        <div class="question mb-16" v-for="(question, ind) in questionCategory.questions" :key="ind">
                            <p class="question-title" @click="toggleQuestion(qInd, ind)">Q.{{question.content}}</p>
                            <pre class="answer" v-html="question.answer.content" v-if="question.showAnswer == true"></pre>
                        </div>
                    </div>
                </div>
            </div>
            <router-link :to="{ name: 'guest_ask' }" class="btn-main-reverse black mt-36">問い合わせ</router-link>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                isLoading: false,
                questions: this.$store.state.questions,
                isLoggedIn: this.$store.state.auth.email != ''
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading
        },
        created() {
            if (this.$store.state.questions.length == 0) {
                axios.post('/api/questions')
                .then(response => {
                    this.$store.dispatch('setQuestions', response.data.data)
                    this.questions = response.data.data

                    this.refreshQuestions();
                })
            } else {
                this.refreshQuestions();
            }
        },
        mounted() {
        },
        methods: {
            toggleCategory(categoryIndex) {
                this.questions[categoryIndex].showQuestions = !this.questions[categoryIndex].showQuestions;
                this.$forceUpdate();
            },
            toggleQuestion(categoryIndex, questionIndex) {
                this.questions[categoryIndex].questions[questionIndex].showAnswer = !this.questions[categoryIndex].questions[questionIndex].showAnswer;
                this.$forceUpdate();
            },
            refreshQuestions() {
                this.questions = this.questions.map(category => {
                    category.questions = category.questions.map(question => {
                        question.showAnswer = false;
                        return question;
                    })
                    category.showQuestions = false;
                    return category;
                })
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
