<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="年齢確認" borderClass="" backPageName="mypage" icon="back" />
        <div class="about-container mypage-identity">
            <p class="container identity-top-text mt-20 mb-20">「身分証明書」による<br/>年齢確認をお願いします</p>
            <div class="container mt-10 mb-20">
                <p class="mypage-identity-title mb-15">以下いずれかの写真をお送りください</p>
                <div class="identity-about mb-20">
                    <div class="item">
                        <p class="mb-5">運転免許証</p>
                        <img src="/assets/license.svg" alt="image" />
                    </div>
                    <div class="item">
                        <p class="mb-5">パスポート</p>
                        <img src="/assets/passport.svg" alt="image" />
                    </div>
                    <div class="item">
                        <p class="mb-5">健康保険証</p>
                        <img src="/assets/identity_card.svg" alt="image" />
                    </div>
                </div>

                <!--<p class="mt-16">※マイナンバー通知カードは無効</p>-->
                <p class="mypage-identity-title mb-15">年齢確認に必要な4つの情報</p>
                <p class="mt-10">
                    ・姓名（カナ）<br/>
                    ・生年月日または年齢<br/>
                    ・証明書のは発行元名称<br/>
                    ・有効期限（保険証は表記がある場合）
                </p>
                <p class="identity-guide mt-15">
                    ※ご登録の年齢と提出書類と異なる場合、公的証明書の年齢が適用されます<br/>
                    ※確認に必要のない項目は隠していただいて構いません
                </p>
            </div>
            <div class="mt-20 identity-images">
                <div class="item"><img src="/assets/identity_card_lg01.png" alt="image" /></div>
                <div class="item"><img src="/assets/identity_card_lg02.png" alt="image" /></div>
                <div class="item"><img src="/assets/identity_card_lg03.png" alt="image" /></div>
            </div>
            <!--
            <p class="mypage-identity-title">以下の画像は審査対象外となります</p>
            <div class="container mt-10 mb-20">
                <div class="identity-about">
                    <div class="item">
                        <p class="mb-5">証明書のコピー</p>
                        <img src="/assets/identity_card_lg04.svg" class="large" alt="image" />
                    </div>
                    <div class="item">
                        <p class="mb-5">書類が切れている</p>
                        <img src="/assets/identity_card_lg05.svg" class="large" alt="image" />
                    </div>
                </div>
            </div>
            -->
            <div class="container">
                <p class="identity-guide mb-30">
                    １営業日以内に完了し、メールとマイページにてお知らせいたします
                </p>
                <input type="file" class="hidden" ref="identityPhoto" @change="previewPhoto" />
                <button type="button" class="btn-main small mb-20" @click="upload">証明書の写真を送る</button>
            </div>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
        </div>
        <TheLoading v-if="isLoading" />
        <TheMessage
            message="送信ありがとうございます。１営業日以内にメールとマイページにてお知らせいたします。"
            message_sub="「マイページ > 年齢確認」でご確認ください"
            title="身分証明書の送信完了"
            @cancel="cancel"
            v-if="showMessage" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import TheMessage from "../../../modals/TheMessage"

    export default {
        data(){
            return {
                isLoading: false,
                showMessage: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            TheMessage
        },
        mounted() {
        },
        methods: {
            upload() {
                this.$refs.identityPhoto.click();
            },
            previewPhoto(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                this.isLoading = true;
                let data = new FormData();
                data.append('image', files[0]);
                axios.post('/api/user/identity/upload', data)
                .then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });

                    this.isLoading = false;
                    this.showMessage = true
                }).catch(error => {
                    this.isLoading = false;
                })
            },
            cancel() {
                this.showMessage = false
                this.$router.push({ name: 'mypage' });
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
