<template>
    <div id="wrapper" class="front-container white-back">
        <div class="inner-container">
            <div class="mypage-profile">
                <div class="mypage-profile-avatar">
                    <img :src="getAvatar" alt="image" />
                    <p class="overlay" v-if="showOverlay() != 0"></p>
                    <p v-if="showOverlay() == 1">写真<br/>未登録</p>
                    <p v-if="showOverlay() == 2">写真<br/>申請中</p>
                    <p v-if="showOverlay() == 3">写真<br/>否認</p>
                </div>
                <div class="mypage-profile-info">
                    <p class="nickname">{{auth.profile.nickname}}</p>
                    <router-link :to="{ name: 'mypage_profile' }" class="btn-custom-sm">プロフィール編集</router-link>
                </div>
                <router-link :to="{ name: 'settings' }" class="mypage-profile-setting">
                    設定
                </router-link>
            </div>
        </div>
        <div class="inner-container">
            <div v-if="gender == 1" class="mypage-profile-membership">
                <div class="membership-status" v-if="auth.profile.membership.type == 'vip' || auth.profile.membership.type == 'platium'">
                    <label>会員ランク</label>
                    <span :class="membershipClass">{{auth.profile.membership ? auth.profile.membership.name : '無料会員'}}</span>
                </div>
                <div @click="planUp" class="membership-status has-cursor" v-else>
                    <label>会員ランク</label>
                    <span :class="membershipClass">{{auth.profile.membership ? auth.profile.membership.name : '無料会員'}}</span>
                </div>
                <span class="seperator"></span>
                <router-link class="current-likes" :to="{ name: 'point_purchase' }">
                    <label>ポイント残高</label>
                    <span class="likes">{{auth.profile.points}}pt</span>
                </router-link>
            </div>

            <div v-else class="mypage-profile-membership">
                <!-- <router-link :to="{ name: 'set_vip' }" class="membership-status">
                    <label>VIP設定</label>
                    <span :class="`vip ${auth.profile.is_vip == 1 ? 'on' : 'off'}`">{{auth.profile.is_vip == 1 ? 'ON' : 'OFF'}}</span>
                </router-link>
                <span class="seperator"></span> 
                <div class="current-likes">
                    <label>ポイント残高</label>
                    <span class="likes">無制限</span>
                </div>-->
<!--
                <div class="membership-status">
                    <label>会員ランク</label>
                    <span class="membershipClass">優良会員</span>
                </div>
                <span class="seperator"></span>
                <div class="current-likes">
                    <label>ポイント残高</label>
                    <span class="likes">無制限</span>
                </div>
-->
                <router-link class="membership-status" :to="{ name: 'exchange_point' }">        
                    <label>ポイント残高</label>
                    <span>{{auth.profile.points}}P</span>
                </router-link>
                <span class="seperator"></span>
                <router-link class="membership-status" :to="{ name: 'cost_setting' }">    
                    <label>料金</label>
                    <span> {{auth.profile.cost}}P / 30分</span>
                </router-link>
            </div>

			<div class="mypage-buttons">
				<router-link :to="{ name: 'notifications' }">
					<img src="/assets/alert_bell.svg" alt="image" />
					<p>お知らせ</p>
					<span class="badge" v-if="hasNotificationUnreads"></span>
				</router-link>
				<router-link :to="{ name: 'sent_likes' }">
					<img src="/assets/send_love.svg" alt="image" />
					<p>自分からいいね</p>
				</router-link>
                <router-link :to="{ name: 'favorite_users' }">
					<img src="/assets/star.png" alt="image" />
					<p>お気に入り</p>
				</router-link>
				<router-link v-if="gender == 1" :to="{ name: 'point_purchase' }">
					<img src="/assets/points.svg" alt="image" />
					<p>ポイント購入</p>
				</router-link>
				<router-link :to="{ name: 'my_timeline' }">
					<img src="/assets/timeline_create.svg" alt="image" />
					<p>募集管理</p>
				</router-link>
				<a href="" @click="setPrivate">
					<img src="/assets/private.svg" alt="image" />
					<p>プライベート表示</p>
				</a>
				<router-link :to="{ name: 'guest_help' }">
					<img src="/assets/help.svg" alt="image" />
					<p>ヘルプ</p>
				</router-link>
                <router-link :to="{ name: 'exchange_point' }">
					<img src="/assets/points.svg" alt="image" />
                    <p>ポイント換金</p>
				</router-link>
                <router-link :to="{ name: 'points_history' }">
					<img src="/assets/points.svg" alt="image" />
                    <p>利用履歴</p>
				</router-link>
                <router-link v-if="gender == 2" :to="{ name: 'cost_setting' }">
					<img src="/assets/points.svg" alt="image" />
					<p>料金設定</p>
				</router-link>
			</div>
        </div>
        <div class="inner-container mb-28" v-if="auth.profile.age_approved != 1">
            <div class="mypage-identity">
                <router-link :to="{ name: 'identity' }">
                    <img src="/assets/identity.svg" alt="image" />
                    <div class="content">
                        <label>
                            年齢確認
                            <span class="mypage-identity-confirming-blink" v-if="auth.user.documents.length > 0 && auth.user.profile.age_approved == 0">
                                確認中
                            </span>
                            <span v-else>
                                をしてください
                            </span>
                            <!--
                            {{ (auth.user.documents.length > 0 && auth.user.profile.age_approved == 0) ? '本人認証中' : '本人認証をしてください' }}
                            -->
                        </label>
                        <p v-if="auth.user.documents.length > 0 && auth.user.profile.age_approved == 0">身分証明書を受付けました。１日以内に完了いたします。</p>
                        <p v-else>マッチングアプリをご利用になるには法令により年齢確認が必要です。</p>
                    </div>
                </router-link>
            </div>
        </div>
        <div class="inner-container mb-36">
            <div class="mypage-links">
                <router-link :to="{ name: 'terms_of_use' }">利用規約</router-link>
                <router-link :to="{ name: 'privacy' }">プライバシーポリシー</router-link>
                <router-link :to="{ name: 'relax' }">安全・安心の取り組み</router-link>
                <router-link :to="{ name: 'commercial' }">特定商取引に基づく表示</router-link>
            </div>
        </div>
        <TheLoading v-if="isLoading == true" />
        <TheMessage
            title="ポイント購入完了"
            message="ポイントが追加されました"
            message_sub="「マイページ」でポイント残高が確認できます"
            @cancel="showPointDialog = ''"
            v-if="showPointDialog != ''" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheLoading from "../../../modals/TheLoading"
    import TheMessage from "../../../modals/TheMessage"

    export default {
        data(){
            return {
                isLoading: false,
                auth: this.$store.state.auth,
                gender: this.$store.state.auth.profile.gender,
                hasNotificationUnreads: this.$store.state.notification.hasUnreads,
                profile: this.$store.state.auth.profile,
                showPointDialog: ''
            }
        },
        components: {
            TheLoading, TheMessage
        },
        mounted() {
            let badge = this.$store.state.footerBadge;
            badge.mypage = false;
            this.$store.dispatch('setFooterBadge', badge);

            this.loadNotifications();

            window.localStorage.removeItem('timeline_last_view_page');
            window.localStorage.removeItem('like_last_view_page');
            window.localStorage.removeItem('notification_last_view_page');
            window.localStorage.removeItem('block_last_view_page');
            window.localStorage.removeItem('favorite_last_view_page');
            window.localStorage.removeItem('notification_scroll_top');
            window.localStorage.removeItem('timeline_scroll_top');

            this.$nextTick(function () {
                window.scrollTo(0, 0);
            })

            if (window.localStorage.getItem('point_purchased')) {
                this.showPointDialog = window.localStorage.getItem('point_purchased')
                window.localStorage.removeItem('point_purchased')
            }
        },
        methods: {
            loadNotifications() {
                axios.post('/api/notifications')
                .then(response => {
                    this.$store.dispatch('setNotification', response.data.data)
                    this.hasNotificationUnreads = response.data.data.hasUnreads
                })

                helper.authUser()
                .then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        profile: response.profile,
                        user: response.user
                    });

                    this.$forceUpdate();
                })
            },
            logout(){
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.replace('/login');
                })
            },
            showOverlay() {
                if (this.profile.gender == 1 && this.profile.membership.type == 'vip' && this.profile.vip_image) return 0;
                
                if (!(this.auth.avatar && this.auth.avatar != '/assets/avatar-male.png' && this.auth.avatar != '/assets/avatar-female.png' && this.auth.avatar != '/assets/avatar.svg')) return 1;
                if (this.$store.state.auth.profile.image_approved == 0) return 2;
                if (this.$store.state.auth.profile.image_approved == 2) return 3;

                return 0;
            },
            planUp() {
                if (this.$store.state.auth.profile.membership.type == 'platium') {
                    this.$router.push({ name: 'membership_vip' });
                } else {
                    this.$router.push({ name: 'membership' });
                }
            },
            setPrivate(e) {
                e.preventDefault();
                e.stopPropagation();
                if (this.profile.gender == 1 && this.profile.membership.type == 'free') return;

                this.$router.push({ name: 'set_private' })
            }
        },
        computed: {
            getAvatar() {
                let avatar = (this.profile.gender == 1 && this.profile.membership.type == 'vip' && this.profile.vip_image) ? this.profile.vip_image.url : this.profile.avatar;

                return avatar ? avatar : (this.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            },
            membershipClass() {
                return this.auth.profile.membership.type;
            }
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          },
          number(price) {
            return helper.formatMoney(price);
          }
        }
    }
</script>
<style>
</style>
