<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="プラチナ会員にランクアップする" borderClass="" backPageName="mypage" icon="back" />
        <div class="container">
            <p class="label-title text-center mt-36 mb-28">VIP 会員になりました</p>
            <div>
                <img src="/assets/vip_img01.svg" class="full-width" alt="image" />
            </div>
            <p class="mt-16 mb-36">
                VIP 専用のプロフィール写真をご利用いただけます。プロフィールに写真を載せたくない場合にご利用ください。
            </p>
            <router-link :to="{ name: 'mypage_profile' }" class="btn-main small mt-36">プロフィールを編集する</router-link>
            <router-link :to="{ name: 'mypage' }" class="btn-main small mt-20 mb-48">マイページに戻る</router-link>
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                isLoading: false,
                selectedMembership: this.$store.state.memberships.filter(item => {
                    return item.type == 'platium';
                })[0],
                card: this.$store.state.auth.user.card,
                showPayDialog: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading
        },
        mounted() {
            window.scrollTo(0, 0);
        },
        methods: {
        },
        filters: {
        },
        computed: {
        },
    }
</script>
<style>
.full-width {
    width: 100%;
}

</style>
