<template>
    <div id="wrapper" class="header-container" v-if="isChecking === false">
        <TheRegisterHeader label="プラチナ会員ランクアップ" borderClass="" backPageName="membership" icon="back" />
        <div class="container">
            <p class="membership-introduction-title text-center mt-20 mb-5">プラチナ会員にランクアップすると<br/>この機能がすべて使えます</p>
            <div class="membership-introduction mb-20">
                <div class="membership-item-list mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/points_black.svg" class="mb-4" alt="image" />
                            <p>無料ポイント<br/>配布</p>
                        </div>
                    </div>
                    <div class="can-text">さらに毎月400ポイントをプレゼントします。無料でさらに多くの女性にアプローチしましょう。</div>
                </div>
                <div class="membership-item-list mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_new_search.svg" class="mb-4" alt="image" />
                            <p>新規登録<br/>女性の検索</p>
                        </div>
                    </div>
                    <div class="can-text">登録24時間以内に加え、登録3日、5日以内の女性も検索できます。会員登録したばかりの女性をさらに遡って探せます。</div>
                </div>
                <div class="membership-item-list mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/message_icon.svg" class="mb-4" alt="image" />
                            <p>メッセージ<br/>既読表示</p>
                        </div>
                    </div>
                    <div class="can-text">送ったメッセージを女性が開封した時に「既読」表示され、会話がスムーズになります。</div>
                </div>
                <div class="membership-item-list mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_private.svg" class="mb-4" alt="image" />
                            <p>プライベート<br/>モード</p>
                        </div>
                    </div>
                    <div class="can-text">「プロフィール検索」「オンライン状況」「足あと」すべて非公開にできます。人に知られず、アプローチしたい女性に絞ってやりとりできます。</div>
                </div>
                <div class="membership-item-list mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_speaker.svg" class="mb-4" alt="image" />
                            <p>通報回数閲覧</p>
                        </div>
                    </div>
                    <div class="can-text">女性会員全員の、他の男性から通報された回数をリアルタイムで見ることができます。悪質な女性利用者を回避できます。</div>
                </div>
            </div>
            <!--
            <div class="membership-paid-plan mb-20">
                <div class="one-line-item">
                    <p class="price"><span class="gold">¥{{selectedMembership.price | number}}</span>/月（税込）</p>
                </div>
            </div>
            -->
            <div class="membership-paid-plan mt-20 mb-20">
                <div class="item" @click="planUp">
                    <p class="plan">1ヶ月<span class="plan-name">プラン</span> <span class="month">{{selectedMembership.price | number}}</span><span class="plan-name">円/月</span></p>
                    <p class="price"><span class="total">{{selectedMembership.price | number}}</span> <span class="unit">円(税込)</span></p>
                    <p class="point-title">無料ポイント毎月<span class="num">{{selectedMembership.points}}pt ({{selectedMembership.points * 6.25}}円分)</span></p>
                </div>
            </div>
            <div class="point-card-subtext mt-20 mb-30">
                <p class="mt-5">・ポイントの有効期限は購入日を含め180日間です</p>
                <p class="mt-5">・ポイントは古いものから順に使用されます</p>
                <p class="mt-5">・サービスの性質上、返品はお受けしておりません</p>
                <p class="mt-5">・価格はすべて税込みです</p>
            </div>
            <!--<button type="button" class="btn-main small mt-36 mb-48" @click="planUp">ランクアップする</button>-->
            <!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
            <form action= "https://secure.telecomcredit.co.jp/inetcredit/adult/order.pl"
            method="POST" class="hidden" ref="cardRegisterForm">
                <input type = "hidden" name = "clientip" v-model="clientIP">
                <input type = "hidden" name = "sendid" v-model="sendid">
                <input type = "hidden" name = "usrmail" v-model="usrmail">
                <input type = "hidden" name = "usrtel" v-model="usrtel">
                <input type = "hidden" name = "sendpass" value="Daddy">
                <input type = "hidden" name = "redirect_url" v-model="url">
            </form>

        </div>
        <TheLoading v-if="isLoading" />
        <TheMembershipPayDialog 
            v-if="showPayDialog"
            :data="selectedMembership"
            :card="card"
            @cancel="cancel"
            @confirm="confirm" />
        <TheMessage
            title="DROSY"
            :message="errorMessage"
            v-if="errorMessage != ''"
            @cancel="errorMessage = ''" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import TheMessage from "../../../modals/TheMessage"
    import TheMembershipPayDialog from "../../../modals/TheMembershipPayDialog"

    export default {
        data(){
            return {
                isLoading: false,
                selectedMembership: this.$store.state.masterData.memberships.filter(item => {
                    return item.type == 'platium';
                })[0],
                card: this.$store.state.auth.user.card,
                showPayDialog: false,
                clientIP: this.$store.state.clientIP,
                url: "https://drosy.jp/mypage/membership/paid",
                usrtel: '',
                usrmail: '',
                sendid: '',
                errorMessage: '',
                checks: 0,
                isChecking: true
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            TheMembershipPayDialog,
            TheMessage
        },
        created() {
            if (this.$store.state.auth.user.profile.membership.type != 'paid') {
                this.$router.push({ name: 'mypage' })
            } else {
                this.isChecking = false
            }
        },
        mounted() {
            window.scrollTo(0, 0);

            if (this.$store.state.auth.user.card && this.$store.state.auth.user.card.sendid != '') {
                this.sendid = this.$store.state.auth.user.card.sendid
                this.usrtel = this.$store.state.auth.user.card.telno
                this.usrmail = this.$store.state.auth.user.card.email
            } else {
                this.sendid = ("000000" + this.$store.state.auth.user.id).slice(-6);
                this.usrtel = ''
                this.usrmail = this.$store.state.auth.user.email
            }

            if (this.$cookies.isKey('platium_id')) {
                this.selectedMembership = this.$store.state.masterData.memberships.filter(item => {
                    return item.type == 'platium';
                })[0]
                this.$cookies.remove('platium_id')

                this.isLoading = true;
                this.checks = 0;
                this.checkTelecomResponse('credit_card');
            }
        },
        methods: {
            checkTelecomResponse(type) {
                if (type == 'credit_card') {
                    let self = this;
                    axios.post('/api/telecom/check', {
                        type: type
                    }).then(response => {
                        let user = response.data.data;

                        this.$store.dispatch('setAuthUserDetail',{
                            email: user.email,
                            avatar: user.profile.avatar,
                            status: user.status,
                            is_admin: user.is_admin,
                            profile: user.profile,
                            user: user
                        });

                        if (user.card && user.card.sendid != '' && user.card.cont != 'processing') {
                            this.card = user.card
                            // self.confirm('purchase');
                            setTimeout(function() {
                                axios.post('/api/pay', {
                                    money: self.selectedMembership.price,
                                    type: 'payment'
                                })
                            }, 30000);

                            self.purchase();
                        } else {
                            this.checks++;
                            if (this.checks > 2) {
                                axios.post('/api/telecom/reset', {
                                    reset: 'no'
                                });
                                // this.errorMessage = "クレジットカード認証に失敗しました。"
                                this.isLoading = false
                            } else {
                                setTimeout(function() {
                                    self.checkTelecomResponse(type)
                                }, 2000);
                            }
                        }
                    }).catch(error => {
                        this.checks++;
                        if (this.checks > 2) {
                            axios.post('/api/telecom/reset', {
                                reset: 'no'
                            });
                            // this.errorMessage = "クレジットカード認証に失敗しました。"
                            this.isLoading = false
                        } else {
                            setTimeout(function() {
                                self.checkTelecomResponse(type)
                            }, 2000);
                        }
                    })
                } else {
                    let self = this;
                    axios.post('/api/telecom/check', {
                        type: type
                    }).then(response => {
                        if (response.data.data == 'yes') {
                            this.purchase();
                        } else if (response.data.data == 'no') {
                            this.errorMessage = "支払いに失敗しました。"
                            this.isLoading = false
                        } else {
                            this.checks++;
                            if (this.checks > 2) {
                                this.errorMessage = "支払いに失敗しました。"
                                this.isLoading = false
                            } else {
                                setTimeout(function() {
                                    self.checkTelecomResponse(type)
                                }, 2000);
                            }
                        }
                    }).catch(error => {
                        this.checks++;
                        if (this.checks > 2) {
                            this.errorMessage = "支払いに失敗しました。"
                            this.isLoading = false
                        } else {
                            setTimeout(function() {
                                self.checkTelecomResponse(type)
                            }, 2000);
                        }
                    })
                }
            },
            planUp() {
                this.showPayDialog = true;
            },
            getButtonClass() {
                if (this.selectedMembership) {
                    return "btn-main small mt-36 mb-48";
                }

                return "btn-main small mt-36 mb-48 disabled";
            },
            purchase() {
                axios.post('/api/membership/upgrade', {
                    membership_id: this.selectedMembership.id
                }).then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });

                    this.$router.push({ name: 'mypage' });
                    this.isLoading = false;
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })
            },
            confirm(type) {
                this.showPayDialog = false;
                if (type == 'add' || type == 'edit') {
                    window.localStorage.setItem('page_from', 'membership_paid');
                    this.$cookies.set('platium_id', this.selectedMembership.id);
                    axios.post('/api/telecom/reset', {
                        reset: 'processing'
                    });
                    // this.$router.push({ name: 'credit_card' });
                    this.$refs.cardRegisterForm.submit();
                } 

                if (type == 'purchase') {
                    this.isLoading = true;
                    axios.post('/api/pay', {
                        money: this.selectedMembership.price,
                        type: 'payment'
                    }).then(response => {
                        if (response.data.data == 'success') {
                            this.checks = 0
                            this.checkTelecomResponse('payment')
                        } else {
                            this.isLoading = false;
                        }
                    }).catch(error => {
                        this.isLoading = false;
                    })
                }
            },
            cancel() {
                this.showPayDialog = false;
            }
        },
        filters: {
            number(price) {
                return helper.formatMoney(price);
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
