<template>
    <div id="wrapper" class="header-container" v-if="isChecking === false">
        <TheRegisterHeader label="有料会員のご案内" borderClass="" backPageName="mypage" icon="back" v-if="this.$store.state.auth.profile.membership.type == 'free'"/>
        <TheRegisterHeader label="プラチナ会員のご案内" borderClass="" backPageName="mypage" icon="back" v-if="this.$store.state.auth.profile.membership.type == 'paid'"/>
        <div class="membership-fv">
            <img src="/assets/membership_top.jpg" alt="image" />
            <p v-if="this.$store.state.auth.profile.membership.type == 'free'">
                会員ランクアップで差をつけて<br/>
                「理想の美女」と出逢う<br/>
                ここは大人の社交場。
            </p>
            <p v-if="this.$store.state.auth.profile.membership.type == 'paid'">
                プラチナ会員で差をつけて<br/>
                「理想の美女」と出逢う<br/>
                ここは大人の社交場。
            </p>
        </div>
        <div class="container">
            <p class="membership-info-title mt-20 mb-20" v-if="this.$store.state.auth.profile.membership.type == 'free'">
                有料会員だけの特典が満載！<br/>大人の余裕で非日常をご自由に
            </p>
            <p class="membership-info-title mt-20 mb-20" v-if="this.$store.state.auth.profile.membership.type == 'paid'">
                プラチナ会員だけの特典が満載！<br/>大人の余裕で非日常をご自由に
            </p>
            <!--
            <div class="membership-info-content">
                <div class="membership-info-list">① メッセージし放題</div>
                <div class="membership-info-guide">マッチングしたお相手と好きなだけどうぞ</div>
            </div>
            <div class="membership-info-content">
                <div class="membership-info-list">② 募集掲示板</div>
                <div class="membership-info-guide">目的に合わせてご自由に投稿いただけます</div>
            </div>
            <div class="membership-info-content">
                <div class="membership-info-list">③ 絞り込み検索</div>
                <div class="membership-info-guide">ご希望のお相手を見つけましょう</div>
            </div>
            <div class="membership-info-content">
                <div class="membership-info-list">④ 新規女性の検索</div>
                <div class="membership-info-guide">登録直後の女性へのアプローチは効果的です</div>
            </div>
            <div class="membership-info-content">
                <div class="membership-info-list">⑤ プライベートモード</div>
                <div class="membership-info-guide">自分の姿を表示させずにご利用いただけます</div>
            </div>
            <div class="membership-info-content mb-30">
                <div class="membership-info-list">⑥ 通報回数の閲覧</div>
                <div class="membership-info-guide">相手女性が通報されているかご確認いただけます</div>
            </div>
            -->
            <div class="membership-introduction">
                <div class="membership-item mb-8">
                    <div class="membership-item-label"></div>
                    <p class="membership-label free">無料会員</p>
                    <p class="membership-label paid">有料会員</p>
                    <p class="membership-label platium">プラチナ</p>
                </div>
                <div class="membership-item mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/points_black.svg" class="mb-4" alt="image" />
                            <p>無料ポイント<br/>配布</p>
                        </div>
                    </div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                </div>
                <div class="membership-item mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_love.svg" class="mb-4" alt="image" />
                            <p>いいねを送る</p>
                        </div>
                    </div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                </div>
                <div class="membership-item mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_timeline.svg" class="mb-4" alt="image" />
                            <p>募集の投稿</p>
                        </div>
                    </div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                </div>
                <div class="membership-item mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_message.svg" class="mb-4" alt="image" />
                            <p>メッセージ<br/>閲覧/送信</p>
                        </div>
                    </div>
                    <div class="can-do"><img src="/assets/membership_no.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                </div>
                <div class="membership-item mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_search.svg" class="mb-4" alt="image" />
                            <p>プロフ検索</p>
                        </div>
                    </div>
                    <div class="can-do"><img src="/assets/membership_no.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                </div>
                <div class="membership-item mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_new_search.svg" class="mb-4" alt="image" />
                            <p>新規登録<br/>女性の検索</p>
                        </div>
                    </div>
                    <div class="can-do"><img src="/assets/membership_no.svg" alt="image" /></div>
                    <div class="can-do special">
                        <img src="/assets/triangle.svg" alt="image" />
                        <span>24時間</span>
                    </div>
                    <div class="can-do special">
                        <img src="/assets/membership_yes.svg" alt="image" />
                        <span>5日間</span>
                    </div>
                </div>
                <div class="membership-item mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/message_icon.svg" class="mb-4" alt="image" />
                            <p>メッセージ<br/>既読表示</p>
                        </div>
                    </div>
                    <div class="can-do"><img src="/assets/membership_no.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_no.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                </div>
                <div class="membership-item mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_private.svg" class="mb-4" alt="image" />
                            <p>プライベート<br/>モード</p>
                        </div>
                    </div>
                    <div class="can-do"><img src="/assets/membership_no.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_no.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                </div>
                <div class="membership-item mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_speaker.svg" class="mb-4" alt="image" />
                            <p>通報回数閲覧</p>
                        </div>
                    </div>
                    <div class="can-do"><img src="/assets/membership_no.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_no.svg" alt="image" /></div>
                    <div class="can-do"><img src="/assets/membership_yes.svg" alt="image" /></div>
                </div>
            </div>
            <p class="membership-note mt-16">
                ※<span class="platium">プラチナ会員</span>は<span class="paid">有料会員</span>にのみご案内いたします
            </p>
            <button type="button" class="btn-main mt-20 mb-20" @click="planUp" v-if="this.$store.state.auth.profile.membership.type == 'free'">有料会員の入会詳細へ</button>
            <button type="button" class="btn-main mt-20 mb-20" @click="planUp" v-if="this.$store.state.auth.profile.membership.type == 'paid'">プラチナ会員の入会詳細へ</button>
        <!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>        
        -->
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                isLoading: false,
                isChecking: true
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading
        },
        created() {
            if (this.$store.state.auth.user.profile.membership.type == 'platium') {
                this.$router.push({ name: 'mypage' })
            } else {
                this.isChecking = false
            }
        },
        mounted() {
            window.scrollTo(0, 0);
        },
        methods: {
            planUp() {
                if (this.$store.state.auth.profile.membership.type == 'free') {
                    this.$router.push({ name: 'membership_paid' });
                } else if (this.$store.state.auth.profile.membership.type == 'paid') {
                    this.$router.push({ name: 'membership_platium' });
                } else if (this.$store.state.auth.profile.membership.type == 'platium') {
                    this.$router.push({ name: 'membership_vip' });
                }
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
