<template>
    <div id="wrapper" class="header-container" v-if="isChecking === false">
        <TheRegisterHeader label="有料会員ランクアップ" borderClass="" backPageName="membership" icon="back" />
        <div class="container">
            <p class="membership-introduction-title text-center mt-20 mb-5">有料会員にランクアップすると<br/>この機能がすべてご利用いただけます</p>
            <div class="membership-introduction mb-30">
                <div class="membership-item-list mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/points_black.svg" class="mb-4" alt="image" />
                            <p>無料ポイント<br/>配布</p>
                        </div>
                    </div>
                    <div class="can-text">ポイントを無料プレゼントします。理想の女性へ「いいね」「募集投稿」で無料でアプローチしましょう。</div>
                </div>
                <div class="membership-item-list mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_timeline.svg" class="mb-4" alt="image" />
                            <p>募集の投稿</p>
                        </div>
                    </div>
                    <div class="can-text">目的ごと全地域対応の掲示板に「募集投稿」できます。条件に合った女性から「いいね」が効率的に集まります。</div>
                </div>
                <div class="membership-item-list mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_message.svg" class="mb-4" alt="image" />
                            <p>メッセージ<br/>閲覧/送信</p>
                        </div>
                    </div>
                    <div class="can-text">マッチングした女性と、メッセージのやりとりが始められます。回数無制限で写真メッセージの交換も自由です。</div>
                </div>
                <div class="membership-item-list mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_search.svg" class="mb-4" alt="image" />
                            <p>プロフ検索</p>
                        </div>
                    </div>
                    <div class="can-text">検索条件（年齢/地域/職業/身長/体型など）を絞り込み、より自分の理想に合った女性を効率よく探せます。</div>
                </div>
                <div class="membership-item-list mb-4">
                    <div class="membership-item-label">
                        <div>
                            <img src="/assets/membership_new_search.svg" class="mb-4" alt="image" />
                            <p>新規登録<br/>女性の検索</p>
                        </div>
                    </div>
                    <div class="can-text">会員登録したばかりの新規女性を見つけることができます。他の男性より一早くアプローチしましょう。</div>
                </div>
            </div>
            <p class="point-card-guide center mt-20 mb-20">ご利用プランを選択してください</p>
            <div class="membership-paid-plan mt-20 mb-20">
                <div class="item" v-for="(membership, index) in memberships" :key="index" @click="selectPlan(membership)">
                    <p class="plan">{{membership.period}}ヶ月<span class="plan-name">プラン</span> <span class="month">{{membership.price | number}}</span><span class="plan-name">円/月</span></p>
                    <p class="price"><span class="total">{{membership.original_price | number}}</span> <span class="unit">円(税込)</span></p>
                    <p class="point-title">無料ポイント<span class="num">{{membership.points}}pt ({{membership.points * 6.2}}円分)</span></p>
                    <span class="off-badge" v-if="membership.off_percent > 0">{{membership.off_percent}}%<br/>OFF</span>
                </div>
            </div>
            <div class="point-card-subtext mt-20 mb-30">
                <p class="mt-5">・ポイントの有効期限は購入日を含め180日間です</p>
                <p class="mt-5">・ポイントは古いものから順に使用されます</p>
                <p class="mt-5">・サービスの性質上、返品はお受けしておりません</p>
                <p class="mt-5">・価格はすべて税込みです</p>
            </div>
            <!--<p class="text-left mb-20">サービスの性質上、返品はお受けしておりません </p>-->
            <!-- <button type="button" :class="getButtonClass()" @click="planUp" :disabled="this.getButtonClass().includes('disabled')">有料会員ランクアップ</button> -->
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
            <form action= "https://secure.telecomcredit.co.jp/inetcredit/adult/order.pl"
            method="POST" class="hidden" ref="cardRegisterForm">
                <input type = "hidden" name = "clientip" v-model="clientIP">
                <input type = "hidden" name = "sendid" v-model="sendid">
                <input type = "hidden" name = "usrmail" v-model="usrmail">
                <input type = "hidden" name = "usrtel" v-model="usrtel">
                <input type = "hidden" name = "sendpass" value="Daddy">
                <input type = "hidden" name = "redirect_url" v-model="url">
            </form>
        </div>
        <TheLoading v-if="isLoading" />
        <TheMembershipPayDialog 
            v-if="showPayDialog"
            :data="selectedMembership"
            :card="card"
            @cancel="cancel"
            @confirm="confirm" />
        <TheMessage
            title="DROSY"
            :message="errorMessage"
            v-if="errorMessage != ''"
            @cancel="errorMessage = ''" />
        <div id="gist"></div>
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import TheMessage from "../../../modals/TheMessage"
    import TheMembershipPayDialog from "../../../modals/TheMembershipPayDialog"
    import postscribe from 'postscribe'

    export default {
        data(){
            return {
                isLoading: false,
                memberships: this.$store.state.masterData.memberships.filter(item => {
                    return item.type == 'paid';
                }),
                selectedMembership: undefined,
                card: this.$store.state.auth.user.card,
                showPayDialog: false,
                clientIP: this.$store.state.clientIP,
                url: "https://drosy.jp/mypage/membership/paid",
                usrtel: '',
                usrmail: '',
                sendid: '',
                errorMessage: '',
                checks: 0,
                isChecking: true
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            TheMembershipPayDialog,
            TheMessage
        },
        created() {
            if (this.$store.state.auth.user.profile.membership.type != 'free') {
                this.$router.push({ name: 'mypage' })
            } else {
                this.isChecking = false
            }
        },
        mounted() {
            window.scrollTo(0, 0);

            if (this.$store.state.auth.user.card && this.$store.state.auth.user.card.sendid != '') {
                this.sendid = this.$store.state.auth.user.card.sendid
                this.usrtel = this.$store.state.auth.user.card.telno
                this.usrmail = this.$store.state.auth.user.card.email
            } else {
                this.sendid = ("000000" + this.$store.state.auth.user.id).slice(-6);
                this.usrtel = ''
                this.usrmail = this.$store.state.auth.user.email
            }

            if (this.$cookies.isKey('membership_id')) {
                this.selectedMembership = this.memberships.filter(item => {
                    return item.id == parseInt(window.localStorage.getItem('membership_id'))
                })[0]
                this.$cookies.remove('membership_id')

                this.isLoading = true;
                this.checks = 0;
                this.checkTelecomResponse('credit_card');

                // postscribe('#gist', `<script>
                // if (!window.afblpcvCvConf) {
                // window.afblpcvCvConf = [];
                // }
                // window.afblpcvCvConf.push({
                // siteId: "067b2f7c",
                // commitData: {
                //     pid: "p116159",
                //     u: "` + this.$store.state.auth.user.id + `",
                //     mid:"y1025I"
                // }
                // });
                // <\/script>
                // <script src="https://t.afi-b.com/jslib/lpcv.js?cid=067b2f7c&pid=p116159" async="async"><\/script>`)
            }
        },
        methods: {
            checkTelecomResponse(type) {
                if (type == 'credit_card') {
                    let self = this;
                    axios.post('/api/telecom/check', {
                        type: type
                    }).then(response => {
                        let user = response.data.data;

                        this.$store.dispatch('setAuthUserDetail',{
                            email: user.email,
                            avatar: user.profile.avatar,
                            status: user.status,
                            is_admin: user.is_admin,
                            profile: user.profile,
                            user: user
                        });

                        if (user.card && user.card.sendid != '' && user.card.cont != 'processing') {
                            this.card = user.card
                            // self.confirm('purchase');
                            setTimeout(function() {
                                axios.post('/api/pay', {
                                    money: self.selectedMembership.price * self.selectedMembership.period,
                                    type: 'payment'
                                })
                            }, 30000);

                            self.purchase();
                        } else {
                            this.checks++;
                            if (this.checks > 2) {
                                axios.post('/api/telecom/reset', {
                                    reset: 'no'
                                });
                                // this.errorMessage = "クレジットカード認証に失敗しました。"
                                this.isLoading = false
                            } else {
                                setTimeout(function() {
                                    self.checkTelecomResponse(type)
                                }, 2000);
                            }
                        }
                    }).catch(error => {
                        this.checks++;
                        if (this.checks > 2) {
                            axios.post('/api/telecom/reset', {
                                reset: 'no'
                            });
                            // this.errorMessage = "クレジットカード認証に失敗しました。"
                            this.isLoading = false
                        } else {
                            setTimeout(function() {
                                self.checkTelecomResponse(type)
                            }, 2000);
                        }
                    })
                } else {
                    let self = this;
                    axios.post('/api/telecom/check', {
                        type: type
                    }).then(response => {
                        if (response.data.data == 'yes') {
                            this.purchase();
                        } else if (response.data.data == 'no') {
                            this.errorMessage = "支払いに失敗しました。"
                            this.isLoading = false
                        } else {
                            this.checks++;
                            if (this.checks > 2) {
                                this.errorMessage = "支払いに失敗しました。"
                                this.isLoading = false
                            } else {
                                setTimeout(function() {
                                    self.checkTelecomResponse(type)
                                }, 2000);
                            }
                        }
                    }).catch(error => {
                        this.checks++;
                        if (this.checks > 2) {
                            this.errorMessage = "支払いに失敗しました。"
                            this.isLoading = false
                        } else {
                            setTimeout(function() {
                                self.checkTelecomResponse(type)
                            }, 2000);
                        }
                    })
                }
            },
            planUp() {
                this.showPayDialog = true;
            },
            selectPlan(value) {
                this.selectedMembership = value;
                this.showPayDialog = true;
                this.$forceUpdate();
            },
            getButtonClass() {
                if (this.selectedMembership) {
                    return "btn-main small mt-20 mb-20";
                }

                return "btn-main small mt-20 mb-20 disabled";
            },
            purchase() {
                axios.post('/api/membership/upgrade', {
                    membership_id: this.selectedMembership.id
                }).then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });

                    this.$router.push({ name: 'mypage' });
                    this.isLoading = false;
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })

                // Afb related
                axios.post('/api/afb/get', {
                    email: this.$store.state.auth.user.email
                }).then(response => {
                    if (response.data.data && response.data.data !== '') {
                        axios.post('https://t.afi-b.com/commit/p116159/' + this.$store.state.auth.user.id + '&abm=' + response.data.data + '&mid=y1025I')
                    }
                })
            },
            confirm(type) {
                this.showPayDialog = false;
                if (type == 'add' || type == 'edit') {
                    window.localStorage.setItem('page_from', 'membership_paid');
                    window.localStorage.setItem('membership_id', this.selectedMembership.id);
                    this.$cookies.set('membership_id', this.selectedMembership.id);
                    axios.post('/api/telecom/reset', {
                        reset: 'processing'
                    });
                    // this.$router.push({ name: 'credit_card' });
                    this.$refs.cardRegisterForm.submit();
                }

                if (type == 'purchase') {
                    this.isLoading = true;
                    axios.post('/api/pay', {
                        money: this.selectedMembership.price * this.selectedMembership.period,
                        type: 'payment'
                    }).then(response => {
                        if (response.data.data == 'success') {
                            this.checks = 0
                            this.checkTelecomResponse('payment')
                        } else {
                            this.isLoading = false;
                            this.errorMessage = "支払いに失敗しました。"
                        }
                    }).catch(error => {
                        this.isLoading = false;
                        this.errorMessage = "支払いに失敗しました。"
                    })
                }
            },
            cancel() {
                this.showPayDialog = false;
            }
        },
        filters: {
            number(price) {
                return helper.formatMoney(price);
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
