<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="VIP会員にランクアップする" borderClass="" backPageName="history.back" icon="back" />
        <div class="membership-fv">
            <img src="/assets/memership_vip_top.jpg" alt="image" />
            <p>
                VIP会員様だけの<br/>
                特別なプランをご用意しています
            </p>
        </div>
        <div class="container">
            <div class="vip-item mt-36">
                <div class="vip-item-number">
                    <img src="/assets/membership_vip_point1.svg" alt="image" />
                    <p>VIP女性へアプローチできるのはVIP会員のみ</p>
                </div>
                <p class="vip-item-desc mt-20 mb-20">特別なVIP女性にもいいね！でアプローチできます。</p>
                <div class="vip-item-compare">
                    <div class="before">
                        <p>現在のあなた</p>
                    </div>
                    <div class="after">
                        <p>VIP会員</p>
                    </div>
                </div>
                <div class="vip-item-compare">
                    <div class="before compare-content">
                        <img src="/assets/membership_vip_img01.svg" alt="image" />
                    </div>
                    <div class="after compare-content">
                        <img src="/assets/membership_vip_img02.svg" alt="image" />
                    </div>
                </div>
            </div>
            <div class="vip-item mt-36">
                <div class="vip-item-number">
                    <img src="/assets/membership_vip_point2.svg" alt="image" />
                    <p>VIPシークレット写真をご用意</p>
                </div>
                <p class="vip-item-desc mt-20 mb-20">VIP 専用のプロフィール写真をご用意。プロフィールに写真を載せたくない場合にご利用いただくことで、お相手の女性からは、身分があるため掲載できないと認識されます。</p>
                <div class="vip-item-compare">
                    <div class="before">
                        <p>現在のあなた</p>
                    </div>
                    <div class="after">
                        <p>VIP会員</p>
                    </div>
                </div>
                <div class="vip-item-compare">
                    <div class="before compare-content">
                        <img class="avatar" :src="avatar" alt="image" />
                    </div>
                    <div class="after compare-content">
                        <img class="avatar" src="/assets/membership_vip_img03.svg" alt="image" />
                    </div>
                </div>
            </div>
            <div class="vip-item mt-36">
                <div class="vip-item-number">
                    <img src="/assets/membership_vip_point3.svg" alt="image" />
                    <p>新しく登録した女性を幅広く探せる</p>
                </div>
                <p class="vip-item-desc mt-20 mb-20">登録３日以内だけでなく、７日以内、１４日以内、30日以内に登録した女性を絞り込んで探せます。</p>
                <div class="vip-item-compare">
                    <div class="before">
                        <p>現在のあなた</p>
                    </div>
                    <div class="after">
                        <p>VIP会員</p>
                    </div>
                </div>
                <div class="vip-item-compare">
                    <div class="before compare-content">
                        <img class="search" src="/assets/membership_vip_img04.svg" alt="image" />
                    </div>
                    <div class="after compare-content">
                        <img class="search" src="/assets/membership_vip_img05.svg" alt="image" />
                    </div>
                </div>
            </div>
            <div class="vip-item mt-36">
                <div class="vip-item-number">
                    <img src="/assets/membership_vip_point4.svg" alt="image" />
                    <p>メッセージに既読・未読を表示</p>
                </div>
                <p class="vip-item-desc mt-20 mb-20">メッセージに既読・未読を表示。</p>
                <div class="vip-item-compare">
                    <div class="before">
                        <p>現在のあなた</p>
                    </div>
                    <div class="after">
                        <p>VIP会員</p>
                    </div>
                </div>
                <div class="vip-item-compare">
                    <div class="before compare-content">
                        <img class="message" src="/assets/membership_vip_img06.svg" alt="image" />
                    </div>
                    <div class="after compare-content">
                        <img class="message" src="/assets/membership_vip_img07.svg" alt="image" />
                    </div>
                </div>
            </div>
            <div class="vip-item mt-36">
                <div class="vip-item-number">
                    <img src="/assets/membership_vip_point5.svg" alt="image" />
                    <p>さらに毎月100いいねをプレゼント</p>
                </div>
                <p class="vip-item-desc mt-20 mb-20">トータル毎月200いいねが利用可能。より沢山の女性にアプローチできます。</p>
                <div class="vip-item-compare">
                    <div class="before">
                        <p>現在のあなた</p>
                    </div>
                    <div class="after">
                        <p>VIP会員</p>
                    </div>
                </div>
                <div class="vip-item-compare">
                    <div class="before compare-content">
                        <img class="points" src="/assets/membership_vip_img08.svg" alt="image" />
                        <p class="sub mb-20">100いいねプレゼント！</p>
                    </div>
                    <div class="after compare-content">
                        <img class="points" src="/assets/membership_vip_img09.svg" alt="image" />
                        <p class="sub mb-20">200いいねプレゼント！</p>
                    </div>
                </div>
            </div>
            <div class="membership-paid-plan mt-36">
                <div class="one-line-item">
                    <p class="price"><span class="gold">¥{{selectedMembership.price | number}}</span>/月（税込）</p>
                </div>
            </div>
            <button type="button" class="btn-main small mt-36 mb-48" @click="planUp">ランクアップする</button>
        </div>
        <TheLoading v-if="isLoading" />
        <TheMembershipPayDialog 
            v-if="showPayDialog"
            :data="selectedMembership"
            :card="card"
            @cancel="cancel"
            @confirm="confirm" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import TheMembershipPayDialog from "../../../modals/TheMembershipPayDialog"

    export default {
        data(){
            return {
                isLoading: false,
                selectedMembership: this.$store.state.memberships.filter(item => {
                    return item.type == 'vip';
                })[0],
                card: this.$store.state.auth.user.card,
                showPayDialog: false,
                avatar: this.$store.state.auth.avatar ? this.$store.state.auth.avatar : (this.$store.state.auth.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png')
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            TheMembershipPayDialog
        },
        mounted() {
            window.scrollTo(0, 0);
        },
        methods: {
            planUp() {
                this.showPayDialog = true;
            },
            getButtonClass() {
                if (this.selectedMembership) {
                    return "btn-main small mt-36 mb-48";
                }

                return "btn-main small mt-36 mb-48 disabled";
            },
            confirm(type) {
                this.showPayDialog = false;
                if (type == 'add' || type == 'edit') {
                    window.localStorage.setItem('page_from', 'membership_paid');
                    this.$router.push({ name: 'credit_card' });
                } 

                if (type == 'purchase') {
                    this.isLoading = true;
                    axios.post('/api/membership/upgrade', {
                        membership_id: this.selectedMembership.id
                    }).then(response => {
                        this.$store.dispatch('setAuthUserDetail',{
                            user: response.data.data,
                            profile: response.data.data.profile
                        });

                        this.$router.push({ name: 'vip_complete' });
                        this.isLoading = false;
                    }).catch(error => {
                        this.isLoading = false;
                        toastr['error'](error.response.data.message);
                    })
                }
            },
            cancel() {
                this.showPayDialog = false;
            }
        },
        filters: {
            number(price) {
                return helper.formatMoney(price);
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
