<template>
    <section class="profile-step header-container">
        <TheRegisterHeader label="プロフィール編集" borderClass="" icon="close" backPageName="mypage_profile" />
        <div class="container">
		
			<div class="mt-10 mb-10 regi-list-field">
		
				<!-- <h1 class="mt-48">自己紹介文を入力してください</h1> -->
				<div class="input-field" v-if="type == 'work'">
					<label class="regi-list-title">ひとことメッセージ</label>
					<!--<p class="sub-text">20文字以内</p>-->
					<textarea placeholder="ひとことメッセージ（20文字以内）" class="form-control" v-model="profileForm.work" rows="2" @blur="checkLetters"></textarea>
					<p class="red-alert" v-if="invalidTitle">20文字以内でご入力ください</p>
				</div>
				<div class="input-field" v-if="type == 'content'">
					<label class="regi-list-title">自己紹介文</label>
					<!--<p class="sub-text">20文字以上 1000文字以内</p>-->
					<textarea placeholder="自己紹介文（20-1000文字）" class="form-control" v-model="profileForm.content" rows="14" @blur="checkLetters"></textarea>
					<p class="red-alert" v-if="invalidContent">20～1000文字以内でご入力ください</p>
				</div>
			
			</div>
			
			
            <button :class="getButtonClass()" @click="next" type="button" :disabled="this.getButtonClass().includes('disabled')">保存</button>
        </div>
        <TheLoading v-if="isLoading" />
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data() {
            return {
                isLoading: false,
                profileForm: {
                    work: '',
                    content: ''
                },
                gender: this.$store.state.auth.profile.gender,
                invalidTitle: false,
                invalidContent: false,
                type: this.$route.params.type
            }
        },
        components: {
            TheRegisterHeader, TheLoading
        },
        created() {
            this.profileForm = {
                work: this.$store.state.auth.profile.work,
                content: this.$store.state.auth.profile.content
            }
        },
        mounted(){
        },
        methods: {
            getButtonClass() {
                // if (this.profileForm.work == '' || this.profileForm.work.length > 20 || this.profileForm.content == '' || this.profileForm.content.length < 20 || this.profileForm.content.length > 400) {
                //     return "btn-main small disabled";  
                // }

                return "btn-main small";
            },
            next() {
                if (this.profileForm.work == '' || this.profileForm.work.length > 20) {
                    this.invalidTitle = true;
                    return;
                }
                if (this.profileForm.content == '' || this.profileForm.content.length < 20 || this.profileForm.content.length > 1000) {
                    this.invalidContent = true;
                    return;
                }
                
                if (this.profileForm.work == this.$store.state.auth.profile.work && this.profileForm.content == this.$store.state.auth.profile.content) {
                    this.$router.push({ name: 'mypage_profile' });
                    return;
                }

                this.isLoading = true;
                let data = new FormData();
                data.append('data', JSON.stringify(this.profileForm))
                axios.post('/api/user/update/profile', data)
                .then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });

                    this.isLoading = false;
                    this.$router.push({ name: 'mypage_profile' });
                })
                .catch(error => {
                    this.isLoading = false
                })
            },
            checkLetters() {
                this.invalidTitle = this.profileForm.work != '' && this.profileForm.work.length > 20;
                this.invalidContent = this.profileForm.content != '' && (this.profileForm.content.length < 20 || this.profileForm.content.length > 1000);
            }
        }
    }
</script>
