<template>
    <section class="profile-step header-container">
        <TheRegisterHeader label="プロフィール編集" borderClass="" icon="close" backPageName="mypage_profile" />
        <div class="container">
            <!--<h1 class="mt-48 mb-12">ダディーにできること</h1>-->
            <div class="mt-20 mb-10 input-field">
                <label class="mb-5">ダディーにできること</label>
				<p>複数選択可能です。</p>
                <div class="custom-check-box" v-for="(daddy, dInd) in masterData.daddies" :key="dInd" @click="selectDaddy(daddy.id)">
                    <label>{{daddy.name}}</label>
                    <img :src="`/assets/${profileForm.daddies.includes(daddy.id) ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
                </div>
            </div>
            <button :class="getButtonClass()" @click="next" type="button" :disabled="this.getButtonClass().includes('disabled')">保存</button>
        </div>
        <TheLoading v-if="isLoading" />
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import helper from '../../../../services/helper'

    export default {
        data() {
            return {
                isLoading: false,
                profileForm: {
                    daddies: []
                },
                masterData: {
                    daddies: []
                },
                gender: this.$store.state.auth.profile.gender,
                type: this.$route.params.type
            }
        },
        components: {
            TheRegisterHeader, TheLoading
        },
        created() {
            this.profileForm.daddies = this.$store.state.auth.profile.daddies.map(item => {
                return item.id;
            })
        },
        mounted() {
            this.masterData = this.$store.state.masterData;
            window.scrollTo(0, 0);
        },
        methods: {
            getButtonClass() {
                if (this.profileForm.daddies.length == 0) {
                    return "btn-main small disabled";  
                }

                return "btn-main small";
            },
            next() {
                this.isLoading = true;
                let data = new FormData();
                data.append('data', JSON.stringify(this.profileForm))
                axios.post('/api/user/update/profile', data)
                .then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });

                    helper.sendUpdatePush(this, 'profile')

                    this.isLoading = false;
                    this.$router.push({ name: 'mypage_profile' });
                })
                .catch(error => {
                    this.isLoading = false
                })
            },
            selectDaddy(daddy_id) {
                if (this.profileForm.daddies.includes(daddy_id)) {
                    this.profileForm.daddies = this.profileForm.daddies.filter(function(item) {
                        return item != daddy_id;
                    });
                } else {
                    this.profileForm.daddies.push(daddy_id);
                }
                this.$forceUpdate();
            }
        }
    }
</script>
