<template>
    <section class="profile-step header-container">
        <TheRegisterHeader label="プロフィール編集" borderClass="" icon="close" backPageName="mypage_profile" />
        <div class="container">
		
			<div class="mt-10 mb-10 regi-list-field">
				<!-- <h1 class="mt-48">基本情報を入力してください</h1> -->
				<div class="input-field" v-if="type == 'nickname'">
					<label class="regi-list-title">ニックネーム</label>
					<input type="text" v-model="profileForm.nickname" class="form-control" placeholder="ニックネーム" />
				</div>
				<div class="input-field" v-if="type == 'city'">
					<label class="regi-list-title">地域</label>
                    <v-select :options="masterData.cities" v-model="profileForm.city_id" />
				</div>
				<div class="input-field" v-if="type == 'height'">
					<label class="regi-list-title">身長</label>
					<div class="flex-row">
                        <v-select :options="heights" v-model="profileForm.height" />
						<label>cm</label>
					</div>
				</div>
				<div class="input-field" v-if="type == 'body'">
					<label class="regi-list-title">体型</label>
					<div class="custom-check-box" v-for="(body, bInd) in masterData.bodies" :key="bInd" @click="selectBody(body.id)">
						<label>{{body.name}}</label>
						<img :src="`/assets/${profileForm.body_id == body.id ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
					</div>
				</div>
				<div class="input-field" v-if="type == 'job'">
					<label class="regi-list-title">職業</label>
                    <v-select :options="masterData.sameJobs" v-model="profileForm.job_id" />
				</div>
			</div>
			
			
            <button :class="getButtonClass()" @click="next" type="button" :disabled="this.getButtonClass().includes('disabled')">保存</button>
        </div>
        <TheLoading v-if="isLoading" />
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import helper from '../../../../services/helper'
    import VSelect from '@alfsnd/vue-bootstrap-select'

    export default {
        data() {
            return {
                isLoading: false,
                profileForm: {
                    nickname: this.$store.state.auth.profile.nickname,
                    city_id: undefined,
                    height: this.$store.state.auth.profile.height,
                    body_id: this.$store.state.auth.profile.body_id,
                    job_id: undefined
                },
                heights: [],
                ages: [],
                masterData: {
                    cities: [],
                    sameJobs: [],
                    bodies: []
                },
                type: this.$route.params.type
            }
        },
        components: {
            TheRegisterHeader, TheLoading, VSelect
        },
        created() {
            this.heights = [];
            for (let i = 140; i <= 200; i++) {
                this.heights.push(i);
            }

            this.masterData = {
                bodies: this.$store.state.masterData.bodies
            };

            this.masterData.cities = this.$store.state.masterData.cities.map(item => {
                return {
                    text: item.name,
                    value: item.id
                }
            })          
            this.profileForm.city_id = this.masterData.cities.filter(item => item.value == this.$store.state.auth.profile.city_id)[0]

            this.masterData.sameJobs = this.$store.state.masterData.sameJobs.map(item => {
                return {
                    text: item.name,
                    value: item.id
                }
            })          
            this.profileForm.job_id = this.masterData.sameJobs.filter(item => item.value == this.$store.state.auth.profile.job_id)[0]
        },
        mounted(){
            window.scrollTo(0, 0);
        },
        methods: {
            getButtonClass() {
                if (this.profileForm.nickname == '' || this.profileForm.city_id == undefined || this.profileForm.body_id == -1 || this.profileForm.height == -1 || this.profileForm.job_id == -1) {
                    return "btn-main small disabled";
                }

                return "btn-main small";
            },
            next() {
                let profile = this.$store.state.auth.profile;
                if (this.profileForm.nickname == profile.nickname
                 && this.profileForm.city_id.value == profile.city_id
                 && this.profileForm.height == profile.height
                 && this.profileForm.body_id == profile.body_id
                 && this.profileForm.job_id.value == profile.job_id) {
                     this.$router.push({ name: 'mypage_profile' });
                     return;
                }
                let profileForm = Object.assign({}, this.profileForm);
                profileForm.city_id = profileForm.city_id.value
                profileForm.job_id = profileForm.job_id.value

                this.isLoading = true;
                let data = new FormData();
                data.append('data', JSON.stringify(profileForm))
                axios.post('/api/user/update/profile', data)
                .then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });

                    helper.sendUpdatePush(this, 'profile')

                    this.isLoading = false;
                    this.$router.push({ name: 'mypage_profile' });
                })
                .catch(error => {
                    this.isLoading = false
                })
            },
            selectBody(body_id) {
                this.profileForm.body_id = body_id;
                this.$forceUpdate();
            }
        }
    }
</script>
