<template>
    <section class="profile-step header-container">
        <TheRegisterHeader label="プロフィール編集" borderClass="" icon="close" backPageName="mypage_profile" />
        <div class="container">
			<div class="mt-10 mb-10 regi-list-field">
				<!-- <h1 class="mt-48">プロフィールを完成させてください</h1> -->
				<div class="input-field" v-if="gender == 1 && type == 'salary'">
					<label class="regi-list-title">年収</label>
                    <v-select :options="masterData.salaries" v-model="profileForm.salary_id" />
				</div>
				<div class="input-field" v-if="gender == 2 && type == 'dream'">
					<label class="regi-list-title">将来の夢</label>
					<input type="text" v-model="profileForm.dream" class="form-control" placeholder="将来の夢" />
				</div>
				<div class="input-field" v-if="type == 'marriage'">
					<label class="regi-list-title">婚姻状況</label>
					<div class="custom-check-box" v-for="(marriage, mInd) in masterData.marriages" :key="mInd" @click="selectMarriage(marriage.id)">
						<label>{{marriage.name}}</label>
						<img :src="`/assets/${profileForm.marriage_id == marriage.id ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
					</div>
				</div>
				<div class="input-field" v-if="type == 'drink'">
					<label class="regi-list-title">飲酒について</label>
					<div class="custom-check-box" v-for="(drink, dInd) in masterData.drinks" :key="dInd" @click="selectDrink(drink.id)">
						<label>{{drink.name}}</label>
						<img :src="`/assets/${profileForm.drink_id == drink.id ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
					</div>
				</div>
				<div class="input-field" v-if="type == 'smoking'">
					<label class="regi-list-title">喫煙について</label>
					<div class="custom-check-box" v-for="(smoking, sInd) in masterData.smokings" :key="sInd" @click="selectSmoking(smoking.id)">
						<label>{{smoking.name}}</label>
						<img :src="`/assets/${profileForm.smoking_id == smoking.id ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
					</div>
				</div>
			</div>
            <button :class="getButtonClass()" @click="next" type="button" :disabled="this.getButtonClass().includes('disabled')">保存</button>
        </div>
        <TheLoading v-if="isLoading" />
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import helper from '../../../../services/helper'
    import VSelect from '@alfsnd/vue-bootstrap-select'

    export default {
        data() {
            return {
                isLoading: false,
                profileForm: {
                    dream: this.$store.state.auth.profile.dream,
                    salary_id: undefined,
                    marriage_id: this.$store.state.auth.profile.marriage_id,
                    drink_id: this.$store.state.auth.profile.drink_id,
                    smoking_id: this.$store.state.auth.profile.smoking_id
                },
                masterData: {
                    salaries: [],
                    marriages: [],
                    drinks: [],
                    smokings: []
                },
                gender: this.$store.state.auth.profile.gender,
                type: this.$route.params.type
            }
        },
        components: {
            TheRegisterHeader, TheLoading, VSelect
        },
        created() {
            this.masterData = {
                marriages: this.$store.state.masterData.marriages,
                drinks: this.$store.state.masterData.drinks,
                smokings: this.$store.state.masterData.smokings
            };

            this.masterData.salaries = this.$store.state.masterData.salaries.map(item => {
                return {
                    text: item.name,
                    value: item.id
                }
            })
            
            this.profileForm.salary_id = this.masterData.salaries.filter(item => item.value == this.$store.state.auth.profile.salary_id)[0]
        },
        mounted(){
            window.scrollTo(0, 0);
        },
        methods: {
            getButtonClass() {
                if (this.gender == 1) { // male
                    if (this.profileForm.salary_id.value == -1 || this.profileForm.marriage_id == -1 || this.profileForm.drink_id == -1 || this.profileForm.smoking_id == -1) {
                        return "btn-next mt-48 mb-48 disabled";    
                    }
                } else {
                    if (this.profileForm.dream == '' || this.profileForm.marriage_id == -1 || this.profileForm.drink_id == -1 || this.profileForm.smoking_id == -1) {
                        return "btn-main small disabled";    
                    }
                }

                return "btn-main small";
            },
            next() {
                let profile = this.$store.state.auth.profile;
                if (this.gender === 1) {
                    if (this.profileForm.dream == profile.dream
                    && this.profileForm.salary_id.value == profile.salary_id
                    && this.profileForm.marriage_id == profile.marriage_id
                    && this.profileForm.drink_id == profile.drink_id
                    && this.profileForm.smoking_id == profile.smoking_id) {
                        this.$router.push({ name: 'mypage_profile' });
                        return;
                    }
                } else {
                    if (this.profileForm.dream == profile.dream
                    && this.profileForm.marriage_id == profile.marriage_id
                    && this.profileForm.drink_id == profile.drink_id
                    && this.profileForm.smoking_id == profile.smoking_id) {
                        this.$router.push({ name: 'mypage_profile' });
                        return;
                    }
                }

                let profileForm = Object.assign({}, this.profileForm)
                if (this.gender === 1) 
                    profileForm.salary_id = profileForm.salary_id.value

                this.isLoading = true;
                let data = new FormData();
                data.append('data', JSON.stringify(profileForm))
                axios.post('/api/user/update/profile', data)
                .then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });

                    helper.sendUpdatePush(this, 'profile')

                    this.isLoading = false;
                    this.$router.push({ name: 'mypage_profile' });
                })
                .catch(error => {
                    this.isLoading = false
                })
            },
            selectMarriage(marriage_id) {
                this.profileForm.marriage_id = marriage_id;
                this.$forceUpdate();
            },
            selectDrink(drink_id) {
                this.profileForm.drink_id = drink_id;
                this.$forceUpdate();
            },
            selectSmoking(smoking_id) {
                this.profileForm.smoking_id = smoking_id;
                this.$forceUpdate();
            }
        }
    }
</script>
