<template>
    <div id="wrapper" class="profile-step header-container">
        <TheRegisterHeader label="プロフィール編集" borderClass="" backPageName="mypage" icon="back" />
        <div class="container">
			<div class="mypage-profile-edit-content">
				<!--
				<div class="mypage-profile-title">
					<p class="title">メイン写真</p>
				</div>
				-->
				<div class="photo_regi_title">メイン写真１枚</div>
				<div class="photo_regi_title_sub mb-10">上半身お顔が見える写真</div>
				<div class="main-photo">
					<img :src="profile.vip_image.url" v-if="profile.gender == 1 && profile.membership.type == 'vip' && profile.vip_image" alt="image"/>
					<img :src="mainPhoto" alt="image" v-else />
					<p class="overlay" v-if="showOverlay('main_photo') != 1"></p>
					<p v-if="showOverlay('main_photo') == 0">申請中</p>
					<p v-if="showOverlay('main_photo') == 2">否認</p>
					<div class="btn-upload" @click="uploadPhoto(1)" v-if="!(profile.gender == 1 && profile.membership.type == 'vip' && profile.vip_image)">{{showDeleteIcon(-1) == false ? 'アップロード' : '編集する'}}</div>
					<input type="file" ref="mainPhoto" @change="previewPhoto" />
				</div>
				<router-link :to="{ name: 'select_vip_image' }" class="btn-custom-sm reverse mt-20 mb-20 float-right" v-if="profile.gender == 1 && profile.membership.type == 'vip' && profile.vip_image == undefined">VIP写真を利用する</router-link>
				<button type="button" class="btn-custom-sm mt-20 mb-20 float-right" v-if="profile.gender == 1 && profile.membership.type == 'vip' && profile.vip_image" @click="cancelVipImage">VIP写真を利用しない</button>
				<div class="photo-tip mt-20">
					<img src="/assets/photo_tip.svg" alt="image" />
					<div class="content">
						<p>いいねがもらえる写真選びのポイントをチェック！</p>
						<router-link :to="{ name: 'photo_tip' }" class="btn-custom-sm">詳細を見る</router-link>
					</div>
				</div>
				<!--
				<div class="mypage-profile-title mt-36">
					<p class="title">その他の写真</p>
				</div>
				-->
				<div class="photo_regi_title mt-15">その他の写真５枚</div>
				<div class="photo_regi_title_sub mb-10">全身姿・ファッション・ライフスタイル</div>
				<div class="sub-photos">
					<div v-for="(sub, ind) in subPhotos" :key="ind" class="sub-photo" @click="uploadPhoto(ind + 2)">
						<img :src="sub" class="subimg" alt="image" />
						<img src="/assets/gray_plus.svg" alt="image" class="plus" v-if="sub == '/assets/empty.svg'" />
						<p class="overlay" v-if="sub != '/assets/empty.svg' && showOverlay('sub_photo', ind) != 1"></p>
						<p v-if="sub != '/assets/empty.svg' && showOverlay('sub_photo', ind) == 0">申請中</p>
						<p v-if="sub != '/assets/empty.svg' && showOverlay('sub_photo', ind) == 2">否認</p>
						<input type="file" ref="subPhoto" @change="previewPhoto" />
					</div>
				</div>
				
				<div class="photo_regi_title mt-20">自己紹介文</div>
				<div class="photo_regi_title_sub mb-10">挨拶・趣味・ライフワークについて</div>
				
				<div class="mypage-profile-title mt-20">
					<p class="title">ひとことメッセージ</p>
					<router-link :to="{ name: 'mypage_profile_introduction', params: {type: 'work'} }" class="btn-profile-edit">編集</router-link>
				</div>
                <pre>{{ profile.work }} </pre>
                <!--
				<div class="mypage-profile-title mt-36" v-if="profile.gender == 2">
					<p class="title">できること</p>
				</div>
				<router-link :to="{ name: 'mypage_profile_info3' }" class="mypage-profile-short-message mt-12" v-if="profile.gender == 2">
					<p class="item" v-for="(daddy, index) in profile.daddies" :key="index">
						<img :src="`/assets/${daddy.asset}.svg`" alt="image" />
						<span>{{daddy.name}}</span>
					</p>
				</router-link>
                -->
				<div class="mypage-profile-title mt-20">
					<p class="title">自己紹介</p>
					<router-link :to="{ name: 'mypage_profile_introduction', params: {type: 'content'} }" class="btn-profile-edit">編集</router-link>
				</div>
				<pre>{{ profile.content }}</pre>
				<!--
				<div class="mypage-profile-title mt-36">
					<p class="title">基本プロフィール</p>
				</div>
				-->
				<div class="photo_regi_title mt-20">基本プロフィール</div>
				<div class="photo_regi_title_sub mb-10">名前・生活・身分について</div>
				<div class="mypage-profile-items mt-12">
					<router-link :to="{ name: 'mypage_profile_info1', params: {type: 'nickname'} }" class="item mb-12">
						<span class="title">ニックネーム</span>
						<span class="content">{{ profile.nickname }}</span>
					</router-link>
					<router-link :to="{ name: 'mypage_profile_info1', params: {type: 'city'} }" class="item mb-12">
						<span class="title">地域</span>
						<span class="content">{{ profile.city.name }}</span>
					</router-link>
					<router-link :to="{ name: 'mypage_profile_info2', params: {type: 'dream'} }" class="item mb-12" v-if="profile.gender == 2">
						<span class="title">将来の夢</span>
						<span class="content">{{ profile.dream }}</span>
					</router-link>
					<router-link :to="{ name: 'mypage_profile_info2', params: {type: 'salary'} }" class="item mb-12" v-else>
						<span class="title">年収</span>
						<span class="content">{{ profile.salary.name }}</span>
					</router-link>
					<router-link :to="{ name: 'mypage_profile_info1', params: {type: 'height'} }" class="item mb-12">
						<span class="title">身長</span>
						<span class="content">{{ profile.height }}cm</span>
					</router-link>
					<p class="item mb-12 no-arrow">
						<span class="title">年齢</span>
						<span class="content">{{ profile.age }}歳</span>
					</p>
					<router-link :to="{ name: 'mypage_profile_info1', params: {type: 'body'} }" class="item mb-12">
						<span class="title">体型</span>
						<span class="content">{{ profile.body.name }}</span>
					</router-link>
					<router-link :to="{ name: 'mypage_profile_info1', params: {type: 'job'} }" class="item mb-12">
						<span class="title">職業</span>
						<span class="content">{{ profile.job.name }}</span>
					</router-link>
					<router-link :to="{ name: 'mypage_profile_info2', params: {type: 'marriage'} }" class="item mb-12">
						<span class="title">婚姻状況</span>
						<span class="content">{{ profile.marriage.name }}</span>
					</router-link>
					<router-link :to="{ name: 'mypage_profile_info2', params: {type: 'drink'} }" class="item mb-12">
						<span class="title">飲酒</span>
						<span class="content">{{ profile.drink.name }}</span>
					</router-link>
					<router-link :to="{ name: 'mypage_profile_info2', params: {type: 'smoking'} }" class="item mb-12">
						<span class="title">喫煙</span>
						<span class="content">{{ profile.smoking.name }}</span>
					</router-link>
				</div>
			</div>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
        </div>
        <TheLoading v-if="isLoading" />
        <ThePhotoEditDialog v-if="selectedPhotoIndex >= -1" @confirm="confirm" @cancel="cancel"/>
        <TheImageViewDialog 
            v-if="imageViews.length > 0"
            :image="imageViews[0]"
            :photos="imageViews"
            @cancel="imagePreviewCancel" />
        <TheImageCropDialog
            :image="cropImage"
            :aspectRatio="{
                    aspectRatio: 1
                }"
            v-if="cropImage != undefined"
            @cancel="cancelCropImage"
            @confirm="confirmCropImage" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import ThePhotoEditDialog from "../../../modals/ThePhotoEditDialog"
    import TheImageViewDialog from "../../../modals/TheImageViewDialog"
    import TheImageCropDialog from "../../../modals/TheImageCropDialog"

    export default {
        data(){
            return {
                isLoading: false,
                mainPhoto: (this.$store.state.auth.user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png'),
                subPhotos: [
                    '/assets/empty.svg',
                    '/assets/empty.svg',
                    '/assets/empty.svg',
                    '/assets/empty.svg',
                    '/assets/empty.svg'
                ],
                uploadIndex: -1,
                user: this.$store.state.auth.user,
                profile: this.$store.state.auth.profile,
                selectedPhotoIndex: -2,
                imageViews: [],
                cropImage: undefined
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            ThePhotoEditDialog,
            TheImageViewDialog,
            TheImageCropDialog
        },
        created() {
            this.mainPhoto = (this.profile.avatar && this.profile.avatar != '') ? this.profile.avatar.replace("thumbnail_", "") : (this.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            let self = this;
            this.user.photos.map(function(photo) {
                if (photo.type == 'sub_photo')
                    self.subPhotos[photo.sort_no] = photo.thumb_url;
            });
        },
        mounted() {
            this.$forceUpdate();
        },
        methods: {
            showOverlay(type, sort_no) {
                let res = -1;
                if (type == 'main_photo') {
                    if (this.profile.gender == 1 && this.profile.membership.type == 'vip' && this.profile.vip_image) return 1;

                    this.user.photos.map(item => {
                        if (item.type == type) {
                            res = item.is_approved;
                        }
                    })
                } else {
                    this.user.photos.map(item => {
                        if (item.type == type && item.sort_no == sort_no) {
                            res = item.is_approved;
                        }
                    })
                }

                return res;
            },
            uploadPhoto(index) {
                if (this.showDeleteIcon(index - 2)) {
                    this.selectedPhotoIndex = index - 2;
                    return;
                }
                this.uploadIndex = index;
                this.upload()
            },
            upload() {
                if (this.uploadIndex == 1) { // main
                    this.$refs.mainPhoto.click();
                } else {
                    this.$refs.subPhoto[this.uploadIndex - 2].click();
                }
            },
            confirm(type) {
                if (type == 'upload') {
                    this.uploadIndex = this.selectedPhotoIndex + 2;
                    this.upload()
                }

                if (type == 'remove') {
                    this.deleteImage(this.selectedPhotoIndex);
                }

                if (type == 'browse') {
                    this.imageViews = [];
                    if (this.selectedPhotoIndex == -1) {
                        this.imageViews.push("<img src='" + this.mainPhoto + "' alt='image'/>");
                    } else {
                        this.imageViews.push("<img src='" + this.subPhotos[this.selectedPhotoIndex] + "' alt='image'/>");
                    }
                }

                this.selectedPhotoIndex = -2;
            },
            imagePreviewCancel() {
                this.imageViews = [];
            },
            cancel() {
                this.selectedPhotoIndex = -2;
            },
            cancelCropImage() {
                this.cropImage = undefined
            },
            async confirmCropImage(image, canvas) {
                let blob = await this.getCroppedImg(canvas)

                this.cropImage = undefined

                // Upload to server
                let item = undefined;
                if (this.uploadIndex == 1) { // main
                    item = {
                        image: blob,
                        type: 'main_photo',
                        sort_no: 0
                    }
                } else {
                    item = {
                        image: blob,
                        type: 'sub_photo',
                        sort_no: this.uploadIndex - 2
                    }
                }
                this.isLoading = true;
                let data = new FormData();
                data.append('image', item.image);
                data.append('sort_no', item.sort_no);
                data.append('type', item.type);
                axios.post('/api/upload_image_save', data)
                .then(response => {
                    this.$store.dispatch('setAuthUserDetail', {
                        user: response.data.data,
                        profile: response.data.data.profile,
                        avatar: response.data.data.profile.avatar
                    });
                    this.user.photos = response.data.data.photos;
                    
                    this.isLoading = false;
                }).catch(error => {
                    this.isLoading = false;
                })

                if (this.uploadIndex == 1) { // main
                    this.mainPhoto = image;
                } else {
                    this.subPhotos[this.uploadIndex - 2] = image;
                }
                this.uploadIndex = -1;
            },
            async getCroppedImg(canvas) {
                // As a blob
                return new Promise((resolve, reject) => {
                    canvas.toBlob(file => {
                    resolve(file)
                    }, 'image/jpeg')
                })
            },
            previewPhoto(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                this.createRankImage(files[0]);
            },
            createRankImage(file) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.cropImage = e.target.result
                    this.$forceUpdate();
                };
                reader.readAsDataURL(file);
            },
            showDeleteIcon(index) {
                if (this.$refs.mainPhoto == undefined) return false;

                if (index == -1) {
                    return (this.mainPhoto != '/assets/avatar.svg' && this.mainPhoto != '/assets/avatar-female.png' && this.mainPhoto != '/assets/avatar-male.png') || (this.$refs.mainPhoto.files.length > 0);
                } else {
                    return this.subPhotos[index] != '/assets/empty.svg' || this.$refs.subPhoto[index].files.length > 0;
                }
            },
            deleteImage(index) {
                let params = {
                    sort_no: index == -1 ? 0 : index
                };

                if (index == -1) {
                    params.type = "main_photo";
                    this.$refs.mainPhoto.type = 'text';
                    this.$refs.mainPhoto.type = 'file';
                    this.mainPhoto = (this.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
                } else {
                    params.type = "sub_photo";
                    this.$refs.subPhoto[index].type = 'text';
                    this.$refs.subPhoto[index].type = 'file';
                    this.subPhotos[index] = '/assets/empty.svg';
                    this.$forceUpdate();
                }

                axios.post('/api/delete_image', params)
                .then(response => {
                    this.$store.dispatch('setAuthUserDetail', {
                        user: response.data.data,
                        profile: response.data.data.profile,
                        avatar: response.data.data.profile.avatar
                    });
                    this.user.photos = response.data.data.photos;
                    this.$forceUpdate();
                });
            },
            cancelVipImage() {
                this.isLoading = true;
                let data = new FormData();
                data.append('data', JSON.stringify({
                    vip_image_id: null
                }))
                axios.post('/api/user/update/profile', data)
                .then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });

                    this.isLoading = false;
                    this.user = response.data.data
                    this.profile = response.data.data.profile
                    this.$forceUpdate();
                })
                .catch(error => {
                    this.isLoading = false
                })
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
