<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="VIP写真を選択する" borderClass="" backPageName="mypage_profile" icon="back" />
        <div class="container">
            <div class="mt-48 input-field">
                <label>写真を選択してください</label>
                <div class="custom-check-box image" v-for="(image, bInd) in vipImages" :key="bInd" @click="selectImage(image.id)">
                    <label><img :src="image.url" alt="image" /></label>
                    <img :src="`/assets/${image.id == vip_image_id ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
                </div>
            </div>

            <button :class="getButtonClass()" @click="select" type="button" :disabled="this.getButtonClass().includes('disabled')">保存</button>
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                isLoading: false,
                vipImages: this.$store.state.vipImages,
                vip_image_id: this.$store.state.auth.profile.vip_image ? this.$store.state.auth.profile.vip_image.id : -1
            }
        },
        components: {
            TheRegisterHeader, TheLoading
        },
        mounted() {
        },
        beforeDestroy() {
        },
        methods: {
            getButtonClass() {
                if (this.vip_image_id == -1) {
                    return "btn-next mt-48 mb-48 disabled";
                }

                return "btn-next mt-48 mb-48";
            },
            selectImage(value) {
                this.vip_image_id = value;
                this.$forceUpdate();
            },
            select() {
                this.isLoading = true;

                let data = new FormData();
                data.append('data', JSON.stringify({
                    vip_image_id: this.vip_image_id
                }))
                axios.post('/api/user/update/profile', data)
                .then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });

                    this.isLoading = false;
                    this.$router.push({ name: 'mypage_profile' });
                })
                .catch(error => {
                    this.isLoading = false
                })
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
