<template>
    <div id="wrapper" class="profile-step header-container">
        <TheRegisterHeader label="VIP設定" borderClass="" backPageName="mypage" icon="back" />
        <div class="container">
            <div class="mt-36 on-off">
                <div :class="`on-item ${profile.is_vip == 1 ? 'active' : ''}`" @click="selectVip(1)">ON</div>
                <div :class="`on-item ${profile.is_vip == 0 ? 'active' : ''}`" @click="selectVip(0)">OFF</div>
            </div>
            <p class="mt-36 mb-12">
                *VIP会員の男性からのみ、いいねを受け付けます。<br/>
                <br/>
                *VIP会員は、一般会員より多く会費を支払っている男性です。<br/>
                <br/>
                *いいねをもらえる数は減りますがより良い男性に限定できます。
            </p>
            <img src="/assets/vip_desc.svg" class="vip" alt="image" />
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                isLoading: false,
                profile: this.$store.state.auth.profile
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading
        },
        mounted() {
        },
        methods: {
            selectVip(value) {
                if (this.profile.is_vip == value) {
                    return;
                }

                this.profile.is_vip = value
                let data = new FormData();
                let params = {
                    is_vip: this.profile.is_vip
                }
                data.append('data', JSON.stringify(params))
                axios.post('/api/user/update/profile', data)
                .then(response => {
                    let user = response.data.data;

                    this.$store.dispatch('setAuthUserDetail',{
                        profile: user.profile,
                        user: user
                    });

                    helper.sendUpdatePush(this, 'profile')
                }).catch(error => {
                    
                })
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
