<template>
    <div id="wrapper" class="header-container white-back" v-if="isValid">
        <TheRegisterHeader label="プライベートモード" borderClass="" backPageName="mypage" icon="back" />
        <div class="private-item">
            <div class="container">
                <div class="content">
                    <p class="private-title mb-5">ゴーストモード</p>
                    <p class="text">自分のプロフィールを「条件検索」と「足あと」で非表示にします</p>
                </div>
                <img :src="`/assets/${profile.is_private == 1 ? 'on' : 'off'}.svg`" @click="togglePrivate" alt="image" />
            </div>
        </div>
        <div class="private-item">
            <div class="container">
                <div class="content">
                    <p class="private-title mb-5">オンライン非表示</p>
                    <p class="text">自分のログイン状況を「オフライン」として表示します</p>
                </div>
                <img :src="`/assets/${profile.show_online == 1 ? 'on' : 'off'}.svg`" @click="toggleOnline" alt="image" />
            </div>
        </div>
<!--
        <div class="brand-footer">
            <a class="brand-img" href="https://daddyrelax.jp">
                <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                <br/>インターネット異性紹介事業（受理番号:30190079000）
            </a>
            <div class="copy-right">
                2019 © DaddyRelax All Rights Reserved.
            </div>
        </div>
-->
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                isLoading: false,
                profile: this.$store.state.auth.profile,
                me: this.$store.state.auth.user,
                isValid: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading
        },
        created() {
            if (this.me.profile.gender == 1 && this.me.profile.membership.type == 'free') {
                window.history.back();
                return;
            }

            this.isValid = true;
        },
        mounted() {
        },
        methods: {
            checkMembership() {
                if (this.me.profile.gender == 1 && (this.me.profile.membership.type == 'free' || this.me.profile.membership.type == 'paid')) {
                    this.$store.dispatch('setInternalAlert', {
                        type: 'need-plan-up',
                        data: 'remain'
                    });
                    return false;
                }

                return true;
            },
            togglePrivate() {
                if (this.checkMembership() === false) return; 
                
                this.profile.is_private = !this.profile.is_private
                let data = new FormData();
                let params = {
                    is_private: this.profile.is_private
                }
                data.append('data', JSON.stringify(params))
                axios.post('/api/user/update/profile', data)
                .then(response => {
                    let user = response.data.data;

                    this.$store.dispatch('setAuthUserDetail',{
                        profile: user.profile,
                        user: user
                    });

                    helper.sendUpdatePush(this, 'profile')
                }).catch(error => {
                    
                })
            },
            toggleOnline() {
                if (this.checkMembership() === false) return; 

                this.profile.show_online = !this.profile.show_online
                let data = new FormData();
                let params = {
                    show_online: this.profile.show_online
                }
                data.append('data', JSON.stringify(params))
                axios.post('/api/user/update/profile', data)
                .then(response => {
                    let user = response.data.data;

                    this.$store.dispatch('setAuthUserDetail',{
                        profile: user.profile,
                        user: user
                    });
                }).catch(error => {
                    
                })
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
