<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">ダッシュボード</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex user-report-calendar">
                <span @click="move(-1)">&lt;</span>
                <p>ユーザー入退会（{{showMonth}}）</p>
                <span @click="move(1)" v-if="next + 1 <= 0">&gt;</span>
            </div>
            <div class="col-lg-12 d-flex user-report-calendar-num">
                <p>入会数: {{userTotal.news}}名、　退会数：{{userTotal.quits}}名</p>
            </div>
            <div class="col-lg-12" v-if="userOptions.length > 0">
                <LineChart 
                    :news="userNews"
                    :quits="userQuits" 
                    :labels="userOptions" />
            </div>
        </div>
    </div>
</template>

<script>
    import helper from '../../services/helper'
    import ClickConfirm from 'click-confirm'
    import LineChart from "./LineChart"

    export default {
        data(){
            return {
                users_count: '',
                tasks_count: '',
                recent_incomplete_tasks: {},
                todos: [],
                todoForm: new Form({
                    'todo': ''
                }),
                show_todo_status: '',
                current: moment(new Date()).format('YYYY-MM'),
                next: 0,
                userNews: [],
                userQuits: [],
                userOptions: [],
                showMonth: '',
                userTotal: {
                    news: 0,
                    quits: 0
                }
            }
        },
        components : { ClickConfirm, LineChart },
        mounted() {
            this.loadUserReports();
        },
        methods: {
            loadUserReports() {
                this.showMonth = moment(new Date()).add(this.next, 'M').format('YYYY年MM月');
                this.userNews = []
                this.userQuits = []
                this.userOptions = []
                this.userTotal = {
                    news: 0,
                    quits: 0
                }
                axios.post('/api/admin/user/reports', {
                    current: this.current,
                    next: this.next
                }).then(response => {
                    this.userNews = response.data.data.map(item => {
                        return item.news
                    })

                    this.userQuits = response.data.data.map(item => {
                        return item.quits
                    })

                    this.userOptions = response.data.data.map(item => {
                        return item.date
                    })

                    this.userTotal = response.data.total
                })
            },
            move(step) {
                this.next += step;
                this.loadUserReports();
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style lang="scss" scoped>
    .strikethrough{
      text-decoration: line-through;
    }

    .user-report-calendar {
        span {
            font-size: 20px;
            padding: 10px 20px;
            border: 1px solid #d3d3d4;
            border-radius: 4px;
            font-weight: bold;
            cursor: pointer;
            transition: .5s;

            &:hover {
                background: #fff;
            }
        }

        p {
            flex: 1;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }
    }

    .user-report-calendar-num {
        margin-bottom: 20px;
        
        p {
            flex: 1;
            text-align: center;
            font-size: 20px;
        }
    }
</style>
