<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">設定</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-12 mb-20">
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">「いいね」ポイント消費数</label>
                                    <input type="number" v-model="config.like_point_usage" class="form-control" placeholder="20" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">「いいねありがとう」ポイント消費数</label>
                                    <input type="number" v-model="config.like_back_point_usage" class="form-control" placeholder="20" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">「募集投稿」ポイント消費数</label>
                                    <input type="number" v-model="config.timeline_point_usage" class="form-control" placeholder="20" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-12 mb-20">
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">ポイントリセット日数</label>
                                    <input type="number" v-model="config.point_reset_days" class="form-control" placeholder="180" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">募集投稿数／日 </label>
                                    <input type="number" v-model="config.timelines_per_day" class="form-control" placeholder="1" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">通報表示日数</label>
                                    <input type="number" v-model="config.last_days" class="form-control" placeholder="90" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-12 mb-20">
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">いいね上限（男）</label>
                                    <select class="form-control" v-model="config.male_like_limit">
                                        <option v-for="(limit, index) in limits" :key="index" :value="limit">{{limit == -1 ? '無制限' : limit}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">いいね上限（女） </label>
                                    <select class="form-control" v-model="config.female_like_limit">
                                        <option v-for="(limit, index) in limits" :key="index" :value="limit">{{limit == -1 ? '無制限' : limit}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success waves-effect waves-light" @click="update">保存する</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <TheConfirm
            title="設定の保存"
            message="設定を保存しますか？"
            confirmTitle="保存する"
            v-if="needConfirm"
            @confirm="confirm"
            @cancel="cancel" />
        <TheMessage
            title="設定の保存"
            message="設定を保存しました。"
            v-if="completeChange"
            @cancel="completeChange = false" />
    </div>
</template>

<script>
    import helper from '../../services/admin_helper'
    import TheLoading from "../modals/TheLoading";
    import TheConfirm from "../modals/TheConfirm"
    import TheMessage from "../modals/TheMessage"
    import frontHelper from "../../services/helper"

    export default {
        data(){
            return {
                isLoading: false,
                needConfirm: false,
                completeChange: false,
                config: this.$store.state.config,
                limits: [-1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            }
        },
        components : { TheLoading, TheConfirm, TheMessage },
        created() {
        },
        mounted() {
            window.scrollTo(0, 0);

            axios.get('/api/configuration/fetch').then(response => {
                let config = {
                    like_point_usage: 20,
                    like_back_point_usage: 20,
                    timeline_point_usage: 20,
                    point_reset_days: 180,
                    timelines_per_day: 1,
                    last_days: 90,
                    male_like_limit: -1,
                    female_like_limit: -1
                }
                config = frontHelper.formAssign(config, response.data.config);
                this.$store.dispatch('setConfig', config);
                this.config = config
            }).catch();
        },
        methods: {
            confirm() {
                this.needConfirm = false
                axios.post('/api/configuration', this.config).then(response => {
                    this.$store.dispatch('setConfig', this.config);
                    this.completeChange = true;
                })
            },
            cancel() {
                this.needConfirm = false;
            },
            update() {
                this.needConfirm = true;
            }
        },
    }
</script>
<style lang="scss" scoped>
.td-item {
    display: flex;
    cursor: pointer;

    .td-nickname {
        margin-left: 20px;
        overflow: hidden;
        flex: 1;
        height: 60px;
        line-height: 60px;
    }
}
</style>
