<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">売上集計</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-12 mb-20">
                            <div class="col-md-6">
                                <div class="form-group mb-0 date-picker">
                                    <label for="">購入日</label>
                                    <div class="pickers">
                                        <DatePicker v-model="startDate" @change="selectStartDate" lang="ja" format="YYYY年MM月DD日" />
                                        <span>～</span>
                                        <DatePicker v-model="endDate" @change="selectEndDate" lang="ja" format="YYYY年MM月DD日" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-0 date-picker">
                                    <label for="">会員登録日</label>
                                    <div class="pickers">
                                        <DatePicker v-model="startRegisterDate" @change="selectStartRegisterDate" lang="ja" format="YYYY年MM月DD日" />
                                        <span>～</span>
                                        <DatePicker v-model="endRegisterDate" @change="selectEndRegisterDate" lang="ja" format="YYYY年MM月DD日" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-12 mb-20">
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">地域</label>
                                    <select name="status" class="form-control" v-model="city_id">
                                        <option value="-1">すべて</option>
                                        <option v-for="(city, index) in masterData.cities" :key="index" :value="city.id">{{city.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">職業</label>
                                    <select name="status" class="form-control" v-model="job_id">
                                        <option value="-1">すべて</option>
                                        <option v-for="(job, index) in jobs" :key="index" :value="job.id">{{job.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">年収</label>
                                    <select name="status" class="form-control" v-model="salary_id">
                                        <option value="-1">すべて</option>
                                        <option v-for="(salary, index) in masterData.salaries" :key="index" :value="salary.id">{{salary.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success waves-effect waves-light" @click="loadTrends">検索する</button>
                                <button type="button" class="btn btn-warning waves-effect waves-light" @click="resetFilter">リセットする</button>
                            </div>
                        </div>

                        <h4 class="card-title m-t-40">ポイント購入</h4>
                        <div class="table-responsive">
                            <table class="table" v-if="packages.length > 0">
                                <thead>
                                    <tr>
                                        <th>金額</th>
                                        <th>購入数</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(pack, index) in packages" :key="index">
                                        <td>
                                            {{ pack.price | number}}円
                                        </td>
                                        <td>
                                            {{ pack.purchase | number}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <h4 class="card-title m-t-40">コースの購入</h4>
                        <div class="table-responsive">
                            <table class="table" v-if="memberships.length > 0">
                                <thead>
                                    <tr>
                                        <th>プラン</th>
                                        <th>金額</th>
                                        <th>購入数</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(membership, index) in memberships" :key="index">
                                        <td>
                                            {{ membership | plan }}
                                        </td>
                                        <td>
                                            {{ membership.price | number}}円/月
                                        </td>
                                        <td>
                                            {{ membership.purchase | number}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from '../../services/admin_helper'
    import TheLoading from "../modals/TheLoading";
    import frontHelper from "../../services/helper"
    import { delimiter } from 'path';
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import 'vue2-datepicker/locale/ja';

    export default {
        data() {
            return {
                isLoading: false,
                packages: [],
                memberships: [],
                startDate: undefined,
                endDate: undefined,
                startRegisterDate: undefined,
                endRegisterDate: undefined,
                masterData: {},
                city_id: -1,
                job_id: -1,
                jobs: [],
                salary_id: -1
            }
        },
        components : { TheLoading, DatePicker },
        created() {
            this.masterData = this.$store.state.masterData
            this.jobs = this.masterData.allJobs.filter(item => {
                return item.gender === 1;
            })
        },
        mounted() {
            window.scrollTo(0, 0);
            this.loadTrends();
        },
        methods: {
            loadTrends() {
                let params = {
                    city_id: this.city_id,
                    job_id: this.job_id,
                    salary_id: this.salary_id
                }
                if (this.startDate != undefined && this.startDate != null) {
                    params.start_date = helper.formatDBDate(this.startDate) + " 00:00:00";
                }

                if (this.endDate != undefined && this.endDate != null) {
                    params.end_date = helper.formatDBDate(this.endDate) + " 23:59:59";
                }

                if (this.startRegisterDate != undefined && this.startRegisterDate != null) {
                    params.start_register_date = helper.formatDBDate(this.startRegisterDate) + " 00:00:00";
                }

                if (this.endRegisterDate != undefined && this.endRegisterDate != null) {
                    params.end_register_date = helper.formatDBDate(this.endRegisterDate) + " 23:59:59";
                }
                
                axios.post('/api/admin/telecom/trends', params)
                .then(response => {
                    this.packages = response.data.packages;
                    this.memberships = response.data.memberships;
                })
            },
            resetFilter() {
                this.startDate = undefined
                this.endDate = undefined
                this.startRegisterDate = undefined
                this.endRegisterDate = undefined
                this.job_id = -1
                this.city_id = -1
                this.salary_id = -1

                this.loadTrends()
            },
            selectEndDate() {
                if (this.startDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            },
            selectStartDate() {
                if (this.endDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            },
            selectEndRegisterDate() {
                if (this.startRegisterDate != undefined) {
                    let end = new Date(this.endRegisterDate);
                    let start = new Date(this.startRegisterDate);

                    if (end.getTime() < start.getTime()) {
                        this.endRegisterDate = undefined;
                    }
                }
            },
            selectStartRegisterDate() {
                if (this.endRegisterDate != undefined) {
                    let end = new Date(this.endRegisterDate);
                    let start = new Date(this.startRegisterDate);

                    if (end.getTime() < start.getTime()) {
                        this.endRegisterDate = undefined;
                    }
                }
            },
        },
        filters: {
          number(price) {
            return helper.formatMoney(price);
          },
          plan(plan) {
            if (plan.type == 'paid') return '有料' + plan.period + 'ヶ月プラン'
            return 'プラチナプラン'
          }
        }
    }
</script>
<style lang="scss" scoped>
.td-item {
    display: flex;
    cursor: pointer;

    .td-nickname {
        margin-left: 20px;
        overflow: hidden;
        flex: 1;
        height: 60px;
        line-height: 60px;
    }
}
</style>
