<template>
    <div id="wrapper" :class="`front-container gray-back ${lastUserIndex >= 0 ? 'white' : ''}`">
        <div class="inner-container-mw5 mt-10">
            <div class="d-flex-wrap" v-if="searchUsers.users.length > 0">
                <TheSearchUserItem 
                    v-for="(user, index) in searchUsers.users"
                    :key="index"
                    :user="user"
                    ref="userItems"
                    @click="openUser" />
                <div class="search-user-item mb-16 no-border" v-if="searchUsers.users.length % 2 == 1"></div>
            </div>
            <div class="empty-list-box ch-110" v-else>
                <div>
                    <p class="mb-10">検索結果の会員は<br/>見つかりませんでした</p>
                    <img src="/assets/empty_like.svg" alt="image"/>
                    <router-link :to="{ path: 'search/filter' }" class="btn-main small mt-20">検索条件を変更する</router-link>
                </div>
            </div>
            <!--<p class="mt-20 page-message" v-else>検索結果の会員は見つかりませんでした</p>-->
        </div>
        <TheFirstDialog
            :title="firstLoginTitle[selectedGender]"
            :message="firstLoginMessages[selectedGender]"
            @confirm="confirmFirstRegister"
            v-if="selectedGender >= 0" />
        <TheLoading v-if="isLoading == true" />
    </div>
</template>

<script>
    import helper from '../../../services/helper'
    import TheLoading from "../../modals/TheLoading"
    import TheSearchUserItem from "../components/search_user_item"
    import TheFirstDialog from "../../modals/TheFirstDialog.vue"

    export default {
        data(){
            return {
                isLoading: false,
                isFetching: false,
                pageLimit: 10,
                nextPage: 1,
                searchUsers: this.$store.state.searchUsers,
                currentUser: this.$store.state.auth.user,
                lastUserIndex: -1,
                firstLoginMessages: [
                    '<div class="border_brown bold mb-10">ご登録ありがとうございます。</div>キャンペーン期間中につき<span class="first-dialog-text-bold">初回600ポイント</span>をプレゼントしました。さっそく好みの女性に「いいね」してみましょう！<br/><div class="message_grayback">画面右上の🔍アイコンから検索できます。</div>', // 男
                    '<div class="border_brown bold mb-10">ご登録ありがとうございます。</div>女性の会員さま「いいね／投稿」すべて<span class="first-dialog-text-bold">無料0円</span>でご利用いただけます。退会や再登録など何回でもご自由にどうぞ。<br/><div class="message_grayback">プロフィール写真を掲載すると<br/>「男性会員の通報数」が表示されます。</div>' // 女
                ],
                firstLoginTitle: [
                    '新規登録 600ptプレゼント！', // 男
                    '女性会員ご利用すべて無料' // 女
                ],
                selectedGender: -1
            }
        },
        components: {
            TheLoading,
            TheSearchUserItem,
            TheFirstDialog
        },
        created() {
            if (this.searchUsers.users.length == 0) {
                this.isLoading = true;
            }
            this.searchUsers.hasMore = true;
            this.fetchUsers();
        },
        mounted() {
            if (this.$store.state.auth.user.is_first === 1) {
                this.selectedGender = this.$store.state.auth.user.profile.gender - 1
            }
            
            if (this.$store.state.auth.status != 'activated_profile') {
                this.isLoading = true
                
                helper.authUser().then(response => {
                    this.isLoading = false
                    if (response.user.status != 'activated_profile') {
                        this.$router.push({ name: 'profile_step1' });
                    }
                }).catch(error => {
                    this.isLoading = false
                    toastr['error'](error.response.data.message);
                })
            }

            window.addEventListener('scroll', this.onScroll)
            window.localStorage.setItem('detail_from', 'search')
            window.localStorage.removeItem('detail_view_index')
            this.$cookies.remove('point_id')
            this.$cookies.remove('membership_id')
            this.$cookies.remove('platium_id')

            if (window.localStorage.getItem('last_user_index')) {
                this.lastUserIndex = parseInt(window.localStorage.getItem('last_user_index'));
                window.localStorage.removeItem('last_user_index');
            }

            let self = this;
            this.$nextTick(function () {
                if (self.lastUserIndex >= 0 && self.$refs.userItems && self.$refs.userItems.length > self.lastUserIndex) {
                    window.scrollTo(0, self.$refs.userItems[self.lastUserIndex].$el.offsetTop - self.$refs.userItems[0].$el.offsetTop);
                    self.lastUserIndex = -1;
                }

            })
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.onScroll);
        },
        methods: {
            confirmFirstRegister() {
                this.selectedGender = -1
                
                axios.post('/api/user/update/profile', {
                    is_first: 0
                }).then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });
                })
            },
            fetchUsers() {
                if (this.searchUsers.hasMore == false) {
                    this.isFetching = false;
                    return;
                }

                let params = Object.assign({}, this.$store.state.appliedFilters);
                params.limit = this.pageLimit;
                params.currentUsersNum = this.searchUsers.users ? this.searchUsers.users.length : 0

                helper.fetchUsers(this, params).then(response => {
                    if (response != 'error') {
                        this.searchUsers = response;
                        this.isLoading = false;
                        this.isFetching = false;
                        this.$forceUpdate();
                    }
                })
            },
            onScroll(e) {
                this.scrollTop = e.srcElement.scrollingElement.scrollTop;
                if (e.srcElement.scrollingElement.scrollTop + e.srcElement.scrollingElement.clientHeight >= e.srcElement.scrollingElement.scrollHeight - 150) {
                    if (this.isFetching == false) {
                        this.isFetching = true;
                        this.fetchUsers();
                    }
                }
            },
            loadMore() {
                if (this.isFetching == false) {
                    this.isFetching = true;
                    this.fetchUsers();
                }
            },
            openUser(user) {
                this.$router.push('/user/' + user.provider_unique_id);
            },
            swipeDown() {
                if (this.isFetching == false) {
                    this.isFetching = true;
                    this.isLoading = true;
                    this.searchUsers.hasMore = true;
                    this.fetchUsers();
                }
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style>
    .strikethrough{
      text-decoration: line-through;
    }
</style>
