<template>
    <div>
        <div class="row">
            <div class="col-lg-12" v-if="isLoading == false">
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-12 mb-20">
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">ブロックしたユーザー名</label>
                                    <input type="text" v-model="filterForm.username" class="form-control" placeholder="ユーザー名" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">ブロックしたユーザー会員ID</label>
                                    <input type="text" v-model="filterForm.user_id" class="form-control" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">ブロックされたユーザー名</label>
                                    <input type="text" v-model="filterForm.blockUsername" class="form-control" placeholder="ユーザー名" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <label for="">ブロックされたユーザー会員ID</label>
                                    <input type="text" v-model="filterForm.block_user_id" class="form-control" placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-12 mb-20">
                            <div class="col-md-6">
                                <div class="form-group mb-0 date-picker">
                                    <label for="">ブロック日</label>
                                    <div class="pickers">
                                        <DatePicker v-model="startDate" @change="selectStartDate" lang="ja" format="YYYY年MM月DD日" />
                                        <span>～</span>
                                        <DatePicker v-model="endDate" @change="selectEndDate" lang="ja" format="YYYY年MM月DD日" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success waves-effect waves-light" @click="loadBlocks">検索する</button>
                                <button type="button" class="btn btn-warning waves-effect waves-light" @click="resetFilter">リセットする</button>
                            </div>
                        </div>

                        <h4 class="card-title m-t-40">ブロック一覧</h4>
                        <h6 class="card-subtitle" v-if="blocks.total > 0">{{blocks.total}}つブロックがあります。</h6>
                        <h6 class="card-subtitle" v-if="blocks.total == 0">ブロックがありません！</h6>

                        <div class="row">
                            <div class="col-md-8">
                                <pagination :data="blocks" :limit=10 v-on:pagination-change-page="loadBlocks"></pagination>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right">
                                    <select name="pageLength" class="form-control" v-model="pageLength" @change="loadBlocks" v-if="blocks.total">
                                        <option value="5">5つ</option>
                                        <option value="10">10つ</option>
                                        <option value="25">25つ</option>
                                        <option value="100">100つ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table" v-if="blocks.data.length > 0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>ブロックしたユーザー名</th>
                                        <th>ID</th>
                                        <th>ブロックされたユーザー名</th>
                                        <th>ブロック日</th>
                                        <th style="max-width: 60px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(block, index) in blocks.data" :key="index">
                                        <td>{{block.user.id}}</td>
                                        <td>
                                            <a :href="`/admin/user/detail/${block.user.provider_unique_id}/profile`" target="_blank">
                                                <img class="user-avatar" :src="getAvatar(block.user)" alt="image"/>
                                                <span class="td-nickname">{{block.user.profile.nickname}}</span>
                                            </a>
                                        </td>
                                        <td>{{block.block_user.id}}</td>
                                        <td>
                                            <a :href="`/admin/user/detail/${block.block_user.provider_unique_id}/profile`" target="_blank" class="td-item">
                                                <img class="user-avatar" :src="getAvatar(block.block_user)" alt="image"/>
                                                <span class="td-nickname">{{block.block_user.profile.nickname}}</span>
                                            </a>
                                        </td>
                                        <td class="without-image">{{block.created_at | momentWithTime}}</td>
                                        <td style="max-width: 60px;">
                                            <button type="button" class="btn btn-danger btn-sm" @click="removeBlock(block)" data-toggle="tooltip" title="削除"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <TheLoading v-if="isLoading" /> -->
        <TheConfirm
            title="ブロックの解除"
            message="ブロックを解除しますか？"
            confirmTitle="削除する"
            v-if="needConfirm"
            @confirm="removeConfirm"
            @cancel="removeCancel" />
    </div>
</template>

<script>
    import helper from '../../../services/admin_helper'
    import TheLoading from "../../modals/TheLoading";
    import pagination from 'laravel-vue-pagination'
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import 'vue2-datepicker/locale/ja';
    import TheConfirm from "../../modals/TheConfirm"

    export default {
        data(){
            return {
                isLoading: false,
                pageLength: 25,
                blocks: [],
                filterForm: {
                    username: '',
                    blockUsername: '',
                    user_id: '',
                    block_user_id: ''
                },
                allFromUsers: [],
                allToUsers: [],
                startDate: undefined,
                endDate: undefined,
                needConfirm: false,
                selectedBlock: undefined
            }
        },
        components : { TheLoading, pagination, DatePicker, TheConfirm },
        created() {
            this.isLoading = true;            
            this.loadBlocks(1);
        },
        mounted() {
            window.scrollTo(0, 0);
        },
        methods: {
            getAvatar(user) {
                if (user.profile.vip_image) return user.profile.vip_image.url;

                return user.profile.avatar && user.profile.avatar != '' ? user.profile.avatar : (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
            },
            resetFilter() {
                this.filterForm = {
                    username: '',
                    blockUsername: '',
                    user_id: '',
                    block_user_id: ''
                }
                this.startDate = undefined
                this.endDate = undefined

                this.loadBlocks(1);
            },
            loadBlocks(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                let params = Object.assign({}, this.filterForm);
                params.limit = this.pageLength;
                params.page = page;

                if (this.startDate != undefined && this.startDate != null) {
                    params.start_date = helper.formatDBDate(this.startDate) + " 00:00:00";
                }

                if (this.endDate != undefined && this.endDate != null) {
                    params.end_date = helper.formatDBDate(this.endDate) + " 23:59:59";
                }

                axios.post('/api/admin/blocks', params)
                .then(response => {                    
                    this.blocks = response.data.data;
                    this.allFromUsers = response.data.froms;
                    this.allToUsers = response.data.tos;
                    this.isLoading = false;
                }).catch(error => {
                    this.blocks = {
                        data: []
                    }
                    this.isLoading = false;
                })
            },
            selectEndDate() {
                if (this.startDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            },
            selectStartDate() {
                if (this.endDate != undefined) {
                    let end = new Date(this.endDate);
                    let start = new Date(this.startDate);

                    if (end.getTime() < start.getTime()) {
                        this.endDate = undefined;
                    }
                }
            },
            removeBlock(block) {
                this.selectedBlock = block
                this.needConfirm = true
            },
            removeConfirm() {
                axios.post('/api/admin/block/remove', {
                    id: this.selectedBlock.id
                }).then(response => {
                    this.loadBlocks(1)
                })
                this.needConfirm = false
            },
            removeCancel() {
                this.needConfirm = false
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          },
          number(price) {
            return helper.formatMoney(price);
          }
        }
    }
</script>
<style lang="scss" scoped>
.td-item {
    display: flex;
    cursor: pointer;

    .td-nickname {
        margin-left: 20px;
        overflow: hidden;
        flex: 1;
        height: 60px;
        line-height: 60px;
    }
}
</style>
