<template>
    <div>
        <div class="row">
            <div class="col-lg-12" v-if="isLoading == false">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success waves-effect waves-light" @click="newNotification">新規作成</button>
                            </div>
                        </div>

                        <h4 class="card-title m-t-40">お知らせ一覧</h4>
                        <h6 class="card-subtitle" v-if="notifications.total > 0">{{notifications.total}}つお知らせがあります。</h6>
                        <h6 class="card-subtitle" v-if="notifications.total == 0">お知らせがありません！</h6>

                        <div class="row">
                            <div class="col-md-8">
                                <pagination :data="notifications" :limit=10 v-on:pagination-change-page="loadNotifications"></pagination>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right">
                                    <select name="pageLength" class="form-control" v-model="pageLength" @change="loadNotifications" v-if="notifications.total">
                                        <option value="5">5つ</option>
                                        <option value="10">10つ</option>
                                        <option value="25">25つ</option>
                                        <option value="100">100つ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table" v-if="notifications.data.length > 0">
                                <thead>
                                    <tr>
                                        <th>タイトル</th>
                                        <th>内容</th>
                                        <th>配信日時</th>
                                        <th style="width: 120px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(notification, index) in notifications.data" :key="index">
                                        <td>
                                            {{notification.title}}
                                        </td>
                                        <td>
                                            <pre v-html="notification.content" class="timeline-brief"></pre>
                                        </td>
                                        <td>{{notification| momentWithTime}}</td>
                                        <td style="width: 120px;">
                                            <button class="btn btn-primary btn-sm" @click.prevent="openNotification(notification)" data-toggle="tooltip" title=""><i class="fa fa-eye"></i></button>
                                            <!-- <button class="btn btn-danger btn-sm" @click.prevent="removeNotification(notification)" data-toggle="tooltip" title="削除"><i class="fa fa-trash"></i></button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <TheLoading v-if="isLoading" /> -->
        <TheDetailModal
            v-if="selectedNotification != undefined"
            :notification="selectedNotification"
            @remove="removeNotification"
            @cancel="cancel" />
        <TheNewNotificationModal
            v-if="isNew"
            @confirm="confirm"
            @cancel="cancelNew" />
    </div>
</template>

<script>
    import helper from '../../../services/admin_helper'
    import TheLoading from "../../modals/TheLoading";
    import pagination from 'laravel-vue-pagination'
    import TheDetailModal from "./modals/TheDetailModal"
    import TheNewNotificationModal from './modals/TheNewNotificationModal'
    import TheConfirm from "../../modals/TheConfirm";

    export default {
        data(){
            return {
                isLoading: false,
                pageLength: 25,
                notifications: [],
                selectedNotification: undefined,
                isNew: false,
                needConfirm: false,
                currentNotification: undefined,
                currentPage: 1
            }
        },
        components : { TheLoading, pagination, TheDetailModal, TheNewNotificationModal, TheConfirm },
        created() {
            this.isLoading = true;            
            this.loadNotifications(1);
        },
        mounted() {
            window.scrollTo(0, 0);
        },
        methods: {
            loadNotifications(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                let params = {};
                params.limit = this.pageLength;
                params.page = page;

                this.currentPage = page;

                axios.post('/api/admin/notifications', params)
                .then(response => {                    
                    this.notifications = response.data.data;
                    this.isLoading = false;
                }).catch(error => {
                    this.notifications = {
                        data: []
                    }
                    this.isLoading = false;
                })
            },
            openNotification(notification) {
                this.selectedNotification = notification
            },
            removeNotification() {
                let params = {
                    id: this.selectedNotification.id,
                    page: this.currentPage,
                    limit: this.pageLength
                }

                axios.post('/api/admin/notification/delete', params)
                .then(response => {                    
                    this.notifications = response.data.data;
                    this.isLoading = false;
                }).catch(error => {
                    this.notifications = {
                        data: []
                    }
                    this.isLoading = false;
                })
                this.selectedNotification = undefined
            },
            cancel() {
                this.selectedNotification = undefined
            },
            newNotification() {
                this.isNew = true;
            },
            confirm(title, content, deliveryDate, showAlert, maleAlert, femaleAlert) {
                this.isNew = false;
                if (deliveryDate instanceof Date) {
                    deliveryDate = moment(deliveryDate).format("YYYY年MM月DD日 HH:mm")
                }

                let params = {
                    title: title,
                    content: content,
                    delivery_at: deliveryDate.replace('年', '-').replace('月', '-').replace('日', '') + ":00",
                    page: 1,
                    limit: this.pageLength,
                    show_alert: showAlert ? 1 : 0
                }

                if (maleAlert === true && femaleAlert === true) {
                    params.target = 'all';
                } else {
                    if (maleAlert === true) {
                        params.target = 'male';
                    }
                    if (femaleAlert === true) {
                        params.target = 'female';
                    }
                }

                axios.post('/api/admin/notification/new', params)
                .then(response => {                    
                    this.notifications = response.data.data;
                    this.isLoading = false;
                }).catch(error => {
                    this.notifications = {
                        data: []
                    }
                    this.isLoading = false;
                })
            },
            cancelNew() {
                this.isNew = false;
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(notification) {
            if (notification.delivery_at != undefined && notification.delivery_at != null)
                return helper.formatDateTime(notification.delivery_at);
            return helper.formatDateTime(notification.created_at);
          },
          number(price) {
            return helper.formatMoney(price);
          }
        }
    }
</script>
<style lang="scss" scoped>
.timeline-brief {
    max-height: 80px;
}
</style>
