<template>
    <div id="wrapper" class="header-container front-wrapper ">
        <TheRegisterHeader label="ポイント換金" borderClass="" backPageName="history.back" icon="back" />
        <div class="container">
            <div class="point-balance-history center mt-20 mb-20">
                <span class="title">ポイント残高</span>
                <span class="num">{{this.$store.state.auth.user.profile.points}}</span>
                <span class="jp">P</span>
            </div>
        </div>  
        <div class="front-page-container front-page-container2">    
            <div class="front-container-exchange">    
                <div class="mypage-profile-membership">
                    <router-link class="membership-status" :to="{ name: 'exchange_point' }">        
                        <span class="title mt-20">1P = 0.8円</span>
                    </router-link>
                    <span class="seperator"></span>
                    <router-link class="membership-status" :to="{ name: 'cost_setting' }">    
                        <span class="title mt-20">{{this.$store.state.auth.user.profile.points*0.8}}円</span>
                    </router-link>
                </div>
                <div class="point-balance2 mt-10 mb-10">
                    <span class="title">【お振込み口座】</span>
                    </br>
                    <span class="title">{{this.$store.state.auth.user.bank ? this.$store.state.auth.user.bank.bank_name : ''}} {{this.$store.state.auth.user.bank ? this.$store.state.auth.user.bank.branch_name : ''}}</span>
                    </br>
                    <span class="title">{{this.$store.state.auth.user.bank ? this.$store.state.auth.user.bank.branch_code : ''}} {{this.$store.state.auth.user.bank ? this.$store.state.auth.user.bank.account_number : ''}}</span>
                    </br>
                    <span class="title">{{this.$store.state.auth.user.bank ? this.$store.state.auth.user.bank.account_name : ''}}</span>
                    </br>
                    <center><button class="btn btn-secondary mt-10 center" type="button" @click="settingBanking" >お振込み口座設定</button></center>
                </div>
                <div class="mt-10 mb-30 mw-20">
                    <span class="info-exchange">・注意書きあああああああああああああああああああ</span>
                    </br>
                    <span class="info-exchange">・注意書きあああああああああああああああああああ</span>
                    </br>
                    <span class="info-exchange">・注意書きあああああああああああああああああああ</span>
                    </br>
                    <button :class="getButtonClass()"　:disabled="this.getButtonClass().includes('disabled')"　type="button" @click="exchangePoint" >換金する</button>
                </div>
            </div>
            
         </div>
        <TheLoading v-if="isLoading == true" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheLoading from "../../../modals/TheLoading"
    import PointUsage from "../../components/pointusage_item"
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'

    export default {
        data(){
            return {
                isLoading: false,
                isFetching: false,
                pointusages: this.$store.state.pointusages,
                pageLimit: 10,
                isEmpty: false,
                lastTimelineIndex: -1,
                showTimelineLimit: false
            }
        },
        components: {
            TheLoading, PointUsage, TheRegisterHeader
        },
        watch: {
        },
        created() {
            let pointusages = this.pointusages;
            pointusages.hasMore = true;
            this.$store.dispatch('setPointusages', pointusages);
        },
        mounted() {
            window.scrollTo(0, 0);
            if (window.localStorage.getItem('last_timeline_index')) {
                this.lastTimelineIndex = parseInt(window.localStorage.getItem('last_timeline_index'));
                window.localStorage.removeItem('last_timeline_index');
            }

            this.loadPointusages();

            window.addEventListener('scroll', this.onScroll)
            window.localStorage.removeItem('timeline_view_index')
            window.localStorage.setItem('detail_from', 'timeline')
            window.localStorage.removeItem('detail_view_index')
            window.scrollTo(0, 0);
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.onScroll);
        },
        methods: {
            changeFilter() {
                
                let pointusages = this.pointusages;
                pointusages.hasMore = true;
                this.$store.dispatch('setPointusages', pointusages);
                this.loadPointusages();
            },
            getButtonClass() {
                if (this.$store.state.auth.user.profile.points == 0) {
                    return 'btn btn-main mt-10 center disabled';
                }

                return 'btn btn-main mt-10 center';
            },
            settingBanking() {
                this.$router.push('/mypage/form-banking');
            },
            exchangePoint() {
                axios.post('/api/point/exchange-points', {
                    points: this.$store.state.auth.user.profile.points
                }).then(response => {
                    this.$router.push('/mypage/finish');
                }).catch(error => {
                })
            },
            openPointusage(pointusage) {
                this.$router.push('/mypage/history-detail/' + pointusage.id);
            },
            openReceipt(pointusage) {
                this.$router.push('/mypage/receipt/' + pointusage.id);
            },
            addTimeline() {
                if (this.$store.state.auth.user.today_pointusages.length < this.$store.state.config.pointusages_per_day) {
                    this.$router.push({ name: 'timeline_add' });
                } else {
                    this.showTimelineLimit = true;
                }
            },
            forceReload() {
                this.isLoading = true;
                let pointusages = this.pointusages;
                pointusages.hasMore = true;
                this.$store.dispatch('setPointusages', pointusages);
                this.loadPointusages();
            },
            loadPointusages() {
                if (this.pointusages.hasMore == false) return;

                this.isFetching = true;
                let params = Object.assign({}, this.$store.state.timelineFilters);
                params.limit = this.pageLimit;
                params.currentpointusagesNum = this.pointusages.pointusages ? this.pointusages.pointusages.length : 0

                axios.post('/api/point/history', params)
                .then(response => {
                    let result = response.data.data;

                    if (result.data.length == 0 && result.last_page == 1) {
                        this.pointusages = {
                            pointusages: [],
                            hasMore: true,
                            hasLoaded: false
                        }
                    } else {
                        this.pointusages = {
                            pointusages: result.data,
                            hasMore: result.current_page != result.last_page,
                            hasLoaded: true
                        }
                    }

                    this.$store.dispatch('setPointusages', this.pointusages);
                    this.isFetching = false;
                    this.isEmpty = result.data.length == 0;
                    this.isLoading = false;
                    this.$forceUpdate();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    this.isFetching = false;
                    this.isLoading = false;
                })
            },
            onScroll(e) {
                if (e.srcElement.scrollingElement.scrollTop + e.srcElement.scrollingElement.clientHeight >= e.srcElement.scrollingElement.scrollHeight - 150) {
                    if (this.isFetching == false) {
                        this.loadPointusages();
                    }
                }

                this.scrollTop = e.srcElement.scrollingElement.scrollTop;
            },
            loadMore() {
                if (this.isFetching == false) {
                    this.loadPointusages();
                }
            },
            swipeDown() {
                if (this.isFetching == false) {
                    this.isFetching = true;
                    this.isLoading = true;
                    this.pointusages.hasMore = true;
                    this.loadpointusages();
                }
            }
        },
        computed: {
        }
    }
</script>
<style>
    .front-page-container2 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .point-balance2 {
        border: 1px solid #202020;
        padding: 18px 20px;
        margin: 20px 10px 30px;
        border-radius: 5px;
    }
</style>
