<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="利用履歴" borderClass="" backPageName="history.back" icon="back" />
        <div class="container">
            <div class="point-balance-history center mt-20 mb-30">
                <span class="title">ポイント残高</span>
                <span class="num">{{this.$store.state.auth.user.profile.points}}</span>
                <span class="jp">P</span>
            </div>
            <div>
                <div class="mb-48" v-if="pointusages.pointusages.length > 0">
                    <PointUsage 
                        v-for="(pointusage, index) in pointusages.pointusages"
                        :key="index"
                        :pointusage="pointusage"
                        ref="timelineItems"
                        @openPointusage="openPointusage"
                        @openReceipt="openReceipt" />
                </div>
                <div class="empty-list-box" v-if="isEmpty">
                    <div>
                        <p class="mb-10">履歴がありません</p>
                        <img src="/assets/empty_timeline.svg" alt="image"/>
                    </div>
                </div>
            </div>
        </div>
        <TheLoading v-if="isLoading == true" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheLoading from "../../../modals/TheLoading"
    import PointUsage from "../../components/pointusage_item"
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'

    export default {
        data(){
            return {
                isLoading: false,
                isFetching: false,
                pointusages: this.$store.state.pointusages,
                pageLimit: 10,
                isEmpty: false,
                lastTimelineIndex: -1,
                showTimelineLimit: false
            }
        },
        components: {
            TheLoading, PointUsage, TheRegisterHeader
        },
        watch: {
        },
        created() {
            let pointusages = this.pointusages;
            pointusages.hasMore = true;
            this.$store.dispatch('setPointusages', pointusages);
        },
        mounted() {
            window.scrollTo(0, 0);
            if (window.localStorage.getItem('last_timeline_index')) {
                this.lastTimelineIndex = parseInt(window.localStorage.getItem('last_timeline_index'));
                window.localStorage.removeItem('last_timeline_index');
            }

            this.loadPointusages();

            window.addEventListener('scroll', this.onScroll)
            window.localStorage.removeItem('timeline_view_index')
            window.localStorage.setItem('detail_from', 'timeline')
            window.localStorage.removeItem('detail_view_index')
            window.scrollTo(0, 0);
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.onScroll);
        },
        methods: {
            changeFilter() {
                
                let pointusages = this.pointusages;
                pointusages.hasMore = true;
                this.$store.dispatch('setPointusages', pointusages);
                this.loadPointusages();
            },
            openPointusage(pointusage) {
                this.$router.push('/mypage/history-detail/' + pointusage.id);
            },
            openReceipt(pointusage) {
                this.$router.push('/mypage/receipt/' + pointusage.id);
            },
            addTimeline() {
                if (this.$store.state.auth.user.today_pointusages.length < this.$store.state.config.pointusages_per_day) {
                    this.$router.push({ name: 'timeline_add' });
                } else {
                    this.showTimelineLimit = true;
                }
            },
            forceReload() {
                this.isLoading = true;
                let pointusages = this.pointusages;
                pointusages.hasMore = true;
                this.$store.dispatch('setPointusages', pointusages);
                this.loadPointusages();
            },
            loadPointusages() {
                if (this.pointusages.hasMore == false) return;

                this.isFetching = true;
                let params = Object.assign({}, this.$store.state.timelineFilters);
                params.limit = this.pageLimit;
                params.currentpointusagesNum = this.pointusages.pointusages ? this.pointusages.pointusages.length : 0

                axios.post('/api/point/history', params)
                .then(response => {
                    let result = response.data.data;

                    if (result.data.length == 0 && result.last_page == 1) {
                        this.pointusages = {
                            pointusages: [],
                            hasMore: true,
                            hasLoaded: false
                        }
                    } else {
                        this.pointusages = {
                            pointusages: result.data,
                            hasMore: result.current_page != result.last_page,
                            hasLoaded: true
                        }
                    }

                    this.$store.dispatch('setPointusages', this.pointusages);
                    this.isFetching = false;
                    this.isEmpty = result.data.length == 0;
                    this.isLoading = false;
                    this.$forceUpdate();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    this.isFetching = false;
                    this.isLoading = false;
                })
            },
            onScroll(e) {
                if (e.srcElement.scrollingElement.scrollTop + e.srcElement.scrollingElement.clientHeight >= e.srcElement.scrollingElement.scrollHeight - 150) {
                    if (this.isFetching == false) {
                        this.loadPointusages();
                    }
                }

                this.scrollTop = e.srcElement.scrollingElement.scrollTop;
            },
            loadMore() {
                if (this.isFetching == false) {
                    this.loadPointusages();
                }
            },
            swipeDown() {
                if (this.isFetching == false) {
                    this.isFetching = true;
                    this.isLoading = true;
                    this.pointusages.hasMore = true;
                    this.loadpointusages();
                }
            }
        },
        computed: {
        }
    }
</script>
<style>
</style>
