<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="利用明細" borderClass="" backPageName="history.back" icon="back" />
        <div class="container">
            <div>
                <div class="mb-48">
                    <div class="user-item-history-detail mb-5 mt-10">
                        <img :src="getAvatar" v-if="!(this.isBlockedBy() || this.pointusage.user.is_deleted >= 1)" alt="image" class="has-cursor" @click="openUser" />
                        <div class="user-item-content">
                            <div class="user-item-name">
                                <span :class="getOnlineStatus"></span>
                                <p class="name"><span>{{pointusage.point_usage_details[0].user.profile.nickname}}</span><span>{{pointusage.point_usage_details[0].user.profile.age}}歳</span></p>
                                <p class="city">{{pointusage.point_usage_details[0].user.profile.city.name}}</p>
                            </div>
                            <p class="user-item-text">{{ pointusage.point_usage_details[0].recruitment_start_date | formatFullDateTime }}</p>
                        </div>
                    </div>
                    <div class=" notifications-item" v-for="(detail, index) in pointusage.point_usage_details" :key="index">
                        <p class="name">
                            <span>{{ detail | diffMinutes }}</span>
                            <span class="pull-right-history-detail">{{ detail.points }}P</span>
                        </p>
                    </div>
                    <div class="notifications-item">
                        <p class="name">
                            <span>小計</span>
                            <span class="pull-right-history-detail">{{ pointusage.points }}P</span>
                        </p>
                    </div>    
                </div>
            </div>
        </div>
        <TheLoading v-if="isLoading == true" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheLoading from "../../../modals/TheLoading"
    import PointUsage from "../../components/pointusage_item"
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'

    export default {
        data(){
            return {
                isLoading: false,
                isFetching: false,
                pointusages: this.$store.state.pointusages,
                pointusage: null
            }
        },
        components: {
            TheLoading, PointUsage, TheRegisterHeader
        },
        watch: {
        },
        created() {
            let pointusages = this.pointusages;
            pointusages.hasMore = true;
            this.$store.dispatch('setPointusages', pointusages);
            this.$store.state.pointusages.pointusages.map((item, index) => {
                if (item.id == this.$route.params.id) {
                    this.pointusage = item;
                    
                }
            })
        },
        mounted() {
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.onScroll);
        },
        methods: {
            openUser() {
                this.$router.push('/user/' + this.pointusage.user.provider_unique_id);
            },
            isBlockedBy() {
                let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.pointusage.user.id)
                return blocks && blocks.length > 0;
            },
        },
        filters: {
            moment(date) {
                return helper.formatDateTime(date);
            },
            formatFullDateTime(date) {
                return helper.formatFullDateTime(date);
            },
            diffMinutes(detail) {
                let minutes = 0;
                if(detail.points > 0) {
                    let start = moment(detail.recruitment_start_date );
                    let end = moment(detail.recruitment_end_date );
                    let diff = moment.duration(end.diff(start));

                    minutes = diff.asMinutes(); 
                }

                let res = "";
                if(detail.type == "1")
                    res = '基本'+ minutes +'分';
                else if(detail.type == "2")   
                    res = '延長'+ minutes +'分'; 
                else   
                    res = "深夜手当"; 

                return res;    
            }
        },    
        updated() {
            if (this.lastTimelineIndex >= 0 && this.$refs.timelineItems.length > this.lastTimelineIndex) {
                // $('html, body').animate({ scrollTop: this.$refs.timelineItems[this.lastTimelineIndex].$el.offsetTop }, 0);
                window.scrollTo(0, this.$refs.timelineItems[this.lastTimelineIndex].$el.offsetTop)
                this.lastTimelineIndex = -1;
            }
        },
        computed: {
            getOnlineStatus() {
                let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == this.pointusage.user.id)
                if (blocks && blocks.length > 0) return 'online-status mr-4';

                // show online off
                if (this.pointusage.user.profile.show_online == 1) return "online-status mr-4";
                if (this.pointusage.user.is_deleted >= 1) return "online-status mr-4";

                let date = this.pointusage.user.last_login_at ? this.pointusage.user.last_login_at : this.pointusage.user.created_at;

                let loginAt = moment(date);
                let now = moment();
                let diff = moment.duration(now.diff(loginAt));
                if (diff.asDays() > 14) {
                    return 'online-status mr-4'; // offline
                }

                if (this.pointusage.user.is_logged_in == 1) {
                    if (diff.asMinutes() > 10) return 'online-status mr-4 timeout'; // off for 10 mins

                    return 'online-status mr-4 on'; // online
                } else {
                    return 'online-status mr-4 timeout'; // idle
                }
            },
            getAvatar() {
                if (this.isBlockedBy() || this.pointusage.user.is_deleted >= 1) return (this.pointusage.user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
                return helper.getAvatar(this.pointusage.user);
            },
        }
    }
</script>
<style>
</style>
