<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="ポイント購入" borderClass="" backPageName="history.back" icon="back" />
        <div class="container">
            <div class="point-balance center mt-20 mb-30">
                <span class="title">ポイント残高</span>
                <span class="num">{{profile.points}}</span>
                <span class="jp">pt</span>
            </div>
            <div class="point-card-guide center mb-20">
                ご希望のポイントを選択してください
            </div>
            <div class="point-card mb-15" v-for="(point, index) in packages" :key="index" @click="purchasePoints(point)">
                <div class="point-card-container">
                    <div class="off mb-12" v-if="point.original_price > 0">
                        <span class="title">ポイント</span>
                        <span class="bonus">{{point.original_price | number}}％</span>
                        <span class="title">増量ボーナス!!</span>
                    </div>
                    <div class="content">
                        <span class="pt">{{point.points}}</span>pt /
                        <span class="price">{{point.price | number}}</span>
                        <span class="jp">円</span>
                    </div>
                </div>
            </div>
            <div class="point-card-subtext mt-20 mb-30">
                <p class="mt-5">・ポイントの有効期限は購入日を含め180日間です</p>
                <p class="mt-5">・ポイントは古いものから順に使用されます</p>
                <p class="mt-5">・サービスの性質上、返品はお受けしておりません</p>
                <p class="mt-5">・価格はすべて税込みです</p>
            </div>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
            <form action= "https://secure.telecomcredit.co.jp/inetcredit/adult/order.pl"
            method="POST" class="hidden" ref="cardRegisterForm">
                <input type = "hidden" name = "clientip" v-model="clientIP">
                <input type = "hidden" name = "sendid" v-model="sendid">
                <input type = "hidden" name = "usrmail" v-model="usrmail">
                <input type = "hidden" name = "usrtel" v-model="usrtel">
                <input type = "hidden" name = "sendpass" value="Daddy">
                <input type = "hidden" name = "redirect_url" v-model="url">
            </form>
        </div>
        <TheLoading v-if="isLoading" />
        <ThePurchaseDialog 
            v-if="showPurchaseDialog"
            :data="selectedPackage"
            :card="card"
            @cancel="cancel"
            @confirm="confirm" />
        <TheMessage
            title="DROSY"
            :message="errorMessage"
            v-if="errorMessage != ''"
            @cancel="errorMessage = ''" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import TheMessage from "../../../modals/TheMessage"
    import ThePurchaseDialog from "../../../modals/ThePurchaseDialog"

    export default {
        data(){
            return {
                isLoading: false,
                profile: this.$store.state.auth.profile,
                packages: this.$store.state.pointPackages,
                card: this.$store.state.auth.user.card,
                selectedPackage: {},
                showPurchaseDialog: false,
                clientIP: this.$store.state.clientIP,
                url: "https://drosy.jp/mypage/purchase",
                usrtel: '',
                usrmail: '',
                sendid: '',
                errorMessage: '',
                checks: 0
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            ThePurchaseDialog,
            TheMessage
        },
        mounted() {
            if (this.$store.state.auth.user.card && this.$store.state.auth.user.card.sendid != '') {
                this.sendid = this.$store.state.auth.user.card.sendid
                this.usrtel = this.$store.state.auth.user.card.telno
                this.usrmail = this.$store.state.auth.user.card.email
            } else {
                this.sendid = ("000000" + this.$store.state.auth.user.id).slice(-6);
                this.usrtel = ''
                this.usrmail = this.$store.state.auth.user.email
            }

            if (this.$store.state.pointPackages.length == 0) {
                axios.post('/api/point/packages')
                .then(response => {
                    this.$store.dispatch('setPointPackages', response.data.data);
                    this.packages = response.data.data;
                })
            }

            if (this.$cookies.isKey('point_id')) {
                this.selectedPackage = this.packages.filter(item => {
                    return item.id == parseInt(window.localStorage.getItem('point_id'))
                })[0]
                this.$cookies.remove('point_id')

                this.isLoading = true;
                this.checks = 0;
                this.checkTelecomResponse('credit_card');
            }
        },
        filters: {
            number(price) {
                return helper.formatMoney(price);
            }
        },
        methods: {
            checkTelecomResponse(type) {
                if (type == 'credit_card') {
                    let self = this;
                    axios.post('/api/telecom/check', {
                        type: type
                    }).then(response => {
                        let user = response.data.data;

                        this.$store.dispatch('setAuthUserDetail',{
                            email: user.email,
                            avatar: user.profile.avatar,
                            status: user.status,
                            is_admin: user.is_admin,
                            profile: user.profile,
                            user: user
                        });

                        if (user.card && user.card.sendid != '' && user.card.cont != 'processing') {
                            setTimeout(function() {
                                axios.post('/api/pay', {
                                    money: self.selectedPackage.price,
                                    type: 'payment'
                                })
                            }, 30000);

                            self.purchase();
                        } else {
                            this.checks++;
                            if (this.checks > 2) {
                                axios.post('/api/telecom/reset', {
                                    reset: 'no'
                                });
                                // this.errorMessage = "クレジットカード認証に失敗しました。"
                                this.isLoading = false
                            } else {
                                setTimeout(function() {
                                    self.checkTelecomResponse(type)
                                }, 2000);
                            }
                        }
                    }).catch(error => {
                        this.checks++;
                        if (this.checks > 2) {
                            axios.post('/api/telecom/reset', {
                                reset: 'no'
                            });
                            // this.errorMessage = "クレジットカード認証に失敗しました。"
                            this.isLoading = false
                        } else {
                            setTimeout(function() {
                                self.checkTelecomResponse(type)
                            }, 2000);
                        }
                    })
                } else {
                    let self = this;
                    axios.post('/api/telecom/check', {
                        type: type
                    }).then(response => {
                        if (response.data.data == 'yes') {
                            this.purchase();
                        } else if (response.data.data == 'no') {
                            this.errorMessage = "「決済エラー」再度お試しください"
                            this.isLoading = false
                        } else {
                            this.checks++;
                            if (this.checks > 2) {
                                this.errorMessage = "「決済エラー」再度お試しください"
                                this.isLoading = false
                            } else {
                                setTimeout(function() {
                                    self.checkTelecomResponse(type)
                                }, 2000);
                            }
                        }
                    }).catch(error => {
                        this.checks++;
                        if (this.checks > 2) {
                            this.errorMessage = "「決済エラー」再度お試しください"
                            this.isLoading = false
                        } else {
                            setTimeout(function() {
                                self.checkTelecomResponse(type)
                            }, 2000);
                        }
                    })
                }
            },
            purchasePoints(point) {
                this.selectedPackage = point;
                this.showPurchaseDialog = true
            },
            cancel() {
                this.showPurchaseDialog = false;
            },
            purchase() {
                axios.post('/api/point/purchase', {
                    package_id: this.selectedPackage.id
                }).then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });

                    this.profile = response.data.data.profile
                    this.isLoading = false;
                    window.localStorage.setItem('point_purchased', 1);
                    this.$router.push({ name: 'mypage' });
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })
            },
            confirm(type) {
                this.showPurchaseDialog = false;
                if (type == 'add' || type == 'edit') {
                    window.localStorage.setItem('page_from', 'point_purchase');
                    window.localStorage.setItem('point_id', this.selectedPackage.id);
                    this.$cookies.set('point_id', this.selectedPackage.id);
                    axios.post('/api/telecom/reset', {
                        reset: 'processing'
                    });
                    // this.$router.push({ name: 'credit_card' });
                    this.$refs.cardRegisterForm.submit();
                }

                if (type == 'purchase') {
                    this.isLoading = true;
                    axios.post('/api/pay', {
                        money: this.selectedPackage.price,
                        type: 'payment'
                    }).then(response => {
                        if (response.data.data == 'success') {
                            this.checks = 0
                            this.checkTelecomResponse('payment')
                        } else {
                            this.isLoading = false;
                            this.errorMessage = "支払いに失敗しました。"
                        }
                    }).catch(error => {
                        this.isLoading = false
                        this.errorMessage = "支払いに失敗しました。"
                    });
                }
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
