<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="領収書の発行" borderClass="" backPageName="history.back" icon="back" />
        <div class="container">
            <div v-if="errors.length">
                <p class="timeline_add_content_title"></p>
                <p class="timeline_add_content_title text-danger" v-for="error in errors">{{ error }}</p>
            </div>    
			<div class="timeline_add_content">
				<p class="timeline_add_content_title">{{pointusage.user.profile.address}}</p>
                <input type="email" v-model="email" class="form-control" placeholder="メールアドレス" />
			</div>
            <button :class="getButtonClass()" :disabled="this.getButtonClass().includes('disabled')" @click="send">発行する</button>
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import TheMessage from "../../../modals/TheMessage"

    export default {
        data(){
            return {
                errors: [],
                isLoading: false,
                email: '',
                me: this.$store.state.auth.user,
                showMessage: false,
                pointusages: this.$store.state.pointusages,
                pointusage: null
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            TheMessage
        },
        created() {
            this.$store.state.pointusages.pointusages.map((item, index) => {
                if (item.id == this.$route.params.id) {
                    this.pointusage = item;
                }
            })
        },
        mounted() {
            window.scrollTo(0, 0);
        },
        methods: {
            getButtonClass() {
                if (this.email == '') {
                    return 'btn-main mt-10 mb-20 disabled';
                }

                return 'btn-main green mt-10 mb-20';
            },
            
            send() {
                this.errors = [];

                if (!this.email) {
                    this.errors.push('メールアドレスが必要です。');
                } else if (!this.validEmail(this.email)) {
                    this.errors.push('メールアドレスが正しくありません。');
                }

                if (!this.errors.length) {
                    this.isLoading = true;
                    axios.post('/api/point/receipt', {
                        email: this.email,
                        pointusage: this.pointusage
                    }).then(response => {
                       
                        this.isLoading = false;

                        this.showMessage = true;
                    }).catch(error => {
                        this.isLoading = false;
                        toastr['error'](error.response.data.message);
                    })
                }    
            },
            validEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
