<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <div class="mt-48 mb-36">
                    <p class="title">{{notification.title}}</p>
                    <pre class="message mt-16 mb-36" v-html="notification.content"></pre>
                    <div class="d-flex" style="justify-content: center; margin-bottom: 16px;">
                        <span class="checkbox-container">モーダル通知
                            <input type="checkbox" :checked="notification.show_alert >= 1">
                            <span class="checkmark"></span>
                        </span>
                        <span class="checkbox-container">男性
                            <input type="checkbox" :checked="notification.target === 'male' || notification.target === 'all'">
                            <span class="checkmark"></span>
                        </span>
                        <span class="checkbox-container">女性
                            <input type="checkbox" :checked="notification.target === 'female' || notification.target === 'all'">
                            <span class="checkmark"></span>
                        </span>
                    </div>
                    <span class="btn-main-dialog mb-36" @click="remove">削除する</span>
                </div>
                <img src="/assets/gray_close.svg" class="modal-close-icon" alt="image" @click="cancel"/>
            </div>
        </div>
    </div>

    <TheConfirm
        title="お知らせの削除"
        message="お知らせを削除しますか？"
        confirmTitle="削除する"
        v-if="needConfirm"
        @confirm="removeConfirm"
        @cancel="removeCancel" />
  </div>
</template>

<script>
  import TheConfirm from "../../../modals/TheConfirm"

  export default {
    props: ['notification'],
    components: { TheConfirm },
    data() {
        return {
            needConfirm: false
        }
    },
    methods: {
        cancel () {
            this.$emit('cancel')
        },
        remove() {
            this.needConfirm = true
        },
        removeConfirm() {
            this.needConfirm = false
            this.$emit('remove')
        },
        removeCancel() {
            this.needConfirm = false
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
  
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  min-width: 180px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #bbb;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

</style>
