<template>
  <div class="vue-ios-picker" style="display: flex;">
    <div class="picker-mask show" @click="cancel"></div>
    <div class="picker-panel show">
        <div class="d-flex justify-content-center">
            <div class="dialog-body login-box">
                <div class="mt-48 mb-36">
                    <div class="new-item">
                        <label>タイトル</label>
                        <input type="text" v-model="title" class="form-control" />
                    </div>
                    <div class="new-item">
                        <label>内容</label>
                        <textarea rows="15" v-model="content" class="form-control"></textarea>
                    </div>
                    <div class="new-item">
                        <label>配信日時</label>
                        <datePicker v-model="deliveryDate" :config="options" />
                    </div>
                    <div class="new-item">
                        <label></label>
                        <span class="checkbox-container" @click="showAlert = !showAlert">モーダル通知
                            <input type="checkbox" :checked="showAlert">
                            <span class="checkmark"></span>
                        </span>
                    </div>
                    <div class="new-item">
                        <label></label>
                        <div class="d-flex">
                            <span class="checkbox-container" @click="maleAlert = !maleAlert">男性
                                <input type="checkbox" :checked="maleAlert">
                                <span class="checkmark"></span>
                            </span>
                            <span class="checkbox-container" @click="femaleAlert = !femaleAlert">女性
                                <input type="checkbox" :checked="femaleAlert">
                                <span class="checkmark"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mb-36">
                    <button type="button" :class="confirmClass()" :disabled="this.confirmClass().includes('disabled')" @click="confirm">作成する</button>

                    <button type="button" class="btn btn-default waves-effect waves-light" @click="cancel">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
    import 'bootstrap/dist/css/bootstrap.css';
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

  export default {
    props: [],
    components: {
        datePicker
    },
    methods: {
        cancel () {
            this.$emit('cancel')
        },
        confirm() {
            this.$emit('confirm', this.title, this.content, this.deliveryDate, this.showAlert, this.maleAlert, this.femaleAlert);
        },
        confirmClass() {
            if (this.title.trim() == '' || this.content.trim() == '' || this.deliveryDate == undefined) {
                return 'btn btn-success waves-effect waves-light disabled';
            }

            if (this.maleAlert === false && this.femaleAlert === false) return 'btn btn-success waves-effect waves-light disabled';

            return 'btn btn-success waves-effect waves-light';
        }
    },
    data() {
        return {
            title: '',
            content: '',
            deliveryDate: new Date(),
            showAlert: false,
            maleAlert: true,
            femaleAlert: true,
            options: {
                format: "YYYY年MM月DD日 HH:mm",
                useCurrent: false,
                minDate: new Date(),
                locale: moment.locale('ja'),
                showClear: true,
                showClose: true
            }
        }
    },
    beforeDestroy() {
        $('body').removeClass('no-scroll');
    },
    mounted() {
        $('body').addClass('no-scroll');
    }
  }
</script>

<style lang="scss" scoped>
.new-item {
    width: 100%;
    display: flex;
    padding: 5px 20px;

    label {
        width: 120px;
        font-weight: bold;
    }

    input,
    textarea {
        flex: 1;
    }
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  min-width: 180px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #bbb;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
