<template>
    <section id="wrapper">
        <div class="login-register" style="background-image:url(/images/background/background.jpg);">
            <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" @submit.prevent="submit">
                    <div class="mt-36 mb-36 text-center">
                        <img src="/assets/logo_search.png" class="admin-login-logo" alt="image" />
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input type="text" name="email" class="form-control" placeholder="メールアドレス" v-model="loginForm.email"> </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="password" name="password" class="form-control" placeholder="パスワード" v-model="loginForm.password"> </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>

    </section>
</template>

<script>
    import helper from '../../services/helper'

    export default {
        data() {
            return {
                loginForm: {
                    email: '',
                    password: '',
                    is_admin: 1
                }
            }
        },
        components: {
        },
        mounted(){
        },
        methods: {
            submit(e) {
                axios.post('/api/auth/login', this.loginForm).then(response =>  {
                    localStorage.setItem('auth_token',response.data.token);
                    axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('auth_token');
                    helper.initData(this);
                    this.$router.push({ name: 'admin_home' })
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            }
        }
    }
</script>
