<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="募集を作成" icon="close" borderClass="" backPageName="timelines" />
        <div class="container">
			<div class="timeline_add_content">
				<!--<p class="timeline_add_content_title">募集の内容を詳しく入力してください</p>-->
                <!-- <v-select :options="purposes" v-model="purpose_id" /> -->
				<p class="timeline_add_content_title"></p>
				<textarea class="timeline_add_content_text form-control" rows="10" v-model="content" placeholder="メッセージ本文を入力"></textarea>
                <p class="timeline_add_msg_num"><span class="timeline_add_msg_num_left">{{content.length}}</span> /400</p>
                <DatePicker 
                    type="datetime"
                    input-class="form-control" 
                    placeholder="日時" 
                    class="w-100"
                    v-model="recruitment_date" 
                    :disabled-date="disabledBeforeTodayAndAfterAMonth"
                    lang="ja" 
                    format="YYYY年MM月DD日 HH:mm" />
                <p class="timeline_add_content_title"></p>
                <input type="text" v-model="place" class="form-control" placeholder="場所詳細" />
			</div>
            <button :class="getButtonClass()" :disabled="this.getButtonClass().includes('disabled')" @click="send"><img src="/assets/white_pencil.svg" alt="image" />募集を投稿する</button>
            <div class="point-card-subtext mt-20 mb-30">
                <p class="mt-8">・男性の投稿は20ポイントが必要です</p>
                <p class="mt-8">・メールアドレス/LINEID/kakaoIDその他SNSのIDなど、個人を特定できる情報はすべて投稿できません</p>
                <p class="mt-8">・運営事務局が不適切と判断した投稿は削除（悪質な場合は強制退会）する場合がございます</p>
                <p class="mt-8">・投稿の反映までお時間をいただく場合がございます</p>
            </div>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
        </div>
        <TheLoading v-if="isLoading" />
        <TheMessage
            title="募集投稿を完了"
            message="募集メッセージが公開されました"
			message_sub="「マイページ > 募集管理」で削除できます"
            @cancel="cancel"
            v-if="showMessage" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import TheMessage from "../../../modals/TheMessage"
    import VSelect from '@alfsnd/vue-bootstrap-select'
    import DatePicker from 'vue2-datepicker';

    export default {
        data(){
            return {
                isLoading: false,
                // purposes: this.$store.state.masterData.purposes.map(item => {
                //     return {
                //         text: item.name,
                //         value: item.id
                //     }
                // }),
                // purpose_id: {
                //     text: '',
                //     value: -1
                // },
                content: '',
                place: '',
                recruitment_date: '',
                me: this.$store.state.auth.user,
                showMessage: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            TheMessage,
            VSelect,
            DatePicker
        },
        created() {
            if (this.me.profile.age_approved == 0) {
                this.$store.dispatch('setInternalAlert', {
                    type: 'age-need-approval',
                    data: ''
                });
                return;
            }

            if (this.$store.state.auth.user.today_timelines.length >= this.$store.state.config.timelines_per_day) {
                window.history.back();
                return;
            }

            if (helper.needCreditCard(this, this.me)) return;
        },
        mounted() {
            window.scrollTo(0, 0);
            // if (this.purposes.length > 0) {
            //     this.purpose_id = this.purposes[0]
            // } 
        },
        methods: {
            getButtonClass() {
                if (this.place == '' || this.recruitment_date == '' || this.content == '' || this.content.length < 10 || this.content.length > 400) {
                    return 'btn-main mt-10 mb-20 disabled';
                }

                return 'btn-main green mt-10 mb-20';
            },
            send() {
                if (this.me.profile.gender == 1 && this.me.profile.points < 20) {
                    this.$store.dispatch('setInternalAlert', {
                        type: 'need-point-purchase',
                        data: 'remain'
                    });
                    return false;
                }
                
                this.isLoading = true;
                axios.post('/api/timeline/add', {
                    //purpose_id: this.purpose_id.value,
                    content: this.content,
                    place: this.place,
                    recruitment_date: moment(this.recruitment_date).format('YYYY-MM-DD HH:mm'),
                    filter_purpose_id: this.$store.state.timelineFilters.purpose_id,
                    filter_city_id: this.$store.state.timelineFilters.city_id,
                    currentTimelinesNum: this.$store.state.timelines.timelines.length
                }).then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });
                    this.$store.dispatch('setTimelines', {
                        timelines: response.data.timelines.data,
                        hasMore: response.data.timelines.current_page != response.data.timelines.last_page,
                        hasLoaded: true
                    });

                    this.isLoading = false;

                    this.showMessage = true;
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })
            },
            cancel() {
                this.showMessage = false;
                this.$router.push({ name: 'timelines' });
            },
            disabledBeforeTodayAndAfterAMonth(date) {
                const today = new Date();
                today.setHours(0, 0, 0, 0);

                return date < today || date > new Date(today.getTime() + 30 * 24 * 3600 * 1000);
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
