<template>
    <div id="wrapper" class="header-container gray-back" v-if="currentIndex >= 0">
        <TheRegisterHeader :label="`${timelines[currentIndex].user.profile.nickname}の募集`" icon="back" borderClass="" backPageName="timelines" />
        <carousel :per-page="1" :mouse-drag="true" :autoplay="false" ref="carouselsRef" :navigateTo="navigateTo" @page-change="pageChanged" :minSwipeDistance="100" class="page-carousel">
            <slide v-for="(timeline, index) in timelines" :key="index">
                <div class="container">
					<div class="timeline-detail">
						<div class="avatar mt-20">
							<img :src="getAvatar(timeline.user)" alt="image" />
						</div>
						<div class="timeline-item-content">
							<div class="timeline-item-tag">
								<p class="timeline-item-text">{{timeline.place}}</p>
							</div>
                            <p class="time">{{timeline.recruitment_date | formatFullDateTime}}</p>
							<pre class="timeline-item-text" v-if="index == currentIndex" v-html="timeline.content"></pre>
							<!--<pre v-if="index == currentIndex" v-html="timeline.content"></pre>-->
							<div class="timeline-item-name">
								<span :class="getOnlineStatus(timeline.user)"></span>
								<p class="name">{{timeline.user.profile.nickname}} {{timeline.user.profile.age}}歳</p>
								<p class="city"><!--<img src="/assets/location_black.svg" alt="image" />-->{{timeline.user.profile.city.name}}</p>
							</div>
						</div>
					</div>
                </div>
            </slide>
        </carousel>
        
        <div class="container timeline-detail-bottom" v-if="needToShow">
            <div class="timeline-item-btns mt-12">
                <button type="button" class="btn-prof" @click="gotoProfile">
                    <img src="/assets/profile_heart.svg" alt="image" />
                    プロフ
                </button>
            </div>
            <button class="timeline-item-like-btns btn-message mt-12 mb-16" type="button" v-if="hasChatroom" @click="clickMessage">
                <p>
                    <span class="icon"></span>
                    <span class="title">メッセージ</span>
                </p>
            </button>
            <button :class="getLikeClass" type="button" v-else @click="clickLike">
                <p>
                    <span class="icon"></span>
                    <span class="title">{{getLikeLabel}}</span>
                </p>
            </button>
        </div>
        <div class="container timeline-detail-bottom has-one" v-else>
            <div class="timeline-item-btns mt-12">
                <button type="button" class="btn-prof" @click="gotoProfile">
                    <img src="/assets/profile_heart.svg" alt="image" />
                    プロフ
                </button>
            </div>
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import { Carousel, Slide } from 'vue-carousel';

    export default {
        data(){
            return {
                isLoading: false,
                timelines: this.$store.state.timelines.timelines,
                me: this.$store.state.auth.user,
                isLikeClicked: false,
                navigateTo: [0, false],
                currentIndex: -1,
                isVeryLeftTouch: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            Carousel, 
            Slide
        },
        created() {
            this.loadTimeline();

            if (window.localStorage.getItem('timeline_view_index')) {
                this.navigateTo = [window.localStorage.getItem('timeline_view_index'), false]
                this.currentIndex = window.localStorage.getItem('timeline_view_index')
                return;
            }
            
            let ind = -1;
            this.$store.state.timelines.timelines.map((item, index) => {
                if (item.id == this.$route.params.id) 
                    ind = index
            })

            if (ind == -1) this.$router.push({ name: 'home' });
            this.navigateTo = [ind, false];
            this.currentIndex = ind
            window.localStorage.setItem('timeline_view_index', ind);
            window.localStorage.setItem('detail_from', 'timeline')
            window.localStorage.removeItem('last_user_index');
        },
        mounted() {
            window.scrollTo(0, 0);
        },
        beforeDestroy() {
            window.localStorage.setItem('last_timeline_index', this.currentIndex);
        },
        methods: {
            loadTimeline() {
                this.me = this.$store.state.auth.user;
                this.timelines = this.$store.state.timelines.timelines;
                this.$forceUpdate();
            },
            gotoProfile(e) {
                e.preventDefault();
                e.stopPropagation();
                let user = this.timelines[this.currentIndex].user

                if (user.id == this.me.id) {
                    this.$router.push({ name: 'mypage' });
                    return;
                }
                window.localStorage.removeItem('detail_view_index')
                this.$router.push("/user/" + user.provider_unique_id);
            },
            pageChanged(number) {
                this.currentIndex = number;
                window.localStorage.setItem('timeline_view_index', number);
                this.isLikeClicked = false;
            },
            clickLike() {
                let user = this.timelines[this.currentIndex].user

                if (this.isLikeClicked) return;

                let likes = this.me.to_likes.filter(item => {
                    return item.from_user_id == user.id
                });

                if (likes && likes.length > 0) {
                    if (helper.checkLikeBackPermission(this, this.me, user)) {
                        helper.likeBackUser(this, user, '', this.timelines[this.currentIndex].id);
                        this.me = this.$store.state.auth.user
                    } else {
                        return;
                    }
                } else {
                    if (helper.checkLikePermission(this, this.me, user)) {
                        helper.likeUser(this, user, this.timelines[this.currentIndex].id);
                        this.me = this.$store.state.auth.user
                    } else {
                        return;
                    }
                }

                this.isLikeClicked = true;
            },
            clickMessage() {
                let user = this.timelines[this.currentIndex].user
                if (helper.needPlanUp(this, this.me)) return;

                let chatrooms = this.me.chatrooms.filter(item => {
                    return (item.from_user_id == this.me.id && item.to_user_id == user.id) || (item.to_user_id == this.me.id && item.from_user_id == user.id);
                });

                this.$router.push('/chat/' + chatrooms[0].firebaseKey);
            },
            getAvatar(user) {
                if (this.isBlockedBy(user)) return (user.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');

                return helper.getAvatar(user).replace('thumbnail_', '');
            },
            getOnlineStatus(user) {
                let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == user.id)
                if (blocks && blocks.length > 0) return 'online-status mr-4';

                return helper.getOnlineStatus(user)
            },
            isBlockedBy(user) {
                if (user.is_deleted >= 1) return true;

                let blocks = this.$store.state.auth.user.blockByUsers.filter(item => item.user_id == user.id)
                return blocks && blocks.length > 0;
            }
        },
        computed: {
            hasChatroom() {
                let user = this.timelines[this.currentIndex].user
                return helper.hasChatroom(this.me, user);
            },
            needToShow() {
                return this.timelines[this.currentIndex].user.is_deleted == 0;
            },
            getLikeClass() {
                let user = this.timelines[this.currentIndex].user
                let likes = this.me.from_likes.filter(item => {
                    return item.to_user_id == user.id
                });

                if (likes && likes.length > 0) {
                    if (this.isLikeClicked) return 'timeline-item-like-btns btn-like like-again-liked mt-12 mb-16';

                    return 'timeline-item-like-btns btn-like like-again mt-12 mb-16';
                }
                if (this.isLikeClicked) return 'timeline-item-like-btns btn-like liked mt-12 mb-16';
                
                return 'timeline-item-like-btns btn-like mt-12 mb-16';
            },
            getLikeLabel() {
                if (this.isLikeClicked) return 'いいね 完了';
                
                let user = this.timelines[this.currentIndex].user
                let likes = this.me.from_likes.filter(item => {
                    return item.to_user_id == user.id
                });
                if (likes && likes.length > 0) return '再いいね';

                likes = this.me.to_likes.filter(item => {
                    return item.from_user_id == user.id
                });

                if (likes && likes.length > 0) return 'いいね ありがとう！';

                return 'いいね';
            },
        },
        filters: {
            moment(date) {
                return helper.formatDateTime(date);
            },
            formatFullDateTime(date) {
                return helper.formatFullDateTime(date);
            }
        },
    }
</script>
<style>
.overflow-hidden {
    overflow: hidden !important;
}
</style>
