<template>
    <div id="wrapper" class="front-container gray-back">
        <div :class="`inner-container ${lastTimelineIndex >= 0 ? 'white' : ''}`">
            <div class="d-flex timeline-select">
                <v-select :options="cities" v-model="city_id" />
                <v-select :options="purposes" v-model="purpose_id" />
            </div>
            <div>
                <div class="mb-48" v-if="timelines.timelines.length > 0">
                    <Timeline 
                        v-for="(timeline, index) in timelines.timelines"
                        :key="index"
                        :timeline="timeline"
                        ref="timelineItems"
                        @openTimeline="openTimeline" />
                </div>
                <div class="empty-list-box" v-if="isEmpty">
                    <div>
                        <p class="mb-10">募集がありません</p>
                        <img src="/assets/empty_timeline.svg" alt="image"/>
                    </div>
                </div>
            </div>
            <span class="timeline-add" @click="addTimeline"><img src="/assets/white_pencil.svg" alt="image" /></span>
        </div>
        <TheLoading v-if="isLoading == true" />
        <TheMessage
            title="投稿回数の制限"
            :message="`募集投稿は1日${$store.state.config.timelines_per_day}回までできます`"
            message_sub="直前の募集を削除すると再投稿できます「マイページ > 募集管理」"
            @cancel="showTimelineLimit = false"
            v-if="showTimelineLimit" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheLoading from "../../../modals/TheLoading"
    import TheMessage from "../../../modals/TheMessage"
    import Timeline from "../../components/timeline_item"
    import VSelect from '@alfsnd/vue-bootstrap-select'

    export default {
        data(){
            return {
                isLoading: false,
                isFetching: false,
                timelines: this.$store.state.timelines,
                purposes: [],
                cities: [],
                city_id: undefined,
                purpose_id: undefined,
                pageLimit: 10,
                isEmpty: false,
                lastTimelineIndex: -1,
                showTimelineLimit: false
            }
        },
        components: {
            TheLoading, Timeline, VSelect, TheMessage
        },
        watch: {
            city_id: function(value) {
                this.changeFilter()
            },
            purpose_id: function(value) {
                this.changeFilter();
            }
        },
        created() {
            let timelines = this.timelines;
            timelines.hasMore = true;
            this.$store.dispatch('setTimelines', timelines);

            this.cities = this.$store.state.masterData.cities.map(item => {
                return {
                    text: item.name,
                    value: item.id
                }
            })
            this.purposes = this.$store.state.masterData.purposes.map(item => {
                return  {
                    text: item.name,
                    value: item.id
                }
            })

            this.cities.splice(0, 0, { text: '-- 地域 --', value: -1 });
            this.purposes.splice(0, 0, { text: '-- 日時順 --', value: -1 });

            this.city_id = this.cities.filter(item => item.value == this.$store.state.timelineFilters.city_id)[0];

            this.purpose_id = this.purposes.filter(item => item.value == this.$store.state.timelineFilters.purpose_id)[0];
        },
        mounted() {
            window.scrollTo(0, 0);
            if (window.localStorage.getItem('last_timeline_index')) {
                this.lastTimelineIndex = parseInt(window.localStorage.getItem('last_timeline_index'));
                window.localStorage.removeItem('last_timeline_index');
            }

            this.loadTimelines();

            window.addEventListener('scroll', this.onScroll)
            window.localStorage.removeItem('timeline_view_index')
            window.localStorage.setItem('detail_from', 'timeline')
            window.localStorage.removeItem('detail_view_index')
            window.scrollTo(0, 0);
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.onScroll);
        },
        methods: {
            changeFilter() {
                this.$store.dispatch('setTimelineFilters', {
                    purpose_id: this.purpose_id.value,
                    city_id: this.city_id.value
                });
                let timelines = this.timelines;
                timelines.hasMore = true;
                this.$store.dispatch('setTimelines', timelines);
                this.loadTimelines();
            },
            openTimeline(timeline) {
                this.$router.push('/timeline/detail/' + timeline.id);
            },
            addTimeline() {
                if (this.$store.state.auth.user.today_timelines.length < this.$store.state.config.timelines_per_day) {
                    this.$router.push({ name: 'timeline_add' });
                } else {
                    this.showTimelineLimit = true;
                }
            },
            forceReload() {
                this.isLoading = true;
                let timelines = this.timelines;
                timelines.hasMore = true;
                this.$store.dispatch('setTimelines', timelines);
                this.loadTimelines();
            },
            loadTimelines() {
                if (this.timelines.hasMore == false) return;

                this.isFetching = true;
                let params = Object.assign({}, this.$store.state.timelineFilters);
                params.limit = this.pageLimit;
                params.currentTimelinesNum = this.timelines.timelines ? this.timelines.timelines.length : 0

                axios.post('/api/timelines', params)
                .then(response => {
                    let result = response.data.data;

                    if (result.data.length == 0 && result.last_page == 1) {
                        this.timelines = {
                            timelines: [],
                            hasMore: true,
                            hasLoaded: false
                        }
                    } else {
                        this.timelines = {
                            timelines: result.data,
                            hasMore: result.current_page != result.last_page,
                            hasLoaded: true
                        }
                    }

                    this.$store.dispatch('setTimelines', this.timelines);
                    this.isFetching = false;
                    this.isEmpty = result.data.length == 0;
                    this.isLoading = false;
                    this.$forceUpdate();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                    this.isFetching = false;
                    this.isLoading = false;
                })
            },
            onScroll(e) {
                if (e.srcElement.scrollingElement.scrollTop + e.srcElement.scrollingElement.clientHeight >= e.srcElement.scrollingElement.scrollHeight - 150) {
                    if (this.isFetching == false) {
                        this.loadTimelines();
                    }
                }

                this.scrollTop = e.srcElement.scrollingElement.scrollTop;
            },
            loadMore() {
                if (this.isFetching == false) {
                    this.loadTimelines();
                }
            },
            swipeDown() {
                if (this.isFetching == false) {
                    this.isFetching = true;
                    this.isLoading = true;
                    this.timelines.hasMore = true;
                    this.loadTimelines();
                }
            }
        },
        updated() {
            if (this.lastTimelineIndex >= 0 && this.$refs.timelineItems.length > this.lastTimelineIndex) {
                // $('html, body').animate({ scrollTop: this.$refs.timelineItems[this.lastTimelineIndex].$el.offsetTop }, 0);
                window.scrollTo(0, this.$refs.timelineItems[this.lastTimelineIndex].$el.offsetTop)
                this.lastTimelineIndex = -1;
            }
        },
        computed: {
        }
    }
</script>
<style>
</style>
