<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="募集管理" borderClass="" backPageName="mypage" icon="back" />
        <div class="container">
            <div class="mb-20">
            <MyTimelineItem
                v-for="(timeline, index) in timelines"
                v-if="index >= (pageItem.current_page - 1) * pageLength && index < pageItem.current_page * pageLength"
                :key="index"
                :timeline="timeline"
                @open="open" />
            </div>
            <div class="empty-list-box ch-50" v-if="isEmpty">
                <div>
                    <p class="mb-20">あなたが投稿した募集は<br/>まだありません</p>
                    <img src="/assets/empty_timeline.svg" alt="image"/>
                    <router-link :to="{ name: 'timeline_add' }" class="btn-main small mt-36">募集を投稿する</router-link>
                </div>
            </div>
            <Pagination v-if="hasPagination()" ref="pagination" :item="pageItem" @open="openPage" />
            <!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
            -->
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import Pagination from "../../components/pagination"
    import MyTimelineItem from "../../components/my_timeline_item.vue"

    export default {
        data(){
            return {
                isLoading: false,
                isEmpty: false,
                timelines: this.$store.state.auth.user.timelines,
                pageLength: 20,
                pageItem: {
                    current_page: 1,
                    last_page: 1
                }
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            MyTimelineItem,
            Pagination
        },
        mounted() {
            this.isEmpty = this.$store.state.auth.user.timelines.length == 0;
            this.pageItem = {
                current_page: window.localStorage.getItem('timeline_last_view_page') ? parseInt(window.localStorage.getItem('timeline_last_view_page')) : 1,
                last_page: Math.ceil(this.timelines.length / this.pageLength)
            }

            this.$nextTick(function () {
                if (window.localStorage.getItem('timeline_scroll_top'))
                    window.scrollTo(0, window.localStorage.getItem('timeline_scroll_top'));
                else
                    window.scrollTo(0, 0);
            })

            window.addEventListener('scroll', this.onScroll);
        },
        beforeDestroy() {
            window.localStorage.setItem('timeline_last_view_page', this.pageItem.current_page);
            window.removeEventListener('scroll', this.onScroll);
        },
        methods: {
            open(timeline) {
                this.$router.push('/mypage/timeline/' + timeline.id);
            },
            hasPagination() {
                return Math.ceil(this.timelines.length / this.pageLength) > 1;
            },
            openPage(value) {
                this.pageItem.current_page = value
                this.$refs.pagination.refreshPages()
                window.scrollTo(0, 0)
            },
            onScroll (e) {
                window.localStorage.setItem('timeline_scroll_top', e.srcElement.scrollingElement.scrollTop);
            },
        },
        computed: {
        },
    }
</script>
<style>
</style>
