<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="募集投稿の削除" borderClass="" backPageName="my_timeline" icon="back" />
        <div class="container">
            <div class="my-timeline-item-delete has-cursor">
                <div class="user-item-content">
                    <div class="d-flex">
                        <p :class="`timeline-tag tag-${timeline.purpose.id}`">{{timeline.purpose.name}}</p>
                        <p class="user-item-date">{{ timeline.created_at | moment }}</p>
                    </div>
                    <pre v-html="timeline.content"></pre>
                </div>
            </div>
            <button type="button" class="btn-gray" @click="remove"><img src="/assets/white_trash.svg" alt="image"/>この投稿を削除</button>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
            <TheConfirmModal
                title="募集投稿の削除"
                message="この募集投稿を削除してよろしいですか"
                confirmTitle="削除する"
                @confirm="confirm"
                @cancel="cancel"
                v-if="showConfirmDialog" />
            <TheLoading v-if="isLoading" />
        </div>
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheConfirmModal from "../../../modals/TheConfirm"
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                timeline: this.$store.state.auth.user.timelines.filter(item => {
                    return item.id == this.$route.params.id
                })[0],
                showConfirmDialog: false,
                isLoading: false
            }
        },
        components: {
            TheRegisterHeader,
            TheConfirmModal,
            TheLoading
        },
        mounted() {
            this.$nextTick(function () {
                window.scrollTo(0, 0);
            })
        },
        methods: {
            confirm() {
                this.isLoading = true;
                axios.post('/api/timeline/delete', {
                    id: this.$route.params.id,
                    filter_purpose_id: this.$store.state.timelineFilters.purpose_id,
                    filter_city_id: this.$store.state.timelineFilters.city_id,
                    currentTimelinesNum: this.$store.state.timelines.timelines.length
                }).then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        user: response.data.data,
                        profile: response.data.data.profile
                    });
                    this.$store.dispatch('setTimelines', {
                        timelines: response.data.timelines.data,
                        hasMore: response.data.timelines.current_page != response.data.timelines.last_page,
                        hasLoaded: true
                    });

                    this.isLoading = false;

                    window.history.back();
                }).catch(error => {
                    this.isLoading = false;
                    toastr['error'](error.response.data.message);
                })
                this.showConfirmDialog = false
            },
            cancel() {
                this.showConfirmDialog = false
            },
            remove() {
                this.showConfirmDialog = true
            }
        },
        filters: {
            moment(date) {
                return helper.formatShortDate(date);
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
