<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="お知らせ" borderClass="" backPageName="notifications" icon="back" />
        <div class="container" v-if="notification">
            <p class="label-title mt-20 mb-8">{{ notification.title }}</p>
            <!--<p class="line-seperator mt-10 mb-15"></p>-->
            <pre v-html="formatMessage(notification.content)"></pre>
            <p class="notifications-detail-date mt-10 mb-10">{{notification | moment}}</p>
<!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
-->
        </div>
        <TheLoading v-if="isLoading" />
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"

    export default {
        data(){
            return {
                isLoading: false,
                notification: undefined,
                id: this.$route.params.id,
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading
        },
        created() {
            this.notification = this.$store.state.notification.notifications.filter(item => {
                return item.id == this.id
            })[0];

            if (this.notification === undefined) {
                axios.post('/api/notifications')
                .then(response => {
                    this.$store.dispatch('setNotification', response.data.data)

                    if (this.notification.isRead == false) {
                        axios.post('/api/notification/read', {
                            notification_id: this.notification.id
                        }).then(response => {
                            this.$store.dispatch('setNotification', response.data);
                            this.$store.state.auth.user.alertNotification = 0;
                        })
                    }
                })
            } else {
                if (this.notification.isRead == false) {
                    axios.post('/api/notification/read', {
                        notification_id: this.notification.id
                    }).then(response => {
                        this.$store.dispatch('setNotification', response.data);
                        this.$store.state.auth.user.alertNotification = 0;
                    })
                }
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.scrollTo(0, 0);
            })
        },
        methods: {
            openNotification(not) {

            },
            formatMessage(message) {
                return helper.changeText(message)
            }
        },
        filters: {
            moment(not) {
                if (not.delivery_at != null && not.delivery_at != undefined) {
                    return helper.formatDateTime(not.delivery_at)
                }
                return helper.formatDateTime(not.created_at);
            }
        },
    }
</script>
<style>
</style>
