<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="お知らせ" borderClass="" backPageName="mypage" icon="back" />
        <div class="mb-20" v-if="notification.notifications.length > 0" >
            <router-link :to="`/notification/${not.id}/detail`" :class="`notifications-item has-cursor ${not.isRead ? '' : 'unread'}`" v-for="(not, ind) in notification.notifications"
                :key="ind"
                v-if="ind >= (pageItem.current_page - 1) * pageLength && ind < pageItem.current_page * pageLength">
                <div class="container">
                    <div class="content">
                        <p class="notifications-title mb-5">{{not.title}}</p>
                        <p class="label-date">{{not | moment}}</p>
                    </div>
                    <img src="/assets/arrow.svg" class="arrow" alt="image" />
                </div>
            </router-link>
        </div>
        <div class="empty-list-box ch-110" v-else>
            <div>
                <p class="mb-10 page-message">お知らせはありません</p>
                <img src="/assets/empty_block.svg" alt="image">
            </div>
        </div>
        <Pagination v-if="hasPagination()" ref="pagination" :item="pageItem" @open="openPage" />
        <TheLoading v-if="isLoading" />
        <!--
        <div class="brand-footer">
            <a class="brand-img" href="https://daddyrelax.jp">
                <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                <br/>インターネット異性紹介事業（受理番号:30190079000）
            </a>
            <div class="copy-right">
                2019 © DaddyRelax All Rights Reserved.
            </div>
        </div>
        -->
    </div>
</template>

<script>
    import helper from '../../../../services/helper'
    import TheRegisterHeader from '../../../../layouts/the-register-header.vue'
    import TheLoading from "../../../modals/TheLoading"
    import Pagination from "../../components/pagination"

    export default {
        data(){
            return {
                isLoading: false,
                notification: this.$store.state.notification,
                pageLength: 20,
                pageItem: {
                    current_page: 1,
                    last_page: 1
                }
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            Pagination
        },
        mounted() {
            this.pageItem = {
                current_page: window.localStorage.getItem('notification_last_view_page') ? parseInt(window.localStorage.getItem('notification_last_view_page')) : 1,
                last_page: Math.ceil(this.notification.notifications.length / this.pageLength)
            }

            this.$nextTick(function () {
                if (window.localStorage.getItem('notification_scroll_top'))
                    window.scrollTo(0, window.localStorage.getItem('notification_scroll_top'));
                else
                    window.scrollTo(0, 0);
            })

            window.addEventListener('scroll', this.onScroll);

            axios.post('/api/notification/alert/read').then(response => {
                this.$store.state.auth.user.alertNotification = 0;
            })
        },
        beforeDestroy() {
            window.localStorage.setItem('notification_last_view_page', this.pageItem.current_page);
            window.removeEventListener('scroll', this.onScroll);
        },
        methods: {
            hasPagination() {
                return Math.ceil(this.notification.notifications.length / this.pageLength) > 1;
            },
            openPage(value) {
                this.pageItem.current_page = value
                this.$refs.pagination.refreshPages()
                window.scrollTo(0, 0);
            },
            onScroll (e) {
                window.localStorage.setItem('notification_scroll_top', e.srcElement.scrollingElement.scrollTop);
            },
        },
        filters: {
            moment(not) {
                if (not.delivery_at != null && not.delivery_at != undefined) {
                    return helper.formatDateTime(not.delivery_at)
                }
                return helper.formatDateTime(not.created_at);
            }
        },
    }
</script>
<style>
</style>
