<template>
    <div>
        <section id="wrapper" class="header-container" v-if="isActivationScreen">
            <TheRegisterHeader label="メール確認" backPageName="login" icon="back" />
            <div class="container register-email-sent">
                <div class="content">
                    <p class="title mb-10">ご本人さま確認</p>
                    <img src="/assets/gold_mail_box.svg" class="mb-20" alt="image" />
                    <p class="desc" v-if="isChecking == true">...確認中</p>
                    <p class="desc" v-if="isChecking == false">{{message}}</p>
                    <router-link :to="{ name: 'login' }" class="btn-main small mt-20"  v-if="isChecking == false">ログインへ</router-link>
                </div>
            </div>
            <TheLoading v-if="isChecking" />
        </section>
        <div id="main-wrapper" class="header-container no-padding" v-else>
            <TheRegisterHeader label="プロフィール登録" :step="`${progress}%`" borderClass="no-border" backPageName="" icon="back"  />

            <div class="container">
                <ProfileStep1 />
            </div>
        </div>
    </div>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'
    import TheLoading from '../../modals/TheLoading.vue'
    import helper from '../../../services/helper'
    import ProfileStep1 from "./profile_step1"

    export default {
        data() {
            return {
                isChecking: true,
                token: this.$route.params.token,
                message: '',
                isActivationScreen: true,
                progress: 20
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            ProfileStep1
        },
        mounted(){
            this.isChecking = true;
            axios.post('/api/auth/activate/'+this.token).then(response =>  {
                helper.login(this, {
                    email: response.data.email,
                    no_password: 1
                }).then(user => {
                    if (user == 'error') {
                        this.isChecking = false;
                        return;
                    }
                    
                    helper.initData(this);
                    // this.isChecking = false;
                    
                    if (user.status == 'activated_profile') {
                        this.$router.push({ name: 'email_change' });
                    } else {
                        this.progress = user.profile.gender == 1 ? 25: 15;
                        this.isActivationScreen = false;
                    }
                })
            }).catch(error => {
                this.isChecking = false;
                this.message = "ログインしてからもう一度お試しください。";
            });
        },
        methods: {
            
        }
    }
</script>