<template>
    <section id="wrapper" class="container login">
        <div v-if="needShow">
            <img src="/assets/logo.png" class="login-logo" alt="image">
            <!-- <h1>DaddyRelaxにログイン</h1> -->
            <form class="form-horizontal form-material" id="loginform" @submit.prevent="submit">
                <div class="col-xs-12 login-row">
                    <label>ログイン情報</label>
                    <input type="text" name="email" class="form-control mb-10" placeholder="メールアドレス" v-model="loginForm.email"> 
                    <p class="red-alert mt-10" v-if="invalidEmail">入力されたメールアドレスは登録できない形式です</p>
                </div>
                <div class="col-xs-12 login-row">
                    <!--<label>パスワード</label>-->
                    <input type="password" name="password" class="form-control" placeholder="パスワード" v-model="loginForm.password"> 
                </div>
                <!-- <div class="col-xs-12 text-center">
                    <div class="checkbox">
                        <input class="form-check-input" type="checkbox" v-model="checked" id="passwordCheck">
                        <label class="form-check-label fs-10 ff-regular" for="passwordCheck">
                            <router-link :to="{name: 'terms_of_use'}">利用規約</router-link>
                            <span>に同意する</span>
                        </label>
                    </div>
                </div> -->
                <button :class="getButtonClass()" type="submit" :disabled="this.getButtonClass().includes('disabled')">ログイン</button>
                <div class="col-xs-12 text-center">
                    <router-link :to="{name: 'password'}" class="password-forgot">パスワードを忘れた方はこちら</router-link>
                </div>
                <div class="btn-main-reverse-taxt text-center mt-30 mb-10">
                    アカウントをお持ちでない方は
                </div>
                <router-link :to="{name: 'register'}" class="col-xs-12 btn-main-reverse">新規登録</router-link>
            </form>
        </div>
        <TheLoading v-if="isLoading" />
    </section>
</template>

<script>
    import helper from '../../../services/helper'
    import TheLoading from '../../modals/TheLoading.vue'
    // import firebase from 'firebase';
    
    export default {
        data() {
            return {
                loginForm: {
                    email: '',
                    password: ''
                },
                checked: true,
                isLoading: false,
                user: undefined,
                needShow: true,
                invalidEmail: false
            }
        },
        components: {
            TheLoading
        },
        mounted(){
        },
        methods: {
            submit(e) {
                window.localStorage.removeItem('show_alert_status');
                this.login(this.loginForm);
            },
            login(params) {
                this.isLoading = true;
                helper.login(this, {
                    email: params.email.trim(),
                    password: params.password.trim()
                }).then(response => {
                    if (response == 'error') {
                        this.isLoading = false;
                        return;
                    }

                    this.user = response;
                    this.$cookies.remove('point_id')
                    this.$cookies.remove('membership_id')
                    this.$cookies.remove('platium_id')

                    this.$store.dispatch('setFilterMessageNotReply', false);

                    helper.initData(this);
                    if (this.user.status == 'activated_profile') {
                        this.$router.push({ name: 'home' });
                    } else {
                        this.$router.push({ name: 'profile_step1' });
                    }
                })
            },
            getButtonClass() {
                if (this.loginForm.email.trim() == '' || this.loginForm.password.trim() == '' || this.checked == false || this.loginForm.password.length < 8) {
                    return "btn-main mt-10 mb-20 disabled";
                }

                if (! this.validateEmail(this.loginForm.email.trim())) {
                    this.invalidEmail = true;

                    return "btn-main mt-10 mb-20 disabled";
                }

                this.invalidEmail = false;
                
                return "btn-main mt-10 mb-20";
            },
            validateEmail(email) {
                var re = /^[a-zA-Z]+(([^<>()\[\]\\!@#$%^&*+-.,;:\s@"]+(\.[^<>()\[\]\\!@#$%^&*+-.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

                return re.test(String(email).toLowerCase());
            }
        }
    }
</script>
