<template>
    <section id="wrapper" class="header-container">
        <TheRegisterHeader label="パスワード変更" backPageName="login" icon="back" />
        <div class="container register-email-sent" v-if="errorMessage != ''">
            <div class="content">
                <p class="title mb-36">パスワード変更</p>
                <img src="/assets/gold_mail_box.svg" class="mb-28" alt="image" />
                <p class="desc" v-if="isChecking == true">確認中。。。</p>
                <p class="desc" v-if="isChecking == false">{{errorMessage}}</p>
                <router-link :to="{ name: 'login' }" class="btn-main mt-48"  v-if="isChecking == false">ログインへ</router-link>
            </div>
        </div>
        <div class="container" v-else>
            <p class=".setting-text-center mt-20">新しいパスワード</p>
            <input type="password" v-model="password" class="form-control mt-10" placeholder="新しいパスワードを入力（8文字以上）" @blur="blurPasswordConfirm" />
            <input type="password" v-model="confirmPassword" class="form-control mt-10" placeholder="新しいパスワードを再入力" @blur="blurPasswordConfirm" />
            <p class="red-alert" v-if="passwordDismatch">パスワードが一致しません</p>
            <button :class="getButtonClass()" @click="sendForm" type="button" :disabled="this.getButtonClass().includes('disabled')">保存する</button>
            <!--
            <div class="brand-footer">
                <a class="brand-img" href="https://daddyrelax.jp">
                    <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                    <br/>インターネット異性紹介事業（受理番号:30190079000）
                </a>
                <div class="copy-right">
                    2019 © DaddyRelax All Rights Reserved.
                </div>
            </div>
            -->
        </div>
        <TheLoading v-if="isChecking" />
        <TheMessageDialog
            v-if="showMessageDialog"
            icon=""
            title="パスワードが変更されました。"
            message="このパスワードをご利用いただけます。"
            confirmTitle="ログインページへ"
            @confirm="confirm"
            @cancel="confirm" />
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'
    import TheLoading from '../../modals/TheLoading.vue'
    import TheMessageDialog from "../../modals/TheMessageDialog"
    import helper from '../../../services/helper'

    export default {
        data() {
            return {
                isChecking: true,
                token: this.$route.params.token,
                errorMessage: '',
                password: '',
                confirmPassword: '',
                showMessageDialog: false,
                passwordDismatch: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading,
            TheMessageDialog
        },
        mounted(){
            this.isChecking = true;
            axios.post('/api/auth/activate/password/'+this.token).then(response =>  {
                this.isChecking = false;
            }).catch(error => {
                this.isChecking = false;
                this.errorMessage = "メールアドレスが認証できません。";
            });
        },
        methods: {
            getButtonClass() {
                if (this.password == '' || this.password.length < 8 || this.password != this.confirmPassword) {
                    return "btn-main small mt-10 disabled";
                }

                return "btn-main small mt-10";
            },
            sendForm() {
                this.isChecking = true;
                axios.post('/api/auth/password/reset', {
                    password_token: this.token,
                    password: this.password
                }).then(response =>  {
                    helper.login(this, {
                        email: response.data.email,
                        no_password: 1
                    }).then(user => {
                        if (user == 'error') {
                            this.isChecking = false;
                            return;
                        }
                        helper.initData(this);
                        this.$router.push({ name: 'home' });
                    })
                }).catch(error => {
                    this.isChecking = false;
                    toastr['error'](error);
                });
            },
            confirm() {
                this.$router.replace('/login');
            },
            blurPasswordConfirm() {
                if (this.password != '' && this.confirmPassword != '') {
                    this.passwordDismatch = this.password != this.confirmPassword;
                } else {
                    this.passwordDismatch = false;
                }
            }
        }
    }
</script>