<template>
    <div id="wrapper" class="header-container">
        <TheRegisterHeader label="パスワード再設定" borderClass="" backPageName="login" icon="back" />
        <div class="container">
            <!--<p class="label-title mt-36 mb-12">メールアドレス</p>-->
            <input type="email" v-model="email" class="form-control mt-20" placeholder="ご登録済みメールアドレス" />
            <p class="label-error-message mt-20" v-if="errorMessage != ''">{{errorMessage}}</p>
            <p class="red-alert mt-10" v-if="invalidEmail">入力されたメールアドレスは登録できない形式です</p>
			<div class="setting-text-center mt-20 mb-20">
				確認メールを送信します
			</div>
            <button :class="getButtonClass()" @click="sendForm" type="button" :disabled="this.getButtonClass().includes('disabled')">送信</button>
        </div>
        <TheLoading v-if="isLoading" />
        <TheMessageDialog
            v-if="showMessageDialog"
            icon="gold_mail_box"
            title="確認メールを送信しました"
            message="メール本文のURLよりお進みください。"
            confirmTitle="ログインページ"
            @confirm="confirm"
            @cancel="confirm" />
    </div>
</template>

<script>
    import helper from '../../../services/helper'
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'
    import TheLoading from "../../modals/TheLoading"
    import TheMessageDialog from "../../modals/TheMessageDialog"

    export default {
        data(){
            return {
                email: '',
                isLoading: false,
                showMessageDialog: false,
                errorMessage: '',
                invalidEmail: false
            }
        },
        components: {
            TheRegisterHeader, TheLoading, TheMessageDialog
        },
        mounted() {
        },
        methods: {
            getButtonClass() {
                if (this.email == '' || ! this.validateEmail(this.email)) {
                    if (this.email !== '') this.invalidEmail = true;
                    return "btn-main mt-20 mb-20 disabled";
                }

                this.invalidEmail = false;

                return "btn-main mt-20 mb-20";
            },
            validateEmail(email) {
                var re = /^[a-zA-Z]+(([^<>()\[\]\\!@#$%^&*+-.,;:\s@"]+(\.[^<>()\[\]\\!@#$%^&*+-.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                
                return re.test(String(email).toLowerCase());
            },
            sendForm() {
                this.isLoading = true;

                axios.post('/api/auth/user/password/forogt', {
                    email: this.email
                })
                .then(response => {
                    this.isLoading = false
                    this.showMessageDialog = true
                }).catch(error => {
                    this.isLoading = false
                    // this.errorMessage = error.response.data.message
                    this.errorMessage = 'エラーが発生しました。'
                })
            },
            confirm() {
                this.showMessageDialog = false
                this.$router.replace('/login');
            }
        },
        computed: {
        },
    }
</script>
<style>
</style>
