<template>
    <section class="mb-20 profile-step header-container">
        <!--<h1 class="mt-48">基本情報を入力してください</h1>-->
		<div class="mt-20 regi-list-field">
			<div class="mt-10 input-field">
				<label class="regi-list-title">ニックネーム</label>
				<input type="text" v-model="profileForm.nickname" class="form-control" placeholder="ニックネーム" />
			</div>
			<div class="mt-10 input-field">
				<label class="regi-list-title">地域</label>
                <v-select :options="masterData.cities" v-model="profileForm.city_id" />
			</div>
			<div class="mt-10 input-field">
				<label class="regi-list-title">身長</label>
				<div class="flex-row">
                    <v-select :options="heights" v-model="profileForm.height" />
					<label>cm</label>
				</div>
			</div>
			<div class="mt-10 input-field">
				<label class="regi-list-title">体型</label>
				<div class="custom-check-box" v-for="(body, bInd) in masterData.bodies" :key="bInd" @click="selectBody(body.id)">
					<label>{{body.name}}</label>
					<img :src="`/assets/${profileForm.body_id == body.id ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
				</div>
			</div>
			<div class="mt-10 input-field">
				<label class="regi-list-title">職業</label>
                <v-select :options="masterData.sameJobs" class="reverse" v-model="profileForm.job_id" />
			</div>		
		</div>
        <button :class="getButtonClass()" @click="next" type="button" :disabled="this.getButtonClass().includes('disabled')">プロフィールの入力へ</button>
<!--
        <div class="brand-footer">
            <a class="brand-img" href="https://daddyrelax.jp">
                <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                <br/>インターネット異性紹介事業（受理番号:30190079000）
            </a>
            <div class="copy-right">
                2019 © DaddyRelax All Rights Reserved.
            </div>
        </div>
-->
        <TheLoading v-if="isLoading" />

        <div id="gist"></div>
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'
    import TheLoading from "../../modals/TheLoading"
    import helper from '../../../services/helper'
    import VSelect from '@alfsnd/vue-bootstrap-select'
    import postscribe from 'postscribe'
    
    export default {
        data() {
            return {
                isLoading: false,
                profileForm: {
                    nickname: '',
                    city_id: {
                        text: '-- 地域 --',
                        value: -1
                    },
                    height: '-- 身長 --',
                    body_id: -1,
                    job_id: {
                        text: '-- 職業 --',
                        value: -1
                    }
                },
                heights: [],
                masterData: {
                    cities: [],
                    jobs: [],
                    bodies: []
                }
            }
        },
        components: {
            TheRegisterHeader, TheLoading, VSelect
        },
        created() {
            this.heights = [];
            this.heights.push('-- 身長 --');
            for (let i = 140; i <= 200; i++) {
                this.heights.push(i);
            }

            if (this.masterData.cities == undefined || this.masterData.cities.length == 0) {
                axios.post('/api/master/data')
                .then(response => {
                    this.$store.dispatch('setMasterData', response.data.data);
                    this.initData();
                })
            } else {
                this.initData();
            }
        },
        mounted() {
            if (window.localStorage.getItem('profile_step1')) {
                this.profileForm = JSON.parse(window.localStorage.getItem('profile_step1'));
            }

            if (this.$store.state.auth.user.id == undefined) {
                helper.authUser().then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        avatar: response.profile.avatar,
                        profile: response.profile,
                        user: response.user
                    });
                    this.addScript(response.user)
                });
            } else {
                this.addScript(this.$store.state.auth.user)
            }
            window.scrollTo(0, 0);
        },
        methods: {
            addScript(user) {
                if (user.profile.gender === 1) {
                    postscribe('#gist', `<script type="text/javascript" src="//track.bannerbridge.net/lead_js.php?proID=17335&orderid=` + user.id + `"><\/script>`)
                }

                if (user.profile.gender === 2) {
                    postscribe('#gist', `<script type="text/javascript" src="//track.bannerbridge.net/sale_js.php?proID=17335&trans_amount=1000&orderid=` + user.id + `"><\/script><script>`)
                    // if (!window.afblpcvCvConf) {
                    // window.afblpcvCvConf = [];
                    // }
                    // window.afblpcvCvConf.push({
                    // siteId: "067b2f7c",
                    // commitData: {
                    //     pid: "p116159",
                    //     u: "` + user.id + `"
                    // }
                    // });
                    // <\/script>
                    // <script src="https://t.afi-b.com/jslib/lpcv.js?cid=067b2f7c&pid=p116159" async="async"><\/script>`)
                }
            },
            initData() {
                this.masterData.cities = this.$store.state.masterData.cities.map(item => {
                    return  {
                        text: item.name,
                        value: item.id
                    }
                })
                this.masterData.cities.splice(0, 0, { text: '-- 地域 --', value: -1 });

                this.masterData.sameJobs = this.$store.state.masterData.sameJobs.map(item => {
                    return  {
                        text: item.name,
                        value: item.id
                    }
                })
                this.masterData.sameJobs.splice(0, 0, { text: '-- 職業 --', value: -1 });

                this.masterData.bodies = this.$store.state.masterData.bodies
            },
            getButtonClass() {
                if (this.profileForm.nickname == '' || this.profileForm.city_id.value == -1 || this.profileForm.body_id == -1 || this.profileForm.height == '-- 身長 --' || this.profileForm.job_id.value == -1) {
                    return "btn-main mt-20 mb-20 disabled";
                }

                return "btn-main mt-20 mb-20";
            },
            next() {
                window.localStorage.setItem('profile_step1', JSON.stringify(this.profileForm));
                this.$router.push({ name: 'profile_step2' });
            },
            selectBody(body_id) {
                this.profileForm.body_id = body_id;
                this.$forceUpdate();
            }
        }
    }
</script>
