<template>
    <section class="profile-step header-container">
        <h1 class="mt-48 mb-12">VIP選択をしてください</h1>
        <p>後から変更することができます。</p>
        <div class="mt-48 on-off">
            <div :class="`on-item ${profileForm.is_vip == 1 ? 'active' : ''}`" @click="selectVip(1)">ON</div>
            <div :class="`on-item ${profileForm.is_vip == 0 ? 'active' : ''}`" @click="selectVip(0)">OFF</div>
        </div>
        <p class="mt-36 mb-12">
            *VIP会員の男性からのみ、いいねを受け付けます。<br/>
            <br/>
            *VIP会員は、一般会員より多く会費を支払っている男性です。<br/>
            <br/>
            *いいねをもらえる数は減りますがより良い男性に限定できます。
        </p>
        <img src="/assets/vip_desc.svg" class="vip" alt="image" />
        <button :class="getButtonClass()" @click="next" type="button" :disabled="this.getButtonClass().includes('disabled')">次へ</button>
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'

    export default {
        data() {
            return {
                isLoading: false,
                profileForm: {
                    is_vip: -1
                },
                gender: this.$store.state.auth.profile.gender
            }
        },
        components: {
            TheRegisterHeader
        },
        created() {
            if (!window.localStorage.getItem('profile_step1') || !window.localStorage.getItem('profile_step2')) {
                this.$router.push({ name: 'profile_step1' });
            }
        },
        mounted() {
            if (window.localStorage.getItem('profile_step5')) {
                this.profileForm = JSON.parse(window.localStorage.getItem('profile_step5'));
            }
            window.scrollTo(0, 0);
        },
        methods: {
            getButtonClass() {
                if (this.profileForm.is_vip < 0) {
                    return "btn-next mt-48 mb-48 disabled";  
                }

                return "btn-next mt-48 mb-48";
            },
            next() {
                window.localStorage.setItem('profile_step5', JSON.stringify(this.profileForm));
                this.$router.push({ name: 'profile_step6' });
            },
            selectVip(value) {
                this.profileForm.is_vip = value;
                this.$forceUpdate();
            }
        }
    }
</script>
