<template>
    <section class="profile-step header-container">
        <h1 class="mt-48 mb-12">ダディーにできることを選択してください</h1>
        <p>複数選択可能です。</p>
        <div class="mt-48 input-field">
            <div class="custom-check-box" v-for="(daddy, dInd) in masterData.daddies" :key="dInd" @click="selectDaddy(daddy.id)">
                <label>{{daddy.name}}</label>
                <img :src="`/assets/${profileForm.daddies.includes(daddy.id) ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
            </div>
        </div>
        <button :class="getButtonClass()" @click="next" type="button" :disabled="this.getButtonClass().includes('disabled')">次へ</button>
        <TheLoading v-if="isLoading" />
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'
    import TheLoading from "../../modals/TheLoading"

    export default {
        data() {
            return {
                isLoading: false,
                profileForm: {
                    daddies: []
                },
                masterData: {
                    daddies: []
                },
                gender: this.$store.state.auth.profile.gender
            }
        },
        components: {
            TheRegisterHeader, TheLoading
        },
        created() {
            if (!window.localStorage.getItem('profile_step1') || !window.localStorage.getItem('profile_step2')) {
                this.$router.push({ name: 'profile_step1' });
            }
        },
        mounted() {
            this.masterData = this.$store.state.masterData;
            if (window.localStorage.getItem('profile_step4')) {
                this.profileForm = JSON.parse(window.localStorage.getItem('profile_step4'));
            }
            window.scrollTo(0, 0);
        },
        methods: {
            getButtonClass() {
                if (this.profileForm.daddies.length == 0) {
                    return "btn-next mt-48 mb-48 disabled";  
                }

                return "btn-next mt-48 mb-48";
            },
            next() {
                window.localStorage.setItem('profile_step4', JSON.stringify(this.profileForm));
                this.$router.push({ name: 'profile_step6' });
            },
            selectDaddy(daddy_id) {
                if (this.profileForm.daddies.includes(daddy_id)) {
                    this.profileForm.daddies = this.profileForm.daddies.filter(function(item) {
                        return item != daddy_id;
                    });
                } else {
                    this.profileForm.daddies.push(daddy_id);
                }
                this.$forceUpdate();
            }
        }
    }
</script>
