<template>
    <section class="profile-step header-container">
        <!--<h1 class="mt-16">魅力的な写真を登録しましょう</h1>-->
		<div class="photo_regi_title mt-20">メイン写真１枚</div>
		<div class="photo_regi_title_sub mb-10">上半身お顔が見える写真</div>
        <div class="main-photo">
            <img :src="profileForm.mainPhoto" alt="image" />
            <div class="btn-upload" @click="uploadPhoto(1)">{{showDeleteIcon(-1) == false ? 'アップロード' : '編集する' }}</div>
            <input type="file" ref="mainPhoto" @change="previewPhoto" />
        </div>
		<!--
        <div class="photo-tip mt-20">
            <img src="/assets/photo_tip.svg" alt="image" />
            <div class="content">
                <p>いいねがもらえる写真選びのポイントをチェック！</p>
                <router-link :to="{ name: 'photo_tip' }" class="btn-custom-sm">詳細を見る</router-link>
            </div>
        </div>
		-->
        <div class="photo_regi_title mt-15">その他の写真５枚</div>
		<div class="photo_regi_title_sub mb-10">全身姿・ファッション・ライフスタイル</div>
        <div class="sub-photos">
            <div v-for="(sub, ind) in profileForm.subPhotos" :key="ind" class="sub-photo" @click="uploadPhoto(ind + 2)">
                <img :src="sub" class="subimg" alt="image" />
                <img src="/assets/gray_plus.svg" class="plus" alt="image" />
                <input type="file" ref="subPhoto" @change="previewPhoto" />
            </div>
        </div>

		<p class="photo_regi_text center mt-20 mb-20">すべての写真は後から変更できます</p>
        <button :class="getButtonClass()" @click="next" type="button" :disabled="this.getButtonClass().includes('disabled')">{{gender == 1 ? '登録を完了して女性を探す' : '登録を完了して男性を探す'}}</button>
        <ThePhotoEditDialog v-if="selectedPhotoIndex >= -1" @confirm="confirm" @cancel="cancel"/>
        <TheLoading v-if="isLoading" />
        <TheImageCropDialog
            :image="cropImage"
            v-if="cropImage != undefined"
            :aspectRatio="{
                    aspectRatio: 1
                }"
            @cancel="cancelCropImage"
            @confirm="confirmCropImage" />
<!--
        <div class="brand-footer">
            <a class="brand-img" href="https://daddyrelax.jp">
                <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                <br/>インターネット異性紹介事業（受理番号:30190079000）
            </a>
            <div class="copy-right">
                2019 © DaddyRelax All Rights Reserved.
            </div>
        </div>
-->
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'
    import TheLoading from "../../modals/TheLoading"
    import ThePhotoEditDialog from "../../modals/ThePhotoEditDialog";
    import TheImageCropDialog from "../../modals/TheImageCropDialog";

    export default {
        data() {
            return {
                isLoading: false,
                profileForm: {
                    mainPhoto: (this.$store.state.auth.profile.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png'),
                    subPhotos: [
                        '/assets/empty.svg',
                        '/assets/empty.svg',
                        '/assets/empty.svg',
                        '/assets/empty.svg',
                        '/assets/empty.svg'
                    ]
                },
                uploadIndex: -1,
                gender: this.$store.state.auth.profile.gender,
                selectedPhotoIndex: -2,
                cropImage: undefined,
                blobs: []
            }
        },
        components: {
            TheRegisterHeader, TheLoading, ThePhotoEditDialog, TheImageCropDialog
        },
        created() {
            if (!window.localStorage.getItem('profile_step1') || !window.localStorage.getItem('profile_step2')) {
                this.$router.push({ name: 'profile_step1' });
            }
        },
        mounted() {
            if (window.localStorage.getItem('profile_step6')) {
                this.profileForm = JSON.parse(window.localStorage.getItem('profile_step6'));
            }
            window.scrollTo(0, 0);
        },
        methods: {
            getButtonClass() {
                return "btn-main mt-20 mb-20";
            },
            next() {
                // window.localStorage.setItem('profile_step3', JSON.stringify(this.profileForm));
                // this.$router.push({ name: 'profile_step2' });
                let profileStep1 = JSON.parse(window.localStorage.getItem('profile_step1'));
                let profileStep2 = JSON.parse(window.localStorage.getItem('profile_step2'));
                let profileStep3 = JSON.parse(window.localStorage.getItem('profile_step3'));
                let profileStep5 = {}
                if (this.gender == 2) { // female
                    profileStep5 = {
                        is_vip: 0
                    }
                }
                let params = Object.assign({}, profileStep1, profileStep2, profileStep3, profileStep5);
                
                let list = [];
                // if (this.$refs.mainPhoto.files.length > 0) {
                //     list.push({
                //         file: this.$refs.mainPhoto.files[0],
                //         type: 'main_photo',
                //         index: 0
                //     });
                // }
                // for (let i = 0; i < this.$refs.subPhoto.length; i++) {
                //     if (this.$refs.subPhoto[i].files.length > 0) {
                //         list.push({
                //             file: this.$refs.subPhoto[i].files[0],
                //             type: 'sub_photo',
                //             index: i
                //         });
                //     }
                // }
                if (this.blobs.length > 0 && this.blobs[1]) {
                    list.push({
                        file: this.blobs[1],
                        type: 'main_photo',
                        index: 0
                    });
                }
                for (let i = 2; i <= 6; i++) {
                    if (this.blobs[i]) {
                        list.push({
                            file: this.blobs[i],
                            type: 'sub_photo',
                            index: i - 2
                        });
                    }
                }
                this.isLoading = true;
                this.updateProfile(params, list);
            },
            async uploadPhotoToServer(item) {
                let data = new FormData();
                data.append('image', item.file);
                data.append('sort_no', item.index);
                data.append('type', item.type);
                return await axios.post('/api/upload_image', data);
            },
            async updateProfile(params, list) {
                params.job_id = params.job_id.value
                params.city_id = params.city_id.value
                if (params.salary_id)
                    params.salary_id = params.salary_id.value

                if (list.length > 0) {
                    let res = await Promise.all(list.map(item => this.uploadPhotoToServer(item)));
                    list.forEach((item, index) => {
                        if (item.type == 'main_photo') {
                            params.avatar = res[index].data.thumb_url
                        }
                    })
                }

                params.first_register = 1; // First register
                let data = new FormData();
                data.append('data', JSON.stringify(params))
                axios.post('/api/user/update/profile', data)
                .then(response => {
                    this.isLoading = false
                    let user = response.data.data;

                    this.$store.dispatch('setAuthUserDetail',{
                        email: user.email,
                        avatar: user.profile.avatar,
                        status: user.status,
                        is_admin: user.is_admin,
                        profile: user.profile,
                        user: user
                    });
                    this.$router.push({ name: 'home' });
                }).catch(error => {
                    this.isLoading = false
                    toastr['error'](error.response.data.message);
                })
            },
            uploadPhoto(index) {
                if (this.showDeleteIcon(index - 2)) {
                    this.selectedPhotoIndex = index - 2;
                    return;
                }
                this.uploadIndex = index;
                this.upload()
            },
            showDeleteIcon(index) {
                if (this.$refs.mainPhoto == undefined) return false;

                if (index == -1) {
                    return this.$refs.mainPhoto.files.length > 0;
                } else {
                    return this.$refs.subPhoto[index].files.length > 0;
                }
            },
            confirm(type) {
                if (type == 'upload') {
                    this.uploadIndex = this.selectedPhotoIndex + 2;
                    this.upload()
                }

                if (type == 'remove') {
                    this.deleteImage(this.selectedPhotoIndex);
                }

                if (type == 'browse') {
                    this.imageViews = [];
                    if (this.selectedPhotoIndex == -1) {
                        this.imageViews.push("<img src='" + this.mainPhoto + "' alt='image'/>");
                    } else {
                        this.imageViews.push("<img src='" + this.subPhotos[this.selectedPhotoIndex] + "' alt='image'/>");
                    }
                }

                this.selectedPhotoIndex = -2;
            },
            cancel() {
                this.selectedPhotoIndex = -2;
            },
            deleteImage(index) {
                if (index == -1) {
                    this.$refs.mainPhoto.type = 'text';
                    this.$refs.mainPhoto.type = 'file';
                    this.profileForm.mainPhoto = (this.gender == 1 ? '/assets/avatar-male.png' : '/assets/avatar-female.png');
                } else {
                    this.$refs.subPhoto[index].type = 'text';
                    this.$refs.subPhoto[index].type = 'file';
                    this.profileForm.subPhotos[index] = '/assets/empty.svg';
                    this.$forceUpdate();
                }
            },
            upload() {
                if (this.uploadIndex == 1) { // main
                    this.$refs.mainPhoto.click();
                } else {
                    this.$refs.subPhoto[this.uploadIndex - 2].click();
                }
            },
            previewPhoto(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createRankImage(files[0]);
            },
            createRankImage(file) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.cropImage = e.target.result
                    this.$forceUpdate();
                };
                reader.readAsDataURL(file);
            },
            cancelCropImage() {
                this.cropImage = undefined
            },
            async confirmCropImage(image, canvas) {
                let blob = await this.getCroppedImg(canvas)

                this.blobs[this.uploadIndex] = blob

                this.cropImage = undefined

                if (this.uploadIndex == 1) { // main
                    this.profileForm.mainPhoto = image;
                } else {
                    this.profileForm.subPhotos[this.uploadIndex - 2] = image;
                }
                this.uploadIndex = -1;
            },
            async getCroppedImg(canvas) {
                // As a blob
                return new Promise((resolve, reject) => {
                    canvas.toBlob(file => {
                    resolve(file)
                    }, 'image/jpeg')
                })
            },
        }
    }
</script>
