<template>
    <section class="profile-step header-container">
        <!--<h1 class="mt-48">プロフィールを完成させてください</h1>-->
		<div class="mt-20 regi-list-field">
			<div class="mt-10 input-field" v-if="gender == 1">
				<label class="regi-list-title">年収</label>
                <v-select :options="masterData.salaries" v-model="profileForm.salary_id" />
			</div>
			<div class="mt-10 input-field" v-else>
				<label class="regi-list-title">将来の夢</label>
				<input type="text" v-model="profileForm.dream" class="form-control" placeholder="将来の夢" />
			</div>
			<div class="mt-10 input-field">
				<label class="regi-list-title">婚姻状況</label>
				<div class="custom-check-box" v-for="(marriage, mInd) in masterData.marriages" :key="mInd" @click="selectMarriage(marriage.id)">
					<label>{{marriage.name}}</label>
					<img :src="`/assets/${profileForm.marriage_id == marriage.id ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
				</div>
			</div>
			<div class="mt-10 input-field">
				<label class="regi-list-title">飲酒について</label>
				<div class="custom-check-box" v-for="(drink, dInd) in masterData.drinks" :key="dInd" @click="selectDrink(drink.id)">
					<label>{{drink.name}}</label>
					<img :src="`/assets/${profileForm.drink_id == drink.id ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
				</div>
			</div>
			<div class="mt-10 input-field">
				<label class="regi-list-title">喫煙について</label>
				<div class="custom-check-box" v-for="(smoking, sInd) in masterData.smokings" :key="sInd" @click="selectSmoking(smoking.id)">
					<label>{{smoking.name}}</label>
					<img :src="`/assets/${profileForm.smoking_id == smoking.id ? 'checked.svg' : 'unchecked.svg'}`" alt="image" />
				</div>
			</div>
		</div>
        <button :class="getButtonClass()" @click="next" type="button" :disabled="this.getButtonClass().includes('disabled')">自己紹介文の入力へ</button>
<!--
        <div class="brand-footer">
            <a class="brand-img" href="https://daddyrelax.jp">
                <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                <br/>インターネット異性紹介事業（受理番号:30190079000）
            </a>
            <div class="copy-right">
                2019 © DaddyRelax All Rights Reserved.
            </div>
        </div>
-->
        <TheLoading v-if="isLoading" />
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'
    import TheLoading from "../../modals/TheLoading"
    import VSelect from '@alfsnd/vue-bootstrap-select'

    export default {
        data() {
            return {
                isLoading: false,
                profileForm: {
                    dream: '',
                    salary_id: {
                        text: '-- 年収 --',
                        value: -1
                    },
                    marriage_id: -1,
                    drink_id: -1,
                    smoking_id: -1
                },
                masterData: {
                    salaries: [],
                    marriages: [],
                    drinks: [],
                    smokings: []
                },
                gender: this.$store.state.auth.profile.gender
            }
        },
        components: {
            TheRegisterHeader, TheLoading, VSelect
        },
        created() {
            if (window.localStorage.getItem('profile_step1') == undefined) {
                this.$router.push({ name: 'profile_step1' });
            }
        },
        mounted(){
            this.masterData = {
                marriages: this.$store.state.masterData.marriages,
                drinks: this.$store.state.masterData.drinks,
                smokings: this.$store.state.masterData.smokings
            };

            this.masterData.salaries = this.$store.state.masterData.salaries.map(item => {
                return {
                    text: item.name,
                    value: item.id
                }
            })
            this.masterData.salaries.splice(0, 0, { text: '-- 年収 --', value: -1 });

            if (window.localStorage.getItem('profile_step2')) {
                this.profileForm = JSON.parse(window.localStorage.getItem('profile_step2'));
            }
            window.scrollTo(0, 0);
        },
        methods: {
            getButtonClass() {
                if (this.gender == 1) { // male
                    if (this.profileForm.salary_id.value == -1 || this.profileForm.marriage_id == -1 || this.profileForm.drink_id == -1 || this.profileForm.smoking_id == -1) {
                        return "btn-main mt-20 mb-20 disabled";    
                    }
                } else {
                    if (this.profileForm.dream == '' || this.profileForm.marriage_id == -1 || this.profileForm.drink_id == -1 || this.profileForm.smoking_id == -1) {
                        return "btn-main mt-20 mb-20 disabled";    
                    }
                }

                return "btn-main mt-20 mb-20";
            },
            next() {
                window.localStorage.setItem('profile_step2', JSON.stringify(this.profileForm));
                this.$router.push({ name: 'profile_step3' });
            },
            selectMarriage(marriage_id) {
                this.profileForm.marriage_id = marriage_id;
                this.$forceUpdate();
            },
            selectDrink(drink_id) {
                this.profileForm.drink_id = drink_id;
                this.$forceUpdate();
            },
            selectSmoking(smoking_id) {
                this.profileForm.smoking_id = smoking_id;
                this.$forceUpdate();
            }
        }
    }
</script>
