<template>
    <section class="profile-step header-container">
        <!--<h1 class="mt-48">自己紹介文を入力してください</h1>-->
		<div class="mt-20 regi-list-field">
			<div class="mt-10 input-field">
				<label class="regi-list-title">ひとことメッセージ</label>
				<!--<p class="sub-text"></p>-->
				<textarea placeholder="20文字以内" class="form-control" v-model="profileForm.work" rows="2" @blur="checkLetters"></textarea>
				<p class="red-alert" v-if="invalidTitle">20文字以内で入力してください</p>
			</div>
			<div class="mt-10 input-field">
				<label class="regi-list-title">自己紹介文</label>
				<!--<p class="sub-text"></p>-->
				<textarea placeholder="20-1000文字以内" class="form-control" v-model="profileForm.content" rows="10" @blur="checkLetters"></textarea>
				<p class="red-alert" v-if="invalidContent">20～1000文字以内で入力してください</p>
			</div>
		</div>
        <button :class="getButtonClass()" @click="next" type="button" :disabled="this.getButtonClass().includes('disabled')">写真の登録へ</button>
<!--
        <div class="brand-footer">
            <a class="brand-img" href="https://daddyrelax.jp">
                <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                <br/>インターネット異性紹介事業（受理番号:30190079000）
            </a>
            <div class="copy-right">
                2019 © DaddyRelax All Rights Reserved.
            </div>
        </div>
-->
        <TheLoading v-if="isLoading" />
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'
    import TheLoading from "../../modals/TheLoading"

    export default {
        data() {
            return {
                isLoading: false,
                profileForm: {
                    work: '',
                    content: ''
                },
                gender: this.$store.state.auth.profile.gender,
                invalidTitle: false,
                invalidContent: false
            }
        },
        components: {
            TheRegisterHeader, TheLoading
        },
        created() {
            if (window.localStorage.getItem('profile_step1') == undefined || window.localStorage.getItem('profile_step2') == undefined) {
                this.$router.push({ name: 'profile_step1' });
            }
        },
        mounted(){
            if (window.localStorage.getItem('profile_step3')) {
                this.profileForm = JSON.parse(window.localStorage.getItem('profile_step3'));
            }
            window.scrollTo(0, 0);
        },
        methods: {
            getButtonClass() {
                if (this.profileForm.work == '' || this.profileForm.work.length > 20 || this.profileForm.content == '' || this.profileForm.content.length < 20 || this.profileForm.content.length > 1000) {
                    return "btn-main mt-20 mb-20 disabled";  
                }

                return "btn-main mt-20 mb-20";
            },
            next() {
                if (this.profileForm.work == '' || this.profileForm.work.length > 20) {
                    this.invalidTitle = true;
                    return;
                }
                if (this.profileForm.content == '' || this.profileForm.content.length < 20 || this.profileForm.content.length > 1000) {
                    this.invalidContent = true;
                    return;
                }

                window.localStorage.setItem('profile_step3', JSON.stringify(this.profileForm));
                if (this.gender == 1) {
                    this.$router.push({ name: 'profile_step6' });
                } else {
                    this.$router.push({ name: 'profile_step6' });
                }
            },
            checkLetters() {
                this.invalidTitle = this.profileForm.work != '' && this.profileForm.work.length > 20;
                this.invalidContent = this.profileForm.content != '' && (this.profileForm.content.length < 20 || this.profileForm.content.length > 1000);
            }
        }
    }
</script>
