<template>
    <section id="wrapper" class="header-container">
        <TheRegisterHeader label="退会する" backPageName="login" icon="back" />
        <div class="container register-email-sent">
            <div class="content">
                <p class="title mb-20">退会完了</p>
                <img src="/assets/quit_icon.svg" class="mb-28" alt="image" />
                <p class="desc">次回のご利用お待ちしております</p>
            </div>
        </div>
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'

    export default {
        data() {
            return {
            }
        },
        components: {
            TheRegisterHeader
        },
        mounted() {
            if (window.localStorage.getItem('current_email') == undefined) {
                this.$router.push({ name: 'login' });
            }
            axios.post('/api/auth/user/quit', {
                email: window.localStorage.getItem('current_email')
            });
            window.localStorage.removeItem('current_email');
        }
    }
</script>