<template>
    <section id="wrapper" class="header-container">
        <TheRegisterHeader label="入力内容の確認" step="100%" borderClass="no-border" backPageName="register_step2" icon="back" />
        <div class="container-register register-step1">
		    <!--<div class="register-content-title text-center mb-15">メール受信</div>-->
			<div class="container-register-confirm">
				<div class="register-confirm">
					<p class="r-title">性別</p>
					<p class="r-text mb-15 mw-10"><img :src="`/assets/${registerGenderForm.gender == 1 ? 'male' : 'female'}.svg`" alt="image" />{{registerGenderForm.gender == 1 ? '男性' : '女性' }}</p>
					<p class="r-title">年齢</p>
					<p class="r-text mb-15 mw-10">{{registerGenderForm.age}}歳</p>
					<p class="r-title">メールアドレス</p>
					<p class="r-text mb-15 mw-10">{{registerEmailForm.email}}</p>
					<p class="r-title">パスワード</p>
					<p class="r-text mw-10">{{registerEmailForm.password}}</p>
				</div>
			</div>
			
            <div class="col-xs-12 text-center">
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" v-model="checked" id="passwordCheck">
                    <label class="form-check-label fs-10 ff-regular" for="passwordCheck">
                        <router-link :to="{name: 'terms_of_use'}">利用規約</router-link>
                        <span>に同意する</span>
                    </label>
                </div>
            </div>
            <button :class="getButtonClass()" @click="sendForm" type="button" :disabled="this.getButtonClass().includes('disabled')">確認メールを送信</button>
        </div>
<!--
        <div class="brand-footer">
            <a class="brand-img" href="https://daddyrelax.jp">
                <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                <br/>インターネット異性紹介事業（受理番号:30190079000）
            </a>
            <div class="copy-right">
                2019 © DaddyRelax All Rights Reserved.
            </div>
        </div>
-->
        <TheLoading v-if="isSending" />
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'
    import TheLoading from '../../modals/TheLoading.vue'
    import helper from '../../../services/helper'
    
    export default {
        data() {
            return {
                registerEmailForm: {
                    email: '',
                    password: ''
                },
                registerGenderForm: {
                    gender: -1,
                    age: -1
                },
                checked: false,
                isSending: false
            }
        },
        components: {
            TheRegisterHeader,
            TheLoading
        },
        created() {
            if (window.localStorage.getItem('register_step_gender') && window.localStorage.getItem('register_step_email')) {
                this.registerGenderForm = JSON.parse(window.localStorage.getItem('register_step_gender'));
                this.registerEmailForm = JSON.parse(window.localStorage.getItem('register_step_email'));
            } else {
                this.$router.push({ name: 'login' });
            }
        },
        mounted(){
        },
        methods: {
            getButtonClass() {
                if (this.checked == false) return "btn-main disabled mt-20";
                return "btn-main mt-20";
            },
            sendForm() {
                this.isSending = true;
                let params = {
                    email: this.registerEmailForm.email,
                    password: this.registerEmailForm.password,
                    password_confirmation: this.registerEmailForm.password,
                    gender: this.registerGenderForm.gender,
                    age: this.registerGenderForm.age,
                    unique_id: helper.guid()
                };
                axios.post('/api/auth/register', params).then(response =>  {
                    this.isSending = false;
                    this.$router.push({ name: 'register_email_sent'});
                }).catch(error => {
                    this.isSending = false;
                    toastr['error']("エラー: " + error.response.data.message);
                });
            }
        }
    }
</script>
