<template>
    <section id="wrapper" class="header-container">
        <TheRegisterHeader label="確認メール送信完了" backPageName="login" icon="back" />
        <div class="container register-email-sent">
            <div class="content">
                <p class="title mb-10">入力されたメールアドレスへ<br/>確認メールをお送りしました</p>
                <img src="/assets/gold_mail_box.svg" class="mb-20" alt="image" />
                <p class="desc">メール本文のURLからお進みください。<br/>※もし届かない場合「迷惑メールフォルダ」をご確認ください</p>
            </div>
        </div>
        <!--
        <div class="brand-footer">
            <a class="brand-img" href="https://daddyrelax.jp">
                <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                <br/>インターネット異性紹介事業（受理番号:30190079000）
            </a>
            <div class="copy-right">
                2019 © DaddyRelax All Rights Reserved.
            </div>
        </div>
        -->
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'

    export default {
        data() {
            return {
                registerEmailForm: {
                    email: '',
                    password: '',
                    confirmPassword: ''
                },
                registerGenderForm: {
                    gender: -1,
                    age: -1
                }
            }
        },
        components: {
            TheRegisterHeader
        },
        created() {
            if (window.localStorage.getItem('register_step_gender') && window.localStorage.getItem('register_step_email')) {
                window.localStorage.removeItem('register_step_gender');
                window.localStorage.removeItem('register_step_email');
            } else {
                this.$router.push({ name: 'login' });
            }
        },
        mounted(){
        },
        methods: {
        }
    }
</script>
