<template>
    <section id="wrapper" class="header-container">
        <TheRegisterHeader label="ログイン情報を登録" step="70%" borderClass="no-border" backPageName="register" icon="back" />
        <div class="container-register register-step1">
			<!--<div class="register-content-title text-center mb-20">ログイン情報を登録</div>-->

            <div class="col-xs-12 login-row">
                <label>メールアドレス</label>
                <input type="text" name="email" class="form-control" placeholder="ご自分のメールアドレス" v-model="registerEmailForm.email"> 
                <p class="red-alert mt-10" v-if="invalidEmail">入力されたメールアドレスは登録できない形式です</p>
            </div>
            <div class="col-xs-12 login-row mt-20">
                <label>パスワード</label>
                <input type="password" name="password" class="form-control" placeholder="お好きな英数字8字以上" v-model="registerEmailForm.password">
            </div>
            <!-- <div class="col-xs-12 login-row mt-10">
                <input type="password" name="password" class="form-control" placeholder="お好きな英数字8文字以上（もう一度）" v-model="registerEmailForm.confirmPassword" @blur="blurPasswordConfirm"> 
                <p class="red-alert" v-if="passwordDismatch">パスワードで入力した文字が一致しません</p>
            </div> -->
            <button :class="getButtonClass()" @click="sendForm" type="button" :disabled="this.getButtonClass().includes('disabled')">入力内容の確認へ</button>
        </div>
<!--
        <div class="brand-footer">
            <a class="brand-img" href="https://daddyrelax.jp">
                <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                <br/>インターネット異性紹介事業（受理番号:30190079000）
            </a>
            <div class="copy-right">
                2019 © DaddyRelax All Rights Reserved.
            </div>
        </div>
-->
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'

    export default {
        data() {
            return {
                registerEmailForm: {
                    email: '',
                    password: ''
                },
                passwordDismatch: false,
                invalidEmail: false
            }
        },
        components: {
            TheRegisterHeader
        },
        created() {
            if (window.localStorage.getItem('register_step_email')) {
                this.registerEmailForm = JSON.parse(window.localStorage.getItem('register_step_email'));
            }
        },
        mounted(){
        },
        methods: {
            getButtonClass() {
                if (this.registerEmailForm.email.trim() == '' || this.registerEmailForm.password.trim() == '' || this.registerEmailForm.password.trim().length < 8) {
                    return "btn-main mt-20 mb-20 disabled";
                }

                if (! this.validateEmail(this.registerEmailForm.email.trim())) {
                    this.invalidEmail = true;
                    return "btn-main mt-20 mb-20 disabled";
                }

                this.invalidEmail = false;

                return "btn-main mt-20 mb-20";
            },
            sendForm() {
                window.localStorage.setItem('register_step_email', JSON.stringify({
                    email: this.registerEmailForm.email.trim(),
                    password: this.registerEmailForm.password.trim()
                }));
                this.$router.push({ name: 'register_confirm' });
            },
            validateEmail(email) {
                var re = /^[a-zA-Z]+(([^<>()\[\]\\!@#$%^&*+-.,;:\s@"]+(\.[^<>()\[\]\\!@#$%^&*+-.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

                return re.test(String(email).toLowerCase());
            },
            // blurPasswordConfirm() {
            //     if (this.registerEmailForm.password.trim() != '' && this.registerEmailForm.confirmPassword.trim() != '') {
            //         this.passwordDismatch = this.registerEmailForm.password != this.registerEmailForm.confirmPassword;
            //     } else {
            //         this.passwordDismatch = false;
            //     }
            // }
        }
    }
</script>
