<template>
    <section id="wrapper" class="header-container">
        <TheRegisterHeader label="無料登録で始める" step="33%" borderClass="no-border" backPageName="login" icon="back" />
        <div class="container-register register-step1">
			<!--<div class="register-content-title text-center mb-20">基本情報を選択</div>-->
            <!--<div class="register-content-title">性別</div>-->
            <!--<p class="register-content-sub-text center mb-10">後から変更することはできません</p>-->
            <p class="register-safe-title center mb-15">ご登録３つの安心</p>
            <p class="about-item mb-5">登録＆閲覧すべて無料０円</p>
            <p class="about-item mb-5">電話番号は不要メアドのみ</p>
            <p class="about-item mb-15">ワンタッチで退会＆再登録OK</p>

            <!--
            <div class="gender-box mb-20">
                <div class="item">
                    <div :class="`element ${this.registerForm.gender == 1 ? 'male-active' : ''}`" @click="selectGender(1)">
                        <img :src="`/assets/male${this.registerForm.gender == 1 ? '_selected' : ''}.svg`" alt="image" />
                        <p>男性</p>
                    </div>
                    <div :class="`element ${this.registerForm.gender == 2 ? 'female-active' : ''}`" @click="selectGender(2)">
                        <img :src="`/assets/female${this.registerForm.gender == 2 ? '_selected' : ''}.svg`" alt="image" />
                        <p>女性</p>
                    </div>
                </div>
            </div>
            -->
            <!--<div class="register-content-title">年齢</div>-->
			
			<div class="mt-10 regi-list-field-age">
                <div class="gender-box mb-20">
                    <div class="item">
                        <div :class="`element ${this.registerForm.gender == 1 ? 'male-active' : ''}`" @click="selectGender(1)">
                            <img :src="`/assets/male${this.registerForm.gender == 1 ? '_selected' : ''}.svg`" alt="image" />
                            <p>男性</p>
                        </div>
                        <div :class="`element ${this.registerForm.gender == 2 ? 'female-active' : ''}`" @click="selectGender(2)">
                            <img :src="`/assets/female${this.registerForm.gender == 2 ? '_selected' : ''}.svg`" alt="image" />
                            <p>女性</p>
                        </div>
                    </div>
                </div>
				<div class="age-box">
                    <v-select :options="ages" v-model="registerForm.age" />
					<label>歳</label>
				</div>
				<!-- <p class="register-content-sub-text mt-8" v-if="registerForm.gender == 1">男性は30歳以上のみ</p>-->
			</div>
            <div class="register_men_info mt-20" v-if="registerForm.gender == 1">
                <div class="bold">経済的に余裕のある紳士</div>
                のみお進みください
            </div>
            <button :class="getButtonClass()" @click="sendForm" type="button" :disabled="this.getButtonClass().includes('disabled')">ログイン情報を登録へ</button>
        </div>
<!--
        <div class="brand-footer">
            <a class="brand-img" href="https://daddyrelax.jp">
                <img src="/assets/logo_daddyrelax_gray.png" alt="image" class="footer-logo">
                <br/>インターネット異性紹介事業（受理番号:30190079000）
            </a>
            <div class="copy-right">
                2019 © DaddyRelax All Rights Reserved.
            </div>
        </div>
-->
    </section>
</template>

<script>
    import TheRegisterHeader from '../../../layouts/the-register-header.vue'
    import VSelect from '@alfsnd/vue-bootstrap-select'

    export default {
        data() {
            return {
                registerForm: {
                    gender: -1,
                    age: 18
                },
                ages: []
            }
        },
        components: {
            TheRegisterHeader, VSelect
        },
        created() {
            if (window.localStorage.getItem('register_step_gender')) {
                this.registerForm = JSON.parse(window.localStorage.getItem('register_step_gender'));
            }
            this.resetAges();
        },
        mounted(){
        },
        methods: {
            getButtonClass() {
                if (this.registerForm.gender == -1 || this.registerForm.age == '') {
                    return "btn-main mt-20 mb-20 disabled";
                }

                return "btn-main mt-20 mb-20";
            },
            sendForm() {
                window.localStorage.setItem('register_step_gender', JSON.stringify(this.registerForm));
                this.$router.push({ name: 'register_step2' });
            },
            resetAges() {
                if (this.registerForm.gender == 1) { // male
                    this.ages = []
                    for (let i = 23; i <= 90; i++) {
                        this.ages.push(i);
                    }
                    this.registerForm.age = 40;
                } else {
                    this.ages = []
                    for (let i = 18; i <= 60; i++) {
                        this.ages.push(i);
                    }

                    if (this.registerForm.gender != -1)
                        this.registerForm.age = 20;
                }
            },
            selectGender(gender) {
                this.registerForm.gender = gender;

                this.resetAges();
            }
        }
    }
</script>
